In [1]:
import pandas as pd
import re
import numpy as np
import openpyxl
import arrival_compile_main as ac

import sys
sys.path.append('../../zoho_data_app/')

import main_module as m

%load_ext autoreload
%autoreload 2

In [2]:
path = r'G:\.shortcut-targets-by-id\1BKe3lpZLP3aj_PPa_Bai9V8nzzywN1RZ\_Toni\DeBounce BANK Data (NEW).xlsx'

In [3]:
xl = pd.ExcelFile(path)
sheets = xl.sheet_names  # see all sheet names

delete_sheets = [
    'DeBounce Reasons',
    'Test'
]

arr = np.array(sheets)
# arr = np.delete(arr, delete_sheets)

sheet_will_be_used = []

for i in sheets:
    sheets_name = i
    result = np.isin(sheets_name, delete_sheets)
    if result == True:
        print(sheets_name)
    else:
        print(sheets_name)
        sheet_will_be_used.extend([sheets_name])

sheet_will_be_used

# sheet_will_be_used = ['JAN 23']
# arr

DeBounce Reasons
Test
Beambox KLOM
Leads TM Kevin OConnor
KK Past Guests ALL
Past Guest AU-NZ 2 Maret 2022
29 Apr 22
31 May 22
29 Apr 22 - 2
SEAP-Western1 - 18Mar22
SEAP-Western2 - 18Mar22
SEAP-Western3 - 18Mar22
KE Cold Line - 17 Sep 21
KE Drive Buy - 17 Sep 21
10 Sep 21
Sanctum Soho - 7 Sep 21
Sanctum Soho - 2 Sep 21
BGID - 27 Aug 21
Karma Resorts DB ID - 24 Aug 20
Karma Group ID - 23 Aug 2021
UK Data  11 Aug 2021
Rottnest WIFI - 26 Jul 2021
Past Guests - 21 Jul 2021
BGID - 29 Jul 21
KEID - 29 Jul 21
KSH - 3 Aug 21
BGAU
All SEAP email need to dedup ag
HDAU
HDID
KE
Purple WIFI

['Beambox KLOM',
 'Leads TM Kevin OConnor',
 'KK Past Guests ALL',
 'Past Guest AU-NZ 2 Maret 2022',
 '29 Apr 22',
 '31 May 22',
 '29 Apr 22 - 2',
 'SEAP-Western1 - 18Mar22',
 'SEAP-Western2 - 18Mar22',
 'SEAP-Western3 - 18Mar22',
 'KE Cold Line - 17 Sep 21',
 'KE Drive Buy - 17 Sep 21',
 '10 Sep 21',
 'Sanctum Soho - 7 Sep 21',
 'Sanctum Soho - 2 Sep 21',
 'BGID - 27 Aug 21',
 'Karma Resorts DB ID - 24 Aug 20',
 'Karma Group ID - 23 Aug 2021',
 'UK Data  11 Aug 2021',
 'Rottnest WIFI - 26 Jul 2021',
 'Past Guests - 21 Jul 2021',
 'BGID - 29 Jul 21',
 'KEID - 29 Jul 21',
 'KSH - 3 Aug 21',
 'BGAU',
 'All SEAP email need to dedup ag',
 'HDAU',
 'HDID',
 'KE',
 'Purple WIFI']

In [4]:
key_columns = 'EMAIL'

cols = [key_columns, 
        'RESULT', 
        'REASON',
        'STATUS CODE',
        'ROLE', 
        'FREE', 
        'DOMAIN']

In [5]:
df = ac.load_data_multiple(path, sheet_will_be_used, cols, key_columns)
df

Compiling sheets [Beambox KLOM] - On progress : Proses Single Header
Compiling sheets [Leads TM Kevin OConnor] - On progress : Proses Single Header
Compiling sheets [KK Past Guests ALL] - On progress : Proses Single Header
Compiling sheets [Past Guest AU-NZ 2 Maret 2022] - On progress : Proses Single Header
Compiling sheets [29 Apr 22] - On progress : Proses Single Header
Compiling sheets [31 May 22] - On progress : Proses Single Header
Compiling sheets [29 Apr 22 - 2] - On progress : Proses Single Header
Compiling sheets [SEAP-Western1 - 18Mar22] - On progress : Proses Single Header
Compiling sheets [SEAP-Western2 - 18Mar22] - On progress : Proses Single Header
Compiling sheets [SEAP-Western3 - 18Mar22] - On progress : Proses Single Header
Compiling sheets [KE Cold Line - 17 Sep 21] - On progress : Proses Single Header
Compiling sheets [KE Drive Buy - 17 Sep 21] - On progress : Proses Single Header
Compiling sheets [10 Sep 21] - On progress : Proses Single Header
Compiling sheets [Sanctum Soho - 7 Sep 21] - On progress : Proses Single Header
Compiling sheets [Sanctum Soho - 2 Sep 21] - On progress : Proses Single Header
Compiling sheets [BGID - 27 Aug 21] - On progress : Proses Single Header
Compiling sheets [Karma Resorts DB ID - 24 Aug 20] - On progress : Proses Single Header
Compiling sheets [Karma Group ID - 23 Aug 2021] - On progress : Proses Single Header
Compiling sheets [UK Data  11 Aug 2021] - On progress : Proses Single Header
Compiling sheets [Rottnest WIFI - 26 Jul 2021] - On progress : Proses Single Header
Compiling sheets [Past Guests - 21 Jul 2021] - On progress : Proses Single Header
Compiling sheets [BGID - 29 Jul 21] - On progress : Proses Single Header
Compiling sheets [KEID - 29 Jul 21] - On progress : Proses Single Header
Compiling sheets [KSH - 3 Aug 21] - On progress : Proses Single Header
Compiling sheets [BGAU] - On progress : Proses Single Header
Compiling sheets [All SEAP email need to dedup ag] - On progress : Proses Single Header
Compiling sheets [HDAU] - On progress : Proses Single Header
Compiling sheets [HDID] - On progress : Proses Single Header
Compiling sheets [KE] - On progress : Proses Single Header
Compiling sheets [Purple WIFI] - On progress : Proses Single Header

,EMAIL,RESULT,REASON,STATUS CODE,ROLE,FREE,DOMAIN,Sheet Name
0,hopkinsonperri@gmail.com,Safe to Send,Deliverable,5,No,Yes,gmail.com,Beambox KLOM
1,joannehill2018@gmail.com,Safe to Send,Deliverable,5,No,Yes,gmail.com,Beambox KLOM
2,murraymhill@hotmail.com,Safe to Send,Deliverable,5,No,Yes,hotmail.com,Beambox KLOM
3,gary_hutchison@hotmail.com,Safe to Send,Deliverable,5,No,Yes,hotmail.com,Beambox KLOM
4,margaret.white3@googlemail.com,Safe to Send,Deliverable,5,No,Yes,googlemail.com,Beambox KLOM
...,...,...,...,...,...,...,...,...
1211630,z_forbes_92@hotmail.com,Safe to Send,Deliverable,5,No,Yes,hotmail.com,Purple WIFI
1211631,z_mingwei@hotmail.com,Safe to Send,Deliverable,5,No,Yes,hotmail.com,Purple WIFI
1211632,z_o_ni@hotmail.com,Safe to Send,Deliverable,5,No,Yes,hotmail.com,Purple WIFI
1211633,_argo@mail.ru,Safe to Send,Deliverable,5,No,Yes,mail.ru,Purple WIFI
1211634,_joanne_mckay@hotmail.co.nz,Safe to Send,Deliverable,5,No,Yes,hotmail.co.nz,Purple WIFI

In [6]:
df.groupby('RESULT').count()

,EMAIL,REASON,STATUS CODE,ROLE,FREE,DOMAIN,Sheet Name
RESULT,,,,,,,
Invalid,110291,110291,109987,108180,107614,107614,110291
Risky,57625,57625,57217,51623,51623,51623,57625
Safe to Send,990300,990300,990300,969830,969830,969830,990300
Unknown,53413,53413,53413,49978,49978,49978,53413

In [7]:
df.to_csv(r'C:\Users\fajar\Documents\Python\Data\debounce_backup.csv', index=False)

In [8]:
df_bounced = df.loc[
    (df['RESULT'] == 'Invalid') |
    (df['RESULT'] == 'Risky') |
    (df['RESULT'] == 'Unknown') 
       ].copy()

df_bounced.reset_index(drop=True, inplace=True)
df_bounced.to_csv(r'C:\Users\fajar\Documents\Python\Data\debounce_dedup.csv', index=False)

In [9]:
path = r'C:\Users\fajar\Documents\Python\Data\karma_resorts.csv'
df_campaign = pd.read_csv(path, dtype='string')
df_campaign

,Contact Email,First Name,Last Name,Opt_in,Confirmed Time,Agreed to Privacy Policy and Terms,Opt-in type
0,000008@163.com,"Shaowan,",Zhuo,false,<NA>,false,None
1,006rileysmith@gmail.com,None,None,false,<NA>,false,None
2,007dhananjaykumbhar@gmail.com,MR. DHANANJAY SHAMRAO,KUMBHAR,false,<NA>,false,None
3,007lalee@gmail.com,Cnshbavfgxzd,Szbcdvxgfhna,false,<NA>,false,None
4,0112kgh@naver.com,Gun,Hee Kim,false,<NA>,false,None
...,...,...,...,...,...,...,...
69292,zzangss75@hotmail.com,Zzangss75@hotmail.com,Zzangss,false,<NA>,false,None
69293,zzhang1987@gmail.com,Zzhang1987@gmail.com,Zzhang,false,<NA>,false,None
69294,zzigi0124@naver.com,Cha Byoung,Yun,false,<NA>,false,None
69295,Zzoella77@yahoo.com,Zuleika,Zoella,false,<NA>,false,None
69296,zzpp@hotmail.fr,Zzpp,Zzpp,false,<NA>,false,None

In [10]:
df_campaign['Contact Email'] = m.lowercase(df_campaign, 'Contact Email')
m.clean_space(df_campaign, 'Contact Email')

df_bounced['EMAIL'] = m.lowercase(df_bounced, 'EMAIL')
m.clean_space(df_bounced, 'EMAIL')

0                    emeryda@verizon.net
1              clementine_333@icloud.com
2                                c@c.com
3             alan.hampton@anglitemp.com
4               simon.day@ctct-ltd.co.uk
                       ...
221324          zhuixingxiaomei@sina.com
221325                 zhuziwen@sina.com
221326                zigreg@internet.lu
221327      ziwa.dawatisyah@emirates.com
221328    zurina.bryant@zurinabryant.com
Name: EMAIL, Length: 221329, dtype: string

In [11]:
df_campaign.fillna('empty', inplace=True)
df_campaign.loc[df_campaign['Contact Email'].isin(df_bounced['EMAIL'])]

,Contact Email,First Name,Last Name,Opt_in,Confirmed Time,Agreed to Privacy Policy and Terms,Opt-in type
160,13601093191@139.com,empty,empty,false,empty,false,None
332,18721201168@139.com,Xiuzhi,Chen,false,empty,false,None
1448,a.carmicheal@btinternet.com,Hazel,Carmichael,false,empty,false,None
2117,adams2@iinet.net.au,Susan,Adams,false,empty,false,None
2302,adminbbk@hpb.com.au,Mary-anne,Inglis,false,empty,false,None
...,...,...,...,...,...,...,...
67261,weiss.steve@protelindo.net,Steve,Weiss,false,empty,false,None
67871,woody199@live.com.au,Paul,Woodward,false,empty,false,None
68337,ybrookes@icloud.com,Yvonne,Brookes,false,empty,false,None
68467,yirenyo@icloud.com,Yiren,Zhu,false,empty,false,None
69090,zhangyuk@163.com,Zhangyuk,empty,false,empty,false,None

In [12]:
df_bounced.drop_duplicates(subset='EMAIL', inplace=True)
df_bounced.reset_index(drop=True, inplace=True)
df_bounced

,EMAIL,RESULT,REASON,STATUS CODE,ROLE,FREE,DOMAIN,Sheet Name
0,emeryda@verizon.net,Risky,Accept All,4,No,Yes,verizon.net,Beambox KLOM
1,clementine_333@icloud.com,Invalid,Bounce,6,No,Yes,icloud.com,Beambox KLOM
2,c@c.com,Invalid,Bounce,6,No,No,c.com,Beambox KLOM
3,alan.hampton@anglitemp.com,Risky,Accept All,4,No,No,anglitemp.com,Beambox KLOM
4,simon.day@ctct-ltd.co.uk,Risky,Accept All,4,No,No,ctct-ltd.co.uk,Beambox KLOM
...,...,...,...,...,...,...,...,...
209556,zhuixingxiaomei@sina.com,Risky,Accept All,4,No,Yes,sina.com,Purple WIFI
209557,zhuziwen@sina.com,Risky,Accept All,4,No,Yes,sina.com,Purple WIFI
209558,zigreg@internet.lu,Risky,Accept All,4,No,No,internet.lu,Purple WIFI
209559,ziwa.dawatisyah@emirates.com,Unknown,Unreachable,7,No,No,emirates.com,Purple WIFI
209560,zurina.bryant@zurinabryant.com,Risky,Accept All,4,No,No,zurinabryant.com,Purple WIFI

In [13]:
# joined_df = pd.merge(df_campaign,
#                      df_bounced,
#                      left_on ='Contact Email',
#                      right_on ='EMAIL',
#                      how ='left')

# dnm_cols = ['Contact Email', 
#         'First Name', 
#         'Last Name',
#         'Opt_in',
#         'Confirmed Time', 
#         'Agreed to Privacy Policy and Terms', 
#         'Opt-in type',
#         'RESULT',
#         'REASON']

# dnm_list = joined_df.loc[~joined_df['RESULT'].isna()].copy()
# dnm_list = dnm_list.reindex(columns=dnm_cols)
# dnm_list.reset_index(drop=True, inplace=True)
# dnm_list.to_csv(r'C:\Users\fajar\Documents\Python\Data\import_dnm_list.csv', index=False)