In [1]:
import pandas as pd
import re

import past_guest_module as pm

import sys
sys.path.append('../zoho_data_app/')

import main_module as m

%load_ext autoreload
%autoreload 2

In [2]:
cols = ['Account ID', 'FirstName', 'lastname', 'Country', 'Email', 'Phone',
       'AcStatus', 'Servicing Office','KarmaClubProgram']

In [3]:
path = r'C:\Users\fajar\Documents\Python\Data\KCC cc-cl\2024\Sep\22 Sep - 30 Sep\KCE CC CL 22 Sep - 30 Sep.xlsx'
df_kce = pd.read_excel(path, dtype='string', sheet_name='Sheet1', usecols=cols)
count_data_awal = df_kce.shape[0]
df_kce

,Account ID,FirstName,lastname,Country,Email,Phone,AcStatus,Servicing Office,KarmaClubProgram
0,1205238,Clive,Whittle,Australia,clivewhittle195@btinternet.com,44136472014,ACTIVE,KC EXPERIENCE Bali,Vietnam Sales Deck
1,1205203,Pratap,Thakker,Australia,pktsyd@gmail.com,61400981980,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
2,1205014,Mohamed,Sharif,Australia,mohamedsharif6699@gmail.com,61401255653,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
3,1204827,Roshan,Jhoomuck,Australia,roshanjhoomuck@yahoo.com,61402663438,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
4,1204704,Trent,Leahey,Australia,nicoletrudgett94@outlook.com.au,61402822050,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
...,...,...,...,...,...,...,...,...,...
739,1204703,Michael,Winn,<NA>,mawgoat@gmail.com,17189307113,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
740,1204664,Victor,Sydnor,<NA>,tonirosety@yahoo.com,17472329878,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
741,1204817,Anu,Ahluwalia,<NA>,ahluwalia21@gmail.com,18327045745,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
742,1205261,Arash,Asif,<NA>,arashasif2021@gmail.com,19173450885,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
743,1204997,Manuel,Arruda,<NA>,manuelarruda53@yahoo.com,19515156073,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck

In [4]:
df_kce.columns

Index(['Account ID', 'FirstName', 'lastname', 'Country', 'Email', 'Phone',
       'AcStatus', 'Servicing Office', 'KarmaClubProgram'],
      dtype='object')

In [5]:
df_kce.rename(columns = {
    'Account ID':'number', 
    'AcStatus':'Account Status',
    'KarmaClubProgram':'Karma Club Program',
    }, inplace = True)

In [6]:
df_kce.fillna('empty', inplace=True)

In [7]:
path = r'G:\.shortcut-targets-by-id\0B_d3smBjzo04UUNBME5GOVhoMjA\_ODYSSEY\Phone Members.xlsx'
df_phone_member_odd = pd.read_excel(path, dtype='string', sheet_name='Sheet1')

path = r'G:\.shortcut-targets-by-id\0B_d3smBjzo04UUNBME5GOVhoMjA\_ODYSSEY\Email Members.xlsx'
df_email_member_odd = pd.read_excel(path, dtype='string', sheet_name='Sheet1')

path = r'G:\.shortcut-targets-by-id\0B_d3smBjzo04UUNBME5GOVhoMjA\_ODYSSEY\KCE Members.xlsx'
df_phone_member_kce = pd.read_excel(path, dtype='string', sheet_name='Phone')

path = r'G:\.shortcut-targets-by-id\0B_d3smBjzo04UUNBME5GOVhoMjA\_ODYSSEY\KCE Members.xlsx'
df_email_member_kce = pd.read_excel(path, dtype='string', sheet_name='Email')

In [8]:
m.clean_number(df_kce, 'Phone')
m.replace_not_valid_to_empty(df_kce, 'Phone')
df_kce['Email'] = m.lowercase(df_kce, 'Email')
m.clean_space(df_kce, 'Email')

m.clean_number(df_phone_member_odd, 'Mobile')
df_email_member_odd['Email'] = m.lowercase(df_email_member_odd, 'Email')
m.clean_space(df_email_member_odd, 'Email')

m.clean_number(df_phone_member_kce, 'Phone')
df_email_member_kce['Email'] = m.lowercase(df_email_member_kce, 'Email')
m.clean_space(df_email_member_kce, 'Email')

0            aameercok@gmail.com.com
1                imerwan@hotmail.com
2                mkptech15@gmail.com
3          sovitmittal2000@yahoo.com
4            smritidas1431@gmail.com
                    ...
87766        kuntz.michael@gmail.com
87767              mawgoat@gmail.com
87768           tonirosety@yahoo.com
87769    vidhivaghela.2009@gmail.com
87770             vkontsev@gmail.com
Name: Email, Length: 87771, dtype: string

In [9]:
pm.email_correction(df_kce, 'Email')
df_kce

,number,FirstName,lastname,Country,Email,Phone,Account Status,Servicing Office,Karma Club Program
0,1205238,Clive,Whittle,Australia,clivewhittle195@btinternet.com,44136472014,ACTIVE,KC EXPERIENCE Bali,Vietnam Sales Deck
1,1205203,Pratap,Thakker,Australia,pktsyd@gmail.com,61400981980,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
2,1205014,Mohamed,Sharif,Australia,mohamedsharif6699@gmail.com,61401255653,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
3,1204827,Roshan,Jhoomuck,Australia,roshanjhoomuck@yahoo.com,61402663438,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
4,1204704,Trent,Leahey,Australia,nicoletrudgett94@outlook.com.au,61402822050,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
...,...,...,...,...,...,...,...,...,...
739,1204703,Michael,Winn,empty,mawgoat@gmail.com,17189307113,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
740,1204664,Victor,Sydnor,empty,tonirosety@yahoo.com,17472329878,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
741,1204817,Anu,Ahluwalia,empty,ahluwalia21@gmail.com,18327045745,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
742,1205261,Arash,Asif,empty,arashasif2021@gmail.com,19173450885,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
743,1204997,Manuel,Arruda,empty,manuelarruda53@yahoo.com,19515156073,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck

In [10]:
count_email_phone_empty = df_kce.loc[(df_kce['Email'] == 'empty') & (df_kce['Phone'] == 'empty')].shape[0]

df_kce.loc[(df_kce['Email'] == 'empty') & (df_kce['Phone'] == 'empty')].to_csv(r'C:\Users\fajar\Documents\Python\Data\cek_email_phone_empty_kce.csv', index=False)

df_kce.drop(df_kce.loc[(df_kce['Email'] == 'empty') & (df_kce['Phone'] == 'empty')].index, inplace=True)
df_kce.reset_index(drop=True, inplace=True)

count_after_email_phone_empty = df_kce.shape[0]

In [11]:
# Cek leads test
test_leads = df_kce.loc[
    
        df_kce['Email'].str.contains('^test@', flags=re.I, regex=True) |
        df_kce['Email'].str.contains('\+test', flags=re.I, regex=True) |
    
        df_kce['FirstName'].str.contains('^test$', flags=re.I, regex=True) |
        df_kce['lastname'].str.contains('^test$', flags=re.I, regex=True) |

        df_kce['FirstName'].str.contains('test 1', flags=re.I, regex=True) |
        df_kce['lastname'].str.contains('test 2', flags=re.I, regex=True)|
        df_kce['FirstName'].str.contains('test1', flags=re.I, regex=True) |
        df_kce['lastname'].str.contains('test2', flags=re.I, regex=True)|

        df_kce['FirstName'].str.contains(' test ', flags=re.I, regex=True) | 
        df_kce['lastname'].str.contains(' test ', flags=re.I, regex=True) | 
        df_kce['lastname'].str.contains(' test$', flags=re.I, regex=True)
    
    
    ]

count_leads_test = test_leads.shape[0]

test_leads.to_excel(r'C:\Users\fajar\Documents\Python\Data\test_leads.xlsx', index=False)
test_leads

Empty DataFrame
Columns: [number, FirstName, lastname, Country, Email, Phone, Account Status, Servicing Office, Karma Club Program]
Index: []

In [12]:
df_kce.drop(test_leads.index, inplace=True)
df_kce.reset_index(drop=True, inplace=True)

count_after_dedup_test = df_kce.shape[0]

In [13]:
# Cek Email Karma
email_karma = m.find_karma(df_kce, 'Email')
count_email_karma = email_karma.shape[0]
# email_OTA.to_excel(r'C:\Users\fajar\Documents\Python\Data\email_OTA.xlsx', index=False)

email_karma

Empty DataFrame
Columns: [number, FirstName, lastname, Country, Email, Phone, Account Status, Servicing Office, Karma Club Program]
Index: []

In [14]:
# delete email Karma
count_after_clean_karma = m.delete_karma(df_kce, 'Email')
# zoho_df.to_excel(r'C:\Users\fajar\Documents\Python\Data\after_clean_OTA.xlsx', index=False)

df_kce

,number,FirstName,lastname,Country,Email,Phone,Account Status,Servicing Office,Karma Club Program
0,1205238,Clive,Whittle,Australia,clivewhittle195@btinternet.com,44136472014,ACTIVE,KC EXPERIENCE Bali,Vietnam Sales Deck
1,1205203,Pratap,Thakker,Australia,pktsyd@gmail.com,61400981980,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
2,1205014,Mohamed,Sharif,Australia,mohamedsharif6699@gmail.com,61401255653,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
3,1204827,Roshan,Jhoomuck,Australia,roshanjhoomuck@yahoo.com,61402663438,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
4,1204704,Trent,Leahey,Australia,nicoletrudgett94@outlook.com.au,61402822050,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
...,...,...,...,...,...,...,...,...,...
739,1204703,Michael,Winn,empty,mawgoat@gmail.com,17189307113,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
740,1204664,Victor,Sydnor,empty,tonirosety@yahoo.com,17472329878,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
741,1204817,Anu,Ahluwalia,empty,ahluwalia21@gmail.com,18327045745,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
742,1205261,Arash,Asif,empty,arashasif2021@gmail.com,19173450885,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
743,1204997,Manuel,Arruda,empty,manuelarruda53@yahoo.com,19515156073,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck

In [15]:
find_member_oddysey = df_kce.copy()

find_member_oddysey.loc[find_member_oddysey['Phone'].isin(df_phone_member_odd['Mobile']), 'Same Value Find'] = 'Member-Mobile' 

find_member_oddysey.loc[find_member_oddysey['Email'].isin(df_email_member_odd['Email']), 'Same Value Find'] = 'Member-Email'
find_member_oddysey.drop(find_member_oddysey.loc[find_member_oddysey['Same Value Find'].isna()].index, inplace=True)

find_member_oddysey.replace('empty', '', inplace=True)

find_member_oddysey.to_csv(r'C:\Users\fajar\Documents\Python\Data\cek_member_odyssey.csv', index=False)

In [16]:
count_dedup_member_odd = df_kce.loc[
    
    df_kce['Phone'].isin(df_phone_member_odd['Mobile']) | 
    df_kce['Email'].isin(df_email_member_odd['Email'])
].shape[0]

df_kce.loc[
    
    df_kce['Phone'].isin(df_phone_member_odd['Mobile']) | 
    df_kce['Email'].isin(df_email_member_odd['Email'])
]

,number,FirstName,lastname,Country,Email,Phone,Account Status,Servicing Office,Karma Club Program
170,1205267,Dharmendra,Sharma,India,sharma@gmail.com,917415795770,ACTIVE,KC EXPERIENCE India,South Goa
268,1202465,MADHAVPRASAD,KULKARNI,India,madhavppkulkarni@gmail.com,918655596885,ACTIVE,KC EXPERIENCE India,empty
353,1205475,Rajiv,Chawla,India,rajiv.chansonmotors@gmail.com,919311504060,ACTIVE,KC EXPERIENCE India,South Goa
434,1204885,NISHAT,S,India,nishats@rediffmail.com,919606707866,ACTIVE,KC EXPERIENCE India,empty
457,1204423,Ashish,Sharma,India,ascoolbudyashish@gmail.com,919701059089,ACTIVE,KC EXPERIENCE India,empty
528,1204277,SANJOG,SUD,India,sanjog25.sud@gmail.com,919833607140,ACTIVE,KC EXPERIENCE India,empty
554,1204612,SHELLIM,SOLOMON,India,shellimsolomon@gmail.com,919870092019,ACTIVE,KC EXPERIENCE India,empty
635,1193424,S.R ADI NARAYANA,GUPTHA,India,gupthasr@gmail.com,919972766688,ACTIVE,KC EXPERIENCE India,empty

In [17]:
df_kce.drop(df_kce.loc[
    
    df_kce['Phone'].isin(df_phone_member_odd['Mobile']) | 
    df_kce['Email'].isin(df_email_member_odd['Email'])
].index, inplace=True)

df_kce.reset_index(drop=True, inplace=True)

count_after_dedup_member_odd = df_kce.shape[0]
df_kce

,number,FirstName,lastname,Country,Email,Phone,Account Status,Servicing Office,Karma Club Program
0,1205238,Clive,Whittle,Australia,clivewhittle195@btinternet.com,44136472014,ACTIVE,KC EXPERIENCE Bali,Vietnam Sales Deck
1,1205203,Pratap,Thakker,Australia,pktsyd@gmail.com,61400981980,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
2,1205014,Mohamed,Sharif,Australia,mohamedsharif6699@gmail.com,61401255653,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
3,1204827,Roshan,Jhoomuck,Australia,roshanjhoomuck@yahoo.com,61402663438,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
4,1204704,Trent,Leahey,Australia,nicoletrudgett94@outlook.com.au,61402822050,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
...,...,...,...,...,...,...,...,...,...
731,1204703,Michael,Winn,empty,mawgoat@gmail.com,17189307113,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
732,1204664,Victor,Sydnor,empty,tonirosety@yahoo.com,17472329878,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
733,1204817,Anu,Ahluwalia,empty,ahluwalia21@gmail.com,18327045745,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
734,1205261,Arash,Asif,empty,arashasif2021@gmail.com,19173450885,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
735,1204997,Manuel,Arruda,empty,manuelarruda53@yahoo.com,19515156073,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck

In [18]:
find_member_kce = df_kce.copy()

find_member_kce.loc[find_member_kce['Phone'].isin(df_phone_member_kce['Phone']), 'Same Value Find'] = 'Member-KCE-Mobile' 

find_member_kce.loc[find_member_kce['Email'].isin(df_email_member_kce['Email']), 'Same Value Find'] = 'Member-KCE-Email'
find_member_kce.drop(find_member_kce.loc[find_member_kce['Same Value Find'].isna()].index, inplace=True)

find_member_kce.replace('empty', '', inplace=True)

find_member_kce.to_csv(r'C:\Users\fajar\Documents\Python\Data\cek_member_kce.csv', index=False)

In [19]:
count_dedup_member_kce = df_kce.loc[
    
    df_kce['Phone'].isin(df_phone_member_kce['Phone']) | 
    df_kce['Email'].isin(df_email_member_kce['Email'])

].shape[0]

df_kce.loc[
    
    df_kce['Phone'].isin(df_phone_member_kce['Phone']) | 
    df_kce['Email'].isin(df_email_member_kce['Email'])
]

,number,FirstName,lastname,Country,Email,Phone,Account Status,Servicing Office,Karma Club Program
3,1204827,Roshan,Jhoomuck,Australia,roshanjhoomuck@yahoo.com,61402663438,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
4,1204704,Trent,Leahey,Australia,nicoletrudgett94@outlook.com.au,61402822050,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
6,1204806,Paul,Dunlop,Australia,dunlop.28@hotmail.com,61405204926,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
7,1204675,Grant,Cullen,Australia,sara.cullen.88@gmail.com,61405379353,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
19,1204804,Geoff,Den Elzen,Australia,gdenelzen60@gmail.com,61410258933,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
...,...,...,...,...,...,...,...,...,...
725,1204813,Dawid,Bator,USA,batorentreprise@gmail.com,16462589774,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
728,1204739,Vlad,Kontsevoi,empty,vkontsev@gmail.com,13122312884,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
731,1204703,Michael,Winn,empty,mawgoat@gmail.com,17189307113,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
732,1204664,Victor,Sydnor,empty,tonirosety@yahoo.com,17472329878,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
733,1204817,Anu,Ahluwalia,empty,ahluwalia21@gmail.com,18327045745,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck

In [20]:
df_kce.drop(df_kce.loc[
    
    df_kce['Phone'].isin(df_phone_member_kce['Phone']) | 
    df_kce['Email'].isin(df_email_member_kce['Email'])
].index, inplace=True)

df_kce.reset_index(drop=True, inplace=True)

count_after_dedup_member_kce = df_kce.shape[0]
df_kce

,number,FirstName,lastname,Country,Email,Phone,Account Status,Servicing Office,Karma Club Program
0,1205238,Clive,Whittle,Australia,clivewhittle195@btinternet.com,44136472014,ACTIVE,KC EXPERIENCE Bali,Vietnam Sales Deck
1,1205203,Pratap,Thakker,Australia,pktsyd@gmail.com,61400981980,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
2,1205014,Mohamed,Sharif,Australia,mohamedsharif6699@gmail.com,61401255653,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
3,1205235,Ketan,Khanse,Australia,ketankhanse@yahoo.com,61403441174,ACTIVE,KC EXPERIENCE Bali,Vietnam Sales Deck
4,1205910,Andrew,Leach,Australia,livgoroncy@yahoo.com.au,61405667858,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
...,...,...,...,...,...,...,...,...,...
568,1205597,Michael,Southworth,Wales,mikesouthworth96@gmail.com,447812345769,ACTIVE,KC EXPERIENCE Bali,Vietnam Sales Deck
569,1205229,Alan,Yee,empty,ayee54@comcast.net,15037571368,ACTIVE,KC EXPERIENCE Bali,Vietnam Sales Deck
570,1205012,Anthony,Sanchez,empty,anthony_s08@yahoo.com,15593556260,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
571,1205261,Arash,Asif,empty,arashasif2021@gmail.com,19173450885,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
572,1204997,Manuel,Arruda,empty,manuelarruda53@yahoo.com,19515156073,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck

In [21]:
# hitung jumlah duplicate
count_duplicate_general = df_kce.loc[df_kce.duplicated(subset=['Email','Phone'])].shape[0]

df_kce.loc[df_kce.duplicated(subset=['Email','Phone'])]

,number,FirstName,lastname,Country,Email,Phone,Account Status,Servicing Office,Karma Club Program
92,1205815,Jörg,Kottusch,Germany,joerg.kottusch@web.de,491773077284,ACTIVE,KC EXPERIENCE India,empty
362,1205114,MOHAN,GANGADHAR G,India,mohan_gvb@yahoo.com,919742103856,ACTIVE,KC EXPERIENCE India,empty

In [22]:
df_kce.drop_duplicates(subset=['Email','Phone'], inplace=True)
df_kce.reset_index(drop=True, inplace=True)

# hitung jumlah setelah value duplicate dihapus
count_after_dedup_duplicate = df_kce.shape[0]

df_kce

,number,FirstName,lastname,Country,Email,Phone,Account Status,Servicing Office,Karma Club Program
0,1205238,Clive,Whittle,Australia,clivewhittle195@btinternet.com,44136472014,ACTIVE,KC EXPERIENCE Bali,Vietnam Sales Deck
1,1205203,Pratap,Thakker,Australia,pktsyd@gmail.com,61400981980,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
2,1205014,Mohamed,Sharif,Australia,mohamedsharif6699@gmail.com,61401255653,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
3,1205235,Ketan,Khanse,Australia,ketankhanse@yahoo.com,61403441174,ACTIVE,KC EXPERIENCE Bali,Vietnam Sales Deck
4,1205910,Andrew,Leach,Australia,livgoroncy@yahoo.com.au,61405667858,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
...,...,...,...,...,...,...,...,...,...
566,1205597,Michael,Southworth,Wales,mikesouthworth96@gmail.com,447812345769,ACTIVE,KC EXPERIENCE Bali,Vietnam Sales Deck
567,1205229,Alan,Yee,empty,ayee54@comcast.net,15037571368,ACTIVE,KC EXPERIENCE Bali,Vietnam Sales Deck
568,1205012,Anthony,Sanchez,empty,anthony_s08@yahoo.com,15593556260,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
569,1205261,Arash,Asif,empty,arashasif2021@gmail.com,19173450885,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
570,1204997,Manuel,Arruda,empty,manuelarruda53@yahoo.com,19515156073,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck

In [23]:
list_UK_EU = pm.get_list_UK_EU()
list_Others = pm.get_list_Others()

In [24]:
df_kce.loc[df_kce['Country'].isin(list_Others)]

,number,FirstName,lastname,Country,Email,Phone,Account Status,Servicing Office,Karma Club Program
0,1205238,Clive,Whittle,Australia,clivewhittle195@btinternet.com,44136472014,ACTIVE,KC EXPERIENCE Bali,Vietnam Sales Deck
1,1205203,Pratap,Thakker,Australia,pktsyd@gmail.com,61400981980,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
2,1205014,Mohamed,Sharif,Australia,mohamedsharif6699@gmail.com,61401255653,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
3,1205235,Ketan,Khanse,Australia,ketankhanse@yahoo.com,61403441174,ACTIVE,KC EXPERIENCE Bali,Vietnam Sales Deck
4,1205910,Andrew,Leach,Australia,livgoroncy@yahoo.com.au,61405667858,ACTIVE,KC EXPERIENCE Bali,Petitenget Sales Deck
...,...,...,...,...,...,...,...,...,...
518,1204991,Erika,Meyer,South Africa,erikameyeranderson9@gmail.com,886972252702,ACTIVE,KC EXPERIENCE Bali,Vietnam Sales Deck
522,1205429,Deepais,Israni,United Arab Emirates,deepak@researchrmc.com,919920050568,ACTIVE,KC EXPERIENCE Bali,Vietnam Sales Deck
523,1205906,Ashwin,Ravinder,United Arab Emirates,ashwinraj671@gmail.com,971567712439,ACTIVE,KC EXPERIENCE Bali,Jimbaran Sales Deck
524,1205026,John,Rajan,United Arab Emirates,john3110@gmail.com,971568813286,ACTIVE,KC EXPERIENCE Bali,Vietnam Sales Deck
565,1205930,Marlon,Bailey,USA,marlonbailey15@gmail.com,16464098775,ACTIVE,KC EXPERIENCE Bali,Vietnam Sales Deck

In [25]:
df_kce.loc[df_kce['Country'].str.contains('India'), 'Area'] = 'India'
df_kce.loc[df_kce['Country'].isin(list_UK_EU), 'Area'] = 'UK EU'
df_kce.loc[df_kce['Country'].isin(list_Others), 'Area'] = 'Others'

In [26]:
df_kce.loc[df_kce['Area'] == 'India', 'Batch'] = 'INDIA'
df_kce.loc[df_kce['Area'] == 'UK EU', 'Batch'] = 'NONINDIA'
df_kce.loc[df_kce['Area'] == 'Others', 'Batch'] = 'NONINDIA'

In [27]:
df_kce.replace('empty', '', inplace=True)

In [28]:
df_kce.columns

Index(['number', 'FirstName', 'lastname', 'Country', 'Email', 'Phone',
       'Account Status', 'Servicing Office', 'Karma Club Program', 'Area',
       'Batch'],
      dtype='object')

In [29]:
new_cols = ['number', 'FirstName', 'lastname', 'Country', 'Area', 'Batch', 'Email', 'Phone',
       'Account Status', 'Servicing Office', 'Karma Club Program']

df_kce = df_kce.reindex(columns=new_cols)

In [30]:
count_data_akhir = df_kce.shape[0]

df_kce.to_csv(r'C:\Users\fajar\Documents\Python\Data\final_kce.csv', index=False)

In [31]:
print("==========================================================")
print("Summary")
print("==========================================================")
print("Jumlah Data Awal KCE CC-CL : "+str(count_data_awal))
print("Jumlah Data Email dan Phone Kosong : "+str(count_email_phone_empty))
print("Jumlah Data Setelah Hapus Email dan Phone Yang Kosong : "+str(count_after_email_phone_empty))
print("Jumlah Lead Test : "+str(count_leads_test))
print("Jumlah Setelah Clean Lead Test : "+str(count_after_dedup_test))
print("Jumlah Email Karma : "+str(count_email_karma))
print("Jumlah Setelah Clean Email Karma : "+str(count_after_clean_karma))
print("Jumlah Data Yang Terkena Dedup Member Oddysey : "+str(count_dedup_member_odd))
print("Jumlah Data Setelah Dedup Member Oddysey : "+str(count_after_dedup_member_odd))
print("Jumlah Data Yang Terkena Dedup Past Guest KCE : "+str(count_dedup_member_kce))
print("Jumlah Data Setelah Dedup Past Guest KCE : "+str(count_after_dedup_member_kce))
print("Jumlah Data Yang Duplicate : "+str(count_duplicate_general))
print("Jumlah Data Setelah Hapus Duplicate : "+str(count_after_dedup_duplicate))
print("Jumlah Data Akhir : "+str(count_data_akhir))

==========================================================
Summary
==========================================================
Jumlah Data Awal KCE CC-CL : 744
Jumlah Data Email dan Phone Kosong : 0
Jumlah Data Setelah Hapus Email dan Phone Yang Kosong : 744
Jumlah Lead Test : 0
Jumlah Setelah Clean Lead Test : 744
Jumlah Email Karma : 0
Jumlah Setelah Clean Email Karma : 744
Jumlah Data Yang Terkena Dedup Member Oddysey : 8
Jumlah Data Setelah Dedup Member Oddysey : 736
Jumlah Data Yang Terkena Dedup Past Guest KCE : 163
Jumlah Data Setelah Dedup Past Guest KCE : 573
Jumlah Data Yang Duplicate : 2
Jumlah Data Setelah Hapus Duplicate : 571
Jumlah Data Akhir : 571