In [ ]:
import gspread
from oauth2client.service_account import ServiceAccountCredentials
import pandas as pd

scope = ['https://spreadsheets.google.com/feeds',
         'https://www.googleapis.com/auth/spreadsheets',
         'https://www.googleapis.com/auth/drive.file',
         'https://www.googleapis.com/auth/drive']

# Pastikan permision access di menu "Share" di tambahakan email google service account
# Jika ingin membatasi permission dengan lebih spesifik, cukup melakukan add email service account di sheetnya saja

# Reading Credentails from ServiceAccount Keys file
credentials = ServiceAccountCredentials.from_json_keyfile_name(r'C:\Users\fajar.fatoni\Documents\Python\Data\Google Credentials\credentials.json'
            , scope)

SHEET_ID = '1QB-M6RnnNoD1dO9ulXE4lbs3Eb3W6Y6ydgU68n_hz0M'
SHEET_NAME = 'Sheet1'

In [11]:
def next_available_row(worksheet):
    str_list = worksheet.col_values(1)
    return str(len(str_list)+1)

In [12]:
# get data gsheet

gc = gspread.authorize(credentials)
spreadsheet = gc.open_by_key(SHEET_ID)
worksheet = spreadsheet.worksheet(SHEET_NAME)
rows = worksheet.get_all_records()

# print(rows[:5])

# print('==============================')
df = pd.DataFrame(rows)
df

   Provinsi   Kecamatan  Jumlah    Total
0        US  Wallstreet  125000   250000
1        US    Brooklyn   44587    89174
2      Bali     Tabanan   50300   100600
3      Bali     Gianyar   10000    20000
4      Bali  Karangasem  530000  1060000
5              Surabaya  456465   912930
6      Jawa       Jogja     846     1692
7              Lamongan   64546   129092
8      Jawa      Gresik     654     1308
9      Jawa    Sidoarjo  645448  1290896
10     Jawa        Solo     789     1578
11     Jawa  Banyuwangi   49646    99292
12     Bali      Badung    4458     8916
13     Bali    Denpasar    7897    15794

In [13]:
next_row = next_available_row(worksheet)
next_row

'16'

In [ ]:
# # clear all row before update
# worksheet.clear()

In [9]:
# Update Using
worksheet.update('A2:C3', [['US', 'Wallstreet', 125000], ['US', 'Brooklyn', 44587]])

{'spreadsheetId': '1QB-M6RnnNoD1dO9ulXE4lbs3Eb3W6Y6ydgU68n_hz0M',
 'updatedRange': 'Sheet1!A2:C3',
 'updatedRows': 2,
 'updatedColumns': 3,
 'updatedCells': 6}

In [18]:
# update menggunakan value string data, bisa digunakan untuk mengupdate keseluruhan data
worksheet.update([df.columns.values.tolist()] + df.values.tolist())

{'spreadsheetId': '1QB-M6RnnNoD1dO9ulXE4lbs3Eb3W6Y6ydgU68n_hz0M',
 'updatedRange': 'Sheet1!A2:D15',
 'updatedRows': 14,
 'updatedColumns': 4,
 'updatedCells': 56}

In [ ]:
# update menggunakan value string data, bisa digunakan untuk mengupdate kolom tertentu
worksheet.update('A2:D15', df.values.tolist())