In [1]:
import pandas as pd
import re

import past_guest_module as pm

import sys
sys.path.append('../zoho_data_app/')

import main_module as m

%load_ext autoreload
%autoreload 2

In [2]:
path = r'C:\Users\fajar\Documents\Python\Data\Past Guest Data\View Point\2025\Jan\19 Jan - 28 Jan\CheckOutReport 19 Jan - 28 Jan.xlsx'
df_viewpoint = pd.read_excel(path, dtype='string', sheet_name='Sheet1')
count_data_awal = df_viewpoint.shape[0]
df_viewpoint

,Title,Firstname,lastname,DOB,PAN CARD,Email,Phone,Mobile,AddressLine1,AddressLine2,...,CheckInDate,CheckOutDate,room,UnitCategory,BookingNo,BookingSourceDesc,BookingTypeDesc,Date of Tour,Sales Rep and Comments,Opt In
0,M/S,YUE,WEI JIE,<NA>,<NA>,18602823288@163.COM,8618602823288,<NA>,RM. 1401 MINSHEN CENTER,NO 3131 KAIXUAN RD,...,2025-01-18 17:12:47,2025-01-23 12:01:50,21,1 Bedroom Apartment,2494217,RCI Member (non KG),Deposit: Karma Concierge,<NA>,<NA>,YES
1,Mrs,HuiJing,/,<NA>,<NA>,190330685@99.com,8618120167266,<NA>,-,<NA>,...,2025-01-18 16:30:55,2025-01-19 11:40:13,06 - N,3 Bedroom Garden View Pool Vil,2744825,Hotel Bookings,Nakula - Rental,<NA>,<NA>,YES
2,M/S,LI,JIANG,<NA>,<NA>,289152@QQ.COM,8613808089013,<NA>,RM. 1401 MINGSHEN CENTER,NO. 3131 KAIXUAN RD,...,2025-01-18 17:12:19,2025-01-23 12:03:11,06,1 Bedroom Apartment,2494174,RCI Member (non KG),Deposit: Karma Concierge,<NA>,<NA>,YES
3,Mrs,Malti,Gupta,1980-10-01 00:00:00,ABQPG6462P,80maltigupta@gmail.com,917042449002,918076689730,"138, BHAGYA LAXMI APARTMENTS","SECTOR - 9, ROHINI",...,2025-01-18 18:17:49,2025-01-20 19:10:32,301,Hotel Unit,2671294,KC Member,Sales Gift,<NA>,<NA>,YES
4,Mrs,Malti,Gupta,1980-10-01 00:00:00,ABQPG6462P,80maltigupta@gmail.com,917042449002,918076689730,"138, BHAGYA LAXMI APARTMENTS","SECTOR - 9, ROHINI",...,2025-01-18 18:18:17,2025-01-20 19:10:51,302,Hotel Unit,2671295,KC Member,Sales Gift,<NA>,<NA>,YES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1957,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,2025-01-22 11:32:31,2025-01-23 14:59:50,943,Premier Lagoon Deluxe,2614208,KC Member,Sales Gift,<NA>,<NA>,YES
1958,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,2025-01-19 08:49:26,2025-01-19 13:46:24,201,Non Member Hotel Unit,2712535,KCE2 Indian,Karma Experience India,<NA>,<NA>,YES
1959,<NA>,"Hu, Jessica",<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,2025-01-15 00:36:00,2025-01-21 15:28:46,224,1 Bedroom Apartment,2578147,Hotel Bookings,Wyndham Guests,<NA>,<NA>,YES
1960,<NA>,"Sleep, Harold & Valenzuela, Marita C",<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,2025-01-13 01:43:41,2025-01-21 15:28:59,101,1 Bedroom Apartment,2631783,Hotel Bookings,Wyndham Guests,<NA>,<NA>,YES
1961,krg,Fajar Fatoni,86,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [3]:
df_viewpoint.columns

Index(['Title', 'Firstname', 'lastname', 'DOB', 'PAN CARD', 'Email', 'Phone',
       'Mobile', 'AddressLine1', 'AddressLine2', 'Town', 'State', 'Country',
       'PostCode', 'Nationality', 'MaritalStatus', 'resortname', 'Arrival',
       'Departure', 'CheckInDate', 'CheckOutDate', 'room', 'UnitCategory',
       'BookingNo', 'BookingSourceDesc', 'BookingTypeDesc', 'Date of Tour',
       'Sales Rep and Comments', 'Opt In'],
      dtype='object')

In [4]:
df_viewpoint.fillna('empty', inplace=True)

df_viewpoint['Contact Type'] = 'empty'
df_viewpoint['Odyssey Members'] = 'NO'

df_viewpoint['Lead Brand'] = 'Karma Resorts'
df_viewpoint['Lead Sub-Brand'] = 'Other'
df_viewpoint['Lead Source'] = 'Past Guests'
df_viewpoint['Lead Locations'] = df_viewpoint['resortname']
df_viewpoint['Lead Source Description'] = 'Viewpoint'

In [5]:
df_viewpoint.loc[df_viewpoint['Opt In'] == 'YES', 'Exclude From Mailing'] = 'NO'
df_viewpoint.loc[df_viewpoint['Opt In'] == 'NO', 'Exclude From Mailing'] = 'YES'

In [6]:
df_viewpoint.loc[df_viewpoint['lastname'] == 'empty', 'lastname'] = '-'

In [7]:
df_viewpoint['Title'].replace('empty', '', inplace=True)
df_viewpoint['Firstname'].replace('empty', '', inplace=True)
df_viewpoint['lastname'].replace('empty', '', inplace=True)

df_viewpoint['Title'] = df_viewpoint['Title'].str.title()
df_viewpoint['Firstname'] = df_viewpoint['Firstname'].str.title()
df_viewpoint['lastname'] = df_viewpoint['lastname'].str.title()

df_viewpoint

C:\Users\fajar\AppData\Local\Temp\ipykernel_17916\3404343493.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_viewpoint['Title'].replace('empty', '', inplace=True)
C:\Users\fajar\AppData\Local\Temp\ipykernel_17916\3404343493.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_viewpoint['Firstname'].replace('empty', '', inplace=True)
C:\Users\fajar\AppData\Local\Temp\ipykernel_17916\3404343493.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_viewpoint['lastname'].replace('empty', '', inplace=True)

,Title,Firstname,lastname,DOB,PAN CARD,Email,Phone,Mobile,AddressLine1,AddressLine2,...,Sales Rep and Comments,Opt In,Contact Type,Odyssey Members,Lead Brand,Lead Sub-Brand,Lead Source,Lead Locations,Lead Source Description,Exclude From Mailing
0,M/S,Yue,Wei Jie,empty,empty,18602823288@163.COM,8618602823288,empty,RM. 1401 MINSHEN CENTER,NO 3131 KAIXUAN RD,...,empty,YES,empty,NO,Karma Resorts,Other,Past Guests,Karma Royal Candidasa,Viewpoint,NO
1,Mrs,Huijing,/,empty,empty,190330685@99.com,8618120167266,empty,-,empty,...,empty,YES,empty,NO,Karma Resorts,Other,Past Guests,Karma Jimbaran,Viewpoint,NO
2,M/S,Li,Jiang,empty,empty,289152@QQ.COM,8613808089013,empty,RM. 1401 MINGSHEN CENTER,NO. 3131 KAIXUAN RD,...,empty,YES,empty,NO,Karma Resorts,Other,Past Guests,Karma Royal Candidasa,Viewpoint,NO
3,Mrs,Malti,Gupta,1980-10-01 00:00:00,ABQPG6462P,80maltigupta@gmail.com,917042449002,918076689730,"138, BHAGYA LAXMI APARTMENTS","SECTOR - 9, ROHINI",...,empty,YES,empty,NO,Karma Resorts,Other,Past Guests,"Karma Sitabani, Corbett",Viewpoint,NO
4,Mrs,Malti,Gupta,1980-10-01 00:00:00,ABQPG6462P,80maltigupta@gmail.com,917042449002,918076689730,"138, BHAGYA LAXMI APARTMENTS","SECTOR - 9, ROHINI",...,empty,YES,empty,NO,Karma Resorts,Other,Past Guests,"Karma Sitabani, Corbett",Viewpoint,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1957,,,-,empty,empty,empty,empty,empty,empty,empty,...,empty,YES,empty,NO,Karma Resorts,Other,Past Guests,Karma Royal Boat Lagoon,Viewpoint,NO
1958,,,-,empty,empty,empty,empty,empty,empty,empty,...,empty,YES,empty,NO,Karma Resorts,Other,Past Guests,"Karma Sitabani, Corbett",Viewpoint,NO
1959,,"Hu, Jessica",-,empty,empty,empty,empty,empty,empty,empty,...,empty,YES,empty,NO,Karma Resorts,Other,Past Guests,Wyndham - Manoir des Deux Amants,Viewpoint,NO
1960,,"Sleep, Harold & Valenzuela, Marita C",-,empty,empty,empty,empty,empty,empty,empty,...,empty,YES,empty,NO,Karma Resorts,Other,Past Guests,Wyndham - Manoir des Deux Amants,Viewpoint,NO
1961,Krg,Fajar Fatoni,86,empty,empty,empty,empty,empty,empty,empty,...,empty,empty,empty,NO,Karma Resorts,Other,Past Guests,empty,Viewpoint,NaN

In [8]:
m.clean_number(df_viewpoint, 'Phone')
m.clean_number(df_viewpoint, 'Mobile')
m.replace_not_valid_to_empty(df_viewpoint, 'Phone')
m.replace_not_valid_to_empty(df_viewpoint, 'Mobile')

df_viewpoint.loc[df_viewpoint['Phone'].str.contains('00000'), 'Phone'] = 'empty'
df_viewpoint.loc[df_viewpoint['Mobile'].str.contains('00000'), 'Mobile'] = 'empty'

m.clean_space(df_viewpoint, 'Email')
df_viewpoint['Email'] = m.lowercase(df_viewpoint, 'Email')
m.email_correction(df_viewpoint, 'Email')

c:\Users\fajar\Documents\Python\Task Offline\past_guest_toni_app\../zoho_data_app\main_module.py:67: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[df_columns].replace(' ','', regex=True, inplace=True)
c:\Users\fajar\Documents\Python\Task Offline\past_guest_toni_app\../zoho_data_app\main_module.py:68: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[df_columns].replace('[^0-9]','', regex=True, inplace=True)
c:\Users\fajar\Documents\Python\Task Offline\past_guest_toni_app\../zoho_data_app\main_module.py:90: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[df_columns].replace(' ','', regex=True, inplace=True)
c:\Users\fajar\Documents\Python\Task Offline\past_guest_toni_app\../zoho_data_app\main_module.py:223: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[df_columns].replace('^mailto:|-primary$|-pri$|-Mrs$|(noemailtobesent)$','', regex=True, inplace=True)
c:\Users\fajar\Documents\Python\Task Offline\past_guest_toni_app\../zoho_data_app\main_module.py:251: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[df_columns].replace('|'.join(list_correction_mail), '@mail.', regex=True, inplace=True)
c:\Users\fajar\Documents\Python\Task Offline\past_guest_toni_app\../zoho_data_app\main_module.py:252: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[df_columns].replace('|'.join(list_correction_gmail), '@gmail.', regex=True, inplace=True)
c:\Users\fajar\Documents\Python\Task Offline\past_guest_toni_app\../zoho_data_app\main_module.py:253: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[df_columns].replace('|'.join(list_correction_gmail_com), '@gmail.com', regex=True, inplace=True)
c:\Users\fajar\Documents\Python\Task Offline\past_guest_toni_app\../zoho_data_app\main_module.py:254: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[df_columns].replace('|'.join(list_correction_hotmail), '@hotmail.', regex=True, inplace=True)
c:\Users\fajar\Documents\Python\Task Offline\past_guest_toni_app\../zoho_data_app\main_module.py:255: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[df_columns].replace('|'.join(list_correction_hotmail_com), '@hotmail.com', regex=True, inplace=True)
c:\Users\fajar\Documents\Python\Task Offline\past_guest_toni_app\../zoho_data_app\main_module.py:256: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[df_columns].replace('|'.join(list_correction_yahoo_com), '@yahoo.com', regex=True, inplace=True)
c:\Users\fajar\Documents\Python\Task Offline\past_guest_toni_app\../zoho_data_app\main_module.py:257: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[df_columns].replace('|'.join(list_correction_yahoo), '@yahoo.', regex=True, inplace=True)
c:\Users\fajar\Documents\Python\Task Offline\past_guest_toni_app\../zoho_data_app\main_module.py:258: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[df_columns].replace('|'.join(list_correction_yahoo_in), '@yahoo.co.in', regex=True, inplace=True)
c:\Users\fajar\Documents\Python\Task Offline\past_guest_toni_app\../zoho_data_app\main_module.py:273: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df_columns].loc[~df[df_columns].str.contains('@', df_columns, na=False)] = ''

In [9]:
m.email_correction(df_viewpoint, 'Email')

c:\Users\fajar\Documents\Python\Task Offline\past_guest_toni_app\../zoho_data_app\main_module.py:223: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[df_columns].replace('^mailto:|-primary$|-pri$|-Mrs$|(noemailtobesent)$','', regex=True, inplace=True)
c:\Users\fajar\Documents\Python\Task Offline\past_guest_toni_app\../zoho_data_app\main_module.py:251: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[df_columns].replace('|'.join(list_correction_mail), '@mail.', regex=True, inplace=True)
c:\Users\fajar\Documents\Python\Task Offline\past_guest_toni_app\../zoho_data_app\main_module.py:252: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[df_columns].replace('|'.join(list_correction_gmail), '@gmail.', regex=True, inplace=True)
c:\Users\fajar\Documents\Python\Task Offline\past_guest_toni_app\../zoho_data_app\main_module.py:253: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[df_columns].replace('|'.join(list_correction_gmail_com), '@gmail.com', regex=True, inplace=True)
c:\Users\fajar\Documents\Python\Task Offline\past_guest_toni_app\../zoho_data_app\main_module.py:254: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[df_columns].replace('|'.join(list_correction_hotmail), '@hotmail.', regex=True, inplace=True)
c:\Users\fajar\Documents\Python\Task Offline\past_guest_toni_app\../zoho_data_app\main_module.py:255: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[df_columns].replace('|'.join(list_correction_hotmail_com), '@hotmail.com', regex=True, inplace=True)
c:\Users\fajar\Documents\Python\Task Offline\past_guest_toni_app\../zoho_data_app\main_module.py:256: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[df_columns].replace('|'.join(list_correction_yahoo_com), '@yahoo.com', regex=True, inplace=True)
c:\Users\fajar\Documents\Python\Task Offline\past_guest_toni_app\../zoho_data_app\main_module.py:257: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[df_columns].replace('|'.join(list_correction_yahoo), '@yahoo.', regex=True, inplace=True)
c:\Users\fajar\Documents\Python\Task Offline\past_guest_toni_app\../zoho_data_app\main_module.py:258: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[df_columns].replace('|'.join(list_correction_yahoo_in), '@yahoo.co.in', regex=True, inplace=True)

In [10]:
df_viewpoint.loc[(df_viewpoint['Email'] != 'empty') & ((df_viewpoint['Phone'] != 'empty') | (df_viewpoint['Mobile'] != 'empty')), 'Contact Type'] = 'Email and Phone'
df_viewpoint.loc[(df_viewpoint['Email'] != 'empty') & ((df_viewpoint['Phone'] == 'empty') & (df_viewpoint['Mobile'] == 'empty')), 'Contact Type'] = 'Email Only'
df_viewpoint.loc[(df_viewpoint['Email'] == 'empty') & ((df_viewpoint['Phone'] != 'empty') | (df_viewpoint['Mobile'] != 'empty')), 'Contact Type'] = 'Phone Only'

df_viewpoint.loc[df_viewpoint['Contact Type'] == 'empty'].to_csv(r'C:\Users\fajar\Documents\Python\Data\contact_type_empty_viewpoint.csv', index=False)

count_contact_type_empty = df_viewpoint.loc[df_viewpoint['Contact Type'] == 'empty'].shape[0]

df_viewpoint.drop(df_viewpoint.loc[df_viewpoint['Contact Type'] == 'empty'].index, inplace=True)
df_viewpoint.reset_index(drop=True, inplace=True)

count_after_contact_type_empty = df_viewpoint.shape[0]

df_viewpoint

,Title,Firstname,lastname,DOB,PAN CARD,Email,Phone,Mobile,AddressLine1,AddressLine2,...,Sales Rep and Comments,Opt In,Contact Type,Odyssey Members,Lead Brand,Lead Sub-Brand,Lead Source,Lead Locations,Lead Source Description,Exclude From Mailing
0,M/S,Yue,Wei Jie,empty,empty,18602823288@163.com,8618602823288,empty,RM. 1401 MINSHEN CENTER,NO 3131 KAIXUAN RD,...,empty,YES,Email and Phone,NO,Karma Resorts,Other,Past Guests,Karma Royal Candidasa,Viewpoint,NO
1,Mrs,Huijing,/,empty,empty,190330685@99.com,8618120167266,empty,-,empty,...,empty,YES,Email and Phone,NO,Karma Resorts,Other,Past Guests,Karma Jimbaran,Viewpoint,NO
2,M/S,Li,Jiang,empty,empty,289152@qq.com,8613808089013,empty,RM. 1401 MINGSHEN CENTER,NO. 3131 KAIXUAN RD,...,empty,YES,Email and Phone,NO,Karma Resorts,Other,Past Guests,Karma Royal Candidasa,Viewpoint,NO
3,Mrs,Malti,Gupta,1980-10-01 00:00:00,ABQPG6462P,80maltigupta@gmail.com,917042449002,918076689730,"138, BHAGYA LAXMI APARTMENTS","SECTOR - 9, ROHINI",...,empty,YES,Email and Phone,NO,Karma Resorts,Other,Past Guests,"Karma Sitabani, Corbett",Viewpoint,NO
4,Mrs,Malti,Gupta,1980-10-01 00:00:00,ABQPG6462P,80maltigupta@gmail.com,917042449002,918076689730,"138, BHAGYA LAXMI APARTMENTS","SECTOR - 9, ROHINI",...,empty,YES,Email and Phone,NO,Karma Resorts,Other,Past Guests,"Karma Sitabani, Corbett",Viewpoint,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1957,,,-,empty,empty,,empty,empty,empty,empty,...,empty,YES,Email Only,NO,Karma Resorts,Other,Past Guests,Karma Royal Boat Lagoon,Viewpoint,NO
1958,,,-,empty,empty,,empty,empty,empty,empty,...,empty,YES,Email Only,NO,Karma Resorts,Other,Past Guests,"Karma Sitabani, Corbett",Viewpoint,NO
1959,,"Hu, Jessica",-,empty,empty,,empty,empty,empty,empty,...,empty,YES,Email Only,NO,Karma Resorts,Other,Past Guests,Wyndham - Manoir des Deux Amants,Viewpoint,NO
1960,,"Sleep, Harold & Valenzuela, Marita C",-,empty,empty,,empty,empty,empty,empty,...,empty,YES,Email Only,NO,Karma Resorts,Other,Past Guests,Wyndham - Manoir des Deux Amants,Viewpoint,NO
1961,Krg,Fajar Fatoni,86,empty,empty,,empty,empty,empty,empty,...,empty,empty,Email Only,NO,Karma Resorts,Other,Past Guests,empty,Viewpoint,NaN

In [11]:
# Cek Email Karma
email_karma = m.find_karma(df_viewpoint, 'Email')
count_email_karma = email_karma.shape[0]
email_karma.to_csv(r'C:\Users\fajar\Documents\Python\Data\email_deleted_viewpoint.csv', index=False)

email_karma

,Title,Firstname,lastname,DOB,PAN CARD,Email,Phone,Mobile,AddressLine1,AddressLine2,...,Sales Rep and Comments,Opt In,Contact Type,Odyssey Members,Lead Brand,Lead Sub-Brand,Lead Source,Lead Locations,Lead Source Description,Exclude From Mailing
237,Mr,Bharath,Kini,empty,empty,barath.kini@karmagroup.com,empty,empty,empty,empty,...,empty,YES,Email Only,NO,Karma Resorts,Other,Past Guests,Karma Royal Haathi Mahal,Viewpoint,NO
238,Mr,Bharath,Kini,empty,empty,barath.kini@karmagroup.com,empty,empty,empty,empty,...,empty,YES,Email Only,NO,Karma Resorts,Other,Past Guests,Karma Royal Haathi Mahal,Viewpoint,NO
312,,Maintenance Room,Karma Chakra,empty,empty,chakra@karmagroup.com,914812526252,919446080121,"Ward # 09, Block#12, Near Nasrath Church",KOTTAYAM,...,empty,YES,Email and Phone,NO,Karma Resorts,Other,Past Guests,"Karma Chakra, Kerala",Viewpoint,NO
367,Mr,David,Scheckter,1970-06-11 00:00:00,empty,david.scheckter@karmagroup.com,628113893039,empty,Bali,empty,...,empty,YES,Email and Phone,NO,Karma Resorts,Other,Past Guests,"KRR @ Karma Kandara, Phase V",Viewpoint,NO
368,Ms,Tahlia,Hadson,empty,empty,davidhadson@karmagroup.com,626236341519,empty,C/- DAVID HADSON,empty,...,empty,YES,Email and Phone,NO,Karma Resorts,Other,Past Guests,Karma Royal Candidasa,Viewpoint,NO
770,Mr,Keith,Smith,empty,empty,keith.smith@karmagroup.com,918326716200,empty,Karma Royal Monterio,Arpora Baga Road,...,empty,YES,Email and Phone,NO,Karma Resorts,Other,Past Guests,"Sun Cruiser Karma Fushi, Maldives",Viewpoint,NO
1523,Mr,Shiv,Suman,empty,empty,shivsuman.b@karmagroup.com,919325868122,empty,-,-,...,empty,YES,Email and Phone,NO,Karma Resorts,Other,Past Guests,Karma Royal Monterio,Viewpoint,NO

In [12]:
# delete email Karma
count_after_clean_karma = m.delete_karma(df_viewpoint, 'Email')

df_viewpoint

,Title,Firstname,lastname,DOB,PAN CARD,Email,Phone,Mobile,AddressLine1,AddressLine2,...,Sales Rep and Comments,Opt In,Contact Type,Odyssey Members,Lead Brand,Lead Sub-Brand,Lead Source,Lead Locations,Lead Source Description,Exclude From Mailing
0,M/S,Yue,Wei Jie,empty,empty,18602823288@163.com,8618602823288,empty,RM. 1401 MINSHEN CENTER,NO 3131 KAIXUAN RD,...,empty,YES,Email and Phone,NO,Karma Resorts,Other,Past Guests,Karma Royal Candidasa,Viewpoint,NO
1,Mrs,Huijing,/,empty,empty,190330685@99.com,8618120167266,empty,-,empty,...,empty,YES,Email and Phone,NO,Karma Resorts,Other,Past Guests,Karma Jimbaran,Viewpoint,NO
2,M/S,Li,Jiang,empty,empty,289152@qq.com,8613808089013,empty,RM. 1401 MINGSHEN CENTER,NO. 3131 KAIXUAN RD,...,empty,YES,Email and Phone,NO,Karma Resorts,Other,Past Guests,Karma Royal Candidasa,Viewpoint,NO
3,Mrs,Malti,Gupta,1980-10-01 00:00:00,ABQPG6462P,80maltigupta@gmail.com,917042449002,918076689730,"138, BHAGYA LAXMI APARTMENTS","SECTOR - 9, ROHINI",...,empty,YES,Email and Phone,NO,Karma Resorts,Other,Past Guests,"Karma Sitabani, Corbett",Viewpoint,NO
4,Mrs,Malti,Gupta,1980-10-01 00:00:00,ABQPG6462P,80maltigupta@gmail.com,917042449002,918076689730,"138, BHAGYA LAXMI APARTMENTS","SECTOR - 9, ROHINI",...,empty,YES,Email and Phone,NO,Karma Resorts,Other,Past Guests,"Karma Sitabani, Corbett",Viewpoint,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1950,,,-,empty,empty,,empty,empty,empty,empty,...,empty,YES,Email Only,NO,Karma Resorts,Other,Past Guests,Karma Royal Boat Lagoon,Viewpoint,NO
1951,,,-,empty,empty,,empty,empty,empty,empty,...,empty,YES,Email Only,NO,Karma Resorts,Other,Past Guests,"Karma Sitabani, Corbett",Viewpoint,NO
1952,,"Hu, Jessica",-,empty,empty,,empty,empty,empty,empty,...,empty,YES,Email Only,NO,Karma Resorts,Other,Past Guests,Wyndham - Manoir des Deux Amants,Viewpoint,NO
1953,,"Sleep, Harold & Valenzuela, Marita C",-,empty,empty,,empty,empty,empty,empty,...,empty,YES,Email Only,NO,Karma Resorts,Other,Past Guests,Wyndham - Manoir des Deux Amants,Viewpoint,NO
1954,Krg,Fajar Fatoni,86,empty,empty,,empty,empty,empty,empty,...,empty,empty,Email Only,NO,Karma Resorts,Other,Past Guests,empty,Viewpoint,NaN

In [13]:
# Cek leads test
test_leads = df_viewpoint.loc[
    
        df_viewpoint['Email'].str.contains('^test@', flags=re.I, regex=True) |
        df_viewpoint['Email'].str.contains('\+test', flags=re.I, regex=True) |
    
        df_viewpoint['Firstname'].str.contains('^test$', flags=re.I, regex=True) |
        df_viewpoint['lastname'].str.contains('^test$', flags=re.I, regex=True) |

        df_viewpoint['Firstname'].str.contains('test 1', flags=re.I, regex=True) |
        df_viewpoint['lastname'].str.contains('test 2', flags=re.I, regex=True)|
        df_viewpoint['Firstname'].str.contains('test1', flags=re.I, regex=True) |
        df_viewpoint['lastname'].str.contains('test2', flags=re.I, regex=True)|

        df_viewpoint['Firstname'].str.contains(' test ', flags=re.I, regex=True) | 
        df_viewpoint['lastname'].str.contains(' test ', flags=re.I, regex=True) | 
        df_viewpoint['lastname'].str.contains(' test$', flags=re.I, regex=True)
    ]

count_leads_test = test_leads.shape[0]

test_leads.to_csv(r'C:\Users\fajar\Documents\Python\Data\test_leads_viewpoint.csv', index=False)
test_leads

Empty DataFrame
Columns: [Title, Firstname, lastname, DOB, PAN CARD, Email, Phone, Mobile, AddressLine1, AddressLine2, Town, State, Country, PostCode, Nationality, MaritalStatus, resortname, Arrival, Departure, CheckInDate, CheckOutDate, room, UnitCategory, BookingNo, BookingSourceDesc, BookingTypeDesc, Date of Tour, Sales Rep and Comments, Opt In, Contact Type, Odyssey Members, Lead Brand, Lead Sub-Brand, Lead Source, Lead Locations, Lead Source Description, Exclude From Mailing]
Index: []

[0 rows x 37 columns]

In [14]:
df_viewpoint.drop(test_leads.index, inplace=True)
df_viewpoint.reset_index(drop=True, inplace=True)

count_after_dedup_test = df_viewpoint.shape[0]
count_after_dedup_test

1955

In [15]:
count_final_data = count_after_dedup_test

In [16]:
# df_viewpoint.loc[df_viewpoint['BookingNo'] == '2070341']

In [17]:
df_viewpoint.replace('empty', '', inplace=True)

In [18]:
print("==========================================================")
print("Summary")
print("==========================================================")
print("Jumlah Data Awal Viewpoint : "+str(count_data_awal))
print("Jumlah Data Email dan Phone Kosong : "+str(count_contact_type_empty))
print("Jumlah Data Setelah Hapus Email dan Phone Yang Kosong : "+str(count_after_contact_type_empty))
print("Jumlah Data Email Yang Termasuk List Karma : "+str(count_email_karma))
print("Jumlah Data Email Setelah List Karma Dihapus : "+str(count_after_clean_karma))
print("Jumlah Data Test : "+str(count_leads_test))
print("Jumlah Data Email Setelah Data Test Dihapus : "+str(count_after_dedup_test))
print("Jumlah Data Akhir : "+str(count_final_data))

==========================================================
Summary
==========================================================
Jumlah Data Awal Viewpoint : 1962
Jumlah Data Email dan Phone Kosong : 0
Jumlah Data Setelah Hapus Email dan Phone Yang Kosong : 1962
Jumlah Data Email Yang Termasuk List Karma : 7
Jumlah Data Email Setelah List Karma Dihapus : 1955
Jumlah Data Test : 0
Jumlah Data Email Setelah Data Test Dihapus : 1955
Jumlah Data Akhir : 1955

In [19]:
df_viewpoint.to_excel(r'C:\Users\fajar\Documents\Python\Data\check_country_code_viewpoint.xlsx', index=False)