In [7]:
import sys
sys.path.append('../')

import main_module as m
import gdpr_filter_module as fil
import pandas as pd
import re
import numpy as np

%load_ext autoreload
%autoreload 2

dir_path = r'C:\Users\fajar\Documents\Python\Data\Zoho_Backup'
file_name = '\Leads_'

cols = ['Record Id',	
'Created Time',
'Created Date',	
'First Name',	
'Last Name',	
'Email',	
'Phone',	
'Mobile',	
'Birthdate',	
'Year of Birth',
'Street',	
'Street2',	
'City',	
'State',	
'Country',	
'Nationality',
'Booking Status', 
'BookRef',
'Departure Date',	
'Arrival Date',	
'Card Type',	
'Marital Status',	
'Lead Brand',	
'Lead Sub-Brand',	
'Lead Source',	
'Lead Locations',	
'Lead Source Description',	
'Lead Regions',
'Lead Status',
'Email Opt Out',	
'Opt In',
'Do Not Contact',
'Do Not Mail',
'United Kingdom']

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [8]:
df = m.load_data_multiple(dir_path, file_name, cols)
count_data_awal = df.shape[0]
df = df.reindex(columns=cols)
df.shape[0]

df['Created Time'] = pd.to_datetime(df['Created Time'], format='%Y-%m-%d %H:%M:%S')
# fungsi errors cource untuk menhindari error jika value data date null atau kosong
# df['Birthdate'] = pd.to_datetime(df['Birthdate'], format='%Y-%m-%d', errors='coerce')
df.dtypes
df

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Lead Source,Lead Locations,Lead Source Description,Lead Regions,Lead Status,Email Opt Out,Opt In,Do Not Contact,Do Not Mail,United Kingdom
0,zcrm_3584690000000404058,2019-01-07 15:08:38,2019-01-06,Nicholas,Wood,1230woodnicholas@gmail.com,+61438600845,<NA>,<NA>,<NA>,...,Wifi,<NA>,Purple Wifi,SEAP,New Lead,false,false,true,false,false
1,zcrm_3584690000000404059,2019-01-07 15:08:38,2019-01-06,Liao,Yuan,158066546@qq.com,8618718399923,<NA>,<NA>,<NA>,...,Wifi,<NA>,Purple Wifi,Other,New Lead,false,false,true,false,false
2,zcrm_3584690000000404060,2019-01-07 15:08:38,2019-01-06,Vedanta,Abhiyoga,abhiyoga.vedanta@gmail.com,+6282146524550,<NA>,2000-07-05,2000,...,Wifi,<NA>,Purple Wifi,SEAP,New Lead,false,false,true,false,false
3,zcrm_3584690000000404065,2019-01-07 15:08:38,2019-01-06,Aidai,Atakanova,aidai.nurbek@gmail.com,996779641590,<NA>,1997-02-05,1997,...,Wifi,<NA>,Purple Wifi,UK/Europe,New Lead,false,false,true,false,false
4,zcrm_3584690000000404068,2019-01-07 15:08:38,2019-01-06,Ardra,Ardra,aliefardraqariru@gmail.com,+6282139300818,+6282139300818,2005-01-20,2005,...,Wifi,Mall 21,Purple Wifi,SEAP,New Lead,false,false,true,false,false
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4661018,zcrm_3584690000463574001,2023-10-02 16:37:39,<NA>,Alok,Prakash,kashukhushi@gmail.com,+917019778943,<NA>,1991-12-14,1991,...,Guest Exit,Sales Deck Jimbaran,REGISTRATION CONFIRMED | Your Exclusive 7 NIGH...,SEAP,Hot Prospect,false,true,false,false,false
4661019,zcrm_3584690000463581001,2023-10-02 17:10:49,<NA>,Harshal,Naik,hnaik5@hotmail.com,+447506114549,<NA>,1990-12-05,1990,...,Guest Exit,Sales Deck Jimbaran,REGISTRATION CONFIRMED | Your Exclusive 7 NIGH...,SEAP,Hot Prospect,false,true,false,false,true
4661020,zcrm_3584690000463583001,2023-10-02 17:14:54,<NA>,Rashpinder,Sidhu,risjisaron1985@gmail.com,+61415854786,<NA>,1985-04-16,1985,...,Guest Exit,Sales Deck Jimbaran,REGISTRATION CONFIRMED | Your Exclusive 7 NIGH...,SEAP,Hot Prospect,false,true,false,false,false
4661021,zcrm_3584690000463584001,2023-10-02 17:18:01,<NA>,Baylee,Sequoia,bayleej@me.com,+61403659752,<NA>,<NA>,<NA>,...,Facebook Ads,<NA>,HOK Tell Me More,SEAP,New Lead,false,false,false,false,false
4661022,zcrm_3584690000463585001,2023-10-02 17:30:42,<NA>,Hendrikus,Welerubun,hendrowelerubun@gmail.com,+6282198912009,<NA>,1987-01-20,1987,...,Guest Exit,Sales Deck Jimbaran,REGISTRATION CONFIRMED | Your Exclusive 7 NIGH...,SEAP,Hot Prospect,false,true,false,false,false

In [9]:
zoho_filter = fil.uk_teritory(df)
zoho_df = df.loc[zoho_filter].copy() # menggunakan copy untuk menghindari setting copy warning
zoho_df.reset_index(drop=True, inplace=True)
count_filter_awal = zoho_df.shape[0]

# mengisi kolom <NA> dengan value string 'empty' supaya mudah mengecek data member dan booking dengan isin

zoho_df.fillna('empty', inplace=True)
zoho_df

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Lead Source,Lead Locations,Lead Source Description,Lead Regions,Lead Status,Email Opt Out,Opt In,Do Not Contact,Do Not Mail,United Kingdom
0,zcrm_3584690000458372228,2023-08-22 14:29:30,empty,empty,Amy Sussemilch,amysuss@hotmail.co.uk,+447940302489,empty,empty,empty,...,Web Enquiry,General,KE | Web | Booking,SEAP,New Lead,false,false,false,false,false
1,zcrm_3584690000459083030,2023-08-26 14:32:34,empty,Stephen,Moore,steverrmoore@gmail.com,+919650737775,empty,1962-08-24,1962,...,Guest Exit,Sales Deck Vietnam,Vietnam | REGISTRATION CONFIRMED | Your Exclus...,SEAP,Hot Prospect,false,true,false,false,false
2,zcrm_3584690000459262030,2023-08-29 15:47:07,empty,Barry,Cooke,bazcooke@hotmail.com,+64275525995,empty,1963-02-28,1963,...,Guest Exit,Sales Deck Vietnam,Vietnam | REGISTRATION CONFIRMED | Your Exclus...,SEAP,Hot Prospect,false,true,false,false,false
3,zcrm_3584690000460453003,2023-09-06 19:22:12,empty,empty,Nigel Baker,nigel.baker@icloud.com,+4407515891235,empty,empty,empty,...,Web Enquiry,General,KE | Web | Booking,SEAP,New Lead,false,false,false,false,false
4,zcrm_3584690000460628001,2023-09-07 16:54:56,empty,John,Sheehy,vsheehy95@gmail.com,+32477607680,empty,1963-06-20,1963,...,Guest Exit,Sales Deck Vietnam,Vietnam | REGISTRATION CONFIRMED | Your Exclus...,SEAP,Hot Prospect,false,true,false,false,false
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,zcrm_3584690000461634991,2023-09-18 15:36:44,empty,Jonathan,Beardmore,jon@beardmores.com,441296681961,447740423439,empty,empty,...,Past Guests,Karma Minoan,Viewpoint,empty,New Lead,false,true,false,false,false
73,zcrm_3584690000461816003,2023-09-18 15:36:44,empty,Venessa,Swaby,venessabobb@outlook.com,447947198362,empty,empty,empty,...,Past Guests,Karma Lake of Menteith,Viewpoint,empty,New Lead,false,true,false,false,false
74,zcrm_3584690000461816007,2023-09-18 15:36:44,empty,John,Scruton,john.scruton@sky.com,447868607590,empty,empty,empty,...,Past Guests,Karma Lake of Menteith,Viewpoint,empty,New Lead,false,true,false,false,false
75,zcrm_3584690000461816009,2023-09-18 15:36:44,empty,Chanelle Alexandra,Connolly,chanellebussell@yahoo.co.uk,447946340706,empty,empty,empty,...,Past Guests,Karma Salford Hall,Viewpoint,empty,New Lead,false,true,false,false,false
76,zcrm_3584690000461816013,2023-09-18 15:36:44,empty,Susan,Price,sueprice62@yahoo.co.uk,447803772768,empty,empty,empty,...,Past Guests,Karma Salford Hall,Viewpoint,empty,New Lead,false,true,false,false,false

In [10]:
zoho_df.groupby('Country').count()

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Lead Source,Lead Locations,Lead Source Description,Lead Regions,Lead Status,Email Opt Out,Opt In,Do Not Contact,Do Not Mail,United Kingdom
Country,,,,,,,,,,,,,,,,,,,,,
SCOTLAND,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
United Kingdom,76,76,76,76,76,76,76,76,76,76,...,76,76,76,76,76,76,76,76,76,76

In [11]:
zoho_df.groupby('United Kingdom').count()

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Lead Sub-Brand,Lead Source,Lead Locations,Lead Source Description,Lead Regions,Lead Status,Email Opt Out,Opt In,Do Not Contact,Do Not Mail
United Kingdom,,,,,,,,,,,,,,,,,,,,,
false,77,77,77,77,77,77,77,77,77,77,...,77,77,77,77,77,77,77,77,77,77

In [13]:
zoho_df.replace('empty', '', inplace=True)
zoho_df.to_excel(r'C:\Users\fajar\Documents\Python\Data\update_uk_checkbox.xlsx', index=False)