In [1]:
import sys
sys.path.append('../')

import main_module as m
import zoho_filter_module as fil
import pandas as pd
import re
import numpy as np

%load_ext autoreload
%autoreload 2

dir_path = r'C:\Users\fajar\Documents\Python\Data\Zoho_Backup'
file_name = '\Leads_'

cols = ['Record Id',	
'Created Time',
'Created Date',	
'First Name',	
'Last Name',	
'Email',	
'Phone',	
'Mobile',	
'Birthdate',	
'Year of Birth',
'Street',	
'Street2',	
'City',	
'State',	
'Country',	
'Nationality',
'Booking Status', 
'BookRef',
'Departure Date',	
'Arrival Date',	
'Card Type',	
'Marital Status',	
'Lead Brand',	
'Lead Sub-Brand',	
'Lead Source',	
'Lead Locations',	
'Lead Location Description',	
'Lead Source Description',	
'Lead Regions',
'Lead Status',
'Email Opt Out',	
'Opt In',
'Do Not Contact',
'Do Not Mail',
'Data ONE']

In [2]:
df = m.load_data_multiple(dir_path, file_name, cols)
count_data_awal = df.shape[0]
df = df.reindex(columns=cols)
df.shape[0]

df['Created Time'] = pd.to_datetime(df['Created Time'], format='%Y-%m-%d %H:%M:%S')
# fungsi errors cource untuk menhindari error jika value data date null atau kosong
# df['Birthdate'] = pd.to_datetime(df['Birthdate'], format='%Y-%m-%d', errors='coerce')
df.dtypes
df

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Lead Locations,Lead Location Description,Lead Source Description,Lead Regions,Lead Status,Email Opt Out,Opt In,Do Not Contact,Do Not Mail,Data ONE
0,zcrm_3584690000000404058,2019-01-07 15:08:38,2019-01-06,Nicholas,Wood,1230woodnicholas@gmail.com,+61438600845,<NA>,<NA>,<NA>,...,<NA>,<NA>,Purple Wifi,SEAP,New Lead,false,false,true,false,true
1,zcrm_3584690000000404059,2019-01-07 15:08:38,2019-01-06,Liao,Yuan,158066546@qq.com,8618718399923,<NA>,<NA>,<NA>,...,<NA>,<NA>,Purple Wifi,Other,New Lead,false,false,true,false,false
2,zcrm_3584690000000404060,2019-01-07 15:08:38,2019-01-06,Vedanta,Abhiyoga,abhiyoga.vedanta@gmail.com,+6282146524550,<NA>,2000-07-05,2000,...,<NA>,<NA>,Purple Wifi,SEAP,New Lead,false,false,true,false,false
3,zcrm_3584690000000404065,2019-01-07 15:08:38,2019-01-06,Aidai,Atakanova,aidai.nurbek@gmail.com,996779641590,<NA>,1997-02-05,1997,...,<NA>,<NA>,Purple Wifi,UK/Europe,New Lead,false,false,true,false,false
4,zcrm_3584690000000404068,2019-01-07 15:08:38,2019-01-06,Ardra,Ardra,aliefardraqariru@gmail.com,+6282139300818,+6282139300818,2005-01-20,2005,...,Mall 21,<NA>,Purple Wifi,SEAP,New Lead,false,false,true,false,false
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4654820,zcrm_3584690000455020141,2023-07-24 16:42:43,<NA>,Chetas,Hg,hgcheta@gmail.com,919739967618,<NA>,<NA>,<NA>,...,Karma Royal Monterio,<NA>,Viewpoint,<NA>,<NA>,false,true,false,false,false
4654821,zcrm_3584690000455020168,2023-07-24 16:43:16,<NA>,Ganapathi,Salian,ganapathi25@gmail.com,919902006166,917349621009,<NA>,<NA>,...,Karma Royal Palms,<NA>,Viewpoint,<NA>,<NA>,false,true,false,false,false
4654822,zcrm_3584690000455020203,2023-07-24 16:43:45,<NA>,Luc,Schneider,<NA>,33606657426,<NA>,<NA>,<NA>,...,Karma Lake of Menteith,<NA>,Viewpoint,<NA>,<NA>,false,true,false,false,false
4654823,zcrm_3584690000455027025,2023-07-24 16:44:37,<NA>,Deepanshu,Tripathi,<NA>,919446852272,<NA>,<NA>,<NA>,...,"Karma Munnar, Kerala",<NA>,Viewpoint,<NA>,<NA>,false,true,false,false,false
4654824,zcrm_3584690000455030024,2023-07-24 17:06:05,<NA>,Aniket,Shah,aniketshah1994@gmail.com,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,Karma Concierge India | Webchat Web,India,<NA>,false,true,false,false,false

In [3]:
df_update = df.loc[
    (df['Phone'].str.contains('^6208|^\+6208', regex=True)) &
    (df['Country'] == 'Indonesia')
    ].copy()

df_update

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Lead Locations,Lead Location Description,Lead Source Description,Lead Regions,Lead Status,Email Opt Out,Opt In,Do Not Contact,Do Not Mail,Data ONE
8531,zcrm_3584690000000670682,2019-01-14 07:44:38,<NA>,Shandy,Noviano,easygo2travel@yahoo.com,+620818505235,81217699745,1988-11-14,1988,...,<NA>,BGID,<NA>,SEAP,<NA>,false,false,false,false,false
13803,zcrm_3584690000000967181,2019-01-23 17:24:22,<NA>,Rosiani,Wira,amin_tjhang@yahoo.com,+62081288403544,<NA>,1966-01-01,1966,...,<NA>,BGID,<NA>,SEAP,<NA>,false,false,false,false,false
15624,zcrm_3584690000001102277,2019-01-28 08:23:01,<NA>,Elly,Winarsih,ellywong110174@gmail.com,+620818508074,<NA>,1974-01-11,1974,...,<NA>,BGID,<NA>,SEAP,<NA>,false,false,false,false,false
19469,zcrm_3584690000001463451,2019-02-06 19:32:31,<NA>,Teddy,Limyanto,teddylimyanto@yahoo.co.id,+6208108123046779,<NA>,<NA>,<NA>,...,<NA>,KE,<NA>,SEAP,<NA>,false,false,false,false,false
56166,zcrm_3584690000005298947,2019-03-28 17:23:15,<NA>,Muhammad,Ishak,muhammadishak04305@gmail.com,+62085845861987,<NA>,<NA>,1955,...,General,<NA>,KE | FB competition | w4mar19 | Competition ID...,SEAP,<NA>,false,false,false,false,false
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4628386,zcrm_3584690000446595001,2023-05-30 11:46:56,<NA>,Jelly,Surentu,jellyjs@gmail.com,+62081973733737,+628129620092,<NA>,1977,...,General,<NA>,KE | Web | w2jan18 | Redeem Voucher,SEAP,New Lead,false,false,false,false,false
4636193,zcrm_3584690000448623085,2023-06-11 21:08:20,<NA>,Dadi,Karniawan,aramita.bintari@gmail.com,+62085624497227,+6289606880527,<NA>,1985,...,General,<NA>,KE | Web | w2jan18 | Redeem Voucher,SEAP,New Lead,false,false,false,false,false
4638485,zcrm_3584690000449117059,2023-06-15 13:02:34,<NA>,RIDUAN,SIMANJUNTAK,rid_siman@yahoo.com,+62081210432837,+6281382571580,<NA>,1987,...,General,<NA>,KE | Web | w2jan18 | Redeem Voucher,SEAP,New Lead,false,false,false,false,false
4638632,zcrm_3584690000449150001,2023-06-14 12:11:13,<NA>,Madalena,Madalena,lena_tsm@yahoo.com,+62081323473888,+6281323473888,<NA>,1982,...,General,<NA>,KE | Web | w2jan18 | Redeem Voucher,SEAP,New Lead,false,false,false,false,false
4639281,zcrm_3584690000449293037,2023-06-15 19:52:21,<NA>,Takha,Audyarahma,audyarahma@gmail.com,62081333484333,<NA>,<NA>,<NA>,...,<NA>,<NA>,Form Contact Us,SEAP,<NA>,false,true,false,false,false

In [4]:

df_update.to_excel(r'C:\Users\fajar\Documents\Python\Data\df_indo_update_2_before.xlsx', index=False)
df_update

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Lead Locations,Lead Location Description,Lead Source Description,Lead Regions,Lead Status,Email Opt Out,Opt In,Do Not Contact,Do Not Mail,Data ONE
8531,zcrm_3584690000000670682,2019-01-14 07:44:38,<NA>,Shandy,Noviano,easygo2travel@yahoo.com,+620818505235,81217699745,1988-11-14,1988,...,<NA>,BGID,<NA>,SEAP,<NA>,false,false,false,false,false
13803,zcrm_3584690000000967181,2019-01-23 17:24:22,<NA>,Rosiani,Wira,amin_tjhang@yahoo.com,+62081288403544,<NA>,1966-01-01,1966,...,<NA>,BGID,<NA>,SEAP,<NA>,false,false,false,false,false
15624,zcrm_3584690000001102277,2019-01-28 08:23:01,<NA>,Elly,Winarsih,ellywong110174@gmail.com,+620818508074,<NA>,1974-01-11,1974,...,<NA>,BGID,<NA>,SEAP,<NA>,false,false,false,false,false
19469,zcrm_3584690000001463451,2019-02-06 19:32:31,<NA>,Teddy,Limyanto,teddylimyanto@yahoo.co.id,+6208108123046779,<NA>,<NA>,<NA>,...,<NA>,KE,<NA>,SEAP,<NA>,false,false,false,false,false
56166,zcrm_3584690000005298947,2019-03-28 17:23:15,<NA>,Muhammad,Ishak,muhammadishak04305@gmail.com,+62085845861987,<NA>,<NA>,1955,...,General,<NA>,KE | FB competition | w4mar19 | Competition ID...,SEAP,<NA>,false,false,false,false,false
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4628386,zcrm_3584690000446595001,2023-05-30 11:46:56,<NA>,Jelly,Surentu,jellyjs@gmail.com,+62081973733737,+628129620092,<NA>,1977,...,General,<NA>,KE | Web | w2jan18 | Redeem Voucher,SEAP,New Lead,false,false,false,false,false
4636193,zcrm_3584690000448623085,2023-06-11 21:08:20,<NA>,Dadi,Karniawan,aramita.bintari@gmail.com,+62085624497227,+6289606880527,<NA>,1985,...,General,<NA>,KE | Web | w2jan18 | Redeem Voucher,SEAP,New Lead,false,false,false,false,false
4638485,zcrm_3584690000449117059,2023-06-15 13:02:34,<NA>,RIDUAN,SIMANJUNTAK,rid_siman@yahoo.com,+62081210432837,+6281382571580,<NA>,1987,...,General,<NA>,KE | Web | w2jan18 | Redeem Voucher,SEAP,New Lead,false,false,false,false,false
4638632,zcrm_3584690000449150001,2023-06-14 12:11:13,<NA>,Madalena,Madalena,lena_tsm@yahoo.com,+62081323473888,+6281323473888,<NA>,1982,...,General,<NA>,KE | Web | w2jan18 | Redeem Voucher,SEAP,New Lead,false,false,false,false,false
4639281,zcrm_3584690000449293037,2023-06-15 19:52:21,<NA>,Takha,Audyarahma,audyarahma@gmail.com,62081333484333,<NA>,<NA>,<NA>,...,<NA>,<NA>,Form Contact Us,SEAP,<NA>,false,true,false,false,false

In [5]:
df_update['Phone'] = df_update['Phone'].str.replace('^6208|^\+6208', '+628', regex=True)
df_update['Mobile'] = df_update['Mobile'].str.replace('^6208|^\+6208', '+628', regex=True)

In [6]:
df_update.groupby('Country').count()

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Lead Locations,Lead Location Description,Lead Source Description,Lead Regions,Lead Status,Email Opt Out,Opt In,Do Not Contact,Do Not Mail,Data ONE
Country,,,,,,,,,,,,,,,,,,,,,
Indonesia,2036,2036,462,2000,1998,1924,2036,1517,245,867,...,1737,4,1878,1921,726,2036,2036,2036,2036,2036

In [7]:
df_update.loc[
    df_update['Phone'].str.contains('-', regex=True)
]

Empty DataFrame
Columns: [Record Id, Created Time, Created Date, First Name, Last Name, Email, Phone, Mobile, Birthdate, Year of Birth, Street, Street2, City, State, Country, Nationality, Booking Status, BookRef, Departure Date, Arrival Date, Card Type, Marital Status, Lead Brand, Lead Sub-Brand, Lead Source, Lead Locations, Lead Location Description, Lead Source Description, Lead Regions, Lead Status, Email Opt Out, Opt In, Do Not Contact, Do Not Mail, Data ONE]
Index: []

[0 rows x 35 columns]

In [8]:
df_update['Phone'].replace(' ','', regex=True, inplace=True)
df_update['Phone'].replace('\-','', regex=True, inplace=True)
df_update['Mobile'].replace(' ','', regex=True, inplace=True)
df_update['Mobile'].replace('\-','', regex=True, inplace=True)

In [11]:
# df_update.loc[df_update['Record Id'] == 'zcrm_3584690000000457016']
df.loc[df['Record Id'] == 'zcrm_3584690000392449725']

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Lead Locations,Lead Location Description,Lead Source Description,Lead Regions,Lead Status,Email Opt Out,Opt In,Do Not Contact,Do Not Mail,Data ONE
4294294,zcrm_3584690000392449725,2022-08-18 15:35:22,<NA>,Evangelia,Spyropoulou,epou100@yahoo.com,4917642009464,<NA>,<NA>,<NA>,...,Karma Lake of Menteith,<NA>,Viewpoint,UK/Europe,<NA>,true,true,false,false,true

In [10]:
df_update.loc[df_update['Phone'].notna()]

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Lead Locations,Lead Location Description,Lead Source Description,Lead Regions,Lead Status,Email Opt Out,Opt In,Do Not Contact,Do Not Mail,Data ONE
8531,zcrm_3584690000000670682,2019-01-14 07:44:38,<NA>,Shandy,Noviano,easygo2travel@yahoo.com,+62818505235,81217699745,1988-11-14,1988,...,<NA>,BGID,<NA>,SEAP,<NA>,false,false,false,false,false
13803,zcrm_3584690000000967181,2019-01-23 17:24:22,<NA>,Rosiani,Wira,amin_tjhang@yahoo.com,+6281288403544,<NA>,1966-01-01,1966,...,<NA>,BGID,<NA>,SEAP,<NA>,false,false,false,false,false
15624,zcrm_3584690000001102277,2019-01-28 08:23:01,<NA>,Elly,Winarsih,ellywong110174@gmail.com,+62818508074,<NA>,1974-01-11,1974,...,<NA>,BGID,<NA>,SEAP,<NA>,false,false,false,false,false
19469,zcrm_3584690000001463451,2019-02-06 19:32:31,<NA>,Teddy,Limyanto,teddylimyanto@yahoo.co.id,+628108123046779,<NA>,<NA>,<NA>,...,<NA>,KE,<NA>,SEAP,<NA>,false,false,false,false,false
56166,zcrm_3584690000005298947,2019-03-28 17:23:15,<NA>,Muhammad,Ishak,muhammadishak04305@gmail.com,+6285845861987,<NA>,<NA>,1955,...,General,<NA>,KE | FB competition | w4mar19 | Competition ID...,SEAP,<NA>,false,false,false,false,false
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4628386,zcrm_3584690000446595001,2023-05-30 11:46:56,<NA>,Jelly,Surentu,jellyjs@gmail.com,+6281973733737,+628129620092,<NA>,1977,...,General,<NA>,KE | Web | w2jan18 | Redeem Voucher,SEAP,New Lead,false,false,false,false,false
4636193,zcrm_3584690000448623085,2023-06-11 21:08:20,<NA>,Dadi,Karniawan,aramita.bintari@gmail.com,+6285624497227,+6289606880527,<NA>,1985,...,General,<NA>,KE | Web | w2jan18 | Redeem Voucher,SEAP,New Lead,false,false,false,false,false
4638485,zcrm_3584690000449117059,2023-06-15 13:02:34,<NA>,RIDUAN,SIMANJUNTAK,rid_siman@yahoo.com,+6281210432837,+6281382571580,<NA>,1987,...,General,<NA>,KE | Web | w2jan18 | Redeem Voucher,SEAP,New Lead,false,false,false,false,false
4638632,zcrm_3584690000449150001,2023-06-14 12:11:13,<NA>,Madalena,Madalena,lena_tsm@yahoo.com,+6281323473888,+6281323473888,<NA>,1982,...,General,<NA>,KE | Web | w2jan18 | Redeem Voucher,SEAP,New Lead,false,false,false,false,false
4639281,zcrm_3584690000449293037,2023-06-15 19:52:21,<NA>,Takha,Audyarahma,audyarahma@gmail.com,+6281333484333,<NA>,<NA>,<NA>,...,<NA>,<NA>,Form Contact Us,SEAP,<NA>,false,true,false,false,false

In [ ]:
df_update = df_update.reindex(columns=['Record Id', 'Phone', 'Mobile'])

In [11]:
df_update.to_excel(r'C:\Users\fajar\Documents\Python\Data\df_indo_update_2__after.xlsx', index=False)