In [1]:
import sys
sys.path.append('../')

import main_module as m
import clean_data_modul as fil
import pandas as pd
import re
import numpy as np

%load_ext autoreload
%autoreload 2

dir_path = r'C:\Users\fajar\Documents\Python\Data\Zoho_Backup'
file_name = '\Leads_'

cols = ['Record Id',	
'Created Time',
'Created Date',	
'First Name',	
'Last Name',	
'Email',	
'Phone',	
'Mobile',	
'Birthdate',	
'Year of Birth',
'Street',	
'Street2',	
'City',	
'State',	
'Country',	
'Nationality',
'Booking Status', 
'BookRef',
'Departure Date',	
'Arrival Date',	
'Card Type',	
'Marital Status',	
'Lead Brand',	
'Lead Sub-Brand',	
'Lead Source',	
'Lead Locations',	
'Lead Source Description',	
'Lead Regions',
'Lead Status',
'Email Opt Out',	
'Opt In',
'Do Not Contact',
'Do Not Mail']

In [21]:
df = m.load_data_multiple(dir_path, file_name, cols)
count_data_awal = df.shape[0]
df = df.reindex(columns=cols)
df.shape[0]

# df['Created Time'] = pd.to_datetime(df['Created Time'], format='%Y-%m-%d %H:%M:%S')
# fungsi errors cource untuk menhindari error jika value data date null atau kosong
# df['Birthdate'] = pd.to_datetime(df['Birthdate'], format='%Y-%m-%d', errors='coerce')
df.dtypes
df

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Lead Sub-Brand,Lead Source,Lead Locations,Lead Source Description,Lead Regions,Lead Status,Email Opt Out,Opt In,Do Not Contact,Do Not Mail
0,zcrm_3584690000000404058,2019-01-07 15:08:38,2019-01-06,Nicholas,Wood,1230woodnicholas@gmail.com,+61438600845,<NA>,<NA>,<NA>,...,Other Bali DB,Wifi,<NA>,Purple Wifi,SEAP,New Lead,false,false,true,false
1,zcrm_3584690000000404059,2019-01-07 15:08:38,2019-01-06,Liao,Yuan,158066546@qq.com,8618718399923,<NA>,<NA>,<NA>,...,Other Bali DB,Wifi,<NA>,Purple Wifi,Other,New Lead,false,false,true,false
2,zcrm_3584690000000404060,2019-01-07 15:08:38,2019-01-06,Vedanta,Abhiyoga,abhiyoga.vedanta@gmail.com,+6282146524550,<NA>,2000-07-05,2000,...,Other Bali DB,Wifi,<NA>,Purple Wifi,SEAP,New Lead,false,false,true,false
3,zcrm_3584690000000404065,2019-01-07 15:08:38,2019-01-06,Aidai,Atakanova,aidai.nurbek@gmail.com,996779641590,<NA>,1997-02-05,1997,...,Other Bali DB,Wifi,<NA>,Purple Wifi,UK/Europe,New Lead,false,false,true,false
4,zcrm_3584690000000404068,2019-01-07 15:08:38,2019-01-06,Ardra,Ardra,aliefardraqariru@gmail.com,+6282139300818,+6282139300818,2005-01-20,2005,...,Other Bali DB,Wifi,Mall 21,Purple Wifi,SEAP,New Lead,false,false,true,false
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4717718,zcrm_3584690000475135007,2024-01-01 18:16:02,<NA>,Upendra,Mishra,upendra.sir@gmail.com,+919036084550,<NA>,<NA>,<NA>,...,Other,Web Enquiry,Karma Sunshine Village,Timeshare Booking Request,India,<NA>,false,true,false,false
4717719,zcrm_3584690000475135045,2024-01-01 18:16:37,<NA>,Mehul,Prajapati,mehul.m111985@gmail.com,+919714713689,<NA>,<NA>,<NA>,...,Karma Experience IN,Facebook Ads,General,IND | FB MF | Lead captured,<NA>,<NA>,false,false,false,false
4717720,zcrm_3584690000475136005,2024-01-01 18:17:13,<NA>,swati,agarwala,cswatiadv@gmail.com,+919733055636,<NA>,<NA>,<NA>,...,Karma Experience IN,Facebook Ads,Karma Martam,IND | FB MF | Martam,<NA>,<NA>,false,false,false,false
4717721,zcrm_3584690000475138034,2024-01-01 18:48:36,<NA>,SUMON,SAHOO,sumonsahoo@gmail.com,+918910484814,<NA>,<NA>,<NA>,...,Karma Experience IN,Facebook Ads,Karma Martam,IND | FB MF | Martam,<NA>,<NA>,false,false,false,false
4717722,zcrm_3584690000475138069,2024-01-01 18:52:24,<NA>,Rohit,Kadam,rohit0918.rk@gmail.com,+919819185446,<NA>,<NA>,<NA>,...,Karma Experience IN,Facebook Ads,Royal Palms,IND | FB AF | KRP,<NA>,<NA>,false,false,false,false

In [45]:
zoho_filter = fil.custom(df)
zoho_df = df.loc[zoho_filter].copy() # menggunakan copy untuk menghindari setting copy warning
zoho_df.reset_index(drop=True, inplace=True)
count_filter_awal = zoho_df.shape[0]

# zoho_df.to_excel(r'C:\Users\fajar\Documents\Python\Data\test_leads.xlsx', index=False)
# mengisi kolom <NA> dengan value string 'empty' supaya mudah mengecek data member dan booking dengan isin
zoho_df

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Lead Sub-Brand,Lead Source,Lead Locations,Lead Source Description,Lead Regions,Lead Status,Email Opt Out,Opt In,Do Not Contact,Do Not Mail
0,zcrm_3584690000006633162,2019-04-02 15:15:36,2013-01-12,Ashok P Shah,<NA>,goldstar@vsnl.net,+912602262960,+912602263262,<NA>,<NA>,...,Other India DB,Club IN,<NA>,CORPORATE DATA - Batch 14,India,<NA>,false,false,false,false
1,zcrm_3584690000006633179,2019-04-02 15:15:36,2008-01-07,Ray Napier,<NA>,raymundo@asianetindia.com,+914712474162,+914712474163,<NA>,<NA>,...,Other India DB,Club IN,<NA>,TRIVANDRUM CLUB,India,<NA>,false,false,false,false
2,zcrm_3584690000006633200,2019-04-02 15:15:36,2012-01-01,Kiran C G,<NA>,rayskg@gmail.com,+918041833804,+919900563327,<NA>,<NA>,...,Other India DB,Club IN,<NA>,YOLIN LEISURE CLUB INTERNATIONAL (BITS CLUB),India,<NA>,false,false,false,false
3,zcrm_3584690000006633383,2019-04-02 15:15:39,2013-09-16,Vivek Razdan,<NA>,razdanv@indiatimes.com,+919810267692,+919871115508,<NA>,<NA>,...,Other India DB,Club IN,<NA>,SARVA PRIYA CLUB,India,<NA>,false,false,false,false
4,zcrm_3584690000006633416,2019-04-02 15:15:39,2010-08-23,Khan Razi,<NA>,razi_khan96@yahoo.com,+919830231882,+919831132559,<NA>,<NA>,...,Other India DB,Club IN,<NA>,CALCUTTA CRICKET AND FOOTBALL CLUB,India,<NA>,false,false,false,false
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
987970,zcrm_3584690000022290728,2019-04-03 19:05:28,2000-01-01,Ravindra Paranjape,<NA>,<NA>,+912162220213,<NA>,<NA>,<NA>,...,Other India DB,Club IN,<NA>,STERLING,India,<NA>,false,false,false,false
987971,zcrm_3584690000022290735,2019-04-03 19:05:28,2015-06-15,Pawaskar Alok,Suresh,<NA>,+912162233144,<NA>,<NA>,<NA>,...,Other India DB,Club IN,<NA>,IMA TAMILNADU - 2015,India,<NA>,false,false,false,false
987972,zcrm_3584690000022290740,2019-04-03 19:05:28,2010-01-01,Kavitha Shiva Kumar,<NA>,<NA>,+912162232729,<NA>,<NA>,<NA>,...,Other India DB,Club IN,<NA>,COUNTRY CLUB,India,<NA>,false,false,false,false
987973,zcrm_3584690000022290744,2019-04-03 19:05:28,2011-01-01,Farrokh N Cooper,<NA>,<NA>,+912162232559,<NA>,<NA>,<NA>,...,Other India DB,Club IN,<NA>,ROYAL WESTERN TURF CLUB,India,<NA>,false,false,false,false
987974,zcrm_3584690000022290746,2019-04-03 19:05:28,2000-01-01,Jagdish Manikrao Sasane,<NA>,<NA>,+912162232266,<NA>,<NA>,<NA>,...,Other India DB,Club IN,<NA>,STERLING,India,<NA>,false,false,false,false

In [46]:
zoho_df.groupby('Lead Sub-Brand').count()

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Lead Brand,Lead Source,Lead Locations,Lead Source Description,Lead Regions,Lead Status,Email Opt Out,Opt In,Do Not Contact,Do Not Mail
Lead Sub-Brand,,,,,,,,,,,,,,,,,,,,,
Other India DB,987975,987975,987975,982339,112119,74057,984829,53586,15471,24266,...,987975,987975,0,987975,987975,0,987975,987975,987975,987975

In [47]:
filename = 'Other India DB-Club IN'
zoho_df.to_excel(r'C:\Users\fajar\Documents\Python\Data\Zoho CRM\clean data\delete\All CRM Project\10 Januari\\'+filename+'.xlsx', index=False)

zoho_df = zoho_df[['Record Id']]
zoho_df['Test'] = True
zoho_df

C:\Users\fajar\AppData\Local\Temp\ipykernel_8932\2335553423.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zoho_df['Test'] = True

                       Record Id  Test
0       zcrm_3584690000006633162  True
1       zcrm_3584690000006633179  True
2       zcrm_3584690000006633200  True
3       zcrm_3584690000006633383  True
4       zcrm_3584690000006633416  True
...                          ...   ...
987970  zcrm_3584690000022290728  True
987971  zcrm_3584690000022290735  True
987972  zcrm_3584690000022290740  True
987973  zcrm_3584690000022290744  True
987974  zcrm_3584690000022290746  True

[987975 rows x 2 columns]

In [48]:
if zoho_df.shape[0]>30000:
    location = r'C:\Users\fajar\Documents\Python\Data\Zoho CRM\clean data\delete\All CRM Project\10 Januari\split'

    row_split = 30000
    file_name = filename
    file_type = 'csv'

    m.split_file(zoho_df, row_split, file_name, file_type, location)

else:
    zoho_df.to_csv(r'C:\Users\fajar\Documents\Python\Data\Zoho CRM\clean data\delete\All CRM Project\10 Januari\\'+filename+'.csv', index=False)