In [10]:
import pandas as pd


%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [11]:
path = r'C:\Users\fajar\Documents\Python\Data\Zoho CRM\test.xlsx'
zoho_df = pd.read_excel(path, sheet_name='Sheet1')

zoho_df.reset_index(drop=True, inplace=True)
count_filter_awal = zoho_df.shape[0]

# mengisi kolom <NA> dengan value string 'empty' supaya mudah mengecek data member dan booking dengan isin
zoho_df.fillna('empty', inplace=True)
zoho_df

                  Email     Phone Mobile
0           a@gmail.com        12  empty
1        jaya@yahoo.com   5564879  empty
2  brick@rocketmail.com  15616561  empty
3       rolin@yahoo.com   9884913  empty

In [12]:
path = r'C:\Users\fajar\Documents\Python\Data\Zoho CRM\test.xlsx'
df_lsq = pd.read_excel(path, sheet_name='Sheet2')
df_lsq

                  Email     Phone  Mobile
0     diandra@gmail.com     88984     NaN
1        bobo@gmail.com    123333     NaN
2  lulu@porteegoods.com     94654     NaN
3     dulanan@yahoo.com   5564879     NaN
4  brick@rocketmail.com  15616561     NaN

# ====================== Awal Filter Umum ======================

In [13]:
zoho_df.loc[zoho_df['Phone'].isin(df_lsq['Phone']), 'Same Value Find'] = 'LSQ-Phone'
zoho_df.loc[zoho_df['Phone'].isin(df_lsq['Mobile']), 'Same Value Find'] = 'LSQ-Mobile'
zoho_df.loc[zoho_df['Mobile'].isin(df_lsq['Phone']), 'Same Value Find'] = 'LSQ-Phone' 
zoho_df.loc[zoho_df['Mobile'].isin(df_lsq['Mobile']), 'Same Value Find'] = 'LSQ-Mobile'
zoho_df.loc[zoho_df['Email'].isin(df_lsq['Email']), 'Same Value Find'] = 'LSQ-Email'

zoho_df.replace('empty', '', inplace=True)
zoho_df.to_csv(r'C:\Users\fajar\Documents\Python\Data\Zoho CRM\test-dedup.csv', index=False)
# zoho_df.to_excel(r'C:\Users\fajar\Documents\Python\Data\booking-member-dedup.xlsx', index=False)

#zoho_df.loc[zoho_df['Same Value Find'] == 'Booking-Phone1']