In [1]:
# import modul yang lokasinya berada di parent directory

import sys
sys.path.append('../')

# importing
import main_module as m

import pandas as pd
import re
import numpy as np

from functools import reduce

%load_ext autoreload
%autoreload 2

dir_path = r'C:\Users\fajar\Documents\Python\Data\Zoho_Backup'
file_name = '\Leads_'

cols = ['Record Id',	
'Created Time',
'Created Date',	
'First Name',	
'Last Name',	
'Email',	
'Phone',	
'Mobile',	
'Birthdate',	
'Year of Birth',
'Street',	
'Street2',	
'City',	
'State',	
'Country',	
'Departure Date',	
'Arrival Date',	
'Card Type',	
'Marital Status',	
'Lead Brand',	
'Lead Sub-Brand',	
'Lead Source',	
'Lead Locations',	
'Lead Source Description',	
'Lead Regions',
'Lead Status',
'Email Opt Out',	
'Opt In']

In [2]:
zoho_df = m.load_data_multiple(dir_path, file_name, cols)
count_data_awal = zoho_df.shape[0]
zoho_df = zoho_df.reindex(columns=cols)

In [3]:
# define data member dan booking yang ingin dijadikan acuan

booking_path = r'G:\.shortcut-targets-by-id\0B_d3smBjzo04eXpvS1NXTWF2RVE\_BOOKING\Booking By Year\FlyBuy Booking Data (BGAU & BGID & KE).xlsx'
df_booking = pd.read_excel(booking_path, dtype='string', sheet_name='BOOKING_BGAU_BGID_KE')
df_booking

,Email,Phone1,Mobile,Name,Program Name,Lead Brand,Lead Source Description,Year of Booking,Unnamed: 8,Date,Time
0,iain@ercc.co.nz,<NA>,<NA>,Mr/s. Ian Dickson & Alison Dickson,BGAU,Timeshare Marketing,Booking,<NA>,<NA>,<NA>,<NA>
1,johansugiarto@yahoo.com,<NA>,<NA>,Mr/s. Johan Sugiharto & Olga Gita Surya,BGAU,Timeshare Marketing,Booking,<NA>,<NA>,<NA>,<NA>
2,tomekmarzec@gmail.com,<NA>,<NA>,<NA>,<NA>,Timeshare Marketing,Booking,<NA>,<NA>,<NA>,<NA>
3,user469132@aol.com,<NA>,<NA>,Mr/s. Ichiro Tsutsui & Sachiko Tsutsui,BGAU,Timeshare Marketing,Booking,<NA>,<NA>,<NA>,<NA>
4,0084manabu@gmail.com,6281293396320,471594348,"OHASHI MANABU, -",Karma Experience,Timeshare Marketing,Booking,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...
87492,ronaldradian@gmail.com,62817200746,<NA>,Ronald Radian Renato & Depi Monica Mei Pratiwi...,CL SALAK JCC,Timeshare Marketing,<NA>,<NA>,<NA>,<NA>,<NA>
87493,janikaandriko@gmail.com,6281290343391,<NA>,Andriko Janika & Roza Ismora,CL SALAK JCC,Timeshare Marketing,<NA>,<NA>,<NA>,<NA>,<NA>
87494,blessingphoto.story@gmail.com,6282213528475,<NA>,Heru Setiawan & Yuni Mustiawati,CL SALAK JCC,Timeshare Marketing,<NA>,<NA>,<NA>,<NA>,<NA>
87495,Sicilianara@gmail.com,6285701014014,<NA>,Bobby Pratama & Manara Sicilia Rajagukguk,CL SALAK JCC,Timeshare Marketing,<NA>,<NA>,<NA>,<NA>,<NA>
87496,clarakanama@gmail.com,32496740832,<NA>,Moutikila Kanama Clarisse & Necipoglu Dilhan,KE2 Redeem Western,Timeshare Marketing,<NA>,2023-02-15 00:00:00,<NA>,<NA>,<NA>

In [4]:
zoho_df.fillna('empty', inplace=True)
zoho_df.reset_index(drop=True, inplace=True)
zoho_df

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Marital Status,Lead Brand,Lead Sub-Brand,Lead Source,Lead Locations,Lead Source Description,Lead Regions,Lead Status,Email Opt Out,Opt In
0,zcrm_3584690000000404058,2019-01-07 15:08:38,2019-01-06,Nicholas,Wood,1230woodnicholas@gmail.com,61438600845,empty,empty,empty,...,empty,Timeshare Marketing,Other Bali DB,Wifi,Purple Wifi,empty,SEAP,New Lead,false,false
1,zcrm_3584690000000404059,2019-01-07 15:08:38,2019-01-06,Liao,Yuan,158066546@qq.com,8618718399923,empty,empty,empty,...,empty,Timeshare Marketing,Other Bali DB,Wifi,Purple Wifi,empty,Other,New Lead,false,false
2,zcrm_3584690000000404060,2019-01-07 15:08:38,2019-01-06,Vedanta,Abhiyoga,abhiyoga.vedanta@gmail.com,6282146524550,empty,2000-07-05,2000,...,Pelajar,Timeshare Marketing,Other Bali DB,Wifi,Purple Wifi,empty,SEAP,New Lead,false,false
3,zcrm_3584690000000404065,2019-01-07 15:08:38,2019-01-06,Aidai,Atakanova,aidai.nurbek@gmail.com,996779641590,empty,1997-02-05,1997,...,Single,Timeshare Marketing,Other Bali DB,Wifi,Purple Wifi,empty,UK/Europe,New Lead,false,false
4,zcrm_3584690000000404068,2019-01-07 15:08:38,2019-01-06,Ardra,Ardra,aliefardraqariru@gmail.com,+6282139300818,+6282139300818,2005-01-20,2005,...,OTHER,Timeshare Marketing,Other Bali DB,Wifi,Purple Wifi,WIFI USER ID 13494142,SEAP,New Lead,false,false
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4619339,zcrm_3584690000428479030,2023-02-13 15:39:01,empty,Tri,Utami,three.utami31@gmail.com,6281282995944,empty,empty,empty,...,empty,Karma Resorts,Other,Past Guests,"Karma Salak, Bogor",Viewpoint,empty,empty,false,true
4619340,zcrm_3584690000428479058,2023-02-13 15:39:57,empty,Dipesh,Shah,dips19422000@yahoo.co.in,919820331136,919820051718,empty,empty,...,empty,Karma Resorts,Other,Past Guests,Karma Royal Monterio,Viewpoint,empty,empty,false,true
4619341,zcrm_3584690000428479082,2023-02-13 15:41:04,empty,Sugiarti,-,iis248sugie@gmail.com,6285710008624,empty,empty,empty,...,empty,Karma Resorts,Other,Past Guests,"Karma Salak, Bogor",Viewpoint,empty,empty,false,true
4619342,zcrm_3584690000428479100,2023-02-13 15:41:45,empty,N Nithinchandra,Kini,nithinkini@hotmail.com,919900239618,918310547826,empty,empty,...,empty,Karma Resorts,Other,Past Guests,Karma Royal Palms,Viewpoint,empty,empty,false,true
4619343,zcrm_3584690000428479124,2023-02-13 15:41:49,empty,Vivek,Patil,gapatilhtc@gmail.com,918600603419,empty,empty,empty,...,empty,Karma Resorts,Other,Past Guests,Karma Royal Palms,Viewpoint,empty,empty,false,true

In [5]:
# hapus nomor yang memiliki 6 digit (mengganti dengan value empty) tapi depannya 62

zoho_df.loc[
    (zoho_df['Mobile'].str.len() == 6) & 
    (zoho_df['Mobile'].str[:2] == '62'), 
    'Mobile'
] = 'empty'

zoho_df.loc[
    (zoho_df['Phone'].str.len() == 6) & 
    (zoho_df['Phone'].str[:2] == '62'), 
    'Phone'
] = 'empty'

In [6]:
# membersihkan format phone number dan email

m.clean_number(zoho_df, 'Phone')
m.clean_number(zoho_df, 'Mobile')
m.replace_not_valid_to_empty(zoho_df, 'Phone')
m.replace_not_valid_to_empty(zoho_df, 'Mobile')
zoho_df['Email'] = m.lowercase(zoho_df, 'Email')
m.clean_space(zoho_df, 'Email')

count_deleted_wrong_fromat_zoho = m.delete_email_wrong_format(zoho_df, 'Email')
count_after_deleted_wrong_format_zoho = zoho_df.shape[0]

m.clean_number(df_booking, 'Phone1')
m.clean_number(df_booking, 'Mobile')
df_booking['Email'] = m.lowercase(df_booking, 'Email')
m.clean_space(df_booking, 'Email')

# syntax ini harus dimatikan atau diganti deleted email zoho saja agar jumlah row di data booking tidak berkurang (karena ada baris yang terhapus karena format email salah)
count_deleted_wrong_fromat_zoho = m.delete_email_wrong_format(zoho_df, 'Email')
count_after_deleted_wrong_format_zoho = zoho_df.shape[0]

df_booking

,Email,Phone1,Mobile,Name,Program Name,Lead Brand,Lead Source Description,Year of Booking,Unnamed: 8,Date,Time
0,iain@ercc.co.nz,<NA>,<NA>,Mr/s. Ian Dickson & Alison Dickson,BGAU,Timeshare Marketing,Booking,<NA>,<NA>,<NA>,<NA>
1,johansugiarto@yahoo.com,<NA>,<NA>,Mr/s. Johan Sugiharto & Olga Gita Surya,BGAU,Timeshare Marketing,Booking,<NA>,<NA>,<NA>,<NA>
2,tomekmarzec@gmail.com,<NA>,<NA>,<NA>,<NA>,Timeshare Marketing,Booking,<NA>,<NA>,<NA>,<NA>
3,user469132@aol.com,<NA>,<NA>,Mr/s. Ichiro Tsutsui & Sachiko Tsutsui,BGAU,Timeshare Marketing,Booking,<NA>,<NA>,<NA>,<NA>
4,0084manabu@gmail.com,6281293396320,471594348,"OHASHI MANABU, -",Karma Experience,Timeshare Marketing,Booking,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...
87492,ronaldradian@gmail.com,62817200746,<NA>,Ronald Radian Renato & Depi Monica Mei Pratiwi...,CL SALAK JCC,Timeshare Marketing,<NA>,<NA>,<NA>,<NA>,<NA>
87493,janikaandriko@gmail.com,6281290343391,<NA>,Andriko Janika & Roza Ismora,CL SALAK JCC,Timeshare Marketing,<NA>,<NA>,<NA>,<NA>,<NA>
87494,blessingphoto.story@gmail.com,6282213528475,<NA>,Heru Setiawan & Yuni Mustiawati,CL SALAK JCC,Timeshare Marketing,<NA>,<NA>,<NA>,<NA>,<NA>
87495,sicilianara@gmail.com,6285701014014,<NA>,Bobby Pratama & Manara Sicilia Rajagukguk,CL SALAK JCC,Timeshare Marketing,<NA>,<NA>,<NA>,<NA>,<NA>
87496,clarakanama@gmail.com,32496740832,<NA>,Moutikila Kanama Clarisse & Necipoglu Dilhan,KE2 Redeem Western,Timeshare Marketing,<NA>,2023-02-15 00:00:00,<NA>,<NA>,<NA>

In [7]:
count_zoho_in_booking_phone = zoho_df.loc[
    (zoho_df['Email'].isin(df_booking['Email'])) &
    (zoho_df['Phone'] != 'empty') & 
    (~zoho_df['Phone'].str.contains('$00000', regex=True)) &
    (zoho_df['Phone'].str.len() < 15) &
    (zoho_df['Phone'].str.len() > 5)
].shape[0]

zoho_in_booking_phone = zoho_df.loc[
    (zoho_df['Email'].isin(df_booking['Email'])) &
    (zoho_df['Phone'] != 'empty') &
    (~zoho_df['Phone'].str.contains('$00000', regex=True)) & 
    (zoho_df['Phone'].str.len() < 15) &
    (zoho_df['Phone'].str.len() > 5)
].copy()

count_zoho_in_booking_mobile = zoho_df.loc[
    (zoho_df['Email'].isin(df_booking['Email'])) &
    (zoho_df['Mobile'] != 'empty') &
    (~zoho_df['Mobile'].str.contains('$00000', regex=True)) & 
    (zoho_df['Mobile'].str.len() < 15) &
    (zoho_df['Mobile'].str.len() > 5)
].shape[0]

zoho_in_booking_mobile = zoho_df.loc[
    (zoho_df['Email'].isin(df_booking['Email'])) &
    (zoho_df['Mobile'] != 'empty') &
    (~zoho_df['Mobile'].str.contains('$00000', regex=True)) & 
    (zoho_df['Mobile'].str.len() < 15) &
    (zoho_df['Mobile'].str.len() > 5)
].copy()

In [8]:
print(count_zoho_in_booking_phone)
print(count_zoho_in_booking_mobile)

zoho_in_booking_mobile

77959
26990

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Marital Status,Lead Brand,Lead Sub-Brand,Lead Source,Lead Locations,Lead Source Description,Lead Regions,Lead Status,Email Opt Out,Opt In
295,zcrm_3584690000000412019,2019-01-08 11:36:26,empty,Marthen Yacobus,Siahainenia,nyongq@ymail.com,628113656669,6281233506669,1973-07-04,1973,...,Married,Timeshare Marketing,BGID,Newsletter,empty,empty,SEAP,empty,false,false
544,zcrm_3584690000000450067,2019-01-08 16:38:18,empty,Andy,Hartono,andytjeng_bkr@yahoo.co.id,62315933726,62812352936,1970-02-15,1970,...,empty,Odyssey,Odyssey,Member,Karma Bavaria,empty,SEAP,New Lead,false,false
1155,zcrm_3584690000000457795,2019-01-09 11:10:59,empty,Claire,Lovering,clairelovering@gmail.com,61406034730,61406034730,empty,empty,...,empty,Karma Resorts,Other,Past Guests,Karma Rottnest;Karma Royal Sanur,empty,SEAP,New Lead,true,false
1821,zcrm_3584690000000459738,2019-01-09 11:11:11,empty,Toni,"Rodney, Hays",herbets@benet.net.au,61407772135,61407772135,empty,2000,...,Defacto,Karma Resorts,Other,Past Guests,Karma Rottnest,empty,SEAP,New Lead,true,false
2283,zcrm_3584690000000460654,2019-01-09 11:11:16,empty,Julian,Murphy,julian.murphy@latrobe.edu.au,61818889313,61434072024,1973-09-17,1973,...,Married,Karma Resorts,Other,Past Guests,Karma Kandara,empty,SEAP,Not Sold,false,false
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4619217,zcrm_3584690000428470286,2023-02-13 15:37:36,empty,Ricky,Hastomo,rickyhastomo@hotmail.com,6282211751116,6282211751116,empty,empty,...,empty,Karma Resorts,Other,Past Guests,"Karma Salak, Bogor",Viewpoint,empty,empty,false,true
4619226,zcrm_3584690000428470484,2023-02-13 15:40:51,empty,Winny,Eveline Rawung.Sh,winnyeveline@gmail.com,628121151060,628121151060,empty,empty,...,empty,Karma Resorts,Other,Past Guests,"Karma Salak, Bogor",Viewpoint,empty,empty,false,true
4619229,zcrm_3584690000428470560,2023-02-13 15:41:59,empty,Kiki Marcello,Siregar,jagoereteng@yahoo.com,6281809047979,6281809047979,empty,empty,...,empty,Karma Resorts,Other,Past Guests,"Karma Salak, Bogor",Viewpoint,empty,empty,false,true
4619246,zcrm_3584690000428471305,2023-02-13 15:40:58,empty,Aditya Prima,Nugraha,aditya.piovan@gmail.com,6281994719801,6281994719801,empty,empty,...,empty,Karma Resorts,Other,Past Guests,"Karma Salak, Bogor",Viewpoint,empty,empty,false,true
4619247,zcrm_3584690000428471329,2023-02-13 15:41:32,empty,Amelia,Anggraeni,amelia2407@yahoo.com,6282299705094,6282299705094,empty,empty,...,empty,Karma Resorts,Other,Past Guests,"Karma Salak, Bogor",Viewpoint,empty,empty,false,true

In [9]:
#zoho_in_booking_phone.loc[zoho_in_booking_phone['Phone'].str.contains('empty')]
#zoho_in_booking_phone.groupby('Email').count()

# mengambil data phone zoho dan menghapus duplikat phone agar dapat satu data phone saja

zoho_in_booking_phone.drop_duplicates(subset=['Email'], inplace=True)
zoho_in_booking_phone.reset_index(drop=True, inplace=True)
zoho_in_booking_phone

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Marital Status,Lead Brand,Lead Sub-Brand,Lead Source,Lead Locations,Lead Source Description,Lead Regions,Lead Status,Email Opt Out,Opt In
0,zcrm_3584690000000412019,2019-01-08 11:36:26,empty,Marthen Yacobus,Siahainenia,nyongq@ymail.com,628113656669,6281233506669,1973-07-04,1973,...,Married,Timeshare Marketing,BGID,Newsletter,empty,empty,SEAP,empty,false,false
1,zcrm_3584690000000420013,2019-01-08 06:49:22,empty,Toar,Suawah,toarsuawah@gmail.com,628114305971,empty,empty,empty,...,Married,Timeshare Marketing,BGID,Newsletter,empty,empty,SEAP,empty,false,false
2,zcrm_3584690000000421023,2019-01-08 11:37:13,empty,Yanti,Panjaitan,uliyantipanjaitan@gmail.com,628119882448,empty,2000-01-01,2000,...,Married,Timeshare Marketing,BGID,Newsletter,empty,empty,SEAP,empty,false,false
3,zcrm_3584690000000422025,2019-01-07 17:54:08,empty,Siti,Jubaidah,jubaidahsiti@gmail.com,6281584895930,empty,1977-01-01,1977,...,Married,Timeshare Marketing,BGID,Newsletter,empty,empty,SEAP,empty,false,false
4,zcrm_3584690000000422044,2019-01-08 13:07:39,empty,Esther,Oktafina Wolley,fina.wolley@gmail.com,6281218556393,empty,1984-01-01,1984,...,Married,Timeshare Marketing,BGID,Newsletter,empty,empty,SEAP,empty,false,false
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38521,zcrm_3584690000428360796,2023-02-13 10:31:47,empty,Muhammad,Fadli,iam.mfadly@gmail.com,6281294569632,6281294569632,1987-09-19,1987,...,Married,Timeshare Marketing,Karma Experience,Facebook Ads,General,KEID | FB Ads | w2oct22 | Karma Salak Safari T...,SEAP,Hot Prospect,false,false
38522,zcrm_3584690000428377370,2023-02-13 06:03:58,empty,Adrian,Rahman,ade.adrian.rahman@gmail.com,6285693890636,6285693890636,1989-09-19,1989,...,Married,Timeshare Marketing,BGID,Facebook Ads,Hotel Partner,ID | FB LP | Sense Seminyak Combo Deal,SEAP,Hot Prospect,false,false
38523,zcrm_3584690000428437167,2023-02-13 17:08:14,empty,Desty,Sumampow,destysumampow81@gmail.com,6285298124128,6285298124128,1981-11-02,1981,...,Married,Timeshare Marketing,BGID,Facebook Ads,Hotel Partner,ID | FB LP | Sense Seminyak Combo Deal,SEAP,Hot Prospect,false,false
38524,zcrm_3584690000428462309,2023-02-13 15:39:43,empty,Nurainy,-,didy.andro@yahoo.com,6281312348752,empty,empty,empty,...,empty,Karma Resorts,Other,Past Guests,"Karma Salak, Bogor",Viewpoint,empty,empty,false,true
38525,zcrm_3584690000428471127,2023-02-13 15:36:28,empty,Nour,Widiatmoko,widy.wede@gmail.com,6281282121332,empty,empty,empty,...,empty,Karma Resorts,Other,Past Guests,"Karma Salak, Bogor",Viewpoint,empty,empty,false,true

In [10]:
#zoho_in_booking_mobile.loc[zoho_in_booking_mobile['Phone'].str.contains('empty')]
#zoho_in_booking_mobile.groupby('Email').count()

# mengambil data mobile zoho dan menghapus duplikat phone agar dapat satu data mobile saja

zoho_in_booking_mobile.drop_duplicates(subset=['Email'], inplace=True)
zoho_in_booking_mobile.reset_index(drop=True, inplace=True)
zoho_in_booking_mobile

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Marital Status,Lead Brand,Lead Sub-Brand,Lead Source,Lead Locations,Lead Source Description,Lead Regions,Lead Status,Email Opt Out,Opt In
0,zcrm_3584690000000412019,2019-01-08 11:36:26,empty,Marthen Yacobus,Siahainenia,nyongq@ymail.com,628113656669,6281233506669,1973-07-04,1973,...,Married,Timeshare Marketing,BGID,Newsletter,empty,empty,SEAP,empty,false,false
1,zcrm_3584690000000450067,2019-01-08 16:38:18,empty,Andy,Hartono,andytjeng_bkr@yahoo.co.id,62315933726,62812352936,1970-02-15,1970,...,empty,Odyssey,Odyssey,Member,Karma Bavaria,empty,SEAP,New Lead,false,false
2,zcrm_3584690000000457795,2019-01-09 11:10:59,empty,Claire,Lovering,clairelovering@gmail.com,61406034730,61406034730,empty,empty,...,empty,Karma Resorts,Other,Past Guests,Karma Rottnest;Karma Royal Sanur,empty,SEAP,New Lead,true,false
3,zcrm_3584690000000459738,2019-01-09 11:11:11,empty,Toni,"Rodney, Hays",herbets@benet.net.au,61407772135,61407772135,empty,2000,...,Defacto,Karma Resorts,Other,Past Guests,Karma Rottnest,empty,SEAP,New Lead,true,false
4,zcrm_3584690000000460654,2019-01-09 11:11:16,empty,Julian,Murphy,julian.murphy@latrobe.edu.au,61818889313,61434072024,1973-09-17,1973,...,Married,Karma Resorts,Other,Past Guests,Karma Kandara,empty,SEAP,Not Sold,false,false
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15513,zcrm_3584690000428377370,2023-02-13 06:03:58,empty,Adrian,Rahman,ade.adrian.rahman@gmail.com,6285693890636,6285693890636,1989-09-19,1989,...,Married,Timeshare Marketing,BGID,Facebook Ads,Hotel Partner,ID | FB LP | Sense Seminyak Combo Deal,SEAP,Hot Prospect,false,false
15514,zcrm_3584690000428419812,2023-02-13 15:41:57,empty,M. Zaki,Alfathani,z.dt.malano@gmail.com,62852274175522,6285274175522,empty,empty,...,empty,Karma Resorts,Other,Past Guests,"Karma Salak, Bogor",Viewpoint,empty,empty,false,true
15515,zcrm_3584690000428437167,2023-02-13 17:08:14,empty,Desty,Sumampow,destysumampow81@gmail.com,6285298124128,6285298124128,1981-11-02,1981,...,Married,Timeshare Marketing,BGID,Facebook Ads,Hotel Partner,ID | FB LP | Sense Seminyak Combo Deal,SEAP,Hot Prospect,false,false
15516,zcrm_3584690000428458624,2023-02-13 15:39:29,empty,H Rismandani,-,rismandanijidan12@gmail.com,62812246844,628122468421,empty,empty,...,empty,Karma Resorts,Other,Past Guests,"Karma Salak, Bogor",Viewpoint,empty,empty,false,true
15517,zcrm_3584690000428467350,2023-02-13 15:39:37,empty,Disfian Oni Rahmad,Bukhori,disfianbukhori@gmail.com,6281389042173,6281389042173,empty,empty,...,empty,Karma Resorts,Other,Past Guests,"Karma Salak, Bogor",Viewpoint,empty,empty,false,true

In [11]:
zoho_in_booking_phone.replace('empty', '', inplace=True)
zoho_in_booking_mobile.replace('empty', '', inplace=True)

In [12]:
list_phone_zoho = zoho_in_booking_phone[['Email', 'Phone']].copy()
list_mobile_zoho = zoho_in_booking_mobile[['Email', 'Mobile']].copy()

In [13]:
list_phone_zoho.rename(columns = {'Phone':'Phone Zoho'}, inplace = True)
list_mobile_zoho.rename(columns = {'Mobile':'Mobile Zoho'}, inplace = True)

In [14]:
# join table
dfs = [df_booking, list_phone_zoho, list_mobile_zoho]
joined_df = reduce(lambda  left,right:  pd.merge(left,
                     right,
                     left_on ='Email',
                     right_on ='Email',
                     how ='left'), dfs).fillna('empty')


joined_df

,Email,Phone1,Mobile,Name,Program Name,Lead Brand,Lead Source Description,Year of Booking,Unnamed: 8,Date,Time,Phone Zoho,Mobile Zoho
0,iain@ercc.co.nz,empty,empty,Mr/s. Ian Dickson & Alison Dickson,BGAU,Timeshare Marketing,Booking,empty,empty,empty,empty,empty,empty
1,johansugiarto@yahoo.com,empty,empty,Mr/s. Johan Sugiharto & Olga Gita Surya,BGAU,Timeshare Marketing,Booking,empty,empty,empty,empty,empty,empty
2,tomekmarzec@gmail.com,empty,empty,empty,empty,Timeshare Marketing,Booking,empty,empty,empty,empty,empty,empty
3,user469132@aol.com,empty,empty,Mr/s. Ichiro Tsutsui & Sachiko Tsutsui,BGAU,Timeshare Marketing,Booking,empty,empty,empty,empty,empty,empty
4,0084manabu@gmail.com,6281293396320,471594348,"OHASHI MANABU, -",Karma Experience,Timeshare Marketing,Booking,empty,empty,empty,empty,471594348,81293396320
...,...,...,...,...,...,...,...,...,...,...,...,...,...
87492,ronaldradian@gmail.com,62817200746,empty,Ronald Radian Renato & Depi Monica Mei Pratiwi...,CL SALAK JCC,Timeshare Marketing,empty,empty,empty,empty,empty,empty,empty
87493,janikaandriko@gmail.com,6281290343391,empty,Andriko Janika & Roza Ismora,CL SALAK JCC,Timeshare Marketing,empty,empty,empty,empty,empty,6281290343391,6281290343391
87494,blessingphoto.story@gmail.com,6282213528475,empty,Heru Setiawan & Yuni Mustiawati,CL SALAK JCC,Timeshare Marketing,empty,empty,empty,empty,empty,6282213528475,6282213528475
87495,sicilianara@gmail.com,6285701014014,empty,Bobby Pratama & Manara Sicilia Rajagukguk,CL SALAK JCC,Timeshare Marketing,empty,empty,empty,empty,empty,empty,empty
87496,clarakanama@gmail.com,32496740832,empty,Moutikila Kanama Clarisse & Necipoglu Dilhan,KE2 Redeem Western,Timeshare Marketing,empty,2023-02-15 00:00:00,empty,empty,empty,32484716850,32496740832

In [15]:
joined_df.columns

Index(['Email', 'Phone1', 'Mobile', 'Name', 'Program Name', 'Lead Brand',
       'Lead Source Description', 'Year of Booking', 'Unnamed: 8', 'Date',
       'Time', 'Phone Zoho', 'Mobile Zoho'],
      dtype='object')

In [16]:
idx = 2
new_col = ''  # can be a list, a Series, an array or a scalar   
joined_df.insert(loc=idx, column='Phone Toni', value=joined_df['Phone1'])

idx = 3
new_col = 'Not Change'  # can be a list, a Series, an array or a scalar   
joined_df.insert(loc=idx, column='Status Phone', value=new_col)

idx = 5
new_col = ''  # can be a list, a Series, an array or a scalar   
joined_df.insert(loc=idx, column='Mobile Toni', value=joined_df['Mobile'])

idx = 6
new_col = 'Not Change'  # can be a list, a Series, an array or a scalar   
joined_df.insert(loc=idx, column='Status Mobile', value=new_col)

joined_df

,Email,Phone1,Phone Toni,Status Phone,Mobile,Mobile Toni,Status Mobile,Name,Program Name,Lead Brand,Lead Source Description,Year of Booking,Unnamed: 8,Date,Time,Phone Zoho,Mobile Zoho
0,iain@ercc.co.nz,empty,empty,Not Change,empty,empty,Not Change,Mr/s. Ian Dickson & Alison Dickson,BGAU,Timeshare Marketing,Booking,empty,empty,empty,empty,empty,empty
1,johansugiarto@yahoo.com,empty,empty,Not Change,empty,empty,Not Change,Mr/s. Johan Sugiharto & Olga Gita Surya,BGAU,Timeshare Marketing,Booking,empty,empty,empty,empty,empty,empty
2,tomekmarzec@gmail.com,empty,empty,Not Change,empty,empty,Not Change,empty,empty,Timeshare Marketing,Booking,empty,empty,empty,empty,empty,empty
3,user469132@aol.com,empty,empty,Not Change,empty,empty,Not Change,Mr/s. Ichiro Tsutsui & Sachiko Tsutsui,BGAU,Timeshare Marketing,Booking,empty,empty,empty,empty,empty,empty
4,0084manabu@gmail.com,6281293396320,6281293396320,Not Change,471594348,471594348,Not Change,"OHASHI MANABU, -",Karma Experience,Timeshare Marketing,Booking,empty,empty,empty,empty,471594348,81293396320
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87492,ronaldradian@gmail.com,62817200746,62817200746,Not Change,empty,empty,Not Change,Ronald Radian Renato & Depi Monica Mei Pratiwi...,CL SALAK JCC,Timeshare Marketing,empty,empty,empty,empty,empty,empty,empty
87493,janikaandriko@gmail.com,6281290343391,6281290343391,Not Change,empty,empty,Not Change,Andriko Janika & Roza Ismora,CL SALAK JCC,Timeshare Marketing,empty,empty,empty,empty,empty,6281290343391,6281290343391
87494,blessingphoto.story@gmail.com,6282213528475,6282213528475,Not Change,empty,empty,Not Change,Heru Setiawan & Yuni Mustiawati,CL SALAK JCC,Timeshare Marketing,empty,empty,empty,empty,empty,6282213528475,6282213528475
87495,sicilianara@gmail.com,6285701014014,6285701014014,Not Change,empty,empty,Not Change,Bobby Pratama & Manara Sicilia Rajagukguk,CL SALAK JCC,Timeshare Marketing,empty,empty,empty,empty,empty,empty,empty
87496,clarakanama@gmail.com,32496740832,32496740832,Not Change,empty,empty,Not Change,Moutikila Kanama Clarisse & Necipoglu Dilhan,KE2 Redeem Western,Timeshare Marketing,empty,2023-02-15 00:00:00,empty,empty,empty,32484716850,32496740832

In [17]:
joined_df.loc[
    ((joined_df['Phone1'].str.contains('$00000', regex=True)) |
    (joined_df['Phone1'].str.contains('empty')) |
    (joined_df['Phone1'].str.len() < 6 )) &
    (~joined_df['Phone Zoho'].str.contains('empty')),
    'Status Phone'
] =  'Replace Dengan Phone Zoho'

joined_df.loc[
    ((joined_df['Phone1'].str.contains('$00000', regex=True)) |
    (joined_df['Phone1'].str.contains('empty')) |
    (joined_df['Phone1'].str.len() < 6 )) &
    (~joined_df['Phone Zoho'].str.contains('empty')),
    'Phone Toni'
] =  joined_df['Phone Zoho']

joined_df.loc[
    ((joined_df['Mobile'].str.contains('$00000', regex=True)) |
    (joined_df['Mobile'].str.contains('empty')) |
    (joined_df['Mobile'].str.len() < 6 )) &
    (~joined_df['Mobile Zoho'].str.contains('empty')),
    'Status Mobile'
] =  'Replace Dengan Mobile Zoho'

joined_df.loc[
    ((joined_df['Mobile'].str.contains('$00000', regex=True)) |
    (joined_df['Mobile'].str.contains('empty')) |
    (joined_df['Mobile'].str.len() < 6 )) &
    (~joined_df['Mobile Zoho'].str.contains('empty')),
    'Mobile Toni'
] =  joined_df['Mobile Zoho']

#'Replace Phone Booking Dengan Phone Zoho'

joined_df.loc[
    ((joined_df['Phone1'].str.contains('$00000', regex=True)) |
    (joined_df['Phone1'].str.contains('empty')) |
    (joined_df['Phone1'].str.len() < 6 )) &
    (~joined_df['Phone Zoho'].str.contains('empty'))
]

,Email,Phone1,Phone Toni,Status Phone,Mobile,Mobile Toni,Status Mobile,Name,Program Name,Lead Brand,Lead Source Description,Year of Booking,Unnamed: 8,Date,Time,Phone Zoho,Mobile Zoho
34,1alishawarden@gmail.com,empty,61412532570,Replace Dengan Phone Zoho,empty,empty,Not Change,Alisha Warden,BGID,Timeshare Marketing,Booking,empty,empty,empty,empty,61412532570,empty
192,a@a.com,empty,919039744033,Replace Dengan Phone Zoho,919833686533,919833686533,Not Change,empty,BGID,Timeshare Marketing,Booking,empty,empty,empty,empty,919039744033,919833686533
212,a_ikasari@yahoo.com,empty,628568738737,Replace Dengan Phone Zoho,empty,empty,Not Change,empty,BGID,Timeshare Marketing,Booking,empty,empty,empty,empty,628568738737,empty
213,a_ikasari@yahoo.com,empty,628568738737,Replace Dengan Phone Zoho,empty,empty,Not Change,empty,BGID,Timeshare Marketing,Booking,empty,empty,empty,empty,628568738737,empty
233,a6gaban@gmail.com,empty,6285109040444,Replace Dengan Phone Zoho,empty,6285109040444,Replace Dengan Mobile Zoho,SAMSUL ANAM,BGID,Timeshare Marketing,Booking,empty,empty,empty,empty,6285109040444,6285109040444
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86488,suryadi.robert@gmail.com,empty,6285890577837,Replace Dengan Phone Zoho,empty,6281513187668,Replace Dengan Mobile Zoho,Robert Suryadi & Chintrawaty Kasim,KE2 Redeem Voucher,Timeshare Marketing,empty,empty,empty,empty,empty,6285890577837,6281513187668
86680,martha.adikusuma@gmail.com,empty,628128462093,Replace Dengan Phone Zoho,empty,628128462093,Replace Dengan Mobile Zoho,Rudianto Ramli & Martha Adikusuma,BGID BCC,Timeshare Marketing,empty,empty,empty,empty,empty,628128462093,628128462093
86930,hallo.wulandari@gmail.com,empty,628113951707,Replace Dengan Phone Zoho,empty,empty,Not Change,Krisnawan Kristianto & Siti Wulandari,JKRT Drivebuy,Timeshare Marketing,empty,empty,empty,empty,empty,628113951707,empty
87279,dian.janif@gmail.com,empty,6281297441013,Replace Dengan Phone Zoho,empty,6281297441013,Replace Dengan Mobile Zoho,Dhian Kurniawan Yanip & Istiqomah Argentina,BGID BCC,Timeshare Marketing,empty,empty,empty,empty,empty,6281297441013,6281297441013
87469,jsaputri@permatabank.co.id,empty,6281905059779,Replace Dengan Phone Zoho,empty,6181905059779,Replace Dengan Mobile Zoho,Rudy Hanonto & Jany Subur Saputri Lie H,KE2 Redeem Voucher,Timeshare Marketing,empty,empty,empty,empty,empty,6281905059779,6181905059779

In [18]:
# joined_df.loc[
#     ((joined_df['Mobile'].str.contains('$00000', regex=True)) |
#     (joined_df['Mobile'].str.contains('empty')) |
#     (joined_df['Mobile'].str.len() < 6 )) &
#     (~joined_df['Mobile Zoho'].str.contains('empty'))
# ]

In [19]:
# hapus data phone yang tidak memenuh criteria

joined_df['Phone Toni'].replace('[^0-9]','', regex=True, inplace=True)
joined_df['Mobile Toni'].replace('[^0-9]','', regex=True, inplace=True)

joined_df.loc[
    joined_df['Phone Toni'].str.len() < 4, 
    'Phone Toni'
] = ''

joined_df.loc[
    joined_df['Mobile Toni'].str.len() < 4, 
    'Mobile Toni'
] = ''

In [20]:
#zoho_in_booking_phone.loc[zoho_in_booking_phone['Email'].str.contains('alvin.tisna@yahoo.com', flags=re.I, regex=True)]
#joined_df.loc[joined_df['Status Phone'] == 'Replace Dengan Phone Zoho'].sort_values('Phone1', ascending=True)
#joined_df.loc[joined_df['Status Mobile'] == 'Replace Dengan Mobile Zoho'].sort_values('Mobile', ascending=False)

# df_booking.loc[df_booking['Email'].str.contains('trinuliadi.civil89@gmail.com', flags=re.I, regex=True)]

# zoho_df.loc[zoho_df['Email'].str.contains('trinuliadi.civil89@gmail.com', flags=re.I, regex=True)]

In [21]:
# jika nomor phone dan mobile sama, hapus nomor mobile
# joined_df.loc[joined_df['Phone Toni'] == joined_df['Mobile Toni']].sort_values('Phone Toni', ascending=True)

# joined_df.loc[joined_df['Phone Toni'] == joined_df['Mobile Toni']].to_csv(r'C:\Users\fajar\Documents\Python\Data\Phone-Mobile-Same.csv', index=False)
joined_df.loc[joined_df['Phone Toni'] == joined_df['Mobile Toni'], 'Mobile Toni'] = ''

In [22]:
# joined_df.drop(['Status Phone','Status Mobile','Unnamed: 8', 'Phone Zoho', 'Mobile Zoho'], axis=1, inplace=True)
joined_df.replace('empty', '', inplace=True)
# menghapus multiple kolom dengan fungsi drop
joined_df.drop(['Status Phone','Status Mobile','Unnamed: 8', 'Phone Zoho', 'Mobile Zoho'], axis='columns', inplace=True)

joined_df.columns

Index(['Email', 'Phone1', 'Phone Toni', 'Mobile', 'Mobile Toni', 'Name',
       'Program Name', 'Lead Brand', 'Lead Source Description',
       'Year of Booking', 'Date', 'Time'],
      dtype='object')

In [23]:
#zoho_in_booking_phone.to_csv(r'C:\Users\fajar\Documents\Python\Data\zoho-in-booking-phone.csv', index=False)
#zoho_in_booking_mobile.to_csv(r'C:\Users\fajar\Documents\Python\Data\zoho-in-booking-mobile.csv', index=False)
joined_df.to_excel(r'C:\Users\fajar\Documents\Python\Data\booking-clean-toni.xlsx', index=False)

In [24]:
# joined_df.loc[(joined_df['Phone Toni'] == joined_df['Mobile Toni']) & (joined_df['Email'] == '')]

In [25]:
# path menyesuiakan, sesuiakan saja target folder atau target google drivenya
# excel_path = r'G:\My Drive\Test Data\test_booking.xlsx'

# # jika file belum pernah ada
# with pd.ExcelWriter(excel_path) as writer:
#     joined_df.to_excel(writer, sheet_name="Sheet1", index=False)  

# # jika ingin menambahkan sheets baru
# with pd.ExcelWriter(excel_path, mode="a", engine="openpyxl") as writer:
#     joined_df.to_excel(writer, sheet_name="Sheet2", index=False)  

# jika ingin replace sheet berdasarkan file yang sudah ada
# with pd.ExcelWriter(excel_path,
#     mode="a",
#     engine="openpyxl",
#     if_sheet_exists="replace") as writer:
#     joined_df.to_excel(writer, sheet_name="TONI", index=False)