In [39]:
import pandas as pd
import re
import openpyxl

import sys
sys.path.append('../')

import main_module as m

In [40]:
cols = ['First Name', 
    'Last Name',
    'Email', 
    'Phone', 
    'Mobile', 
    'City', 
    'Country', 
    'Nationality',
    'Lead Locations', 
    'Booking Status',
    'Lead Source', 
    'BookRef']

In [41]:
path = r'C:\Users\fajar\Documents\Python\Data\push-pastguest.xlsx'
df_push = pd.read_excel(path, dtype='string', usecols=cols, sheet_name='Sheet0', engine='openpyxl')
df_push.fillna('empty', inplace=True)
count_total_data = df_push.shape[0]
df_push.columns

C:\Users\fajar\AppData\Roaming\Python\Python310\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

Index(['First Name', 'Last Name', 'Email', 'Phone', 'Mobile', 'City',
       'Country', 'Nationality', 'Lead Source', 'Lead Locations',
       'Booking Status', 'BookRef'],
      dtype='object')

In [42]:
df_push

,First Name,Last Name,Email,Phone,Mobile,City,Country,Nationality,Lead Source,Lead Locations,Booking Status,BookRef
0,Sreeju,Rajan,sreeju.hin@gmail.com,+919742827704,+918971399493,BANGALORE,India,Indian,Past Guests,Karma Royal Palms,Checked-Out,2548807
1,Bhavin J,Rathod,bhvnrathod@gmail.com,+919768840833,+918286922581,MUMBAI,India,Indian,Past Guests,Karma Royal Palms,Checked-Out,2561170
2,Pullaniparambath,Satya,sheeba_satyan@yahoo.co.in,+919821217275,+919324338452,MUMBAI,India,Indian,Past Guests,"Karma Seven Lakes, Udaipur",Checked-Out,2499867
3,Ravi,Periwal,avi.hillman@gmail.com,+919864166244,empty,Assam,India,Indian,Past Guests,Karma Royal Boat Lagoon,Checked-Out,2501909
4,Yngvild,Stokke,yngvildstokke@gmail.com,+4790471288,empty,TBA,Norway,Norwegian,Past Guests,Karma Jimbaran,Checked-Out,2438647
...,...,...,...,...,...,...,...,...,...,...,...,...
305,Maria,Manescu,maria.manescu84@gmail.com,+33635289115,empty,empty,Romania,Romanian,Past Guests,Karma Borgo Di Colleoli,Checked-Out,2374248
306,Tracy,Wallace,bigtpink@hotmail.co.uk,+447730446416,empty,empty,United Kingdom,British,Past Guests,Karma Lake of Menteith,Checked-Out,2338707
307,Kiran,Kumar L,kiranf.z8888@gmail.com,+916362731044,+919632250272,BANGALORE,India,Indian,Past Guests,Karma Royal Palms,Checked-Out,2547090
308,Robert,Reeskamp,rob@ducjook.co.uk,+447597740647,empty,Netherland,Netherlands,Dutch,Past Guests,Karma Jimbaran,Checked-Out,2562360
309,Param,Shan,parthpshah@yahoo.com,+919428595284,empty,empty,India,Indian,Past Guests,Amina hotel,Checked-Out,2520254

In [43]:
path = r'C:\Users\fajar\Documents\Python\Data\Debounce\debounce_backup.csv'
df_1 = pd.read_csv(path, dtype='string')

path = r'C:\Users\fajar\Documents\Python\Data\Debounce\debounce_new_temp.csv'
df_2 = pd.read_csv(path, dtype='string')


frames = [df_1, df_2]
df_bounced = pd.concat(frames, ignore_index=True)
df_bounced

,EMAIL,RESULT,REASON,STATUS CODE,ROLE,FREE,DOMAIN,Sheet Name
0,00001111den@gmail.com,Safe to Send,Deliverable,5,No,Yes,gmail.com,All Campaign
1,007dhananjaykumbhar@gmail.com,Safe to Send,Deliverable,5,No,Yes,gmail.com,All Campaign
2,0597396@mail.ru,Safe to Send,Deliverable,5,No,Yes,mail.ru,All Campaign
3,07deepanshu@gmail.com,Safe to Send,Deliverable,5,No,Yes,gmail.com,All Campaign
4,1078049354@qq.com,Safe to Send,Deliverable,5,No,Yes,qq.com,All Campaign
...,...,...,...,...,...,...,...,...
1257412,shilpawalia888@gmail.com,Safe to Send,Deliverable,5,FALSE,TRUE,<NA>,<NA>
1257413,avi.hillman@gmail.com,Safe to Send,Deliverable,5,FALSE,TRUE,<NA>,<NA>
1257414,akdahiya31@gmail.com,Safe to Send,Deliverable,5,FALSE,TRUE,<NA>,<NA>
1257415,manishsh1707@gmail.com,Safe to Send,Deliverable,5,FALSE,TRUE,<NA>,<NA>
1257416,sharmavibha25@gmail.com,Safe to Send,Deliverable,5,FALSE,TRUE,<NA>,<NA>

In [44]:
df_bounced.drop_duplicates(subset='EMAIL', inplace=True)
df_bounced.reset_index(drop=True, inplace=True)
df_bounced

,EMAIL,RESULT,REASON,STATUS CODE,ROLE,FREE,DOMAIN,Sheet Name
0,00001111den@gmail.com,Safe to Send,Deliverable,5,No,Yes,gmail.com,All Campaign
1,007dhananjaykumbhar@gmail.com,Safe to Send,Deliverable,5,No,Yes,gmail.com,All Campaign
2,0597396@mail.ru,Safe to Send,Deliverable,5,No,Yes,mail.ru,All Campaign
3,07deepanshu@gmail.com,Safe to Send,Deliverable,5,No,Yes,gmail.com,All Campaign
4,1078049354@qq.com,Safe to Send,Deliverable,5,No,Yes,qq.com,All Campaign
...,...,...,...,...,...,...,...,...
1013713,shilpawalia888@gmail.com,Safe to Send,Deliverable,5,FALSE,TRUE,<NA>,<NA>
1013714,avi.hillman@gmail.com,Safe to Send,Deliverable,5,FALSE,TRUE,<NA>,<NA>
1013715,akdahiya31@gmail.com,Safe to Send,Deliverable,5,FALSE,TRUE,<NA>,<NA>
1013716,manishsh1707@gmail.com,Safe to Send,Deliverable,5,FALSE,TRUE,<NA>,<NA>
1013717,sharmavibha25@gmail.com,Safe to Send,Deliverable,5,FALSE,TRUE,<NA>,<NA>

In [45]:
df_push['Email'] = m.lowercase(df_push, 'Email')
m.clean_space(df_push, 'Email')

df_bounced['EMAIL'] = m.lowercase(df_bounced, 'EMAIL')
m.clean_space(df_bounced, 'EMAIL')

0                  00001111den@gmail.com
1          007dhananjaykumbhar@gmail.com
2                        0597396@mail.ru
3                  07deepanshu@gmail.com
4                      1078049354@qq.com
                       ...
1013713         shilpawalia888@gmail.com
1013714            avi.hillman@gmail.com
1013715             akdahiya31@gmail.com
1013716           manishsh1707@gmail.com
1013717          sharmavibha25@gmail.com
Name: EMAIL, Length: 1013718, dtype: string

In [46]:
df_push.loc[df_push['Email'].isin(df_bounced['EMAIL'])]

,First Name,Last Name,Email,Phone,Mobile,City,Country,Nationality,Lead Source,Lead Locations,Booking Status,BookRef
0,Sreeju,Rajan,sreeju.hin@gmail.com,+919742827704,+918971399493,BANGALORE,India,Indian,Past Guests,Karma Royal Palms,Checked-Out,2548807
1,Bhavin J,Rathod,bhvnrathod@gmail.com,+919768840833,+918286922581,MUMBAI,India,Indian,Past Guests,Karma Royal Palms,Checked-Out,2561170
2,Pullaniparambath,Satya,sheeba_satyan@yahoo.co.in,+919821217275,+919324338452,MUMBAI,India,Indian,Past Guests,"Karma Seven Lakes, Udaipur",Checked-Out,2499867
3,Ravi,Periwal,avi.hillman@gmail.com,+919864166244,empty,Assam,India,Indian,Past Guests,Karma Royal Boat Lagoon,Checked-Out,2501909
4,Yngvild,Stokke,yngvildstokke@gmail.com,+4790471288,empty,TBA,Norway,Norwegian,Past Guests,Karma Jimbaran,Checked-Out,2438647
...,...,...,...,...,...,...,...,...,...,...,...,...
305,Maria,Manescu,maria.manescu84@gmail.com,+33635289115,empty,empty,Romania,Romanian,Past Guests,Karma Borgo Di Colleoli,Checked-Out,2374248
306,Tracy,Wallace,bigtpink@hotmail.co.uk,+447730446416,empty,empty,United Kingdom,British,Past Guests,Karma Lake of Menteith,Checked-Out,2338707
307,Kiran,Kumar L,kiranf.z8888@gmail.com,+916362731044,+919632250272,BANGALORE,India,Indian,Past Guests,Karma Royal Palms,Checked-Out,2547090
308,Robert,Reeskamp,rob@ducjook.co.uk,+447597740647,empty,Netherland,Netherlands,Dutch,Past Guests,Karma Jimbaran,Checked-Out,2562360
309,Param,Shan,parthpshah@yahoo.com,+919428595284,empty,empty,India,Indian,Past Guests,Amina hotel,Checked-Out,2520254

In [47]:
count_empty_contact = df_push.loc[(df_push['Email'] == 'empty') &
            (df_push['Phone'] == 'empty') &
            (df_push['Mobile'] == 'empty')].shape[0]

df_push.drop(df_push.loc[(df_push['Email'] == 'empty') &
            (df_push['Phone'] == 'empty') &
            (df_push['Mobile'] == 'empty')
            ].index, inplace=True)

count_after_wash_empty_contact = df_push.shape[0]

In [48]:
# df_bounced.loc[df_bounced['EMAIL'] == 'pawan_chhikara2001@yahoo.com']

In [49]:
joined_df = pd.merge(df_push,
                     df_bounced,
                     left_on ='Email',
                     right_on ='EMAIL',
                     how ='left')
joined_df

,First Name,Last Name,Email,Phone,Mobile,City,Country,Nationality,Lead Source,Lead Locations,Booking Status,BookRef,EMAIL,RESULT,REASON,STATUS CODE,ROLE,FREE,DOMAIN,Sheet Name
0,Sreeju,Rajan,sreeju.hin@gmail.com,+919742827704,+918971399493,BANGALORE,India,Indian,Past Guests,Karma Royal Palms,Checked-Out,2548807,sreeju.hin@gmail.com,Safe to Send,Deliverable,5,FALSE,TRUE,<NA>,<NA>
1,Bhavin J,Rathod,bhvnrathod@gmail.com,+919768840833,+918286922581,MUMBAI,India,Indian,Past Guests,Karma Royal Palms,Checked-Out,2561170,bhvnrathod@gmail.com,Safe to Send,Deliverable,5,FALSE,TRUE,<NA>,<NA>
2,Pullaniparambath,Satya,sheeba_satyan@yahoo.co.in,+919821217275,+919324338452,MUMBAI,India,Indian,Past Guests,"Karma Seven Lakes, Udaipur",Checked-Out,2499867,sheeba_satyan@yahoo.co.in,Safe to Send,Deliverable,5,FALSE,TRUE,<NA>,<NA>
3,Ravi,Periwal,avi.hillman@gmail.com,+919864166244,empty,Assam,India,Indian,Past Guests,Karma Royal Boat Lagoon,Checked-Out,2501909,avi.hillman@gmail.com,Safe to Send,Deliverable,5,FALSE,TRUE,<NA>,<NA>
4,Yngvild,Stokke,yngvildstokke@gmail.com,+4790471288,empty,TBA,Norway,Norwegian,Past Guests,Karma Jimbaran,Checked-Out,2438647,yngvildstokke@gmail.com,Safe to Send,Deliverable,5,FALSE,TRUE,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,Maria,Manescu,maria.manescu84@gmail.com,+33635289115,empty,empty,Romania,Romanian,Past Guests,Karma Borgo Di Colleoli,Checked-Out,2374248,maria.manescu84@gmail.com,Safe to Send,Deliverable,5,FALSE,TRUE,<NA>,<NA>
306,Tracy,Wallace,bigtpink@hotmail.co.uk,+447730446416,empty,empty,United Kingdom,British,Past Guests,Karma Lake of Menteith,Checked-Out,2338707,bigtpink@hotmail.co.uk,Safe to Send,Deliverable,5,FALSE,TRUE,<NA>,<NA>
307,Kiran,Kumar L,kiranf.z8888@gmail.com,+916362731044,+919632250272,BANGALORE,India,Indian,Past Guests,Karma Royal Palms,Checked-Out,2547090,kiranf.z8888@gmail.com,Safe to Send,Deliverable,5,FALSE,TRUE,<NA>,<NA>
308,Robert,Reeskamp,rob@ducjook.co.uk,+447597740647,empty,Netherland,Netherlands,Dutch,Past Guests,Karma Jimbaran,Checked-Out,2562360,rob@ducjook.co.uk,Invalid,Bounce,6,FALSE,FALSE,<NA>,<NA>
309,Param,Shan,parthpshah@yahoo.com,+919428595284,empty,empty,India,Indian,Past Guests,Amina hotel,Checked-Out,2520254,parthpshah@yahoo.com,Safe to Send,Deliverable,5,FALSE,TRUE,<NA>,<NA>

In [50]:
joined_list = joined_df.loc[~joined_df['RESULT'].isna()].copy()
joined_list.reset_index(drop=True, inplace=True)

not_exist_list = joined_df.loc[joined_df['RESULT'].isna()].copy()
not_exist_list.reset_index(drop=True, inplace=True)

count_exist_in_bounce = joined_list.shape[0]
count_not_exist_in_bounce = not_exist_list.shape[0]

In [51]:
safe_to_send = joined_list.loc[joined_list['RESULT'] == 'Safe to Send'].copy()
safe_to_send.reset_index(drop=True, inplace=True)
count_safe_to_send = safe_to_send.shape[0]

ex_safe_to_send = joined_list.loc[joined_list['RESULT'] != 'Safe to Send'].copy()
ex_safe_to_send.reset_index(drop=True, inplace=True)
count_ex_safe_to_send = ex_safe_to_send.shape[0]

In [52]:
print("==========================================================")
print("Summary")
print("==========================================================")
print("Jumlah Total Data : "+str(count_total_data))
print("Jumlah Data Contact Empty : "+str(count_empty_contact))
print("Jumlah Data Setelah Wash Empty Contact : "+str(count_empty_contact))
print("Jumlah Data Exist di Database Bounce : "+str(count_exist_in_bounce))
print("Jumlah Data Tidak Exist di Database Bounce : "+str(count_not_exist_in_bounce))
print("==========================================================")
print("Summary Bounced")
print("==========================================================")
print("Jumlah Data Safe to Send : "+str(count_safe_to_send))
print("Jumlah Data not Safe to Send : "+str(count_ex_safe_to_send))

==========================================================
Summary
==========================================================
Jumlah Total Data : 310
Jumlah Data Contact Empty : 0
Jumlah Data Setelah Wash Empty Contact : 0
Jumlah Data Exist di Database Bounce : 310
Jumlah Data Tidak Exist di Database Bounce : 0
==========================================================
Summary Bounced
==========================================================
Jumlah Data Safe to Send : 287
Jumlah Data not Safe to Send : 23

In [53]:
not_exist_list.loc[not_exist_list['Email'] == 'mohdasifaliak2016@gmail.com']
# df_1.loc[df_1['EMAIL'] == 'matthew.w.giles@gmail.com']
# df_1.loc[df_1['EMAIL'] == 'venkjaya@gmail.com']
# joined_df.loc[joined_df['RESULT'] == 'Safe to Send']
# df_bounced.loc[df_bounced['EMAIL'] == ]

Empty DataFrame
Columns: [First Name, Last Name, Email, Phone, Mobile, City, Country, Nationality, Lead Source, Lead Locations, Booking Status, BookRef, EMAIL, RESULT, REASON, STATUS CODE, ROLE, FREE, DOMAIN, Sheet Name]
Index: []

In [54]:
joined_df.loc[joined_df['Email'] == 'mohdasifaliak2016@gmail.com']

Empty DataFrame
Columns: [First Name, Last Name, Email, Phone, Mobile, City, Country, Nationality, Lead Source, Lead Locations, Booking Status, BookRef, EMAIL, RESULT, REASON, STATUS CODE, ROLE, FREE, DOMAIN, Sheet Name]
Index: []

In [55]:
safe_to_send.replace('empty', '', inplace=True)
safe_to_send.reset_index(drop=True, inplace=True)
df_safe = safe_to_send.reindex(columns=cols)
df_safe.rename(columns={'Lead Source':'Lead Sources'}, inplace=True)

df_safe.to_csv(r'C:\Users\fajar\Documents\Python\Data\push-pastguest-formatted.csv', index=False, encoding='utf-8')

In [56]:
ex_safe_to_send.replace('empty', '', inplace=True)
ex_safe_to_send.reset_index(drop=True, inplace=True)
df_ex_safe_to_send = ex_safe_to_send.reindex(columns=cols)
df_ex_safe_to_send

df_ex_safe_to_send.to_excel(r'C:\Users\fajar\Documents\Python\Data\not-safe-to-send-debounce.xlsx', index=False)

In [57]:
not_exist_list.replace('empty', '', inplace=True)
not_exist_list.reset_index(drop=True, inplace=True)
df_not_exist = not_exist_list.reindex(columns=cols)
df_not_exist

df_not_exist.to_excel(r'C:\Users\fajar\Documents\Python\Data\not-exist-debounce.xlsx', index=False)