In [20]:
import pandas as pd
import re
import openpyxl

import sys
sys.path.append('../')

import main_module as m

In [21]:
cols = ['First Name', 
    'Last Name',
    'Email', 
    'Phone', 
    'Mobile', 
    'City', 
    'State',
    'Country', 
    'Nationality',
    'Lead Locations', 
    'Booking Status',
    'Lead Source', 
    'BookRef']

In [22]:
path = r'C:\Users\fajar\Documents\Python\Data\push-pastguest.xlsx'
df_push = pd.read_excel(path, dtype='string', usecols=cols, sheet_name='Sheet0', engine='openpyxl')
df_push.fillna('empty', inplace=True)
count_total_data = df_push.shape[0]
df_push.columns

c:\Users\fajar\Documents\Python\Task Offline\venv12\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

Index(['First Name', 'Last Name', 'Email', 'Phone', 'Mobile', 'City', 'State',
       'Country', 'Nationality', 'Lead Source', 'Lead Locations',
       'Booking Status', 'BookRef'],
      dtype='object')

In [23]:
df_push

,First Name,Last Name,Email,Phone,Mobile,City,State,Country,Nationality,Lead Source,Lead Locations,Booking Status,BookRef
0,Shybin Kandathil,Ulahannan,ku.shybin@gmail.com,+919605641512,+919847536509,KANNUR,KERALA,India,Indian,Past Guests,Karma Royal Palms,Checked-Out,2631147
1,Yoga Maya,Dhungel,yogasharma85@gmail.com,+917797881366,+917872886003,DIST. NAMCHI,SIKKIM,India,Indian,Past Guests,Karma Martam Retreat,Checked-Out,2665463
2,Arunraj,M,myarunraj@gmail.com,+919840003430,+917904691649,TIRUVALLUR,TAMILNADU,India,Indian,Past Guests,Karma Royal Palms,Checked-Out,2649888
3,Vitthal,Khutale,vkhutale7657@gmail.com,+919130086162,+917767963613,MUMBAI,MAHARASHTRA,India,Indian,Past Guests,Karma Royal Palms,Checked-Out,2633531
4,Kishore Parshoton,Manik,manik_kishore@yahoo.com,+919833081464,+919322204568,MUMBAI,MAHARASHTRA,India,Indian,Past Guests,Karma Royal Palms,Checked-Out,2660185
...,...,...,...,...,...,...,...,...,...,...,...,...,...
334,Aldo,Baskoro,baskoro.aldo@gmail.com,+61405881719,+61405881719,-,-,Australia,Australian,Past Guests,"KRR @ Karma Kandara, Mentari Residences",Checked-Out,2599228
335,Sunil,Ruidas,sunilruidas@gmail.com,+918867998281,+918618267101,BANGALORE,KARNATAKA,India,Indian,Past Guests,Karma Royal Palms,Checked-Out,2646332
336,T S V Rajesh,Rajesh,tsvrajesh2312@gmail.com,+919999288814,+918969252486,HYDERABAD,TELANGANA,India,Indian,Past Guests,Karma Royal Palms,Checked-Out,2603336
337,Karen,Gerritsen,karengerritsen@yahoo.com,+61424771466,empty,-,-,Australia,Australian,Past Guests,Amina hotel,Checked-Out,2607464
338,Jalal,Sheik,j.t.sheikh@gmail.com,empty,empty,.,.,England,British,Past Guests,"KRR @ Karma Kandara, Mentari Residences",Checked-Out,2649802

In [24]:
path = r'C:\Users\fajar\Documents\Python\Data\Debounce\debounce_backup.csv'
df_1 = pd.read_csv(path, dtype='string')

path = r'C:\Users\fajar\Documents\Python\Data\Debounce\debounce_new_temp.csv'
df_2 = pd.read_csv(path, dtype='string')


frames = [df_1, df_2]
df_bounced = pd.concat(frames, ignore_index=True)
df_bounced

,EMAIL,RESULT,REASON,STATUS CODE,ROLE,FREE,DOMAIN,Sheet Name
0,00001111den@gmail.com,Safe to Send,Deliverable,5,No,Yes,gmail.com,All Campaign
1,007dhananjaykumbhar@gmail.com,Safe to Send,Deliverable,5,No,Yes,gmail.com,All Campaign
2,0597396@mail.ru,Safe to Send,Deliverable,5,No,Yes,mail.ru,All Campaign
3,07deepanshu@gmail.com,Safe to Send,Deliverable,5,No,Yes,gmail.com,All Campaign
4,1078049354@qq.com,Safe to Send,Deliverable,5,No,Yes,qq.com,All Campaign
...,...,...,...,...,...,...,...,...
1262661,amitkate@gmail.com,Safe to Send,Deliverable,5,FALSE,TRUE,<NA>,<NA>
1262662,prashantkrsingh09@gmail.com,Safe to Send,Deliverable,5,FALSE,TRUE,<NA>,<NA>
1262663,sajtru6@gmail.com,Safe to Send,Deliverable,5,FALSE,TRUE,<NA>,<NA>
1262664,aryanparanjape007@gmail.com,Safe to Send,Deliverable,5,FALSE,TRUE,<NA>,<NA>
1262665,kazgehrig@hotmail.com,Safe to Send,Deliverable,5,FALSE,TRUE,<NA>,<NA>

In [25]:
df_bounced.drop_duplicates(subset='EMAIL', inplace=True)
df_bounced.reset_index(drop=True, inplace=True)
df_bounced

,EMAIL,RESULT,REASON,STATUS CODE,ROLE,FREE,DOMAIN,Sheet Name
0,00001111den@gmail.com,Safe to Send,Deliverable,5,No,Yes,gmail.com,All Campaign
1,007dhananjaykumbhar@gmail.com,Safe to Send,Deliverable,5,No,Yes,gmail.com,All Campaign
2,0597396@mail.ru,Safe to Send,Deliverable,5,No,Yes,mail.ru,All Campaign
3,07deepanshu@gmail.com,Safe to Send,Deliverable,5,No,Yes,gmail.com,All Campaign
4,1078049354@qq.com,Safe to Send,Deliverable,5,No,Yes,qq.com,All Campaign
...,...,...,...,...,...,...,...,...
1018567,amitkate@gmail.com,Safe to Send,Deliverable,5,FALSE,TRUE,<NA>,<NA>
1018568,prashantkrsingh09@gmail.com,Safe to Send,Deliverable,5,FALSE,TRUE,<NA>,<NA>
1018569,sajtru6@gmail.com,Safe to Send,Deliverable,5,FALSE,TRUE,<NA>,<NA>
1018570,aryanparanjape007@gmail.com,Safe to Send,Deliverable,5,FALSE,TRUE,<NA>,<NA>
1018571,kazgehrig@hotmail.com,Safe to Send,Deliverable,5,FALSE,TRUE,<NA>,<NA>

In [26]:
df_push['Email'] = m.lowercase(df_push, 'Email')
m.clean_space(df_push, 'Email')

df_bounced['EMAIL'] = m.lowercase(df_bounced, 'EMAIL')
m.clean_space(df_bounced, 'EMAIL')

c:\Users\fajar\Documents\Python\Task Offline\zoho_data_app\zoho_campaign\..\main_module.py:90: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[df_columns].replace(' ','', regex=True, inplace=True)

0                  00001111den@gmail.com
1          007dhananjaykumbhar@gmail.com
2                        0597396@mail.ru
3                  07deepanshu@gmail.com
4                      1078049354@qq.com
                       ...
1018567               amitkate@gmail.com
1018568      prashantkrsingh09@gmail.com
1018569                sajtru6@gmail.com
1018570      aryanparanjape007@gmail.com
1018571            kazgehrig@hotmail.com
Name: EMAIL, Length: 1018572, dtype: string

In [27]:
df_push.loc[df_push['Email'].isin(df_bounced['EMAIL'])]

,First Name,Last Name,Email,Phone,Mobile,City,State,Country,Nationality,Lead Source,Lead Locations,Booking Status,BookRef
0,Shybin Kandathil,Ulahannan,ku.shybin@gmail.com,+919605641512,+919847536509,KANNUR,KERALA,India,Indian,Past Guests,Karma Royal Palms,Checked-Out,2631147
1,Yoga Maya,Dhungel,yogasharma85@gmail.com,+917797881366,+917872886003,DIST. NAMCHI,SIKKIM,India,Indian,Past Guests,Karma Martam Retreat,Checked-Out,2665463
2,Arunraj,M,myarunraj@gmail.com,+919840003430,+917904691649,TIRUVALLUR,TAMILNADU,India,Indian,Past Guests,Karma Royal Palms,Checked-Out,2649888
3,Vitthal,Khutale,vkhutale7657@gmail.com,+919130086162,+917767963613,MUMBAI,MAHARASHTRA,India,Indian,Past Guests,Karma Royal Palms,Checked-Out,2633531
4,Kishore Parshoton,Manik,manik_kishore@yahoo.com,+919833081464,+919322204568,MUMBAI,MAHARASHTRA,India,Indian,Past Guests,Karma Royal Palms,Checked-Out,2660185
...,...,...,...,...,...,...,...,...,...,...,...,...,...
334,Aldo,Baskoro,baskoro.aldo@gmail.com,+61405881719,+61405881719,-,-,Australia,Australian,Past Guests,"KRR @ Karma Kandara, Mentari Residences",Checked-Out,2599228
335,Sunil,Ruidas,sunilruidas@gmail.com,+918867998281,+918618267101,BANGALORE,KARNATAKA,India,Indian,Past Guests,Karma Royal Palms,Checked-Out,2646332
336,T S V Rajesh,Rajesh,tsvrajesh2312@gmail.com,+919999288814,+918969252486,HYDERABAD,TELANGANA,India,Indian,Past Guests,Karma Royal Palms,Checked-Out,2603336
337,Karen,Gerritsen,karengerritsen@yahoo.com,+61424771466,empty,-,-,Australia,Australian,Past Guests,Amina hotel,Checked-Out,2607464
338,Jalal,Sheik,j.t.sheikh@gmail.com,empty,empty,.,.,England,British,Past Guests,"KRR @ Karma Kandara, Mentari Residences",Checked-Out,2649802

In [28]:
count_empty_contact = df_push.loc[(df_push['Email'] == 'empty') &
            (df_push['Phone'] == 'empty') &
            (df_push['Mobile'] == 'empty')].shape[0]

df_push.drop(df_push.loc[(df_push['Email'] == 'empty') &
            (df_push['Phone'] == 'empty') &
            (df_push['Mobile'] == 'empty')
            ].index, inplace=True)

count_after_wash_empty_contact = df_push.shape[0]

In [29]:
# df_bounced.loc[df_bounced['EMAIL'] == 'pawan_chhikara2001@yahoo.com']

In [30]:
joined_df = pd.merge(df_push,
                     df_bounced,
                     left_on ='Email',
                     right_on ='EMAIL',
                     how ='left')
joined_df

,First Name,Last Name,Email,Phone,Mobile,City,State,Country,Nationality,Lead Source,...,Booking Status,BookRef,EMAIL,RESULT,REASON,STATUS CODE,ROLE,FREE,DOMAIN,Sheet Name
0,Shybin Kandathil,Ulahannan,ku.shybin@gmail.com,+919605641512,+919847536509,KANNUR,KERALA,India,Indian,Past Guests,...,Checked-Out,2631147,ku.shybin@gmail.com,Safe to Send,Deliverable,5,FALSE,TRUE,<NA>,<NA>
1,Yoga Maya,Dhungel,yogasharma85@gmail.com,+917797881366,+917872886003,DIST. NAMCHI,SIKKIM,India,Indian,Past Guests,...,Checked-Out,2665463,yogasharma85@gmail.com,Safe to Send,Deliverable,5,FALSE,TRUE,<NA>,<NA>
2,Arunraj,M,myarunraj@gmail.com,+919840003430,+917904691649,TIRUVALLUR,TAMILNADU,India,Indian,Past Guests,...,Checked-Out,2649888,myarunraj@gmail.com,Safe to Send,Deliverable,5,FALSE,TRUE,<NA>,<NA>
3,Vitthal,Khutale,vkhutale7657@gmail.com,+919130086162,+917767963613,MUMBAI,MAHARASHTRA,India,Indian,Past Guests,...,Checked-Out,2633531,vkhutale7657@gmail.com,Safe to Send,Deliverable,5,FALSE,TRUE,<NA>,<NA>
4,Kishore Parshoton,Manik,manik_kishore@yahoo.com,+919833081464,+919322204568,MUMBAI,MAHARASHTRA,India,Indian,Past Guests,...,Checked-Out,2660185,manik_kishore@yahoo.com,Safe to Send,Deliverable,5,FALSE,TRUE,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
334,Aldo,Baskoro,baskoro.aldo@gmail.com,+61405881719,+61405881719,-,-,Australia,Australian,Past Guests,...,Checked-Out,2599228,baskoro.aldo@gmail.com,Safe to Send,Deliverable,5,FALSE,TRUE,<NA>,<NA>
335,Sunil,Ruidas,sunilruidas@gmail.com,+918867998281,+918618267101,BANGALORE,KARNATAKA,India,Indian,Past Guests,...,Checked-Out,2646332,sunilruidas@gmail.com,Safe to Send,Deliverable,5,FALSE,TRUE,<NA>,<NA>
336,T S V Rajesh,Rajesh,tsvrajesh2312@gmail.com,+919999288814,+918969252486,HYDERABAD,TELANGANA,India,Indian,Past Guests,...,Checked-Out,2603336,tsvrajesh2312@gmail.com,Safe to Send,Deliverable,5,FALSE,TRUE,<NA>,<NA>
337,Karen,Gerritsen,karengerritsen@yahoo.com,+61424771466,empty,-,-,Australia,Australian,Past Guests,...,Checked-Out,2607464,karengerritsen@yahoo.com,Safe to Send,Deliverable,5,FALSE,TRUE,<NA>,<NA>
338,Jalal,Sheik,j.t.sheikh@gmail.com,empty,empty,.,.,England,British,Past Guests,...,Checked-Out,2649802,j.t.sheikh@gmail.com,Safe to Send,Deliverable,5,FALSE,TRUE,<NA>,<NA>

In [31]:
joined_list = joined_df.loc[~joined_df['RESULT'].isna()].copy()
joined_list.reset_index(drop=True, inplace=True)

not_exist_list = joined_df.loc[joined_df['RESULT'].isna()].copy()
not_exist_list.reset_index(drop=True, inplace=True)

count_exist_in_bounce = joined_list.shape[0]
count_not_exist_in_bounce = not_exist_list.shape[0]

In [32]:
safe_to_send = joined_list.loc[joined_list['RESULT'] == 'Safe to Send'].copy()
safe_to_send.reset_index(drop=True, inplace=True)
count_safe_to_send = safe_to_send.shape[0]

ex_safe_to_send = joined_list.loc[joined_list['RESULT'] != 'Safe to Send'].copy()
ex_safe_to_send.reset_index(drop=True, inplace=True)
count_ex_safe_to_send = ex_safe_to_send.shape[0]

In [33]:
print("==========================================================")
print("Summary")
print("==========================================================")
print("Jumlah Total Data : "+str(count_total_data))
print("Jumlah Data Contact Empty : "+str(count_empty_contact))
print("Jumlah Data Setelah Wash Empty Contact : "+str(count_empty_contact))
print("Jumlah Data Exist di Database Bounce : "+str(count_exist_in_bounce))
print("Jumlah Data Tidak Exist di Database Bounce : "+str(count_not_exist_in_bounce))
print("==========================================================")
print("Summary Bounced")
print("==========================================================")
print("Jumlah Data Safe to Send : "+str(count_safe_to_send))
print("Jumlah Data not Safe to Send : "+str(count_ex_safe_to_send))

==========================================================
Summary
==========================================================
Jumlah Total Data : 339
Jumlah Data Contact Empty : 0
Jumlah Data Setelah Wash Empty Contact : 0
Jumlah Data Exist di Database Bounce : 339
Jumlah Data Tidak Exist di Database Bounce : 0
==========================================================
Summary Bounced
==========================================================
Jumlah Data Safe to Send : 312
Jumlah Data not Safe to Send : 27

In [34]:
not_exist_list.loc[not_exist_list['Email'] == 'mohdasifaliak2016@gmail.com']
# df_1.loc[df_1['EMAIL'] == 'matthew.w.giles@gmail.com']
# df_1.loc[df_1['EMAIL'] == 'venkjaya@gmail.com']
# joined_df.loc[joined_df['RESULT'] == 'Safe to Send']
# df_bounced.loc[df_bounced['EMAIL'] == ]

Empty DataFrame
Columns: [First Name, Last Name, Email, Phone, Mobile, City, State, Country, Nationality, Lead Source, Lead Locations, Booking Status, BookRef, EMAIL, RESULT, REASON, STATUS CODE, ROLE, FREE, DOMAIN, Sheet Name]
Index: []

[0 rows x 21 columns]

In [35]:
joined_df.loc[joined_df['Email'] == 'mohdasifaliak2016@gmail.com']

Empty DataFrame
Columns: [First Name, Last Name, Email, Phone, Mobile, City, State, Country, Nationality, Lead Source, Lead Locations, Booking Status, BookRef, EMAIL, RESULT, REASON, STATUS CODE, ROLE, FREE, DOMAIN, Sheet Name]
Index: []

[0 rows x 21 columns]

In [36]:
safe_to_send.replace('empty', '', inplace=True)
safe_to_send.reset_index(drop=True, inplace=True)
df_safe = safe_to_send.reindex(columns=cols)
df_safe.rename(columns={'Lead Source':'Lead Sources'}, inplace=True)

df_safe.to_csv(r'C:\Users\fajar\Documents\Python\Data\push-pastguest-formatted.csv', index=False, encoding='utf-8')

In [37]:
ex_safe_to_send.replace('empty', '', inplace=True)
ex_safe_to_send.reset_index(drop=True, inplace=True)
df_ex_safe_to_send = ex_safe_to_send.reindex(columns=cols)
df_ex_safe_to_send

df_ex_safe_to_send.to_excel(r'C:\Users\fajar\Documents\Python\Data\not-safe-to-send-debounce.xlsx', index=False)

In [39]:
not_exist_list.replace('empty', '', inplace=True)
not_exist_list.reset_index(drop=True, inplace=True)
df_not_exist = not_exist_list.reindex(columns=cols)
df_not_exist

df_not_exist.to_excel(r'C:\Users\fajar\Documents\Python\Data\not-exist-debounce.xlsx', index=False)