In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

import test as test
import re

import sys
sys.path.append('../zoho_data_app/')

# importing
import main_module as m
import zoho_filter_module as fil

%load_ext autoreload
%autoreload 2

In [13]:
file_path = r'C:\Users\fajar\Documents\Python\Data\EDM Plan\test.xlsx'
cols = ['Kota',	
'Jumlah']

df = test.load_all_sheets(file_path, cols)
df

         Kota Jumlah
0    Denpasar      4
1   Pekanbaru      5
2      Badung      6
3    Surabaya      7
4        Riau      8
5  Karangasem      2