In [25]:
# CARA INI HANYA EFEKTIF DILAKUKAN JIKA SEMUA KOLOM DI SETIAP SHEET FROMATNYA SUDAH SAMA
# JIKA FORMATNYA KOLOMNYA BERBEDA, LAKUKAN DENGAN CARA SEPERTI DI edm_plan_app

import pandas as pd


filetype = '.xlsx'
filename = '\KCI - Active & Opendeal - NON India Product'
get_filename = filename+filetype

url = r'C:\Users\fajar\Documents\Python\Data\Member Data\mba sekar\2023\13 Oktober'

file_path = url+get_filename

In [26]:
all_dfs = pd.read_excel(file_path, sheet_name=None, dtype='string')
df = pd.concat(all_dfs, keys=all_dfs,
    names=['Sheets Name', None],
    ).reset_index(level='Sheets Name')   
df.reset_index(drop=True, inplace=True)
df

,Sheets Name,Account ID,ContactID,FirstName,LastName,AddressLine1,AddressLine2,Town,City,Country,...,DoB,WeddingDate,Keywords,NoEDM,Account Status,Account Type,OdysseyNo,Servicing Office,Email,Unnamed: 23
0,ACTIVE,1000427,921841,Neil,Pratten,"1 Court Gardens , All Saints Lane",<NA>,CLEVEDON,NORTH SOMERSET,United Kingdom,...,1960-09-21,1998-08-21,<NA>,<NA>,Active,KARMA CLUB,C82047904,KARMA CONCIERGE INDIA,neil.pratten@sky.com,USD
1,ACTIVE,1000427,921842,Ann,Pratten,"1 Court Gardens, All Saints Lane",<NA>,CLEVEDON,NORTH SOMERSET,United Kingdom,...,1962-04-02,<NA>,<NA>,<NA>,Active,KARMA CLUB,C82047904,KARMA CONCIERGE INDIA,ann.pratten@sky.com,USD
2,ACTIVE,1000427,921841,Neil,Pratten,"1 Court Gardens , All Saints Lane",<NA>,CLEVEDON,NORTH SOMERSET,United Kingdom,...,1960-09-21,1998-08-21,<NA>,<NA>,Active,KARMA CLUB,C82047904,KARMA CONCIERGE INDIA,ann.pratten@sky.com,USD
3,ACTIVE,1007799,932524,Maureen,Ingleby,"CARTREF, SYKEHEAD LANE","Nawton ,",-York,NORTH YORKSHIRE,England,...,1948-04-29,<NA>,<NA>,<NA>,Active,WEEKS MEMBER,C82045535,KARMA CONCIERGE INDIA,ingleby98@gmail.com,USD
4,ACTIVE,1012217,938600,Emily,Kane,418 HARRIS ST #329,-,JUNEAU,AK,USA,...,1956-05-05,<NA>,<NA>,<NA>,Active,KARMA CLUB,C82048489,KARMA CONCIERGE INDIA,dremilykane@gmail.com,USD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1824,SUSPENDED,978027,904127,Mustafa,Alawami,AL MUNTAZAH,<NA>,DAMMAM,EASTERN PROV,Saudi Arabia,...,1991-08-15,<NA>,"Remove From Mailing List, To Be Revoked",<NA>,Suspended,KARMA CLUB,C82044987,KARMA CONCIERGE INDIA,malawami1991@gmail.com,USD
1825,SUSPENDED,993278,911101,Anthony,Brett,4 FROME PLACE,<NA>,<NA>,BRISTOL,England,...,1945-02-27,<NA>,To Be Revoked,<NA>,Suspended,KARMA CLUB,C82043999,KARMA CONCIERGE INDIA,tonybrett3@gmail.com,USD
1826,SUSPENDED,993278,911102,Sandra,Tanner,4 FROME PLACE,<NA>,<NA>,BRISTOL,England,...,1951-01-21,<NA>,To Be Revoked,<NA>,Suspended,KARMA CLUB,C82043999,KARMA CONCIERGE INDIA,spannerroo@hotmail.com,USD
1827,SUSPENDED,996049,915079,Kim,Lawson,11 THIRD AVE,<NA>,MORPETH,NORTHUMBERLAND,England,...,1970-11-23,<NA>,<NA>,<NA>,Suspended,KARMA CLUB,C82045002,KARMA CONCIERGE INDIA,kimlawson@live.co.uk,USD
1828,SUSPENDED,996049,915080,Michael,Moralee,11 THIRD AVE,<NA>,MORPETH,NORTHUMBERLAND,England,...,1964-09-03,<NA>,<NA>,<NA>,Suspended,KARMA CLUB,C82045002,KARMA CONCIERGE INDIA,moraleemick@gmail.com,USD

In [27]:
df.fillna('empty', inplace=True)

In [28]:
df.columns

Index(['Sheets Name', 'Account ID', 'ContactID', 'FirstName', 'LastName',
       'AddressLine1', 'AddressLine2', 'Town', 'City', 'Country', 'Post Code',
       'Phones', 'Owner', 'Family', 'Nationality', 'DoB', 'WeddingDate',
       'Keywords', 'NoEDM', 'Account Status', 'Account Type', 'OdysseyNo',
       'Servicing Office', 'Email', 'Unnamed: 23'],
      dtype='object')

In [29]:
df

,Sheets Name,Account ID,ContactID,FirstName,LastName,AddressLine1,AddressLine2,Town,City,Country,...,DoB,WeddingDate,Keywords,NoEDM,Account Status,Account Type,OdysseyNo,Servicing Office,Email,Unnamed: 23
0,ACTIVE,1000427,921841,Neil,Pratten,"1 Court Gardens , All Saints Lane",empty,CLEVEDON,NORTH SOMERSET,United Kingdom,...,1960-09-21,1998-08-21,empty,empty,Active,KARMA CLUB,C82047904,KARMA CONCIERGE INDIA,neil.pratten@sky.com,USD
1,ACTIVE,1000427,921842,Ann,Pratten,"1 Court Gardens, All Saints Lane",empty,CLEVEDON,NORTH SOMERSET,United Kingdom,...,1962-04-02,empty,empty,empty,Active,KARMA CLUB,C82047904,KARMA CONCIERGE INDIA,ann.pratten@sky.com,USD
2,ACTIVE,1000427,921841,Neil,Pratten,"1 Court Gardens , All Saints Lane",empty,CLEVEDON,NORTH SOMERSET,United Kingdom,...,1960-09-21,1998-08-21,empty,empty,Active,KARMA CLUB,C82047904,KARMA CONCIERGE INDIA,ann.pratten@sky.com,USD
3,ACTIVE,1007799,932524,Maureen,Ingleby,"CARTREF, SYKEHEAD LANE","Nawton ,",-York,NORTH YORKSHIRE,England,...,1948-04-29,empty,empty,empty,Active,WEEKS MEMBER,C82045535,KARMA CONCIERGE INDIA,ingleby98@gmail.com,USD
4,ACTIVE,1012217,938600,Emily,Kane,418 HARRIS ST #329,-,JUNEAU,AK,USA,...,1956-05-05,empty,empty,empty,Active,KARMA CLUB,C82048489,KARMA CONCIERGE INDIA,dremilykane@gmail.com,USD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1824,SUSPENDED,978027,904127,Mustafa,Alawami,AL MUNTAZAH,empty,DAMMAM,EASTERN PROV,Saudi Arabia,...,1991-08-15,empty,"Remove From Mailing List, To Be Revoked",empty,Suspended,KARMA CLUB,C82044987,KARMA CONCIERGE INDIA,malawami1991@gmail.com,USD
1825,SUSPENDED,993278,911101,Anthony,Brett,4 FROME PLACE,empty,empty,BRISTOL,England,...,1945-02-27,empty,To Be Revoked,empty,Suspended,KARMA CLUB,C82043999,KARMA CONCIERGE INDIA,tonybrett3@gmail.com,USD
1826,SUSPENDED,993278,911102,Sandra,Tanner,4 FROME PLACE,empty,empty,BRISTOL,England,...,1951-01-21,empty,To Be Revoked,empty,Suspended,KARMA CLUB,C82043999,KARMA CONCIERGE INDIA,spannerroo@hotmail.com,USD
1827,SUSPENDED,996049,915079,Kim,Lawson,11 THIRD AVE,empty,MORPETH,NORTHUMBERLAND,England,...,1970-11-23,empty,empty,empty,Suspended,KARMA CLUB,C82045002,KARMA CONCIERGE INDIA,kimlawson@live.co.uk,USD
1828,SUSPENDED,996049,915080,Michael,Moralee,11 THIRD AVE,empty,MORPETH,NORTHUMBERLAND,England,...,1964-09-03,empty,empty,empty,Suspended,KARMA CLUB,C82045002,KARMA CONCIERGE INDIA,moraleemick@gmail.com,USD

In [30]:
df.columns

Index(['Sheets Name', 'Account ID', 'ContactID', 'FirstName', 'LastName',
       'AddressLine1', 'AddressLine2', 'Town', 'City', 'Country', 'Post Code',
       'Phones', 'Owner', 'Family', 'Nationality', 'DoB', 'WeddingDate',
       'Keywords', 'NoEDM', 'Account Status', 'Account Type', 'OdysseyNo',
       'Servicing Office', 'Email', 'Unnamed: 23'],
      dtype='object')

In [31]:
df.replace('empty', '', inplace=True)

In [32]:
compile_filename = filename+'- Compiled'+filetype
compile_url = url+'/Compile/'
file_path = compile_url+compile_filename

df.to_excel(file_path, index=False)