In [60]:
import sys
sys.path.append('../../zoho_data_app/')

import main_module as m
import zoho_filter_module as fil
import pandas as pd
import re
import numpy as np

In [61]:
path = r'C:\Users\fajar\Documents\Python\Data\others.csv'
df = pd.read_csv(path, dtype='string', usecols=['EMAIL'])
df

                                  EMAIL
0            adeep_d2005@rediffmail.com
1              jrexports@rediffmail.com
2       sandhyaarun_1981@rediffmail.com
3           himanshu_oct@rediffmail.com
4                ani1102@rediffmail.com
...                                 ...
127463           adam@muscleworx.com.au
127464                sandrine.p@gmx.ch
127465           john@szatkowski.com.au
127466            joshfowke@hotmail.com
127467  abe.schuback@phillipsons.com.au

[127468 rows x 1 columns]

In [62]:
df.reset_index(drop=True, inplace=True)

In [63]:
# define batch column name
df['BATCH_SECOND'] = ''

batch_row = 4000
batch_name = 'BATCH'
column_index = -1

m.insert_batch_loop(df, batch_row, column_index, batch_name)

df

                                  EMAIL BATCH_SECOND
0            adeep_d2005@rediffmail.com       BATCH1
1              jrexports@rediffmail.com       BATCH1
2       sandhyaarun_1981@rediffmail.com       BATCH1
3           himanshu_oct@rediffmail.com       BATCH1
4                ani1102@rediffmail.com       BATCH1
...                                 ...          ...
127463           adam@muscleworx.com.au      BATCH32
127464                sandrine.p@gmx.ch      BATCH32
127465           john@szatkowski.com.au      BATCH32
127466            joshfowke@hotmail.com      BATCH32
127467  abe.schuback@phillipsons.com.au      BATCH32

[127468 rows x 2 columns]

In [64]:
# new_df.groupby(['Batch', 'Lead Source'])['Created Date'].count().reset_index(name='Count')
df.groupby(['BATCH_SECOND']).count()

              EMAIL
BATCH_SECOND
BATCH1         4000
BATCH10        4000
BATCH11        4000
BATCH12        4000
BATCH13        4000
BATCH14        4000
BATCH15        4000
BATCH16        4000
BATCH17        4000
BATCH18        4000
BATCH19        4000
BATCH2         4000
BATCH20        4000
BATCH21        4000
BATCH22        4000
BATCH23        4000
BATCH24        4000
BATCH25        4000
BATCH26        4000
BATCH27        4000
BATCH28        4000
BATCH29        4000
BATCH3         4000
BATCH30        4000
BATCH31        4000
BATCH32        3468
BATCH4         4000
BATCH5         4000
BATCH6         4000
BATCH7         4000
BATCH8         4000
BATCH9         4000

In [65]:
df.to_csv(r'C:\Users\fajar\Documents\Python\Data\others-batched.csv', index=False)