In [5]:
import sys
sys.path.append('../../zoho_data_app/')

import main_module as m
import zoho_filter_module as fil
import pandas as pd
import re
import numpy as np

In [6]:
filename = 'past guest mailchimp'
filetype = '.csv'
path = r'C:\Users\fajar\Documents\Python\Data\\'
fileloc = path+filename+filetype
df = pd.read_csv(fileloc, dtype='string')
df

                              Email
0              asdksy2000@gmail.com
1            vishalau1988@gmail.com
2            paulwinch101@gmail.com
3      craig.whittet@googlemail.com
4            nilesh.sawane@yahoo.in
...                             ...
61217         janakiramkj@gmail.com
61218           wpwhewell@gmail.com
61219    srinivaspusapati@gmail.com
61220            rezapl01@gmail.com
61221            stsandor@gmail.com

[61222 rows x 1 columns]

In [7]:
# define batch column name
df['Tag'] = ''

batch_row = 40000
batch_name = 'Past Guest Tmp '
column_index = -1

m.insert_batch_loop(df, batch_row, column_index, batch_name)

df

                              Email               Tag
0              asdksy2000@gmail.com  Past Guest Tmp 1
1            vishalau1988@gmail.com  Past Guest Tmp 1
2            paulwinch101@gmail.com  Past Guest Tmp 1
3      craig.whittet@googlemail.com  Past Guest Tmp 1
4            nilesh.sawane@yahoo.in  Past Guest Tmp 1
...                             ...               ...
61217         janakiramkj@gmail.com  Past Guest Tmp 2
61218           wpwhewell@gmail.com  Past Guest Tmp 2
61219    srinivaspusapati@gmail.com  Past Guest Tmp 2
61220            rezapl01@gmail.com  Past Guest Tmp 2
61221            stsandor@gmail.com  Past Guest Tmp 2

[61222 rows x 2 columns]

In [8]:
# new_df.groupby(['Batch', 'Lead Source'])['Created Date'].count().reset_index(name='Count')
df.groupby(['Tags']).count()

                  Email
Tag
Past Guest Tmp 1  40000
Past Guest Tmp 2  21222

In [9]:
file_final = path+filename+'-Batched'+filetype
df.to_csv(file_final, index=False)