In [2]:
import main_module as m
import zoho_filter_module as fil
import pandas as pd
import re
import numpy as np

%load_ext autoreload
%autoreload 2

dir_path = r'C:\Users\fajar\Documents\Python\Data\Zoho_Backup'
file_name = '\Leads_'

cols = ['Record Id',	
'Created Time',
'Created Date',	
'First Name',	
'Last Name',	
'Email',	
'Phone',	
'Mobile',	
'Birthdate',	
'Year of Birth',
'Street',	
'Street2',	
'City',	
'State',	
'Country',	
'Nationality',
'Booking Status', 
'BookRef',
'Departure Date',	
'Arrival Date',	
'Card Type',	
'Marital Status',	
'Lead Brand',	
'Lead Sub-Brand',	
'Lead Source',	
'Lead Locations',	
'Lead Source Description',	
'Lead Regions',
'Lead Status',
'Email Opt Out',	
'Opt In',
'Do Not Contact',
'Do Not Mail']

In [3]:
df = m.load_data_multiple(dir_path, file_name, cols)
count_data_awal = df.shape[0]
df = df.reindex(columns=cols)
df.shape[0]

df['Created Time'] = pd.to_datetime(df['Created Time'], format='%Y-%m-%d %H:%M:%S')
# fungsi errors cource untuk menhindari error jika value data date null atau kosong
df['Birthdate'] = pd.to_datetime(df['Birthdate'], format='%Y-%m-%d', errors='coerce')
df.dtypes
df

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Lead Sub-Brand,Lead Source,Lead Locations,Lead Source Description,Lead Regions,Lead Status,Email Opt Out,Opt In,Do Not Contact,Do Not Mail
0,zcrm_3584690000000404058,2019-01-07 15:08:38,2019-01-06,Nicholas,Wood,1230woodnicholas@gmail.com,+61438600845,<NA>,NaT,<NA>,...,Other Bali DB,Wifi,<NA>,Purple Wifi,SEAP,New Lead,false,false,true,false
1,zcrm_3584690000000404059,2019-01-07 15:08:38,2019-01-06,Liao,Yuan,158066546@qq.com,8618718399923,<NA>,NaT,<NA>,...,Other Bali DB,Wifi,<NA>,Purple Wifi,Other,New Lead,false,false,true,false
2,zcrm_3584690000000404060,2019-01-07 15:08:38,2019-01-06,Vedanta,Abhiyoga,abhiyoga.vedanta@gmail.com,+6282146524550,<NA>,2000-07-05,2000,...,Other Bali DB,Wifi,<NA>,Purple Wifi,SEAP,New Lead,false,false,true,false
3,zcrm_3584690000000404065,2019-01-07 15:08:38,2019-01-06,Aidai,Atakanova,aidai.nurbek@gmail.com,996779641590,<NA>,1997-02-05,1997,...,Other Bali DB,Wifi,<NA>,Purple Wifi,UK/Europe,New Lead,false,false,true,false
4,zcrm_3584690000000404068,2019-01-07 15:08:38,2019-01-06,Ardra,Ardra,aliefardraqariru@gmail.com,+6282139300818,+6282139300818,2005-01-20,2005,...,Other Bali DB,Wifi,Mall 21,Purple Wifi,SEAP,New Lead,false,false,true,false
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4717718,zcrm_3584690000475135007,2024-01-01 18:16:02,<NA>,Upendra,Mishra,upendra.sir@gmail.com,+919036084550,<NA>,NaT,<NA>,...,Other,Web Enquiry,Karma Sunshine Village,Timeshare Booking Request,India,<NA>,false,true,false,false
4717719,zcrm_3584690000475135045,2024-01-01 18:16:37,<NA>,Mehul,Prajapati,mehul.m111985@gmail.com,+919714713689,<NA>,NaT,<NA>,...,Karma Experience IN,Facebook Ads,General,IND | FB MF | Lead captured,<NA>,<NA>,false,false,false,false
4717720,zcrm_3584690000475136005,2024-01-01 18:17:13,<NA>,swati,agarwala,cswatiadv@gmail.com,+919733055636,<NA>,NaT,<NA>,...,Karma Experience IN,Facebook Ads,Karma Martam,IND | FB MF | Martam,<NA>,<NA>,false,false,false,false
4717721,zcrm_3584690000475138034,2024-01-01 18:48:36,<NA>,SUMON,SAHOO,sumonsahoo@gmail.com,+918910484814,<NA>,NaT,<NA>,...,Karma Experience IN,Facebook Ads,Karma Martam,IND | FB MF | Martam,<NA>,<NA>,false,false,false,false
4717722,zcrm_3584690000475138069,2024-01-01 18:52:24,<NA>,Rohit,Kadam,rohit0918.rk@gmail.com,+919819185446,<NA>,NaT,<NA>,...,Karma Experience IN,Facebook Ads,Royal Palms,IND | FB AF | KRP,<NA>,<NA>,false,false,false,false

In [3]:
path = r'G:\.shortcut-targets-by-id\0B_d3smBjzo04UUNBME5GOVhoMjA\_ODYSSEY\Phone Members.xlsx'
df_phone = pd.read_excel(path, dtype='string', sheet_name='Sheet1')

path = r'G:\.shortcut-targets-by-id\0B_d3smBjzo04UUNBME5GOVhoMjA\_ODYSSEY\Email Members.xlsx'
df_email = pd.read_excel(path, dtype='string', sheet_name='Sheet1')

In [4]:
zoho_filter = fil.past_guest(df)
zoho_df = df.loc[zoho_filter].copy() # menggunakan copy untuk menghindari setting copy warning
zoho_df.reset_index(drop=True, inplace=True)
count_filter_awal = zoho_df.shape[0]

# mengisi kolom <NA> dengan value string 'empty' supaya mudah mengecek data member dan booking dengan isin

zoho_df.fillna('empty', inplace=True)
zoho_df['Birthdate'].replace('empty', '1853-01-11 00:00:00', inplace=True)
zoho_df

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Lead Sub-Brand,Lead Source,Lead Locations,Lead Source Description,Lead Regions,Lead Status,Email Opt Out,Opt In,Do Not Contact,Do Not Mail
0,zcrm_3584690000000450071,2019-01-08 16:38:18,empty,Sebastian,Rach,basti.2004@hotmail.de,498914342111,empty,1982-04-20 00:00:00,1982,...,Other,Past Guests,Karma Bavaria,empty,UK/Europe,New Lead,true,false,true,true
1,zcrm_3584690000000450087,2019-01-08 16:38:18,empty,Siobhan,Gallagher,gallaghersiobhan@eircom.net,353879597603,empty,1973-03-14 00:00:00,1973,...,Other,Past Guests,Karma Bavaria,empty,UK/Europe,New Lead,true,true,true,true
2,zcrm_3584690000000450106,2019-01-08 16:38:18,empty,Lisa,Ferkovich,lisajo2009@yahoo.com,14062394749,empty,1963-07-08 00:00:00,1963,...,Other,Past Guests,Karma Bavaria,empty,UK/Europe,New Lead,true,false,true,true
3,zcrm_3584690000000450110,2019-01-08 16:38:18,empty,Maeve,Maher,maeve.maher@gmail.com,353868702583,empty,1973-01-15 00:00:00,1973,...,Other,Past Guests,Karma Bavaria,empty,UK/Europe,New Lead,true,true,true,true
4,zcrm_3584690000000450116,2019-01-08 16:38:18,empty,Moritz,Holzmann,moritz.holzmann@gmx.de,4915140714809,empty,1978-07-09 00:00:00,1978,...,Other,Past Guests,Karma Bavaria,empty,UK/Europe,New Lead,true,true,true,true
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220171,zcrm_3584690000449528096,2023-06-19 12:31:20,empty,Devakumar,Kolakani,deva.kolakani61@gmail.com,919148144553,918904163188,1853-01-11 00:00:00,empty,...,Other,Past Guests,Karma Royal Palms,Viewpoint,empty,empty,false,true,false,false
220172,zcrm_3584690000449528120,2023-06-19 12:33:04,empty,Deepak,Rawat,sumankhatana085@gmail.com,919582938629,919149879514,1853-01-11 00:00:00,empty,...,Other,Past Guests,Karma Royal Palms,Viewpoint,empty,empty,false,true,false,false
220173,zcrm_3584690000449528144,2023-06-19 12:33:05,empty,Himanshu,Khanna,himanshu.khanna22@gmail.com,919810063081,empty,1853-01-11 00:00:00,empty,...,Other,Past Guests,"Karma Seven Lakes, Udaipur",Viewpoint,empty,empty,false,true,false,false
220174,zcrm_3584690000449528162,2023-06-19 12:33:51,empty,Manohar,Kale,kale_manu_pune@yahoo.com,919403766227,empty,1853-01-11 00:00:00,empty,...,Other,Past Guests,Karma Royal Palms,Viewpoint,empty,empty,false,true,false,false
220175,zcrm_3584690000449528180,2023-06-19 12:34:02,empty,Vishnu,Joshi,vishnusharma.vsgc@gmail.com,919890881388,919371073845,1853-01-11 00:00:00,empty,...,Other,Past Guests,Karma Royal Monterio,Viewpoint,empty,empty,false,true,false,false

In [5]:
zoho_df['Birthdate'].dtypes

dtype('O')

In [6]:
zoho_df['Birthdate'] = pd.to_datetime(zoho_df['Birthdate'], format='%Y-%m-%d %H:%M:%S')

In [7]:
zoho_df.loc[(zoho_df['Birthdate'] == 'empty') & ((zoho_df['Year of Birth'] != 'empty'))]

Empty DataFrame
Columns: [Record Id, Created Time, Created Date, First Name, Last Name, Email, Phone, Mobile, Birthdate, Year of Birth, Street, Street2, City, State, Country, Nationality, Booking Status, BookRef, Departure Date, Arrival Date, Card Type, Marital Status, Lead Brand, Lead Sub-Brand, Lead Source, Lead Locations, Lead Source Description, Lead Regions, Lead Status, Email Opt Out, Opt In, Do Not Contact, Do Not Mail]
Index: []

[0 rows x 33 columns]

In [8]:
birthyear = (zoho_df['Birthdate'].dt.strftime('%Y'))
# birthyear.fillna('empty', inplace=True)
zoho_df.loc[(zoho_df['Birthdate'] != 'empty') & (zoho_df['Year of Birth'] == 'empty'), 'Year of Birth'] = birthyear

In [9]:
zoho_df.loc[(zoho_df['Birthdate'] == 'empty') & (zoho_df['Year of Birth'] != 'empty')]

Empty DataFrame
Columns: [Record Id, Created Time, Created Date, First Name, Last Name, Email, Phone, Mobile, Birthdate, Year of Birth, Street, Street2, City, State, Country, Nationality, Booking Status, BookRef, Departure Date, Arrival Date, Card Type, Marital Status, Lead Brand, Lead Sub-Brand, Lead Source, Lead Locations, Lead Source Description, Lead Regions, Lead Status, Email Opt Out, Opt In, Do Not Contact, Do Not Mail]
Index: []

[0 rows x 33 columns]

In [10]:
zoho_df['Year of Birth'] = zoho_df['Year of Birth'].astype(int)
zoho_df.loc[zoho_df['Year of Birth']>=1987, 'Age Status'] = 'Under 35'
zoho_df.loc[zoho_df['Year of Birth']<1987, 'Age Status'] = 'Upper 35'

In [11]:
zoho_df.loc[zoho_df['Age Status'] != 'Under 35']

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Lead Source,Lead Locations,Lead Source Description,Lead Regions,Lead Status,Email Opt Out,Opt In,Do Not Contact,Do Not Mail,Age Status
0,zcrm_3584690000000450071,2019-01-08 16:38:18,empty,Sebastian,Rach,basti.2004@hotmail.de,498914342111,empty,1982-04-20,1982,...,Past Guests,Karma Bavaria,empty,UK/Europe,New Lead,true,false,true,true,Upper 35
1,zcrm_3584690000000450087,2019-01-08 16:38:18,empty,Siobhan,Gallagher,gallaghersiobhan@eircom.net,353879597603,empty,1973-03-14,1973,...,Past Guests,Karma Bavaria,empty,UK/Europe,New Lead,true,true,true,true,Upper 35
2,zcrm_3584690000000450106,2019-01-08 16:38:18,empty,Lisa,Ferkovich,lisajo2009@yahoo.com,14062394749,empty,1963-07-08,1963,...,Past Guests,Karma Bavaria,empty,UK/Europe,New Lead,true,false,true,true,Upper 35
3,zcrm_3584690000000450110,2019-01-08 16:38:18,empty,Maeve,Maher,maeve.maher@gmail.com,353868702583,empty,1973-01-15,1973,...,Past Guests,Karma Bavaria,empty,UK/Europe,New Lead,true,true,true,true,Upper 35
4,zcrm_3584690000000450116,2019-01-08 16:38:18,empty,Moritz,Holzmann,moritz.holzmann@gmx.de,4915140714809,empty,1978-07-09,1978,...,Past Guests,Karma Bavaria,empty,UK/Europe,New Lead,true,true,true,true,Upper 35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220171,zcrm_3584690000449528096,2023-06-19 12:31:20,empty,Devakumar,Kolakani,deva.kolakani61@gmail.com,919148144553,918904163188,1853-01-11,1853,...,Past Guests,Karma Royal Palms,Viewpoint,empty,empty,false,true,false,false,Upper 35
220172,zcrm_3584690000449528120,2023-06-19 12:33:04,empty,Deepak,Rawat,sumankhatana085@gmail.com,919582938629,919149879514,1853-01-11,1853,...,Past Guests,Karma Royal Palms,Viewpoint,empty,empty,false,true,false,false,Upper 35
220173,zcrm_3584690000449528144,2023-06-19 12:33:05,empty,Himanshu,Khanna,himanshu.khanna22@gmail.com,919810063081,empty,1853-01-11,1853,...,Past Guests,"Karma Seven Lakes, Udaipur",Viewpoint,empty,empty,false,true,false,false,Upper 35
220174,zcrm_3584690000449528162,2023-06-19 12:33:51,empty,Manohar,Kale,kale_manu_pune@yahoo.com,919403766227,empty,1853-01-11,1853,...,Past Guests,Karma Royal Palms,Viewpoint,empty,empty,false,true,false,false,Upper 35
220175,zcrm_3584690000449528180,2023-06-19 12:34:02,empty,Vishnu,Joshi,vishnusharma.vsgc@gmail.com,919890881388,919371073845,1853-01-11,1853,...,Past Guests,Karma Royal Monterio,Viewpoint,empty,empty,false,true,false,false,Upper 35

In [12]:
zoho_df['New Country'] = zoho_df['Country']

zoho_df.loc[
    (zoho_df['Phone'].str.contains('^61|^\+61')) & 
    (
        (zoho_df['Country'] != 'Indonesia') & 
        (zoho_df['Country'] != 'Australia') & 
        (zoho_df['Country'] != 'United Kingdom')
    ),
'New Country'
] = 'Australia'

zoho_df.loc[
    (zoho_df['Phone'].str.contains('^44|^\+44')) & 
    (
        (zoho_df['Country'] != 'Indonesia') & 
        (zoho_df['Country'] != 'Australia') & 
        (zoho_df['Country'] != 'United Kingdom')
    ),
'New Country'
] = 'United Kingdom'

zoho_df.loc[
    (zoho_df['Phone'].str.contains('^08|^62|^\+62')) & 
    (
        (zoho_df['Country'] != 'Indonesia') & 
        (zoho_df['Country'] != 'Australia') & 
        (zoho_df['Country'] != 'United Kingdom')
    ),
'New Country'
] = 'Indonesia'

In [13]:
zoho_df.loc[
    zoho_df['Phone'].str.contains('^08|^62|^\+62')
    ].groupby('New Country').count()

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Lead Source,Lead Locations,Lead Source Description,Lead Regions,Lead Status,Email Opt Out,Opt In,Do Not Contact,Do Not Mail,Age Status
New Country,,,,,,,,,,,,,,,,,,,,,
Australia,91,91,91,91,91,91,91,91,91,91,...,91,91,91,91,91,91,91,91,91,91
Indonesia,9015,9015,9015,9015,9015,9015,9015,9015,9015,9015,...,9015,9015,9015,9015,9015,9015,9015,9015,9015,9015
United Kingdom,21,21,21,21,21,21,21,21,21,21,...,21,21,21,21,21,21,21,21,21,21

In [14]:
zoho_df.loc[(zoho_df['Birthdate'].dt.strftime('%Y') == '1853')]

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Lead Locations,Lead Source Description,Lead Regions,Lead Status,Email Opt Out,Opt In,Do Not Contact,Do Not Mail,Age Status,New Country
10,zcrm_3584690000000450260,2019-01-08 16:38:18,empty,Katia,Lansdowne,katia.lansdowne@sgcib.com,447904244011,empty,1853-01-11,1853,...,Karma Manoir;Karma Manoir des Deux Amants,empty,UK/Europe,New Lead,true,false,true,true,Upper 35,United Kingdom
11,zcrm_3584690000000450488,2019-01-08 16:38:20,empty,Frikha,Samy,samy.f@hotmail.com,633927842,empty,1853-01-11,1853,...,Karma Manoir,empty,UK/Europe,New Lead,false,false,false,false,Upper 35,France
12,zcrm_3584690000000450549,2019-01-08 16:38:20,empty,Emma,Fredericks,em_fredericks@hotmail.com,+61401799329,+61401799329,1853-01-11,1853,...,Karma Rottnest,empty,SEAP,New Lead,true,false,true,true,Upper 35,Australia
13,zcrm_3584690000000450556,2019-01-08 16:38:20,empty,Gian,Barritt,gian.barritt@gmail.com,+61434567117,empty,1853-01-11,1853,...,Karma Rottnest,empty,SEAP,New Lead,true,false,true,true,Upper 35,Australia
14,zcrm_3584690000000450562,2019-01-08 16:38:20,empty,Heidi,Naish,heidinaish@yahoo.com.au,9933006,61409933027,1853-01-11,1853,...,Karma Rottnest,empty,SEAP,New Lead,true,false,true,true,Upper 35,Australia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220171,zcrm_3584690000449528096,2023-06-19 12:31:20,empty,Devakumar,Kolakani,deva.kolakani61@gmail.com,919148144553,918904163188,1853-01-11,1853,...,Karma Royal Palms,Viewpoint,empty,empty,false,true,false,false,Upper 35,India
220172,zcrm_3584690000449528120,2023-06-19 12:33:04,empty,Deepak,Rawat,sumankhatana085@gmail.com,919582938629,919149879514,1853-01-11,1853,...,Karma Royal Palms,Viewpoint,empty,empty,false,true,false,false,Upper 35,India
220173,zcrm_3584690000449528144,2023-06-19 12:33:05,empty,Himanshu,Khanna,himanshu.khanna22@gmail.com,919810063081,empty,1853-01-11,1853,...,"Karma Seven Lakes, Udaipur",Viewpoint,empty,empty,false,true,false,false,Upper 35,India
220174,zcrm_3584690000449528162,2023-06-19 12:33:51,empty,Manohar,Kale,kale_manu_pune@yahoo.com,919403766227,empty,1853-01-11,1853,...,Karma Royal Palms,Viewpoint,empty,empty,false,true,false,false,Upper 35,India
220175,zcrm_3584690000449528180,2023-06-19 12:34:02,empty,Vishnu,Joshi,vishnusharma.vsgc@gmail.com,919890881388,919371073845,1853-01-11,1853,...,Karma Royal Monterio,Viewpoint,empty,empty,false,true,false,false,Upper 35,India

# ====================== Awal Filter Umum ======================

In [208]:
# data phone, mobile dam email member yang ada di master data (wash member)

m.clean_number(zoho_df, 'Phone')
m.clean_number(zoho_df, 'Mobile')
m.replace_not_valid_to_empty(zoho_df, 'Phone')
m.replace_not_valid_to_empty(zoho_df, 'Mobile')
zoho_df['Email'] = m.lowercase(zoho_df, 'Email')
m.clean_space(zoho_df, 'Email')

m.clean_number(df_phone, 'Mobile')

df_email['Email'] = m.lowercase(df_email, 'Email')
m.clean_space(df_email, 'Email')

0                 harvey@liblink.co.za
1                  _benezi@hotmail.com
2                      0000987@mail.ru
3                    0007psc@gmail.com
4                   001paras@gmail.com
                      ...
295067      sachin_patel@hotmail.co.uk
295068        brianne.berini@gmail.com
295069        tonyabraham101@gmail.com
295070    serena.m.patel@hotmail.co.uk
295071         slatterysam96@gmail.com
Name: Email, Length: 295072, dtype: string

In [209]:
count_deleted_wrong_format = m.delete_email_wrong_format(zoho_df, 'Email')
count_after_deleted_wrong_format = zoho_df.shape[0]

In [210]:
# hitung jumlah duplicate
count_duplicate_general = zoho_df.loc[zoho_df.duplicated(subset=['Phone','Mobile','Email'])].shape[0]

zoho_df.loc[zoho_df.duplicated(subset=['Phone','Mobile','Email'])]

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Lead Locations,Lead Source Description,Lead Regions,Lead Status,Email Opt Out,Opt In,Do Not Contact,Do Not Mail,Age Status,New Country
1585,zcrm_3584690000304823829,2021-08-08 09:46:47,empty,Carly,Miles,1carlymiles@gmail.com,61466006199,empty,1983-07-08,1983,...,Karma Kandara,empty,empty,empty,false,true,false,false,Upper 35,Australia
1593,zcrm_3584690000304826816,2021-08-08 09:51:41,empty,Effie,Konstantopoulos,effie_kon@yahoo.com.au,61418302366,empty,1969-07-03,1969,...,Karma Kandara,empty,empty,empty,false,true,false,false,Upper 35,Australia
1598,zcrm_3584690000304828827,2021-08-08 09:46:41,empty,Carly,Miles,1carlymiles@gmail.com,61466006199,empty,1983-07-08,1983,...,Karma Kandara,empty,empty,empty,false,true,false,false,Upper 35,Australia
1599,zcrm_3584690000304828881,2021-08-08 09:51:14,empty,Silvie Soedjarwo,Leksosadjojo,silvieapple@icloud.com,empty,8112753668,1979-09-12,1979,...,Karma Kandara,empty,empty,empty,false,true,false,false,Upper 35,Indonesia
1603,zcrm_3584690000304829746,2021-08-08 09:36:44,empty,Lyn,Grant,lynkeel@yahoo.com.au,437992114,empty,1959-05-15,1959,...,Karma Kandara,empty,empty,empty,true,true,false,false,Upper 35,Australia
1608,zcrm_3584690000304830830,2021-08-08 09:49:45,empty,Reni,Rosi,renirosij@gmail.com,empty,62817818831,1989-03-20,1989,...,Karma Kandara,empty,empty,empty,false,true,false,false,Under 35,Indonesia
1620,zcrm_3584690000304833570,2021-08-08 09:46:52,empty,Carly,Miles,1carlymiles@gmail.com,61466006199,empty,1983-07-08,1983,...,Karma Kandara,empty,empty,empty,true,false,true,true,Upper 35,Australia
1621,zcrm_3584690000304833588,2021-08-08 09:47:59,empty,Grant,Welling,redyak52@gmail.com,61419777116,empty,1975-08-01,1975,...,Karma Kandara,empty,empty,empty,false,true,false,false,Upper 35,Australia
1630,zcrm_3584690000304834621,2021-08-08 09:42:46,empty,Claire,Carty,ccarty@remtron.com.au,4195665957,empty,1967-04-18,1967,...,Karma Kandara,empty,empty,empty,false,true,false,false,Upper 35,Australia
1634,zcrm_3584690000304851033,2021-08-08 09:37:05,empty,Ika,Nur,ikanurf84@gmail.com,6287788840215,empty,2019-03-30,2019,...,Karma Kandara,empty,empty,empty,false,true,false,false,Under 35,Indonesia
1639,zcrm_3584690000304853062,2021-08-08 09:52:07,empty,Andrea,Ronnberg,andrearonnberg@kae.com,empty,4470578139235,1993-04-07,1993,...,Karma Kandara,empty,UK/Europe,empty,false,true,false,false,Under 35,United Kingdom
1641,zcrm_3584690000304857001,2021-08-08 09:53:27,empty,Donna,Mufida,donnamufida@gmail.com,empty,6581895964,1982-08-22,1982,...,Karma Kandara,empty,empty,empty,false,true,false,false,Upper 35,Indonesia
1649,zcrm_3584690000304865078,2021-08-08 10:29:22,empty,Adriyanto,Adriyanto,nusantaraperkasa1@gmail.com,6281242388003,empty,1980-01-22,1980,...,Karma Kandara,empty,empty,empty,false,true,false,false,Upper 35,Indonesia
1708,zcrm_3584690000304908078,2021-08-08 15:06:50,empty,Julina,Julina,julinajulina@gmail.com,62811757724,empty,1976-03-12,1976,...,Karma Kandara,empty,empty,empty,true,false,true,true,Upper 35,Indonesia

In [211]:
zoho_df.drop_duplicates(subset=['Phone','Mobile','Email'], inplace=True)
zoho_df.reset_index(drop=True, inplace=True)

# hitung jumlah setelah value duplicate dihapus
count_after_dedup_duplicate = zoho_df.shape[0]

zoho_df

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Lead Locations,Lead Source Description,Lead Regions,Lead Status,Email Opt Out,Opt In,Do Not Contact,Do Not Mail,Age Status,New Country
0,zcrm_3584690000000450173,2019-01-08 16:38:18,empty,Dr. Steven,Tracy,steven@dental.diavie.net,61434462592,empty,1952-05-16,1952,...,Karma Kandara,empty,SEAP,Not Sold,false,false,false,false,Upper 35,Australia
1,zcrm_3584690000000450184,2019-01-08 16:38:18,empty,Paul,May,paulmay@intercept-australia.asia.com,61411094681,empty,1959-01-14,1959,...,Karma Kandara,empty,SEAP,New Lead,false,false,false,false,Upper 35,Australia
2,zcrm_3584690000000450188,2019-01-08 16:38:18,empty,Muhammad,"Andi H.N, St",nurkusumahadi@gmail.com,6281225305277,empty,1974-06-29,1974,...,Karma Kandara,empty,SEAP,New Lead,false,false,false,false,Upper 35,Indonesia
3,zcrm_3584690000000456086,2019-01-09 11:10:49,empty,Eren,Akpinar,1115422548@44.com,6141065,empty,2000-10-05,2000,...,Karma Kandara,empty,SEAP,Wrong Number,false,false,false,false,Under 35,Australia
4,zcrm_3584690000000456153,2019-01-09 11:10:49,empty,Drew Philip,Wozniak,a_maureen@hotmail.com,61402757662,empty,1988-10-08,1988,...,Karma Kandara,empty,SEAP,No Response,false,true,false,false,Under 35,Australia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1786,zcrm_3584690000356091884,2022-04-04 08:23:11,empty,Merliana,-,meili.yanna07@gmail.com,6281806336269,empty,1853-01-11,1984,...,KRR @ Karma Kandara,Viewpoint,SEAP,Hot Prospect,false,true,false,false,Upper 35,Indonesia
1787,zcrm_3584690000380286343,2022-07-03 18:28:03,empty,Tjan,Stephanie Meilia Tjandra,tj.fanie90@gmail.com,6281365000118,empty,1853-01-11,1990,...,Karma Kandara,Viewpoint,SEAP,Hot Prospect,false,true,false,false,Under 35,Indonesia
1788,zcrm_3584690000390475093,2022-08-13 05:59:31,empty,Trifeni,Rahmaputri,trifeni@gmail.com,6281284741140,empty,1853-01-11,1990,...,KRR @ Karma Kandara,Viewpoint,SEAP,Potentially Hot Prospect,false,true,false,false,Under 35,Indonesia
1789,zcrm_3584690000406096629,2022-10-22 19:29:24,empty,Aan Kus,Endang,p_asterius@yahoo.com,6281346221155,empty,1853-01-11,1979,...,Karma Kandara,Viewpoint,SEAP,Hot Prospect,false,true,false,false,Upper 35,Indonesia
1790,zcrm_3584690000437201039,2023-03-24 21:05:17,empty,Dony,Suyanto,devi.stefannie@yahoo.com,6285267676728,empty,1853-01-11,1989,...,KRR @ Karma Kandara,Viewpoint,empty,empty,false,true,false,false,Under 35,Indonesia

In [212]:
# Cek leads test
test_leads = zoho_df.loc[
    
        zoho_df['Email'].str.contains('^test@', flags=re.I, regex=True) |
        zoho_df['Email'].str.contains('\+test', flags=re.I, regex=True) |
    
        zoho_df['First Name'].str.contains('^test$', flags=re.I, regex=True) |
        zoho_df['Last Name'].str.contains('^test$', flags=re.I, regex=True) |

        zoho_df['First Name'].str.contains('test 1', flags=re.I, regex=True) |
        zoho_df['Last Name'].str.contains('test 2', flags=re.I, regex=True)|
        zoho_df['First Name'].str.contains('test1', flags=re.I, regex=True) |
        zoho_df['Last Name'].str.contains('test2', flags=re.I, regex=True)|

        zoho_df['First Name'].str.contains(' test ', flags=re.I, regex=True) | 
        zoho_df['Last Name'].str.contains(' test ', flags=re.I, regex=True) | 
        zoho_df['Last Name'].str.contains(' test$', flags=re.I, regex=True)
    ]

count_leads_test = test_leads.shape[0]

# test_leads.to_excel(r'C:\Users\fajar\Documents\Python\Data\test_leads_2.xlsx', index=False)
test_leads

Empty DataFrame
Columns: [Record Id, Created Time, Created Date, First Name, Last Name, Email, Phone, Mobile, Birthdate, Year of Birth, Street, Street2, City, State, Country, Nationality, Booking Status, BookRef, Departure Date, Arrival Date, Card Type, Marital Status, Lead Brand, Lead Sub-Brand, Lead Source, Lead Locations, Lead Source Description, Lead Regions, Lead Status, Email Opt Out, Opt In, Do Not Contact, Do Not Mail, Age Status, New Country]
Index: []

[0 rows x 35 columns]

In [213]:
zoho_df.drop(test_leads.index, inplace=True)
zoho_df.reset_index(drop=True, inplace=True)

count_after_dedup_test = zoho_df.shape[0]

In [214]:
dnm_leads = zoho_df.loc[zoho_df['Do Not Mail'] == 'true']
count_dnm = dnm_leads.shape[0]

In [215]:
zoho_df.drop(dnm_leads.index, inplace=True)
zoho_df.reset_index(drop=True, inplace=True)

count_after_dedup_dnm = zoho_df.shape[0]

In [216]:
# Cek Email OTA
email_OTA = m.find_OTA(zoho_df, 'Email')
count_email_OTA = email_OTA.shape[0]
# email_OTA.to_excel(r'C:\Users\fajar\Documents\Python\Data\email_OTA.xlsx', index=False)

email_OTA

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Lead Locations,Lead Source Description,Lead Regions,Lead Status,Email Opt Out,Opt In,Do Not Contact,Do Not Mail,Age Status,New Country
878,zcrm_3584690000006010291,2019-04-02 02:20:58,2017-11-20,James,O'regan,james.oregan@wendywutours.com.au,6208482200,empty,1993-12-01,1993,...,Karma Kandara,Karma Kandara,SEAP,No Response,false,false,false,false,Under 35,Australia
1148,zcrm_3584690000058643283,2019-07-04 18:36:29,empty,Renee,Rudolf,renee@xiiitouring.com,61400374339,empty,1976-05-27,1976,...,Karma Kandara,empty,SEAP,New Lead,false,true,false,false,Upper 35,Australia
1361,zcrm_3584690000149249216,2019-12-05 17:09:17,empty,Benitto,Ridwan,fit-ops@egltours.com,6285285223152001,empty,1994-10-01,1994,...,Karma Kandara,empty,SEAP,New Lead,false,true,false,false,Under 35,Indonesia

In [217]:
# delete email OTA
count_after_clean_OTA = m.delete_OTA(zoho_df, 'Email')
# zoho_df.to_excel(r'C:\Users\fajar\Documents\Python\Data\after_clean_OTA.xlsx', index=False)

zoho_df

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Lead Locations,Lead Source Description,Lead Regions,Lead Status,Email Opt Out,Opt In,Do Not Contact,Do Not Mail,Age Status,New Country
0,zcrm_3584690000000450173,2019-01-08 16:38:18,empty,Dr. Steven,Tracy,steven@dental.diavie.net,61434462592,empty,1952-05-16,1952,...,Karma Kandara,empty,SEAP,Not Sold,false,false,false,false,Upper 35,Australia
1,zcrm_3584690000000450184,2019-01-08 16:38:18,empty,Paul,May,paulmay@intercept-australia.asia.com,61411094681,empty,1959-01-14,1959,...,Karma Kandara,empty,SEAP,New Lead,false,false,false,false,Upper 35,Australia
2,zcrm_3584690000000450188,2019-01-08 16:38:18,empty,Muhammad,"Andi H.N, St",nurkusumahadi@gmail.com,6281225305277,empty,1974-06-29,1974,...,Karma Kandara,empty,SEAP,New Lead,false,false,false,false,Upper 35,Indonesia
3,zcrm_3584690000000456086,2019-01-09 11:10:49,empty,Eren,Akpinar,1115422548@44.com,6141065,empty,2000-10-05,2000,...,Karma Kandara,empty,SEAP,Wrong Number,false,false,false,false,Under 35,Australia
4,zcrm_3584690000000456153,2019-01-09 11:10:49,empty,Drew Philip,Wozniak,a_maureen@hotmail.com,61402757662,empty,1988-10-08,1988,...,Karma Kandara,empty,SEAP,No Response,false,true,false,false,Under 35,Australia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1625,zcrm_3584690000356091884,2022-04-04 08:23:11,empty,Merliana,-,meili.yanna07@gmail.com,6281806336269,empty,1853-01-11,1984,...,KRR @ Karma Kandara,Viewpoint,SEAP,Hot Prospect,false,true,false,false,Upper 35,Indonesia
1626,zcrm_3584690000380286343,2022-07-03 18:28:03,empty,Tjan,Stephanie Meilia Tjandra,tj.fanie90@gmail.com,6281365000118,empty,1853-01-11,1990,...,Karma Kandara,Viewpoint,SEAP,Hot Prospect,false,true,false,false,Under 35,Indonesia
1627,zcrm_3584690000390475093,2022-08-13 05:59:31,empty,Trifeni,Rahmaputri,trifeni@gmail.com,6281284741140,empty,1853-01-11,1990,...,KRR @ Karma Kandara,Viewpoint,SEAP,Potentially Hot Prospect,false,true,false,false,Under 35,Indonesia
1628,zcrm_3584690000406096629,2022-10-22 19:29:24,empty,Aan Kus,Endang,p_asterius@yahoo.com,6281346221155,empty,1853-01-11,1979,...,Karma Kandara,Viewpoint,SEAP,Hot Prospect,false,true,false,false,Upper 35,Indonesia
1629,zcrm_3584690000437201039,2023-03-24 21:05:17,empty,Dony,Suyanto,devi.stefannie@yahoo.com,6285267676728,empty,1853-01-11,1989,...,KRR @ Karma Kandara,Viewpoint,empty,empty,false,true,false,false,Under 35,Indonesia

In [218]:
# Cek Email Karma
email_karma = m.find_karma(zoho_df, 'Email')
count_email_karma = email_karma.shape[0]
# email_OTA.to_excel(r'C:\Users\fajar\Documents\Python\Data\email_OTA.xlsx', index=False)

email_karma

Empty DataFrame
Columns: [Record Id, Created Time, Created Date, First Name, Last Name, Email, Phone, Mobile, Birthdate, Year of Birth, Street, Street2, City, State, Country, Nationality, Booking Status, BookRef, Departure Date, Arrival Date, Card Type, Marital Status, Lead Brand, Lead Sub-Brand, Lead Source, Lead Locations, Lead Source Description, Lead Regions, Lead Status, Email Opt Out, Opt In, Do Not Contact, Do Not Mail, Age Status, New Country]
Index: []

[0 rows x 35 columns]

In [219]:
# delete email Karma
count_after_clean_karma = m.delete_karma(zoho_df, 'Email')
# zoho_df.to_excel(r'C:\Users\fajar\Documents\Python\Data\after_clean_OTA.xlsx', index=False)

zoho_df

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Lead Locations,Lead Source Description,Lead Regions,Lead Status,Email Opt Out,Opt In,Do Not Contact,Do Not Mail,Age Status,New Country
0,zcrm_3584690000000450173,2019-01-08 16:38:18,empty,Dr. Steven,Tracy,steven@dental.diavie.net,61434462592,empty,1952-05-16,1952,...,Karma Kandara,empty,SEAP,Not Sold,false,false,false,false,Upper 35,Australia
1,zcrm_3584690000000450184,2019-01-08 16:38:18,empty,Paul,May,paulmay@intercept-australia.asia.com,61411094681,empty,1959-01-14,1959,...,Karma Kandara,empty,SEAP,New Lead,false,false,false,false,Upper 35,Australia
2,zcrm_3584690000000450188,2019-01-08 16:38:18,empty,Muhammad,"Andi H.N, St",nurkusumahadi@gmail.com,6281225305277,empty,1974-06-29,1974,...,Karma Kandara,empty,SEAP,New Lead,false,false,false,false,Upper 35,Indonesia
3,zcrm_3584690000000456086,2019-01-09 11:10:49,empty,Eren,Akpinar,1115422548@44.com,6141065,empty,2000-10-05,2000,...,Karma Kandara,empty,SEAP,Wrong Number,false,false,false,false,Under 35,Australia
4,zcrm_3584690000000456153,2019-01-09 11:10:49,empty,Drew Philip,Wozniak,a_maureen@hotmail.com,61402757662,empty,1988-10-08,1988,...,Karma Kandara,empty,SEAP,No Response,false,true,false,false,Under 35,Australia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1625,zcrm_3584690000356091884,2022-04-04 08:23:11,empty,Merliana,-,meili.yanna07@gmail.com,6281806336269,empty,1853-01-11,1984,...,KRR @ Karma Kandara,Viewpoint,SEAP,Hot Prospect,false,true,false,false,Upper 35,Indonesia
1626,zcrm_3584690000380286343,2022-07-03 18:28:03,empty,Tjan,Stephanie Meilia Tjandra,tj.fanie90@gmail.com,6281365000118,empty,1853-01-11,1990,...,Karma Kandara,Viewpoint,SEAP,Hot Prospect,false,true,false,false,Under 35,Indonesia
1627,zcrm_3584690000390475093,2022-08-13 05:59:31,empty,Trifeni,Rahmaputri,trifeni@gmail.com,6281284741140,empty,1853-01-11,1990,...,KRR @ Karma Kandara,Viewpoint,SEAP,Potentially Hot Prospect,false,true,false,false,Under 35,Indonesia
1628,zcrm_3584690000406096629,2022-10-22 19:29:24,empty,Aan Kus,Endang,p_asterius@yahoo.com,6281346221155,empty,1853-01-11,1979,...,Karma Kandara,Viewpoint,SEAP,Hot Prospect,false,true,false,false,Upper 35,Indonesia
1629,zcrm_3584690000437201039,2023-03-24 21:05:17,empty,Dony,Suyanto,devi.stefannie@yahoo.com,6285267676728,empty,1853-01-11,1989,...,KRR @ Karma Kandara,Viewpoint,empty,empty,false,true,false,false,Under 35,Indonesia

In [220]:
find_member_booking = zoho_df.copy()

find_member_booking.loc[find_member_booking['Phone'].isin(df_phone['Mobile']), 'Same Value Find'] = 'Member-Mobile' 
find_member_booking.loc[find_member_booking['Mobile'].isin(df_phone['Mobile']), 'Same Value Find'] = 'Member-Mobile'

find_member_booking.loc[find_member_booking['Email'].isin(df_email['Email']), 'Same Value Find'] = 'Member-Email'

find_member_booking.drop(find_member_booking.loc[find_member_booking['Same Value Find'].isna()].index, inplace=True)

count_member_dedup = find_member_booking.loc[find_member_booking['Same Value Find'].str.contains('Member', flags=re.I, regex=True)].shape[0]

find_member_booking.replace('empty', '', inplace=True)
#find_member_booking.to_csv(r'C:\Users\fajar\Documents\Python\Data\booking-member-dedup.csv', index=False)

#find_member_booking.loc[find_member_booking['Same Value Find'] == 'Booking-Phone1']

In [221]:
# data phone, mobile dam email member yang ada di master data 
count_wash_member = zoho_df.loc[

    zoho_df['Phone'].isin(df_phone['Mobile']) | 
    zoho_df['Mobile'].isin(df_phone['Mobile']) |

    zoho_df['Email'].isin(df_email['Email'])

].shape[0]

zoho_df.drop(zoho_df.loc[
    zoho_df['Phone'].isin(df_phone['Mobile']) | 
    zoho_df['Mobile'].isin(df_phone['Mobile']) |

    zoho_df['Email'].isin(df_email['Email'])

    ].index, inplace=True)
    
zoho_df.reset_index(drop=True, inplace=True)

count_after_wash_member = zoho_df.shape[0]

In [222]:
count_email_only = zoho_df.loc[(zoho_df['Email'] != 'empty') & ((zoho_df['Phone'] == 'empty') & (zoho_df['Mobile'] == 'empty'))].shape[0]
count_phone_only = zoho_df.loc[(zoho_df['Email'] == 'empty') & ((zoho_df['Phone'] != 'empty') | (zoho_df['Mobile'] != 'empty'))].shape[0]
count_email_and_phone = zoho_df.loc[(zoho_df['Email'] != 'empty') & ((zoho_df['Phone'] != 'empty') | (zoho_df['Mobile'] != 'empty'))].shape[0]

count_blank = zoho_df.loc[(zoho_df['Email'] =='empty') & (zoho_df['Phone']=='empty') & (zoho_df['Mobile']=='empty')].shape[0]

# zoho_df.loc[(zoho_df['Email'] =='empty') & (zoho_df['Phone']=='empty') & (zoho_df['Mobile']=='empty')].to_excel(r'C:\Users\fajar\Documents\Python\Data\blank_data.xlsx', index=False)

# zoho_df.loc[(zoho_df['Email'] != 'empty') & ((zoho_df['Phone'] == 'empty') & (zoho_df['Mobile'] == 'empty')), 'Contact Type'] = 'Email Only'
# zoho_df.loc[(zoho_df['Email'] == 'empty') & ((zoho_df['Phone'] != 'empty') | (zoho_df['Mobile'] != 'empty')), 'Contact Type'] = 'Phone Only'
# zoho_df.loc[(zoho_df['Email'] != 'empty') & ((zoho_df['Phone'] != 'empty') | (zoho_df['Mobile'] != 'empty')), 'Contact Type'] = 'Email and Phone'

zoho_df.drop(zoho_df.loc[(zoho_df['Email'] =='empty') & (zoho_df['Phone']=='empty') & (zoho_df['Mobile']=='empty')].index, inplace=True)
zoho_df.reset_index(drop=True, inplace=True)

count_after_wash_blank = zoho_df.shape[0]

In [223]:
arr_dedup = [count_deleted_wrong_format, count_duplicate_general, count_leads_test, count_dnm, count_email_OTA, count_email_karma, count_blank]
count_sum_dedup = sum(arr_dedup)
count_sum_dedup

175

In [224]:
print("==========================================================")
print("Summary")
print("==========================================================")
print("Jumlah Keseluruhan Master Zoho : "+str(count_data_awal))
print("Jumlah Filter Leads Awal : "+str(count_filter_awal))
print("Jumlah Format Email Salah : "+str(count_deleted_wrong_format))
print("Jumlah Setelah Clean Format Email Salah : "+str(count_after_deleted_wrong_format))
print("Jumlah Duplicate (Phone, Mobile dan Email) : "+str(count_duplicate_general))
print("Jumlah Setelah Clean Duplicate : "+str(count_after_dedup_duplicate))
print("Jumlah Lead Test : "+str(count_leads_test))
print("Jumlah Setelah Clean Lead Test : "+str(count_after_dedup_test))
print("Jumlah Lead Do Not Mail : "+str(count_dnm))
print("Jumlah Setelah Clean Lead Do Not Mail : "+str(count_after_dedup_dnm))
print("Jumlah Email OTA : "+str(count_email_OTA))
print("Jumlah Setelah Clean Email OTA : "+str(count_after_clean_OTA))
print("Jumlah Email Karma : "+str(count_email_karma))
print("Jumlah Setelah Clean Email Karma : "+str(count_after_clean_karma))
print("Jumlah Wash Member : "+str(count_member_dedup))
print("Jumlah Setelah Wash Member : "+str(count_after_wash_member))
print("Jumlah Phone Email Blank (Setelah phone yang tidak valid dihapus) : "+str(count_blank))
print("Jumlah Setelah Wash Phone Email Blank : "+str(count_after_wash_blank))
print("==========================================================")
print("Contact Type")
print("==========================================================")
print("Jumlah Email Only : "+str(count_email_only))
print("Jumlah Phone Only : "+str(count_phone_only))
print("Jumlah Email dan Phone : "+str(count_email_and_phone))

==========================================================
Summary
==========================================================
Jumlah Keseluruhan Master Zoho : 4637224
Jumlah Filter Leads Awal : 1805
Jumlah Format Email Salah : 0
Jumlah Setelah Clean Format Email Salah : 1805
Jumlah Duplicate (Phone, Mobile dan Email) : 14
Jumlah Setelah Clean Duplicate : 1791
Jumlah Lead Test : 0
Jumlah Setelah Clean Lead Test : 1791
Jumlah Lead Do Not Mail : 158
Jumlah Setelah Clean Lead Do Not Mail : 1633
Jumlah Email OTA : 3
Jumlah Setelah Clean Email OTA : 1630
Jumlah Email Karma : 0
Jumlah Setelah Clean Email Karma : 1630
Jumlah Wash Member : 326
Jumlah Setelah Wash Member : 1304
Jumlah Phone Email Blank (Setelah phone yang tidak valid dihapus) : 0
Jumlah Setelah Wash Phone Email Blank : 1304
==========================================================
Contact Type
==========================================================
Jumlah Email Only : 60
Jumlah Phone Only : 0
Jumlah Email dan Phone : 1244

In [225]:
print("==========================================================")
print("Summary Report")
print("==========================================================")
print("Jumlah Data Awal : "+str(count_filter_awal))
print("Jumlah Wash Dedup : "+str(count_sum_dedup))
print("Jumlah Wash Member : "+str(count_member_dedup))
print("Jumlah Data Akhir : "+str(count_after_wash_blank))

==========================================================
Summary Report
==========================================================
Jumlah Data Awal : 1805
Jumlah Wash Dedup : 175
Jumlah Wash Member : 326
Jumlah Data Akhir : 1304

# ====================== Akhir Filter Umum ======================

In [226]:
# zoho_df.replace('empty', '', inplace=True)
# zoho_df.to_excel(r'C:\Users\fajar\Documents\Python\Data\zoho_req_birthdate(PG-Kandara).xlsx', index=False)