In [23]:
import pandas as pd
import main_module as m
import re

%load_ext autoreload
%autoreload 2

path = r'C:\Users\fajar\Documents\Python\Data\test.csv'
df = pd.read_csv(path, dtype='string')
df

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

,No,Servicing Office,Membership Type,Member No,First Name,Last Name,Email,Tel/Phone,Status,Staff Name,...,Event Date To,Event Location,Event Region,Event Type,Event Status,Event Name,Event Sheet Link,Event Link,Available Spots,Quota Event
0,1,KCI,Karma Club,84079,Steve,Dean,steviedeanie@gmail.com12312,4.48E+11,Confirmed,Lyddea,...,14-Mar-23,Karma Sallford Hall,UK/Europe,Adventure,Cancelled,CHELTENHAM FEST 14 MAR,https://docs.google.com/spreadsheets/d/15bYOR2...,https://edm.karmadestinations.com/karmagroup/2...,<NA>,<NA>

In [24]:
m.clean_space(df, 'Email')
m.email_correction(df, 'Email')

In [25]:
df['Email'].replace('mailto:|-primary|-pri|-Mrs|(noemailtobesent)','', regex=True, inplace=True)

In [26]:
df

,No,Servicing Office,Membership Type,Member No,First Name,Last Name,Email,Tel/Phone,Status,Staff Name,...,Event Date To,Event Location,Event Region,Event Type,Event Status,Event Name,Event Sheet Link,Event Link,Available Spots,Quota Event
0,1,KCI,Karma Club,84079,Steve,Dean,steviedeanie@gmail.com,4.48E+11,Confirmed,Lyddea,...,14-Mar-23,Karma Sallford Hall,UK/Europe,Adventure,Cancelled,CHELTENHAM FEST 14 MAR,https://docs.google.com/spreadsheets/d/15bYOR2...,https://edm.karmadestinations.com/karmagroup/2...,<NA>,<NA>