In [1]:
import pandas as pd

# merubah group menjadi dataframe menggunakan reset_index, dan membuat nama kolom baru juga kolom grouping tidak bernama

# creating dataframe
df = pd.DataFrame({'Student': ['Rangga', 'Sucipto', 'Ryan', 'Ahmad', 'Rangga', 'Ryan', 'Sucipto', 'Ahmad', 'Rangga', 'Sucipto', 'Ahmad', 'Ryan'],
                   'Status': [
                   'Siswa Tetap', 'Pertukaran Pelajar', 'Pertukaran Pelajar', 'Siswa Tetap', 'Pertukaran Pelajar', 'Siswa Tetap', 'Pertukaran Pelajar', 'Pertukaran Pelajar', 'Siswa Tetap', 'Pertukaran Pelajar', 'Siswa Tetap', 'Pertukaran Pelajar'],
                    'Amount': [
                   10, 20, 30, 40, 20, 60, 40, 80, 30, 60, 120, 90]})
df

    Student              Status  Amount
0    Rangga         Siswa Tetap      10
1   Sucipto  Pertukaran Pelajar      20
2      Ryan  Pertukaran Pelajar      30
3     Ahmad         Siswa Tetap      40
4    Rangga  Pertukaran Pelajar      20
5      Ryan         Siswa Tetap      60
6   Sucipto  Pertukaran Pelajar      40
7     Ahmad  Pertukaran Pelajar      80
8    Rangga         Siswa Tetap      30
9   Sucipto  Pertukaran Pelajar      60
10    Ahmad         Siswa Tetap     120
11     Ryan  Pertukaran Pelajar      90

In [2]:
# split excel berdasarkan groupby
# assume 'df' is your DataFrame and 'column_name' is the column you want to split on
for name, group in df.groupby('Status'):
    group.to_csv(f"{name}.csv", index=False)

In [153]:
df.sort_values(['Email'], ascending=False)

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Street,...,Arrival Date,Marital Status,Lead Brand,Lead Sub-Brand,Lead Source,Lead Locations,Lead Source Description,Zip Code,Destination,Guest Type
1779537,zcrm_3584690000459843335,2023-08-31 16:48:12,2023-07-28,Shrikant,Kasute,श्रिकन्त्कसुते७८@gmail.com,919449480034,<NA>,<NA>,<NA>,...,NaT,<NA>,Timeshare Marketing,Karma Experience IN,Facebook Ads,Hotel Partner,IND | FB MF | KEPH BA,<NA>,<NA>,<NA>
1671401,zcrm_3584690000416884307,2022-12-13 11:15:48,2022-10-25,Rajan,Agrahari,राजानगरहरी2013smart@gmail.com,9939955000,<NA>,1994-10-03,<NA>,...,NaT,<NA>,Timeshare Marketing,Karma Experience IN,Facebook Ads,Karma Apsara,IND | FB AF | KA,<NA>,<NA>,<NA>
1750734,zcrm_3584690000450683386,2023-06-25 15:15:43,<NA>,माही,स,महेश_सकट@ymail.com,+919004208503,<NA>,<NA>,<NA>,...,NaT,<NA>,Timeshare Marketing,Karma Experience IN,Facebook Ads,<NA>,IND | FB MF | KEPH BA,<NA>,<NA>,<NA>
384511,zcrm_3584690000007944103,2019-04-02 06:57:57,2017-08-24,<NA>,Fenglixiang,zzzzzz0540@163.com,<NA>,<NA>,<NA>,<NA>,...,NaT,<NA>,Other,Other,Other,<NA>,<NA>,<NA>,<NA>,<NA>
966447,zcrm_3584690000029484979,2019-05-08 18:49:53,<NA>,<NA>,Zzzzdavid,zzzzdavid@hotmail.com,<NA>,<NA>,<NA>,<NA>,...,NaT,<NA>,Timeshare Marketing,Other Bali DB,Wifi,<NA>,Purple Wifi,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1895449,zcrm_3584690000499153001,2024-06-17 14:21:19,2024-06-17,~Oleh,Fes,<NA>,+351351 938 706 101,<NA>,<NA>,<NA>,...,NaT,<NA>,Karma Resorts,Other,Past Guests,Karma Kandara,Karma Reservations - WhatsApp Channel,<NA>,<NA>,<NA>
1895451,zcrm_3584690000499156001,2024-06-17 14:22:20,2024-06-17,~Christine,Liemon,<NA>,+6262 818-324-804,<NA>,<NA>,<NA>,...,NaT,<NA>,Karma Resorts,Other,Past Guests,Karma Kandara,Karma Reservations - WhatsApp Channel,<NA>,<NA>,<NA>
1895454,zcrm_3584690000499159001,2024-06-17 14:25:24,2024-06-17,~Rustiana,Yanti,<NA>,+6262 812-8875-8006,<NA>,<NA>,<NA>,...,NaT,<NA>,Karma Resorts,Other,Past Guests,Karma Kandara,Karma Reservations - WhatsApp Channel,<NA>,<NA>,<NA>
1895467,zcrm_3584690000499205045,2024-06-17 15:26:47,2024-06-17,Gabriela,Gerny,<NA>,+4141 79 301 20 30,<NA>,<NA>,<NA>,...,NaT,<NA>,Karma Resorts,Other,Past Guests,Karma Kandara,Karma Reservations - WhatsApp Channel,<NA>,<NA>,<NA>
1895491,zcrm_3584690000499258001,2024-06-17 16:41:31,2024-06-17,Winnie,-,<NA>,+626287768420047,<NA>,<NA>,<NA>,...,NaT,<NA>,Karma Resorts,Other,Past Guests,Karma Kandara,Karma Reservations - WhatsApp Channel,<NA>,<NA>,<NA>

In [154]:
df.drop_duplicates(subset='Email', inplace=True)

In [155]:
path = r'C:\Users\fajar\Documents\Python\Data\Request Data\Benny\13 Jun\Campaign Report\Campaign Report.xlsx'
df_campaign = pd.read_excel(path, dtype='string', sheet_name="Zoho Campaign - Data", usecols=['Contact Email'])

path = r'C:\Users\fajar\Documents\Python\Data\Past Guest.xlsx'
df_pg = pd.read_excel(path, dtype='string', sheet_name="Sheet1")

In [156]:
m.clean_number(df, 'Phone')
m.clean_number(df, 'Mobile')
m.replace_not_valid_to_empty(df, 'Phone')
m.replace_not_valid_to_empty(df, 'Mobile')
df['Email'] = m.lowercase(df, 'Email')
m.clean_space(df, 'Email')
m.clean_not_valid_email_format(df, 'Email')

df_campaign['Contact Email'] = m.lowercase(df_campaign, 'Contact Email')
m.clean_space(df_campaign, 'Contact Email')
m.clean_not_valid_email_format(df_campaign, 'Contact Email')

m.clean_number(df_pg, 'Phone')
df_pg['Email'] = m.lowercase(df_pg, 'Email')
m.clean_space(df_pg, 'Email')
m.clean_not_valid_email_format(df_pg, 'Email')

'Email'

In [157]:
df_campaign

                       Contact Email
0                     000008@163.com
1              00001111den@gmail.com
2       000helentmorrow000@gmail.com
3               001mr.jaat@gmail.com
4            006rileysmith@gmail.com
...                              ...
106071         zzangss75@hotmail.com
106072          zzhang1987@gmail.com
106073           zzigi0124@naver.com
106074           zzoella77@yahoo.com
106075               zzpp@hotmail.fr

[106076 rows x 1 columns]

In [158]:
df_join = pd.merge(df_campaign, df, 
                   how='left',
                   left_on='Contact Email',
                   right_on='Email'
                   )

In [159]:
df_join.fillna('empty', inplace=True)
df_join

,Contact Email,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,...,Arrival Date,Marital Status,Lead Brand,Lead Sub-Brand,Lead Source,Lead Locations,Lead Source Description,Zip Code,Destination,Guest Type
0,000008@163.com,zcrm_3584690000005971537,2019-04-02 02:17:16,2018-11-13,"Shaowan,",Zhuo,000008@163.com,86013751144448,empty,empty,...,empty,empty,Karma Resorts,Other,Past Guests,Karma Kandara,Karma Kandara,empty,empty,empty
1,00001111den@gmail.com,zcrm_3584690000280115276,2021-04-30 17:30:56,empty,Denis,Sidorov,00001111den@gmail.com,79296797090,empty,1986-05-19,...,empty,empty,Karma Resorts,Karma Beach,Karma Beach VIP,General,Karma Beach VIP membership sign up,empty,empty,empty
2,000helentmorrow000@gmail.com,zcrm_3584690000338660002,2022-01-11 06:14:54,2022-01-11,Helen,Morrow,000helentmorrow000@gmail.com,empty,empty,empty,...,empty,empty,Karma Group,Other,Newsletter,empty,Newsletter Subscription,empty,empty,empty
3,001mr.jaat@gmail.com,zcrm_3584690000437654397,2023-03-29 00:43:29,empty,Shubham,Choudhary,001mr.jaat@gmail.com,918802544225,empty,empty,...,empty,empty,Timeshare Marketing,Other,Web Enquiry,Karma Sitabani,Timeshare Booking Request,empty,empty,empty
4,006rileysmith@gmail.com,zcrm_3584690000026245135,2019-04-13 17:33:52,2018-01-28,empty,empty,006rileysmith@gmail.com,empty,empty,empty,...,empty,empty,Timeshare Marketing,Other Bali DB,Wifi,Karma Rottnest,Click-through,empty,empty,empty
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106949,zzangss75@hotmail.com,zcrm_3584690000006037729,2019-04-02 02:23:47,2015-03-11,empty,Zzangss,zzangss75@hotmail.com,empty,empty,empty,...,empty,empty,Karma Resorts,Other,Past Guests,Karma Kandara,empty,empty,empty,empty
106950,zzhang1987@gmail.com,zcrm_3584690000006037730,2019-04-02 02:23:47,2015-03-11,empty,Zzhang,zzhang1987@gmail.com,empty,empty,empty,...,empty,empty,Karma Resorts,Other,Past Guests,Karma Kandara,empty,empty,empty,empty
106951,zzigi0124@naver.com,zcrm_3584690000006037731,2019-04-02 02:23:47,2017-11-28,Cha Byoung,Yun,zzigi0124@naver.com,82001034241334,empty,empty,...,empty,empty,Karma Resorts,Other,Past Guests,Karma Kandara,Karma Kandara,empty,empty,empty
106952,zzoella77@yahoo.com,zcrm_3584690000323849155,2021-11-06 15:50:16,2021-11-06,Zuleika,Zoella,zzoella77@yahoo.com,628118129877,empty,empty,...,empty,empty,Karma Resorts,Other,Past Guests,Karma Kandara,F&B,empty,empty,empty
106953,zzpp@hotmail.fr,zcrm_3584690000029883071,2019-05-10 16:23:34,empty,empty,Zzpp,zzpp@hotmail.fr,empty,empty,empty,...,empty,empty,Karma Resorts,Other,Karma Chronicles,empty,empty,empty,empty,empty

In [160]:
df_join.loc[df_join['Phone'].isin(df_pg['Phone']), 'Same Value Find'] = 'Past Guest'
df_join.loc[df_join['Mobile'].isin(df_pg['Phone']), 'Same Value Find'] = 'Past Guest' 
df_join.loc[df_join['Contact Email'].isin(df_pg['Email']), 'Same Value Find'] = 'Past Guest'

In [161]:
df_join.replace('empty','', inplace=True)

In [162]:
# df_join.drop(columns=['Email'], inplace=True)

In [163]:
df_join

,Contact Email,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,...,Marital Status,Lead Brand,Lead Sub-Brand,Lead Source,Lead Locations,Lead Source Description,Zip Code,Destination,Guest Type,Same Value Find
0,000008@163.com,zcrm_3584690000005971537,2019-04-02 02:17:16,2018-11-13,"Shaowan,",Zhuo,000008@163.com,86013751144448,,,...,,Karma Resorts,Other,Past Guests,Karma Kandara,Karma Kandara,,,,Past Guest
1,00001111den@gmail.com,zcrm_3584690000280115276,2021-04-30 17:30:56,,Denis,Sidorov,00001111den@gmail.com,79296797090,,1986-05-19,...,,Karma Resorts,Karma Beach,Karma Beach VIP,General,Karma Beach VIP membership sign up,,,,NaN
2,000helentmorrow000@gmail.com,zcrm_3584690000338660002,2022-01-11 06:14:54,2022-01-11,Helen,Morrow,000helentmorrow000@gmail.com,,,,...,,Karma Group,Other,Newsletter,,Newsletter Subscription,,,,NaN
3,001mr.jaat@gmail.com,zcrm_3584690000437654397,2023-03-29 00:43:29,,Shubham,Choudhary,001mr.jaat@gmail.com,918802544225,,,...,,Timeshare Marketing,Other,Web Enquiry,Karma Sitabani,Timeshare Booking Request,,,,NaN
4,006rileysmith@gmail.com,zcrm_3584690000026245135,2019-04-13 17:33:52,2018-01-28,,,006rileysmith@gmail.com,,,,...,,Timeshare Marketing,Other Bali DB,Wifi,Karma Rottnest,Click-through,,,,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106949,zzangss75@hotmail.com,zcrm_3584690000006037729,2019-04-02 02:23:47,2015-03-11,,Zzangss,zzangss75@hotmail.com,,,,...,,Karma Resorts,Other,Past Guests,Karma Kandara,,,,,Past Guest
106950,zzhang1987@gmail.com,zcrm_3584690000006037730,2019-04-02 02:23:47,2015-03-11,,Zzhang,zzhang1987@gmail.com,,,,...,,Karma Resorts,Other,Past Guests,Karma Kandara,,,,,Past Guest
106951,zzigi0124@naver.com,zcrm_3584690000006037731,2019-04-02 02:23:47,2017-11-28,Cha Byoung,Yun,zzigi0124@naver.com,82001034241334,,,...,,Karma Resorts,Other,Past Guests,Karma Kandara,Karma Kandara,,,,Past Guest
106952,zzoella77@yahoo.com,zcrm_3584690000323849155,2021-11-06 15:50:16,2021-11-06,Zuleika,Zoella,zzoella77@yahoo.com,628118129877,,,...,,Karma Resorts,Other,Past Guests,Karma Kandara,F&B,,,,Past Guest
106953,zzpp@hotmail.fr,zcrm_3584690000029883071,2019-05-10 16:23:34,,,Zzpp,zzpp@hotmail.fr,,,,...,,Karma Resorts,Other,Karma Chronicles,,,,,,NaN

In [164]:
df_join.to_excel(r'C:\Users\fajar\Documents\Python\Data\zoho_campaign_data.xlsx', index=False)

In [165]:
df_done = df_join.groupby(['Lead Brand', 'Lead Sub-Brand', 'Lead Source'], dropna=False)['Contact Email'].count().reset_index(name='Count').copy()
df_done.loc[df_done['Lead Brand'] == '', 'Lead Brand'] = '(Blanks)'
df_done.loc[df_done['Lead Sub-Brand'] == '', 'Lead Sub-Brand'] = '(Blanks)'
df_done.loc[df_done['Lead Source'] == '', 'Lead Source'] = '(Blanks)'
df_done.to_excel(r'C:\Users\fajar\Documents\Python\Data\report_zoho_campaign.xlsx', index=False)

In [ ]:
test = "test"