In [ ]:
import main_module as m
import zoho_filter_module as fil
import pandas as pd
import re
import numpy as np

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [74]:
path = r'G:\.shortcut-targets-by-id\0B_d3smBjzo04eXpvS1NXTWF2RVE\_BOOKING\Booking By Year\FlyBuy Booking Data (BGAU & BGID & KE).xlsx'
df_booking = pd.read_excel(path, dtype='string', sheet_name='BOOKING_BGAU_BGID_KE')

path = r'G:\.shortcut-targets-by-id\0B_d3smBjzo04UUNBME5GOVhoMjA\_ODYSSEY\Phone Members.xlsx'
df_phone = pd.read_excel(path, dtype='string', sheet_name='Sheet1')

path = r'G:\.shortcut-targets-by-id\0B_d3smBjzo04UUNBME5GOVhoMjA\_ODYSSEY\Email Members.xlsx'
df_email = pd.read_excel(path, dtype='string', sheet_name='Sheet1')

In [75]:
path = r'C:\Users\fajar\Documents\Python\Data\kce-feb-2023.xlsx'
zoho_df = pd.read_excel(path, dtype='string', sheet_name='Sheet0', engine='openpyxl')

zoho_df.fillna('empty', inplace=True)

count_data_awal = zoho_df.shape[0]
zoho_df

C:\Users\fajar\AppData\Roaming\Python\Python310\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Record Id,Record Id (Emails),Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,...,Email Opt Out,Opt In,Booking Status,BookRef,Guest Type,External ID,GDPR Compliant,Description,Media Source Code,First Page Visited
0,zcrm_3584690000432131234,zcrm_3584690000432131252,2023-02-28 15:20:00,empty,TAPIWANASHE,MAPUVIRE,zanarose.m@gmail.com,+61424336334,empty,1995-01-10 00:00:00,...,false,false,empty,empty,empty,IVO20232166,false,empty,empty,empty
1,zcrm_3584690000432131151,zcrm_3584690000432131169,2023-02-28 13:52:00,empty,MAHMOUD,SULEIMAN HALABI,mahmoudslm@hotmail.com,+61478654006,empty,1990-01-21 00:00:00,...,false,false,empty,empty,empty,IVO20232163,false,empty,empty,empty
2,zcrm_3584690000432128212,zcrm_3584690000432128230,2023-02-28 14:30:00,empty,RAYMOND,FREW,rayfrew@hotmail.com,+64277654188,empty,1982-01-04 00:00:00,...,false,false,empty,empty,empty,IVO20232162,false,empty,empty,empty
3,zcrm_3584690000432124265,zcrm_3584690000432124283,2023-02-28 15:05:00,empty,TUANG WOO,TAN,freddiettw@hotmail.com,+6597200896,empty,1956-06-15 00:00:00,...,false,false,empty,empty,empty,IVO20232146,false,empty,empty,empty
4,zcrm_3584690000432124183,zcrm_3584690000432124201,2023-02-28 13:20:00,empty,PRATEEK,JAIN,mannimitation23@gmail.com,+919983160789,empty,1990-10-23 00:00:00,...,false,false,empty,empty,empty,IVO20232159,false,empty,empty,empty
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
676,zcrm_3584690000426094324,zcrm_3584690000426094342,2023-02-02 11:23:00,empty,FREDERIC,HAUVILLER,fredhauviller@gmail.com,+33,empty,1968-06-01 00:00:00,...,false,false,empty,empty,empty,IVO20231060,false,empty,empty,empty
677,zcrm_3584690000426088407,zcrm_3584690000426088425,2023-02-02 14:09:00,empty,SUBIN SURESH,NAIR,subinsuresh991@gmail.com,+91,empty,1991-03-24 00:00:00,...,false,false,empty,empty,empty,IVO20231061,false,empty,empty,empty
678,zcrm_3584690000426088376,zcrm_3584690000426088394,2023-02-02 13:33:00,empty,AKSARA,MAKKIMANE,akshara.raxidi@gmail.com,+91,empty,1984-05-01 00:00:00,...,false,false,empty,empty,empty,IVO20231064,false,empty,empty,empty
679,zcrm_3584690000426084458,zcrm_3584690000426084476,2023-02-02 12:54:00,empty,MIGUEL,SANTOS,mjgs1979@gmail.com,+351,empty,1979-10-02 00:00:00,...,false,false,empty,empty,empty,IVO20231058,false,empty,empty,empty
680,zcrm_3584690000426084403,zcrm_3584690000426084421,2023-02-02 12:01:00,empty,GIOZZI,GUILLAUME,giozzi.guillaume@gmail.com,+33,empty,1991-12-08 00:00:00,...,false,false,empty,empty,empty,IVO20231068,false,empty,empty,empty

# ====================== Awal Filter Umum ======================

In [76]:
# data phone, mobile dam email member yang ada di master data (wash member)

m.clean_number(zoho_df, 'Phone')
m.clean_number(zoho_df, 'Mobile')
m.replace_not_valid_to_empty(zoho_df, 'Phone')
m.replace_not_valid_to_empty(zoho_df, 'Mobile')
zoho_df['Email'] = m.lowercase(zoho_df, 'Email')
m.clean_space(zoho_df, 'Email')

m.clean_number(df_booking, 'Phone1')
m.clean_number(df_booking, 'Mobile')
df_booking['Email'] = m.lowercase(df_booking, 'Email')
m.clean_space(df_booking, 'Email')

m.clean_number(df_phone, 'Mobile')

df_email['Email'] = m.lowercase(df_email, 'Email')
m.clean_space(df_email, 'Email')

count_deleted_wrong_format = m.delete_email_wrong_format(zoho_df, 'Email')
count_after_deleted_wrong_format = zoho_df.shape[0]

In [77]:
# Cek leads test
test_leads = zoho_df.loc[
    
        zoho_df['Email'].str.contains('^test@', flags=re.I, regex=True) |
        zoho_df['Email'].str.contains('\+test', flags=re.I, regex=True) |
    
        zoho_df['First Name'].str.contains('^test$', flags=re.I, regex=True) |
        zoho_df['Last Name'].str.contains('^test$', flags=re.I, regex=True) |

        zoho_df['First Name'].str.contains('test 1', flags=re.I, regex=True) |
        zoho_df['Last Name'].str.contains('test 2', flags=re.I, regex=True)|
        zoho_df['First Name'].str.contains('test1', flags=re.I, regex=True) |
        zoho_df['Last Name'].str.contains('test2', flags=re.I, regex=True)|

        zoho_df['First Name'].str.contains(' test ', flags=re.I, regex=True) | 
        zoho_df['Last Name'].str.contains(' test ', flags=re.I, regex=True) | 
        zoho_df['Last Name'].str.contains(' test$', flags=re.I, regex=True)
    ]

count_leads_test = test_leads.shape[0]

# test_leads.to_excel(r'C:\Users\fajar\Documents\Python\Data\test_leads_2.xlsx', index=False)
test_leads

Empty DataFrame
Columns: [Record Id, Record Id (Emails), Created Time, Created Date, First Name, Last Name, Email, Phone, Mobile, Birthdate, Year of Birth, Street, Street2, City, State, Country, Nationality, Departure Date, Arrival Date, Card Type, Marital Status, Lead Brand, Lead Sub-Brand, Lead Source, Lead Locations, Lead Source Description, Lead Regions, Lead Status, Email Opt Out, Opt In, Booking Status, BookRef, Guest Type, External ID, GDPR Compliant, Description, Media Source Code, First Page Visited]
Index: []

[0 rows x 38 columns]

In [78]:
zoho_df.drop(test_leads.index, inplace=True)
zoho_df.reset_index(drop=True, inplace=True)

count_after_dedup_test = zoho_df.shape[0]

In [79]:
# Cek Email Karma
email_karma = m.find_karma(zoho_df, 'Email')
count_email_karma = email_karma.shape[0]
# email_OTA.to_excel(r'C:\Users\fajar\Documents\Python\Data\email_OTA.xlsx', index=False)

email_karma

,Record Id,Record Id (Emails),Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,...,Email Opt Out,Opt In,Booking Status,BookRef,Guest Type,External ID,GDPR Compliant,Description,Media Source Code,First Page Visited
652,zcrm_3584690000426460208,zcrm_3584690000426460226,2023-02-03 15:33:00,empty,STEPHEN,DEAN,karma.concierge@karmasonghoai.com,empty,empty,1900-01-01 00:00:00,...,false,false,empty,empty,empty,VTM202315,false,empty,empty,empty

In [80]:
# delete email Karma
count_after_clean_karma = m.delete_karma(zoho_df, 'Email')
# zoho_df.to_excel(r'C:\Users\fajar\Documents\Python\Data\after_clean_OTA.xlsx', index=False)

zoho_df

,Record Id,Record Id (Emails),Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,...,Email Opt Out,Opt In,Booking Status,BookRef,Guest Type,External ID,GDPR Compliant,Description,Media Source Code,First Page Visited
0,zcrm_3584690000432131234,zcrm_3584690000432131252,2023-02-28 15:20:00,empty,TAPIWANASHE,MAPUVIRE,zanarose.m@gmail.com,61424336334,empty,1995-01-10 00:00:00,...,false,false,empty,empty,empty,IVO20232166,false,empty,empty,empty
1,zcrm_3584690000432131151,zcrm_3584690000432131169,2023-02-28 13:52:00,empty,MAHMOUD,SULEIMAN HALABI,mahmoudslm@hotmail.com,61478654006,empty,1990-01-21 00:00:00,...,false,false,empty,empty,empty,IVO20232163,false,empty,empty,empty
2,zcrm_3584690000432128212,zcrm_3584690000432128230,2023-02-28 14:30:00,empty,RAYMOND,FREW,rayfrew@hotmail.com,64277654188,empty,1982-01-04 00:00:00,...,false,false,empty,empty,empty,IVO20232162,false,empty,empty,empty
3,zcrm_3584690000432124265,zcrm_3584690000432124283,2023-02-28 15:05:00,empty,TUANG WOO,TAN,freddiettw@hotmail.com,6597200896,empty,1956-06-15 00:00:00,...,false,false,empty,empty,empty,IVO20232146,false,empty,empty,empty
4,zcrm_3584690000432124183,zcrm_3584690000432124201,2023-02-28 13:20:00,empty,PRATEEK,JAIN,mannimitation23@gmail.com,919983160789,empty,1990-10-23 00:00:00,...,false,false,empty,empty,empty,IVO20232159,false,empty,empty,empty
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
675,zcrm_3584690000426094324,zcrm_3584690000426094342,2023-02-02 11:23:00,empty,FREDERIC,HAUVILLER,fredhauviller@gmail.com,empty,empty,1968-06-01 00:00:00,...,false,false,empty,empty,empty,IVO20231060,false,empty,empty,empty
676,zcrm_3584690000426088407,zcrm_3584690000426088425,2023-02-02 14:09:00,empty,SUBIN SURESH,NAIR,subinsuresh991@gmail.com,empty,empty,1991-03-24 00:00:00,...,false,false,empty,empty,empty,IVO20231061,false,empty,empty,empty
677,zcrm_3584690000426088376,zcrm_3584690000426088394,2023-02-02 13:33:00,empty,AKSARA,MAKKIMANE,akshara.raxidi@gmail.com,empty,empty,1984-05-01 00:00:00,...,false,false,empty,empty,empty,IVO20231064,false,empty,empty,empty
678,zcrm_3584690000426084458,zcrm_3584690000426084476,2023-02-02 12:54:00,empty,MIGUEL,SANTOS,mjgs1979@gmail.com,empty,empty,1979-10-02 00:00:00,...,false,false,empty,empty,empty,IVO20231058,false,empty,empty,empty
679,zcrm_3584690000426084403,zcrm_3584690000426084421,2023-02-02 12:01:00,empty,GIOZZI,GUILLAUME,giozzi.guillaume@gmail.com,empty,empty,1991-12-08 00:00:00,...,false,false,empty,empty,empty,IVO20231068,false,empty,empty,empty

In [81]:
# hitung jumlah duplicate
count_duplicate_general = zoho_df.loc[zoho_df.duplicated(subset=['Phone','Mobile','Email'])].shape[0]

zoho_df.loc[zoho_df.duplicated(subset=['Phone','Mobile','Email'])]

,Record Id,Record Id (Emails),Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,...,Email Opt Out,Opt In,Booking Status,BookRef,Guest Type,External ID,GDPR Compliant,Description,Media Source Code,First Page Visited
335,zcrm_3584690000428955002,zcrm_3584690000428955020,2023-02-14 16:10:00,empty,ANTHONY,ROBERTS,kayabanana@gmail.com,16613476737,empty,1969-12-25 00:00:00,...,false,false,empty,empty,empty,IVO20231602,false,empty,empty,empty
477,zcrm_3584690000427689870,zcrm_3584690000427689888,2023-02-10 17:29:00,empty,NEIZ,MANNING,neil.manning@xtra.co.nz,6421586532,empty,1969-02-02 00:00:00,...,false,false,empty,empty,empty,VTM202339,false,empty,empty,empty
596,zcrm_3584690000426780135,zcrm_3584690000426780153,2023-02-04 14:14:00,empty,DEAN,AUSTIN,experienced_traveller@hotmail.com,61994678003,empty,1960-01-04 00:00:00,...,false,false,empty,empty,empty,VTM202320,false,empty,empty,empty

In [82]:
zoho_df.drop_duplicates(subset=['Phone','Mobile','Email'], inplace=True)
zoho_df.reset_index(drop=True, inplace=True)

# hitung jumlah setelah value duplicate dihapus
count_after_dedup_duplicate = zoho_df.shape[0]

zoho_df

,Record Id,Record Id (Emails),Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,...,Email Opt Out,Opt In,Booking Status,BookRef,Guest Type,External ID,GDPR Compliant,Description,Media Source Code,First Page Visited
0,zcrm_3584690000432131234,zcrm_3584690000432131252,2023-02-28 15:20:00,empty,TAPIWANASHE,MAPUVIRE,zanarose.m@gmail.com,61424336334,empty,1995-01-10 00:00:00,...,false,false,empty,empty,empty,IVO20232166,false,empty,empty,empty
1,zcrm_3584690000432131151,zcrm_3584690000432131169,2023-02-28 13:52:00,empty,MAHMOUD,SULEIMAN HALABI,mahmoudslm@hotmail.com,61478654006,empty,1990-01-21 00:00:00,...,false,false,empty,empty,empty,IVO20232163,false,empty,empty,empty
2,zcrm_3584690000432128212,zcrm_3584690000432128230,2023-02-28 14:30:00,empty,RAYMOND,FREW,rayfrew@hotmail.com,64277654188,empty,1982-01-04 00:00:00,...,false,false,empty,empty,empty,IVO20232162,false,empty,empty,empty
3,zcrm_3584690000432124265,zcrm_3584690000432124283,2023-02-28 15:05:00,empty,TUANG WOO,TAN,freddiettw@hotmail.com,6597200896,empty,1956-06-15 00:00:00,...,false,false,empty,empty,empty,IVO20232146,false,empty,empty,empty
4,zcrm_3584690000432124183,zcrm_3584690000432124201,2023-02-28 13:20:00,empty,PRATEEK,JAIN,mannimitation23@gmail.com,919983160789,empty,1990-10-23 00:00:00,...,false,false,empty,empty,empty,IVO20232159,false,empty,empty,empty
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
672,zcrm_3584690000426094324,zcrm_3584690000426094342,2023-02-02 11:23:00,empty,FREDERIC,HAUVILLER,fredhauviller@gmail.com,empty,empty,1968-06-01 00:00:00,...,false,false,empty,empty,empty,IVO20231060,false,empty,empty,empty
673,zcrm_3584690000426088407,zcrm_3584690000426088425,2023-02-02 14:09:00,empty,SUBIN SURESH,NAIR,subinsuresh991@gmail.com,empty,empty,1991-03-24 00:00:00,...,false,false,empty,empty,empty,IVO20231061,false,empty,empty,empty
674,zcrm_3584690000426088376,zcrm_3584690000426088394,2023-02-02 13:33:00,empty,AKSARA,MAKKIMANE,akshara.raxidi@gmail.com,empty,empty,1984-05-01 00:00:00,...,false,false,empty,empty,empty,IVO20231064,false,empty,empty,empty
675,zcrm_3584690000426084458,zcrm_3584690000426084476,2023-02-02 12:54:00,empty,MIGUEL,SANTOS,mjgs1979@gmail.com,empty,empty,1979-10-02 00:00:00,...,false,false,empty,empty,empty,IVO20231058,false,empty,empty,empty
676,zcrm_3584690000426084403,zcrm_3584690000426084421,2023-02-02 12:01:00,empty,GIOZZI,GUILLAUME,giozzi.guillaume@gmail.com,empty,empty,1991-12-08 00:00:00,...,false,false,empty,empty,empty,IVO20231068,false,empty,empty,empty

In [83]:
find_member_booking = zoho_df.copy()

find_member_booking.loc[find_member_booking['Phone'].isin(df_booking['Phone1']), 'Same Value Find'] = 'Booking-Phone1'
find_member_booking.loc[find_member_booking['Phone'].isin(df_booking['Mobile']), 'Same Value Find'] = 'Booking-Mobile'
find_member_booking.loc[find_member_booking['Mobile'].isin(df_booking['Phone1']), 'Same Value Find'] = 'Booking-Phone1' 
find_member_booking.loc[find_member_booking['Mobile'].isin(df_booking['Mobile']), 'Same Value Find'] = 'Booking-Mobile'
find_member_booking.loc[find_member_booking['Email'].isin(df_booking['Email']), 'Same Value Find'] = 'Booking-Email'

find_member_booking.loc[find_member_booking['Phone'].isin(df_phone['Mobile']), 'Same Value Find'] = 'Member-Mobile' 
find_member_booking.loc[find_member_booking['Mobile'].isin(df_phone['Mobile']), 'Same Value Find'] = 'Member-Mobile'

find_member_booking.loc[find_member_booking['Email'].isin(df_email['Email']), 'Same Value Find'] = 'Member-Email'

find_member_booking.drop(find_member_booking.loc[find_member_booking['Same Value Find'].isna()].index, inplace=True)

count_booking_dedup = find_member_booking.loc[find_member_booking['Same Value Find'].str.contains('Booking', flags=re.I, regex=True)].shape[0]
count_member_dedup = find_member_booking.loc[find_member_booking['Same Value Find'].str.contains('Member', flags=re.I, regex=True)].shape[0]

find_member_booking.replace('empty', '', inplace=True)
find_member_booking.to_csv(r'C:\Users\fajar\Documents\Python\Data\booking-member-dedup(AU).csv', index=False)

#find_member_booking.loc[find_member_booking['Same Value Find'] == 'Booking-Phone1']

In [84]:
# data phone, mobile dam email member yang ada di master data 
count_wash_member = zoho_df.loc[
    zoho_df['Phone'].isin(df_booking['Phone1']) | 
    zoho_df['Phone'].isin(df_booking['Mobile']) |
    zoho_df['Mobile'].isin(df_booking['Phone1']) | 
    zoho_df['Mobile'].isin(df_booking['Mobile']) |
    zoho_df['Email'].isin(df_booking['Email'])| 

    zoho_df['Phone'].isin(df_phone['Mobile']) | 
    zoho_df['Mobile'].isin(df_phone['Mobile']) |

    zoho_df['Email'].isin(df_email['Email'])

].shape[0]

zoho_df.drop(zoho_df.loc[
    zoho_df['Phone'].isin(df_booking['Phone1']) | 
    zoho_df['Phone'].isin(df_booking['Mobile']) |
    zoho_df['Mobile'].isin(df_booking['Phone1']) | 
    zoho_df['Mobile'].isin(df_booking['Mobile']) |
    zoho_df['Email'].isin(df_booking['Email']) |
    
    zoho_df['Phone'].isin(df_phone['Mobile']) | 
    zoho_df['Mobile'].isin(df_phone['Mobile']) |

    zoho_df['Email'].isin(df_email['Email'])

    ].index, inplace=True)
    
zoho_df.reset_index(drop=True, inplace=True)

count_after_wash_member = zoho_df.shape[0]

In [85]:
count_email_only = zoho_df.loc[(zoho_df['Email'] != 'empty') & ((zoho_df['Phone'] == 'empty') & (zoho_df['Mobile'] == 'empty'))].shape[0]
count_phone_only = zoho_df.loc[(zoho_df['Email'] == 'empty') & ((zoho_df['Phone'] != 'empty') | (zoho_df['Mobile'] != 'empty'))].shape[0]
count_email_and_phone = zoho_df.loc[(zoho_df['Email'] != 'empty') & ((zoho_df['Phone'] != 'empty') | (zoho_df['Mobile'] != 'empty'))].shape[0]

count_blank = zoho_df.loc[(zoho_df['Email'] =='empty') & (zoho_df['Phone']=='empty') & (zoho_df['Mobile']=='empty')].shape[0]

# zoho_df.loc[(zoho_df['Email'] =='empty') & (zoho_df['Phone']=='empty') & (zoho_df['Mobile']=='empty')].to_excel(r'C:\Users\fajar\Documents\Python\Data\blank_data.xlsx', index=False)

zoho_df.loc[(zoho_df['Email'] != 'empty') & ((zoho_df['Phone'] == 'empty') & (zoho_df['Mobile'] == 'empty')), 'Contact Type'] = 'Email Only'
zoho_df.loc[(zoho_df['Email'] == 'empty') & ((zoho_df['Phone'] != 'empty') | (zoho_df['Mobile'] != 'empty')), 'Contact Type'] = 'Phone Only'
zoho_df.loc[(zoho_df['Email'] != 'empty') & ((zoho_df['Phone'] != 'empty') | (zoho_df['Mobile'] != 'empty')), 'Contact Type'] = 'Email and Phone'

zoho_df.drop(zoho_df.loc[(zoho_df['Email'] =='empty') & (zoho_df['Phone']=='empty') & (zoho_df['Mobile']=='empty')].index, inplace=True)
zoho_df.reset_index(drop=True, inplace=True)

count_after_wash_blank = zoho_df.shape[0]

In [86]:
print("==========================================================")
print("Summary")
print("==========================================================")
print("Jumlah Keseluruhan Master Zoho : "+str(count_data_awal))
print("Jumlah Format Email Salah : "+str(count_deleted_wrong_format))
print("Jumlah Setelah Clean Format Email Salah : "+str(count_after_deleted_wrong_format))
print("Jumlah Lead Test : "+str(count_leads_test))
print("Jumlah Setelah Clean Lead Test : "+str(count_after_dedup_test))
print("Jumlah Email Karma : "+str(count_email_karma))
print("Jumlah Setelah Clean Email Karma : "+str(count_after_clean_karma))
print("Jumlah Duplicate (Phone, Mobile dan Email) : "+str(count_duplicate_general))
print("Jumlah Setelah Clean Duplicate : "+str(count_after_dedup_duplicate))
print("Jumlah Wash Member : "+str(count_member_dedup))
print("Jumlah Wash Booking : "+str(count_booking_dedup))
print("Jumlah Setelah Wash Member : "+str(count_after_wash_member))
print("Jumlah Phone Email Blank (Setelah phone yang tidak valid dihapus) : "+str(count_blank))
print("Jumlah Setelah Wash Phone Email Blank : "+str(count_after_wash_blank))
print("==========================================================")
print("Contact Type")
print("==========================================================")
print("Jumlah Email Only : "+str(count_email_only))
print("Jumlah Phone Only : "+str(count_phone_only))
print("Jumlah Email dan Phone : "+str(count_email_and_phone))

==========================================================
Summary
==========================================================
Jumlah Keseluruhan Master Zoho : 681
Jumlah Format Email Salah : 0
Jumlah Setelah Clean Format Email Salah : 681
Jumlah Lead Test : 0
Jumlah Setelah Clean Lead Test : 681
Jumlah Email Karma : 1
Jumlah Setelah Clean Email Karma : 680
Jumlah Duplicate (Phone, Mobile dan Email) : 3
Jumlah Setelah Clean Duplicate : 677
Jumlah Wash Member : 13
Jumlah Wash Booking : 78
Jumlah Setelah Wash Member : 586
Jumlah Phone Email Blank (Setelah phone yang tidak valid dihapus) : 0
Jumlah Setelah Wash Phone Email Blank : 586
==========================================================
Contact Type
==========================================================
Jumlah Email Only : 44
Jumlah Phone Only : 0
Jumlah Email dan Phone : 542

# ====================== Akhir Filter Umum ======================

In [87]:
# zoho_df.replace('empty', '', inplace=True)
# zoho_df.to_excel(r'C:\Users\fajar\Documents\Python\Data\KCE-FEB.xlsx', index=False)

In [88]:
path = r'C:\Users\fajar\Documents\Python\Data\dedup-KCE.xlsx'
df_kce_before = pd.read_excel(path, dtype='string', sheet_name='Email')

df_kce_before['Email'] = m.lowercase(df_kce_before, 'Email')
m.clean_space(df_kce_before, 'Email')

df_kce_before

                              Email
0         larbibenhorabir@gmail.com
1             josh.sydney@gmail.com
2             write2chets@gmail.com
3        taylor.e.bennett@gmail.com
4    brendan_wdight1994@hotmail.com
..                              ...
337            skhosana01@gmail.com
338       racheal.james01@gmail.com
339       vernon_govender@yahoo.com
340        omarrkhaled.93@gmail.com
341              bencrory@gmail.com

[342 rows x 1 columns]

In [89]:
count_kce_exist = zoho_df.loc[zoho_df['Email'].isin(df_kce_before['Email'])].shape[0]
final_df = zoho_df.loc[~zoho_df['Email'].isin(df_kce_before['Email'])].copy()
final_df.replace('empty', '', inplace=True)

final_df.loc[final_df['Country'].str.contains('indonesia', flags=re.I)].to_excel(r'C:\Users\fajar\Documents\Python\Data\kce-new-indo.xlsx', index=False)
final_df.loc[~final_df['Country'].str.contains('indonesia', flags=re.I)].to_excel(r'C:\Users\fajar\Documents\Python\Data\kce-new-western.xlsx', index=False)