In [76]:
import main_module as m
import zoho_filter_module as fil
import pandas as pd
import re
import numpy as np
import datetime

%load_ext autoreload
%autoreload 2


import gspread
import pandas as pd
from fractions import Fraction

# Pastikan permision access di menu "Share" di rubah ke anyone with the link terlebih dahulu, agar bisa mengunakan cara OAuth
# Jika Ingin lebih dibatasi menggunakan cara google service account lebih disarankan

gc = gspread.oauth(
    credentials_filename= r'C:\Users\fajar.fatoni\Documents\Python\Data\Google Credentials\karma-oauth.json'
)

SHEET_ID = '1z1Fr-cy2psnmIUrh2C0MEawTuiqE55fBkCJC2VaMY7Q'
SHEET_NAME = 'Data2 _Aus Kandara Resort'

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [77]:
# Open the spreadsheet
spreadsheet_source = gc.open_by_key(SHEET_ID)

# Get all sheet names
sheet_names = [sheet.title for sheet in spreadsheet_source.worksheets()]
sheet_names

# get data gsheet

spreadsheet = gc.open_by_key(SHEET_ID)
worksheet = spreadsheet.worksheet(SHEET_NAME)
rows = worksheet.get_all_records()

# print(rows[:5])

# print('==============================')
# df = pd.DataFrame(rows, dtype="string")
zoho_df = pd.DataFrame(rows, dtype="string")
# df['Mobile Number'] = df['Mobile Number'].apply(Fraction)
zoho_df

# mengisi kolom <NA> dengan value string 'empty' supaya mudah mengecek data member dan booking dengan isin
zoho_df.fillna('empty', inplace=True)

# zoho_df['Departure_Date'] = zoho_df['Departure_Date'].apply(reorder_date_from_yyyy)
count_filter_awal = zoho_df.shape[0]
zoho_df

,Email,First Name,Last Name,Phone,Mobile,Country,Year of Visit
0,1carlymiles@gmail.com,Carly,Miles,61466006199,,Australia,2019
1,3185409@gmail.com,Ryuhei,Yoneda,616000000000000,616000000000000.0,Australia,2022
2,a.steel@milford.one,Amanda,Steel,61407703166,61407703166,Australia,2023
3,aaronjolliffe23@gmail.com,Aaron,Jolliffe,61421611282,,Australia,2022
4,aarontaranto@gmail.com,Aaron,Taranto,61422150453,61422150453,Australia,2022
...,...,...,...,...,...,...,...
429,yimmyrobards@hotmail.com,Anna,Robards,61439453564,61439453564,Australia,2023
430,yvette3108@gmail.com,Yvette,Toyne,61412117127,61412117127,Australia,2023
431,zena_na@hotmail.com,Zenia,Chan,61404048686,61404048686,Australia,2023
432,zoe.burr@hotmail.com,Zoe,Burr,61421258425,61421258425,Australia,2023
433,zshapiro7@gmail.com,Zach,Shapiro,61478089272,61478089272,Australia,2023

In [78]:
path = r'G:\.shortcut-targets-by-id\0B_d3smBjzo04eXpvS1NXTWF2RVE\_BOOKING\Booking By Year\FlyBuy Booking Data (BGAU & BGID & KE).xlsx'
df_booking = pd.read_excel(path, dtype='string', sheet_name='BOOKING_BGAU_BGID_KE')

path = r'G:\.shortcut-targets-by-id\0B_d3smBjzo04UUNBME5GOVhoMjA\_ODYSSEY\Phone Members.xlsx'
df_phone = pd.read_excel(path, dtype='string', sheet_name='Sheet1')

path = r'G:\.shortcut-targets-by-id\0B_d3smBjzo04UUNBME5GOVhoMjA\_ODYSSEY\Email Members.xlsx'
df_email = pd.read_excel(path, dtype='string', sheet_name='Sheet1')

# ====================== Awal Filter Umum ======================

In [79]:
# data phone, mobile dam email member yang ada di master data (wash member)

m.clean_number(zoho_df, 'Phone')
m.clean_number(zoho_df, 'Mobile')
m.replace_not_valid_to_empty(zoho_df, 'Phone')
m.replace_not_valid_to_empty(zoho_df, 'Mobile')
zoho_df['Email'] = m.lowercase(zoho_df, 'Email')
m.clean_space(zoho_df, 'Email')
m.clean_not_valid_email_format(zoho_df, 'Email')

m.clean_number(df_booking, 'Phone1')
m.clean_number(df_booking, 'Mobile')
df_booking['Email'] = m.lowercase(df_booking, 'Email')
m.clean_space(df_booking, 'Email')
m.clean_not_valid_email_format(df_booking, 'Email')

m.clean_number(df_phone, 'Mobile')

df_email['Email'] = m.lowercase(df_email, 'Email')
m.clean_space(df_email, 'Email')
m.clean_not_valid_email_format(df_email, 'Email')

c:\Users\fajar.fatoni\Documents\Python\Task Offline\zoho_data_app\main_module.py:104: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[df_columns].replace(' ','', regex=True, inplace=True)
c:\Users\fajar.fatoni\Documents\Python\Task Offline\zoho_data_app\main_module.py:105: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[df_columns].replace('[^0-9]','', regex=True, inplace=True)
c:\Users\fajar.fatoni\Documents\Python\Task Offline\zoho_data_app\main_module.py:127: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[df_columns].replace(' ','', regex=True, inplace=True)
c:\Users\fajar.fatoni\Documents\Python\Task Offline\zoho_data_app\main_module.py:104: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[df_columns].replace(' ','', regex=True, inplace=True)
c:\Users\fajar.fatoni\Documents\Python\Task Offline\zoho_data_app\main_module.py:105: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[df_columns].replace('[^0-9]','', regex=True, inplace=True)

'Email'

In [80]:
zoho_df.loc[
    (zoho_df['Phone'] == 'empty') & (zoho_df['Mobile'] != 'empty'), 
    'Phone'] = zoho_df['Mobile']
zoho_df.loc[zoho_df['Phone'] == zoho_df['Mobile'],'Mobile'] = 'empty'

In [81]:
count_deleted_wrong_format = m.delete_email_wrong_format(zoho_df, 'Email')
count_after_deleted_wrong_format = zoho_df.shape[0]

# ====================== Akhir Filter Umum ======================

In [82]:
# hitung jumlah duplicate
count_duplicate_general = zoho_df.loc[zoho_df.duplicated(subset=['Phone','Mobile','Email'])].shape[0]

zoho_df.loc[zoho_df.duplicated(subset=['Phone','Mobile','Email'])]

Empty DataFrame
Columns: [Email, First Name, Last Name, Phone, Mobile, Country, Year of Visit]
Index: []

In [83]:
zoho_df.drop_duplicates(subset=['Phone','Mobile','Email'], inplace=True)
zoho_df.reset_index(drop=True, inplace=True)

# hitung jumlah setelah value duplicate dihapus
count_after_dedup_duplicate = zoho_df.shape[0]

zoho_df

,Email,First Name,Last Name,Phone,Mobile,Country,Year of Visit
0,1carlymiles@gmail.com,Carly,Miles,61466006199,empty,Australia,2019
1,3185409@gmail.com,Ryuhei,Yoneda,616000000000000,6160000000000000,Australia,2022
2,a.steel@milford.one,Amanda,Steel,61407703166,empty,Australia,2023
3,aaronjolliffe23@gmail.com,Aaron,Jolliffe,61421611282,empty,Australia,2022
4,aarontaranto@gmail.com,Aaron,Taranto,61422150453,empty,Australia,2022
...,...,...,...,...,...,...,...
429,yimmyrobards@hotmail.com,Anna,Robards,61439453564,empty,Australia,2023
430,yvette3108@gmail.com,Yvette,Toyne,61412117127,empty,Australia,2023
431,zena_na@hotmail.com,Zenia,Chan,61404048686,empty,Australia,2023
432,zoe.burr@hotmail.com,Zoe,Burr,61421258425,empty,Australia,2023
433,zshapiro7@gmail.com,Zach,Shapiro,61478089272,empty,Australia,2023

In [84]:
# Cek leads test
test_leads = zoho_df.loc[
    
        zoho_df['Email'].str.contains('^test@', flags=re.I, regex=True) |
        zoho_df['Email'].str.contains('\+test', flags=re.I, regex=True) |
    
        zoho_df['First Name'].str.contains('^test$', flags=re.I, regex=True) |
        zoho_df['Last Name'].str.contains('^test$', flags=re.I, regex=True) |

        zoho_df['First Name'].str.contains('test 1', flags=re.I, regex=True) |
        zoho_df['Last Name'].str.contains('test 2', flags=re.I, regex=True)|
        zoho_df['First Name'].str.contains('test1', flags=re.I, regex=True) |
        zoho_df['Last Name'].str.contains('test2', flags=re.I, regex=True)|

        zoho_df['First Name'].str.contains(' test ', flags=re.I, regex=True) | 
        zoho_df['Last Name'].str.contains(' test ', flags=re.I, regex=True) | 
        zoho_df['Last Name'].str.contains(' test$', flags=re.I, regex=True)
    ]

count_leads_test = test_leads.shape[0]

# test_leads.to_excel(r'C:\Users\fajar.fatoni\Documents\Python\Data\test_leads_2.xlsx', index=False)
test_leads

Empty DataFrame
Columns: [Email, First Name, Last Name, Phone, Mobile, Country, Year of Visit]
Index: []

In [85]:
zoho_df.drop(test_leads.index, inplace=True)
zoho_df.reset_index(drop=True, inplace=True)

count_after_dedup_test = zoho_df.shape[0]

In [86]:
# dnm_leads = zoho_df.loc[(zoho_df['Do Not Mail'] == 'true') | (zoho_df['Do Not Contact'] == 'true')]
# count_dnm = dnm_leads.shape[0]

In [87]:
# zoho_df.drop(dnm_leads.index, inplace=True)
# zoho_df.reset_index(drop=True, inplace=True)

# count_after_dedup_dnm = zoho_df.shape[0]

In [88]:
# Cek Email OTA
email_OTA = m.find_OTA(zoho_df, 'Email')
count_email_OTA = email_OTA.shape[0]
# email_OTA.to_excel(r'C:\Users\fajar.fatoni\Documents\Python\Data\email_OTA.xlsx', index=False)

email_OTA

Empty DataFrame
Columns: [Email, First Name, Last Name, Phone, Mobile, Country, Year of Visit]
Index: []

In [89]:
# delete email OTA
count_after_clean_OTA = m.delete_OTA(zoho_df, 'Email')
# zoho_df.to_excel(r'C:\Users\fajar.fatoni\Documents\Python\Data\after_clean_OTA.xlsx', index=False)

zoho_df

,Email,First Name,Last Name,Phone,Mobile,Country,Year of Visit
0,1carlymiles@gmail.com,Carly,Miles,61466006199,empty,Australia,2019
1,3185409@gmail.com,Ryuhei,Yoneda,616000000000000,6160000000000000,Australia,2022
2,a.steel@milford.one,Amanda,Steel,61407703166,empty,Australia,2023
3,aaronjolliffe23@gmail.com,Aaron,Jolliffe,61421611282,empty,Australia,2022
4,aarontaranto@gmail.com,Aaron,Taranto,61422150453,empty,Australia,2022
...,...,...,...,...,...,...,...
429,yimmyrobards@hotmail.com,Anna,Robards,61439453564,empty,Australia,2023
430,yvette3108@gmail.com,Yvette,Toyne,61412117127,empty,Australia,2023
431,zena_na@hotmail.com,Zenia,Chan,61404048686,empty,Australia,2023
432,zoe.burr@hotmail.com,Zoe,Burr,61421258425,empty,Australia,2023
433,zshapiro7@gmail.com,Zach,Shapiro,61478089272,empty,Australia,2023

In [90]:
# Cek Email Karma
email_karma = m.find_karma(zoho_df, 'Email')
count_email_karma = email_karma.shape[0]
# email_OTA.to_excel(r'C:\Users\fajar.fatoni\Documents\Python\Data\email_OTA.xlsx', index=False)

email_karma

Empty DataFrame
Columns: [Email, First Name, Last Name, Phone, Mobile, Country, Year of Visit]
Index: []

In [91]:
# delete email Karma
count_after_clean_karma = m.delete_karma(zoho_df, 'Email')
# zoho_df.to_excel(r'C:\Users\fajar.fatoni\Documents\Python\Data\after_clean_OTA.xlsx', index=False)

zoho_df

,Email,First Name,Last Name,Phone,Mobile,Country,Year of Visit
0,1carlymiles@gmail.com,Carly,Miles,61466006199,empty,Australia,2019
1,3185409@gmail.com,Ryuhei,Yoneda,616000000000000,6160000000000000,Australia,2022
2,a.steel@milford.one,Amanda,Steel,61407703166,empty,Australia,2023
3,aaronjolliffe23@gmail.com,Aaron,Jolliffe,61421611282,empty,Australia,2022
4,aarontaranto@gmail.com,Aaron,Taranto,61422150453,empty,Australia,2022
...,...,...,...,...,...,...,...
429,yimmyrobards@hotmail.com,Anna,Robards,61439453564,empty,Australia,2023
430,yvette3108@gmail.com,Yvette,Toyne,61412117127,empty,Australia,2023
431,zena_na@hotmail.com,Zenia,Chan,61404048686,empty,Australia,2023
432,zoe.burr@hotmail.com,Zoe,Burr,61421258425,empty,Australia,2023
433,zshapiro7@gmail.com,Zach,Shapiro,61478089272,empty,Australia,2023

In [92]:
find_member_booking = zoho_df.copy()

find_member_booking.loc[find_member_booking['Phone'].isin(df_booking['Phone1']), 'Same Value Find'] = 'Booking-Phone1'
find_member_booking.loc[find_member_booking['Phone'].isin(df_booking['Mobile']), 'Same Value Find'] = 'Booking-Mobile'
find_member_booking.loc[find_member_booking['Mobile'].isin(df_booking['Phone1']), 'Same Value Find'] = 'Booking-Phone1' 
find_member_booking.loc[find_member_booking['Mobile'].isin(df_booking['Mobile']), 'Same Value Find'] = 'Booking-Mobile'
find_member_booking.loc[find_member_booking['Email'].isin(df_booking['Email']), 'Same Value Find'] = 'Booking-Email'

find_member_booking.loc[find_member_booking['Phone'].isin(df_phone['Mobile']), 'Same Value Find'] = 'Member-Mobile' 
find_member_booking.loc[find_member_booking['Mobile'].isin(df_phone['Mobile']), 'Same Value Find'] = 'Member-Mobile'

find_member_booking.loc[find_member_booking['Email'].isin(df_email['Email']), 'Same Value Find'] = 'Member-Email'

find_member_booking.drop(find_member_booking.loc[find_member_booking['Same Value Find'].isna()].index, inplace=True)

count_booking_dedup = find_member_booking.loc[find_member_booking['Same Value Find'].str.contains('Booking', flags=re.I, regex=True)].shape[0]
count_member_dedup = find_member_booking.loc[find_member_booking['Same Value Find'].str.contains('Member', flags=re.I, regex=True)].shape[0]

find_member_booking.replace('empty', '', inplace=True)
# find_member_booking.to_csv(r'C:\Users\fajar.fatoni\Documents\Python\Data\booking-member-dedup.csv', index=False)
# find_member_booking.to_excel(r'C:\Users\fajar.fatoni\Documents\Python\Data\booking-member-dedup.xlsx', index=False)

#find_member_booking.loc[find_member_booking['Same Value Find'] == 'Booking-Phone1']

In [93]:
# data phone, mobile dam email member yang ada di master data 
count_wash_member = zoho_df.loc[
    zoho_df['Phone'].isin(df_booking['Phone1']) | 
    zoho_df['Phone'].isin(df_booking['Mobile']) |
    zoho_df['Mobile'].isin(df_booking['Phone1']) | 
    zoho_df['Mobile'].isin(df_booking['Mobile']) |
    zoho_df['Email'].isin(df_booking['Email'])| 

    zoho_df['Phone'].isin(df_phone['Mobile']) | 
    zoho_df['Mobile'].isin(df_phone['Mobile']) |

    zoho_df['Email'].isin(df_email['Email'])

].shape[0]

zoho_df.drop(zoho_df.loc[
    zoho_df['Phone'].isin(df_booking['Phone1']) | 
    zoho_df['Phone'].isin(df_booking['Mobile']) |
    zoho_df['Mobile'].isin(df_booking['Phone1']) | 
    zoho_df['Mobile'].isin(df_booking['Mobile']) |
    zoho_df['Email'].isin(df_booking['Email']) |
    
    zoho_df['Phone'].isin(df_phone['Mobile']) | 
    zoho_df['Mobile'].isin(df_phone['Mobile']) |

    zoho_df['Email'].isin(df_email['Email'])

    ].index, inplace=True)
    
zoho_df.reset_index(drop=True, inplace=True)

count_after_wash_member = zoho_df.shape[0]

In [94]:
count_email_only = zoho_df.loc[(zoho_df['Email'] != 'empty') & ((zoho_df['Phone'] == 'empty') & (zoho_df['Phone'] == 'empty'))].shape[0]
count_phone_only = zoho_df.loc[(zoho_df['Email'] == 'empty') & ((zoho_df['Phone'] != 'empty') | (zoho_df['Phone'] != 'empty'))].shape[0]
count_email_and_phone = zoho_df.loc[(zoho_df['Email'] != 'empty') & ((zoho_df['Phone'] != 'empty') | (zoho_df['Phone'] != 'empty'))].shape[0]

count_blank = zoho_df.loc[(zoho_df['Email'] =='empty') & (zoho_df['Phone']=='empty') & (zoho_df['Mobile']=='empty')].shape[0]

# zoho_df.loc[(zoho_df['Email'] =='empty') & (zoho_df['Phone']=='empty') & (zoho_df['Mobile']=='empty')].to_excel(r'C:\Users\fajar.fatoni\Documents\Python\Data\blank_data.xlsx', index=False)

zoho_df.loc[(zoho_df['Email'] != 'empty') & ((zoho_df['Phone'] == 'empty') & (zoho_df['Mobile'] == 'empty')), 'Contact Type'] = 'Email Only'
zoho_df.loc[(zoho_df['Email'] == 'empty') & ((zoho_df['Phone'] != 'empty') | (zoho_df['Mobile'] != 'empty')), 'Contact Type'] = 'Phone Only'
zoho_df.loc[(zoho_df['Email'] != 'empty') & ((zoho_df['Phone'] != 'empty') | (zoho_df['Mobile'] != 'empty')), 'Contact Type'] = 'Email and Phone'

zoho_df.drop(zoho_df.loc[(zoho_df['Email'] =='empty') & (zoho_df['Phone']=='empty') & (zoho_df['Mobile']=='empty')].index, inplace=True)
zoho_df.reset_index(drop=True, inplace=True)

count_after_wash_blank = zoho_df.shape[0]

In [95]:
arr_dedup = [count_deleted_wrong_format, count_duplicate_general, count_leads_test, count_email_OTA, count_email_karma, count_blank]
count_sum_dedup = sum(arr_dedup)
count_sum_dedup

0

In [96]:
print("==========================================================")
print("Summary")
print("==========================================================")
print("Jumlah Filter Leads Awal : "+str(count_filter_awal))
print("Jumlah Format Email Salah : "+str(count_deleted_wrong_format))
print("Jumlah Setelah Clean Format Email Salah : "+str(count_after_deleted_wrong_format))
print("Jumlah Duplicate (Phone, Mobile dan Email) : "+str(count_duplicate_general))
print("Jumlah Setelah Clean Duplicate : "+str(count_after_dedup_duplicate))
print("Jumlah Lead Test : "+str(count_leads_test))
print("Jumlah Setelah Clean Lead Test : "+str(count_after_dedup_test))
# print("Jumlah Lead Do Not Mail : "+str(count_dnm))
# print("Jumlah Setelah Clean Lead Do Not Mail : "+str(count_after_dedup_dnm))
print("Jumlah Email OTA : "+str(count_email_OTA))
print("Jumlah Setelah Clean Email OTA : "+str(count_after_clean_OTA))
print("Jumlah Email Karma : "+str(count_email_karma))
print("Jumlah Setelah Clean Email Karma : "+str(count_after_clean_karma))
print("Jumlah Wash Member : "+str(count_member_dedup))
print("Jumlah Wash Booking : "+str(count_booking_dedup))
print("Jumlah Setelah Wash Member : "+str(count_after_wash_member))
print("Jumlah Phone Email Blank (Setelah phone yang tidak valid dihapus) : "+str(count_blank))
print("Jumlah Setelah Wash Phone Email Blank : "+str(count_after_wash_blank))
print("==========================================================")
print("Contact Type")
print("==========================================================")
print("Jumlah Email Only : "+str(count_email_only))
print("Jumlah Phone Only : "+str(count_phone_only))
print("Jumlah Email dan Phone : "+str(count_email_and_phone))

==========================================================
Summary
==========================================================
Jumlah Filter Leads Awal : 434
Jumlah Format Email Salah : 0
Jumlah Setelah Clean Format Email Salah : 434
Jumlah Duplicate (Phone, Mobile dan Email) : 0
Jumlah Setelah Clean Duplicate : 434
Jumlah Lead Test : 0
Jumlah Setelah Clean Lead Test : 434
Jumlah Email OTA : 0
Jumlah Setelah Clean Email OTA : 434
Jumlah Email Karma : 0
Jumlah Setelah Clean Email Karma : 434
Jumlah Wash Member : 0
Jumlah Wash Booking : 4
Jumlah Setelah Wash Member : 430
Jumlah Phone Email Blank (Setelah phone yang tidak valid dihapus) : 0
Jumlah Setelah Wash Phone Email Blank : 430
==========================================================
Contact Type
==========================================================
Jumlah Email Only : 2
Jumlah Phone Only : 0
Jumlah Email dan Phone : 428

In [97]:
print("==========================================================")
print("Summary Report")
print("==========================================================")
print("Jumlah Data Awal : "+str(count_filter_awal))
print("Jumlah Wash Dedup : "+str(count_sum_dedup))
print("Jumlah Wash Member : "+str(count_member_dedup))
print("Jumlah Wash Booking : "+str(count_booking_dedup))
print("Jumlah Data Akhir : "+str(count_after_wash_blank))

==========================================================
Summary Report
==========================================================
Jumlah Data Awal : 434
Jumlah Wash Dedup : 0
Jumlah Wash Member : 0
Jumlah Wash Booking : 4
Jumlah Data Akhir : 430

In [98]:
zoho_df.replace('empty', '', inplace=True, regex=True)

zoho_df['First Name'] = zoho_df['First Name'].str.title()
zoho_df['Last Name'] = zoho_df['Last Name'].str.title()

# zoho_df.to_csv(r'C:\Users\fajar.fatoni\Documents\Python\Data\KLOM.csv', index=False)
# zoho_df.to_excel(r'C:\Users\fajar.fatoni\Documents\Python\Data\newsletter-clean.xlsx', index=False)

In [99]:
zoho_df

,Email,First Name,Last Name,Phone,Mobile,Country,Year of Visit,Contact Type
0,1carlymiles@gmail.com,Carly,Miles,61466006199,,Australia,2019,Email and Phone
1,3185409@gmail.com,Ryuhei,Yoneda,616000000000000,6160000000000000,Australia,2022,Email and Phone
2,a.steel@milford.one,Amanda,Steel,61407703166,,Australia,2023,Email and Phone
3,aaronjolliffe23@gmail.com,Aaron,Jolliffe,61421611282,,Australia,2022,Email and Phone
4,aarontaranto@gmail.com,Aaron,Taranto,61422150453,,Australia,2022,Email and Phone
...,...,...,...,...,...,...,...,...
425,yimmyrobards@hotmail.com,Anna,Robards,61439453564,,Australia,2023,Email and Phone
426,yvette3108@gmail.com,Yvette,Toyne,61412117127,,Australia,2023,Email and Phone
427,zena_na@hotmail.com,Zenia,Chan,61404048686,,Australia,2023,Email and Phone
428,zoe.burr@hotmail.com,Zoe,Burr,61421258425,,Australia,2023,Email and Phone
429,zshapiro7@gmail.com,Zach,Shapiro,61478089272,,Australia,2023,Email and Phone

In [100]:
display(zoho_df)
# Update keseluruhan data, delete data yang lama terlebih dahulu
# clear all row before update
worksheet.clear()
worksheet.update([zoho_df.columns.values.tolist()] + zoho_df.values.tolist())

,Email,First Name,Last Name,Phone,Mobile,Country,Year of Visit,Contact Type
0,1carlymiles@gmail.com,Carly,Miles,61466006199,,Australia,2019,Email and Phone
1,3185409@gmail.com,Ryuhei,Yoneda,616000000000000,6160000000000000,Australia,2022,Email and Phone
2,a.steel@milford.one,Amanda,Steel,61407703166,,Australia,2023,Email and Phone
3,aaronjolliffe23@gmail.com,Aaron,Jolliffe,61421611282,,Australia,2022,Email and Phone
4,aarontaranto@gmail.com,Aaron,Taranto,61422150453,,Australia,2022,Email and Phone
...,...,...,...,...,...,...,...,...
425,yimmyrobards@hotmail.com,Anna,Robards,61439453564,,Australia,2023,Email and Phone
426,yvette3108@gmail.com,Yvette,Toyne,61412117127,,Australia,2023,Email and Phone
427,zena_na@hotmail.com,Zenia,Chan,61404048686,,Australia,2023,Email and Phone
428,zoe.burr@hotmail.com,Zoe,Burr,61421258425,,Australia,2023,Email and Phone
429,zshapiro7@gmail.com,Zach,Shapiro,61478089272,,Australia,2023,Email and Phone

{'spreadsheetId': '1z1Fr-cy2psnmIUrh2C0MEawTuiqE55fBkCJC2VaMY7Q',
 'updatedRange': "'Data2 _Aus Kandara Resort'!A1:H431",
 'updatedRows': 431,
 'updatedColumns': 8,
 'updatedCells': 3448}