In [1]:
import main_module as m
import zoho_filter_module as fil
import pandas as pd
import re
import numpy as np

%load_ext autoreload
%autoreload 2

In [2]:
path = r'C:\Users\fajar\Documents\Python\Data\Zoho_Backup\2020-2024\backup.csv'
df = pd.read_csv(path, dtype='string', on_bad_lines='skip')
count_data_awal = df.shape[0]
df.shape[0]

9965985

In [3]:
path = r'G:\.shortcut-targets-by-id\0B_d3smBjzo04eXpvS1NXTWF2RVE\_BOOKING\Booking By Year\FlyBuy Booking Data (BGAU & BGID & KE).xlsx'
df_booking = pd.read_excel(path, dtype='string', sheet_name='BOOKING_BGAU_BGID_KE')

path = r'G:\.shortcut-targets-by-id\0B_d3smBjzo04UUNBME5GOVhoMjA\_ODYSSEY\Phone Members.xlsx'
df_phone = pd.read_excel(path, dtype='string', sheet_name='Sheet1')

path = r'G:\.shortcut-targets-by-id\0B_d3smBjzo04UUNBME5GOVhoMjA\_ODYSSEY\Email Members.xlsx'
df_email = pd.read_excel(path, dtype='string', sheet_name='Sheet1')

In [4]:
path = r'C:\Users\fajar\Documents\Python\Data\Unsubs\all_unsubs_master.xlsx'
df_unsubs = pd.read_excel(path, sheet_name='Sheet1')

path = r'C:\Users\fajar\Documents\Python\Data\Debounce\all_bounce_master.xlsx'
df_bounce = pd.read_excel(path, sheet_name='Sheet1')

path = r'C:\Users\fajar\Documents\Python\Data\Member Data\kce_vp\list-subscribers-KCE.csv'
df_kce = pd.read_csv(path, dtype='string')

In [5]:
df_kce.rename(columns={'EMAIL': 'Email'}, inplace=True)
df_kce

,SERVICING_OFFICE,BATCH,NUMBER,KARMA_CLUB_PROGRAM,OTHER_OWNERS,PRIMARY_OWNER,EXPIRYDATE,COMMENCE_DATE,MEMBER_ID,Email,...,IP_ADDRESS,DATE_ADDED,OPTIN_IP,OPTIN_DATE,OPTIN_CONFIRM_IP,OPTIN_CONFIRM_DATE,OPTOUT_IP,OPTOUT_DATE,OPTOUT_CONFIRM_IP,OPTOUT_CONFIRM_DATE
0,KC EXPERIENCE Bali,NONINDIA1,1000458,KARMA SALAK,David Salim,David Salim,19/11/2023,19/11/2022,IVO20228478,quenty.hirando@yahoo.co.id,...,180.222.114.200,2022-11-28 09:35:29,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,KC EXPERIENCE Bali,NONINDIA1,1001045,KARMA SALAK,<NA>,Nobby Suhendra,12/11/2023,12/11/2022,IVO20228270,nobby_kent@yahoo.com,...,103.190.60.34,2022-11-28 09:35:29,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,KC EXPERIENCE Bali,NONINDIA1,1002916,KARMA SALAK,<NA>,Tjhie Fandi,17/09/2023,17/09/2022,IVO20226602,fandijs@gmail.com,...,74.125.209.7,2022-11-28 09:35:29,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,KC EXPERIENCE Bali,NONINDIA1,1034469,KARMA SALAK; KARMA SALAK,<NA>,Arya Rachmadianto,30/09/2023,30/09/2022,IVO20227038,arya.mochtar@gmail.com,...,172.225.72.11,2022-11-28 09:35:29,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,KC EXPERIENCE Bali,NONINDIA1,1048405,KARMA MERAPI,<NA>,Muhammad Ali Muhazir,28/08/2023,28/08/2022,IVO20225839,azier.gio@gmail.com,...,66.249.84.200,2022-11-28 09:35:29,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62644,KC EXPERIENCE Bali,NONINDIA4,1171609,JIMBARAN SALES DECK,<NA>,<NA>,<NA>,<NA>,<NA>,graham_a61@yahoo.com,...,<NA>,2024-03-25 06:59:34,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
62645,KC EXPERIENCE Bali,NONINDIA4,1171596,PETITENGET SALES DECK,<NA>,<NA>,<NA>,<NA>,<NA>,dee.sanetra@gmail.com,...,<NA>,2024-03-25 06:59:34,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
62646,KC EXPERIENCE Bali,NONINDIA4,1170751,JIMBARAN SALES DECK,<NA>,<NA>,<NA>,<NA>,<NA>,patrick.hy70@gmail.com,...,<NA>,2024-03-25 06:59:34,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
62647,KC EXPERIENCE Bali,NONINDIA4,1171248,PETITENGET SALES DECK,<NA>,<NA>,<NA>,<NA>,<NA>,johannetmr@hotmail.com,...,<NA>,2024-03-25 06:59:34,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
62648,KC EXPERIENCE Bali,NONINDIA4,1171247,JIMBARAN SALES DECK,<NA>,<NA>,<NA>,<NA>,<NA>,engineeraamg@yahoo.com,...,180.222.114.70,2024-03-25 06:59:34,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [6]:
zoho_filter = fil.user_req(df)
zoho_df = df.loc[zoho_filter].copy() # menggunakan copy untuk menghindari setting copy warning
zoho_df.reset_index(drop=True, inplace=True)
count_filter_awal = zoho_df.shape[0]

# zoho_df.to_excel(r'C:\Users\fajar\Documents\Python\Data\test_leads.xlsx', index=False)
# mengisi kolom <NA> dengan value string 'empty' supaya mudah mengecek data member dan booking dengan isin

zoho_df.fillna('empty', inplace=True)
zoho_df

Empty DataFrame
Columns: [Record Id, Created Time, Created Date, First Name, Last Name, Email, Phone, Mobile, Birthdate, Year of Birth, Street, Street2, City, State, Country, Nationality, Departure Date, Arrival Date, Card Type, Marital Status, Lead Brand, Lead Sub-Brand, Lead Source, Lead Locations, Lead Source Description, Lead Regions, Lead Status]
Index: []

[0 rows x 27 columns]

In [9]:
zoho_df.groupby('Lead Sub-Brand').count()

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Departure Date,Arrival Date,Card Type,Marital Status,Lead Brand,Lead Source,Lead Locations,Lead Source Description,Lead Regions,Lead Status
Lead Sub-Brand,,,,,,,,,,,,,,,,,,,,,
BGAU,123624,123624,123624,123624,123624,123624,123624,123624,123624,123624,...,123624,123624,123624,123624,123624,123624,123624,123624,123624,123624
BGID,476654,476654,476654,476654,476654,476654,476654,476654,476654,476654,...,476654,476654,476654,476654,476654,476654,476654,476654,476654,476654
Hotel Discount,90236,90236,90236,90236,90236,90236,90236,90236,90236,90236,...,90236,90236,90236,90236,90236,90236,90236,90236,90236,90236
Karma Experience,352713,352713,352713,352713,352713,352713,352713,352713,352713,352713,...,352713,352713,352713,352713,352713,352713,352713,352713,352713,352713

# ====================== Awal Filter Umum ======================

In [10]:
# data phone, mobile dam email member yang ada di master data (wash member)

m.clean_number(zoho_df, 'Phone')
m.clean_number(zoho_df, 'Mobile')
m.replace_not_valid_to_empty(zoho_df, 'Phone')
m.replace_not_valid_to_empty(zoho_df, 'Mobile')
zoho_df['Email'] = m.lowercase(zoho_df, 'Email')
m.clean_space(zoho_df, 'Email')
m.clean_not_valid_email_format(zoho_df, 'Email')

m.clean_number(df_booking, 'Phone1')
m.clean_number(df_booking, 'Mobile')
df_booking['Email'] = m.lowercase(df_booking, 'Email')
m.clean_space(df_booking, 'Email')
m.clean_not_valid_email_format(df_booking, 'Email')

m.clean_number(df_phone, 'Mobile')

df_unsubs['Email'] = m.lowercase(df_unsubs, 'Email')
m.clean_space(df_unsubs, 'Email')
m.clean_not_valid_email_format(df_unsubs, 'Email')

df_bounce['Email'] = m.lowercase(df_bounce, 'Email')
m.clean_space(df_bounce, 'Email')
m.clean_not_valid_email_format(df_bounce, 'Email')

df_kce['Email'] = m.lowercase(df_kce, 'Email')
m.clean_space(df_kce, 'Email')
m.clean_not_valid_email_format(df_kce, 'Email')

'Email'

In [11]:
zoho_df.loc[zoho_df['Phone']=='']

Empty DataFrame
Columns: [Record Id, Created Time, Created Date, First Name, Last Name, Email, Phone, Mobile, Birthdate, Year of Birth, Street, Street2, City, State, Country, Nationality, Departure Date, Arrival Date, Card Type, Marital Status, Lead Brand, Lead Sub-Brand, Lead Source, Lead Locations, Lead Source Description, Lead Regions, Lead Status]
Index: []

[0 rows x 27 columns]

In [12]:
count_deleted_wrong_format = m.delete_email_wrong_format(zoho_df, 'Email')
count_after_deleted_wrong_format = zoho_df.shape[0]

In [13]:
# hitung jumlah duplicate
count_duplicate_general = zoho_df.loc[zoho_df.duplicated(subset=['Email'])].shape[0]

zoho_df.loc[zoho_df.duplicated(subset=['Email'])]

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Arrival Date,Card Type,Marital Status,Lead Brand,Lead Sub-Brand,Lead Source,Lead Locations,Lead Source Description,Lead Regions,Lead Status
5527,zcrm_3584690000000930151,2019-01-22 13:46:09,empty,Sarah,Juniar,myjune21_becky@yahoo.com,85269192900,empty,1985-01-01,1985,...,empty,Platinum,Married,Timeshare Marketing,BGID,Facebook Ads,empty,empty,SEAP,empty
6297,zcrm_3584690000001015301,2019-01-25 15:15:39,empty,Har,Tato,tatorich@yahoo.com,8113674888,empty,1988-01-01,1988,...,empty,Visa Signature,Married,Timeshare Marketing,BGID,Facebook Ads,empty,empty,SEAP,empty
10625,zcrm_3584690000001679151,2019-02-08 15:20:27,empty,Dewi,Purnama Sari,d3w1_purnama_sari@yahoo.com,81286661186,empty,1987-01-01,1987,...,empty,Platinum,Single,Timeshare Marketing,BGID,Web Enquiry,empty,empty,SEAP,empty
27977,zcrm_3584690000005104084,2019-03-25 20:18:01,empty,Handayani,Saman,handayani.saman@yahoo.com,85311133033,empty,empty,1971,...,empty,Gold,empty,Timeshare Marketing,BGID,Web Enquiry,Hotel Partner,BGID | Web | Form Homepage 2,SEAP,empty
69009,zcrm_3584690000006168864,2019-04-02 03:19:30,2015-03-18,empty,Nickeylawton,nickeylawton1@yahoo.com.au,61439886488,empty,empty,empty,...,empty,empty,empty,Timeshare Marketing,BGAU,Web Enquiry,empty,Bali Getaway Australia Contact Form,SEAP,empty
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1043145,zcrm_3584690000489203048,2024-03-24 10:00:30,empty,DAMIEN,PRESPAKIS,jodiedamien@bigpond.com,61419221312,61419221312,1900-01-01,1900,...,empty,empty,empty,Timeshare Marketing,Karma Experience,Guest Exit,Sales Deck Jimbaran,Sales Deck Jimbaran | Redeem Karma | EXCLUSIVE...,SEAP,empty
1043182,zcrm_3584690000489218408,2024-03-25 12:03:23,empty,KAMAL,SHINGALA,shruti.choubey@ymail.com,61402523754,61402523754,1990-10-10,1990,...,empty,empty,empty,Timeshare Marketing,Karma Experience,Guest Exit,empty,Sales Deck petitenget | Redeem Karma | EXCLUSI...,SEAP,empty
1043189,zcrm_3584690000489221077,2024-03-24 11:11:30,empty,AGUNG,INDRATMOKO,agung.indratmoko@yahoo.com,6287739474564,6287739474564,1900-01-01,1900,...,empty,empty,empty,Timeshare Marketing,Karma Experience,Guest Exit,Sales Deck Jimbaran,Sales Deck Jimbaran | Redeem Karma | EXCLUSIVE...,SEAP,empty
1043203,zcrm_3584690000489228144,2024-03-24 15:53:49,empty,DODI,IRWANTO,cindylystiani@gmail.com,627738084485,627738084485,1989-08-14,1989,...,empty,empty,empty,Timeshare Marketing,Karma Experience,Guest Exit,empty,Sales Deck petitenget | Redeem Karma | EXCLUSI...,SEAP,empty
1043226,zcrm_3584690000489256095,2024-03-25 15:28:46,empty,CHETAN,RAJPUT,chetanrajput2198@gmail.com,919824388176,919824388176,1979-08-04,1979,...,empty,empty,empty,Timeshare Marketing,Karma Experience,Guest Exit,empty,Sales Deck petitenget | Redeem Karma | EXCLUSI...,SEAP,empty

In [14]:
zoho_df.drop_duplicates(subset=['Email'], inplace=True)
zoho_df.reset_index(drop=True, inplace=True)

# hitung jumlah setelah value duplicate dihapus
count_after_dedup_duplicate = zoho_df.shape[0]

zoho_df

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Arrival Date,Card Type,Marital Status,Lead Brand,Lead Sub-Brand,Lead Source,Lead Locations,Lead Source Description,Lead Regions,Lead Status
0,zcrm_3584690000000408007,2019-01-07 13:29:59,empty,Ht Chandra,N Usman,ichan051163@gmail.com,628116190115,8126542115,1963-01-01,1963,...,empty,Mastercard World,Single,Timeshare Marketing,BGID,Newsletter,empty,empty,SEAP,empty
1,zcrm_3584690000000408013,2019-01-07 17:22:27,empty,Endah,Haryani,awal.endah83@gmail.com,87888802700,empty,1983-01-01,1983,...,empty,Platinum,Married,Timeshare Marketing,BGID,Newsletter,empty,empty,SEAP,empty
2,zcrm_3584690000000408020,2019-01-07 18:22:28,empty,Alda Beatrix,Wattimena,aldabeatrix.abw@gmail.com,6285344502233,empty,1986-01-01,1986,...,empty,Gold,Married,Timeshare Marketing,BGID,Newsletter,empty,empty,SEAP,empty
3,zcrm_3584690000000408026,2019-01-07 20:07:11,empty,Rini,Siregar,rini.siregar21@gmail.com,87888282359,empty,empty,empty,...,empty,Gold,Married,Timeshare Marketing,BGID,Newsletter,empty,empty,SEAP,empty
4,zcrm_3584690000000409019,2019-01-07 15:00:14,empty,Christine Marylin,Effendi,christinemarylin@gmail.com,empty,empty,empty,empty,...,empty,empty,empty,Timeshare Marketing,BGID,Newsletter,empty,empty,SEAP,empty
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
789514,zcrm_3584690000489240189,2024-03-25 16:06:36,empty,SINO,MATHEW,teleenavthomas@gmail.com,918086206032,918086206032,1990-04-07,1990,...,empty,empty,empty,Timeshare Marketing,Karma Experience,Guest Exit,Sales Deck Jimbaran,Sales Deck Jimbaran | Redeem Karma | EXCLUSIVE...,SEAP,empty
789515,zcrm_3584690000489243001,2024-03-24 13:15:27,empty,ANDREW,RIMMER,andrewrimmer@outlook.com,61408022047,61408022047,1959-03-26,1959,...,empty,empty,empty,Timeshare Marketing,Karma Experience,Guest Exit,empty,Sales Deck petitenget | Redeem Karma | EXCLUSI...,SEAP,empty
789516,zcrm_3584690000489243048,2024-03-24 15:57:55,empty,ROMMEL,GeorGE,rjgeorge86@gmail.com,919562897817,919562897817,1986-07-09,1986,...,empty,empty,empty,Timeshare Marketing,Karma Experience,Guest Exit,Sales Deck Jimbaran,Sales Deck Jimbaran | Redeem Karma | EXCLUSIVE...,SEAP,empty
789517,zcrm_3584690000489256001,2024-03-25 14:17:46,empty,SAULIUS,ROMERIS,sauliusromeris@gmail.com,353873546112,353873546112,1987-06-15,1987,...,empty,empty,empty,Timeshare Marketing,Karma Experience,Guest Exit,Sales Deck Jimbaran,Sales Deck Jimbaran | Redeem Karma | EXCLUSIVE...,SEAP,empty
789518,zcrm_3584690000489256048,2024-03-25 15:03:45,empty,JOLYN,NG,jolyn.ng@live.com.sg,6597128546,6597128546,1990-12-15,1990,...,empty,empty,empty,Timeshare Marketing,Karma Experience,Guest Exit,empty,Sales Deck petitenget | Redeem Karma | EXCLUSI...,SEAP,empty

In [15]:
# Cek leads test
test_leads = zoho_df.loc[
    
        zoho_df['Email'].str.contains('^test@', flags=re.I, regex=True) |
        zoho_df['Email'].str.contains('\+test', flags=re.I, regex=True) |
    
        zoho_df['First Name'].str.contains('^test$', flags=re.I, regex=True) |
        zoho_df['Last Name'].str.contains('^test$', flags=re.I, regex=True) |

        zoho_df['First Name'].str.contains('test 1', flags=re.I, regex=True) |
        zoho_df['Last Name'].str.contains('test 2', flags=re.I, regex=True)|
        zoho_df['First Name'].str.contains('test1', flags=re.I, regex=True) |
        zoho_df['Last Name'].str.contains('test2', flags=re.I, regex=True)|

        zoho_df['First Name'].str.contains(' test ', flags=re.I, regex=True) | 
        zoho_df['Last Name'].str.contains(' test ', flags=re.I, regex=True) | 
        zoho_df['Last Name'].str.contains(' test$', flags=re.I, regex=True)
    ]

count_leads_test = test_leads.shape[0]

# test_leads.to_excel(r'C:\Users\fajar\Documents\Python\Data\test_leads_2.xlsx', index=False)
test_leads

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Arrival Date,Card Type,Marital Status,Lead Brand,Lead Sub-Brand,Lead Source,Lead Locations,Lead Source Description,Lead Regions,Lead Status
33085,zcrm_3584690000006082754,2019-04-02 03:11:29,2015-05-12,empty,empty,test@bali.com,61361254566,empty,empty,empty,...,empty,empty,empty,Timeshare Marketing,BGAU,Edm,empty,BaliGetaway AUS Email - Phuket - #1,SEAP,empty
33086,zcrm_3584690000006082755,2019-04-02 03:11:29,2015-05-12,empty,empty,test@benny.com,61361767767,61361232211,empty,empty,...,empty,empty,empty,Timeshare Marketing,BGAU,Edm,empty,BaliGetaway AUS Email - Phuket - #1,SEAP,empty
33087,zcrm_3584690000006082758,2019-04-02 03:11:29,2015-05-12,Michael,Angus,test@hotmail.com,6666666,empty,empty,empty,...,empty,empty,empty,Timeshare Marketing,BGAU,Edm,empty,BaliGetaway AUS Email - J4 - VO_BMG,SEAP,empty
33088,zcrm_3584690000006082759,2019-04-02 03:11:29,2015-05-12,Hosanna,Hosanna,test@mail.com,6117324567,9718754212356,1989-09-11,1989,...,empty,empty,empty,Timeshare Marketing,BGAU,Edm,empty,BGAU - Digital - EDM - w2apr17 - Fave Hotel Um...,Other,empty
33089,zcrm_3584690000006082761,2019-04-02 03:11:29,2015-05-12,empty,empty,test@test.net,61361890898,empty,empty,empty,...,empty,empty,empty,Timeshare Marketing,BGAU,Edm,empty,BaliGetaway AUS Email - Phuket - $199,SEAP,empty
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
787245,zcrm_3584690000477543346,2024-01-11 16:50:47,empty,eka,test,eka.suryawan+1888@karmagroup.com,628192817281,628192817281,empty,empty,...,empty,empty,Single,Timeshare Marketing,Karma Experience,Web Enquiry,General,KE | Web | Destination |,SEAP,Not Qualified
787269,zcrm_3584690000479828731,2024-01-15 16:45:42,empty,eka,test,eka.suryawan+1982@karmagroup.com,618192811711,618192811711,empty,empty,...,empty,empty,Married,Timeshare Marketing,Karma Experience,Web Enquiry,General,KE | Web | Destination | karma-haveli-india,SEAP,Not Qualified
787276,zcrm_3584690000479905111,2024-01-15 17:47:14,empty,eka,test,eka.suryawan+1099test@karmagroup.com,618192817161,618192817161,empty,empty,...,2024-01-19,empty,Married,Timeshare Marketing,Karma Experience,Web Enquiry,General,KE | Web | Destination Karma Royal Palms,SEAP,Not Qualified
787598,zcrm_3584690000481794042,2024-01-30 16:28:26,empty,eka,test,eka.suryawan+178x@karmagroup.com,6280182716611,6280182716611,1986-01-01,1986,...,empty,empty,empty,Timeshare Marketing,Karma Experience,Guest Exit,Sales Deck Petitenget,Sales Deck Petitenget | Redeem Karma | EXCLUSI...,SEAP,empty
787601,zcrm_3584690000481796165,2024-01-30 18:13:54,empty,Eka,Test2,eka.suryawan+8922x@karmagroup.com,6281721718171,6281721718171,1981-01-01,1981,...,empty,empty,empty,Timeshare Marketing,Karma Experience,Guest Exit,Sales Deck Jimbaran,Sales Deck Jimbaran | Redeem Karma | EXCLUSIVE...,SEAP,empty

In [16]:
zoho_df.drop(test_leads.index, inplace=True)
zoho_df.reset_index(drop=True, inplace=True)

count_after_dedup_test = zoho_df.shape[0]

In [17]:
# Cek Email OTA
email_OTA = m.find_OTA(zoho_df, 'Email')
count_email_OTA = email_OTA.shape[0]
# email_OTA.to_excel(r'C:\Users\fajar\Documents\Python\Data\email_OTA.xlsx', index=False)

email_OTA

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Arrival Date,Card Type,Marital Status,Lead Brand,Lead Sub-Brand,Lead Source,Lead Locations,Lead Source Description,Lead Regions,Lead Status
965,zcrm_3584690000000657181,2019-01-13 06:55:40,empty,Yohanes Pamungkas,Santoso,yohanes@smailingtour.co.id,8158082392,empty,1981-09-14,1981,...,empty,Gold,Married,Timeshare Marketing,BGID,Facebook Ads,empty,empty,SEAP,empty
2231,zcrm_3584690000000668331,2019-01-13 15:50:42,empty,Silvia,Utami,glorietourpadang@gmail.com,87877744428,empty,1962-03-25,1962,...,empty,Platinum,Married,Timeshare Marketing,BGID,Facebook Ads,empty,empty,SEAP,empty
2452,zcrm_3584690000000670403,2019-01-13 17:40:08,empty,Moen,Moen,moen.tour@yahoo.com,81219991033,empty,1982-01-01,1982,...,empty,Platinum,Single,Timeshare Marketing,BGID,Facebook Ads,empty,empty,SEAP,empty
2821,zcrm_3584690000000706621,2019-01-17 01:35:43,empty,Anang,Hardiansyah,selebritis.tourtravel@gmail.com,89681821456,empty,1989-01-01,1989,...,empty,Platinum,Married,Timeshare Marketing,BGID,Facebook Ads,empty,empty,SEAP,empty
2941,zcrm_3584690000000708359,2019-01-16 08:48:15,empty,Yulianto,Budi,tours_permata@yahoo.com,6282233295200,empty,1986-01-01,1986,...,empty,Gold,Married,Timeshare Marketing,BGID,Facebook Ads,empty,empty,SEAP,empty
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
771426,zcrm_3584690000430855268,2023-02-23 07:14:24,empty,Victor,Vabio,pasiartourtravel@yahoo.com,6285358856161,6285358856161,1990-03-30,1990,...,empty,No,Married,Timeshare Marketing,BGID,Facebook Ads,Hotel Partner,ID | FB LP | Sense Seminyak Combo Deal,SEAP,Hot Prospect
778352,zcrm_3584690000438198168,2023-04-01 08:57:16,empty,Ardi,Pramono,ardiatour@gmail.com,628156800919,628156800919,1969-12-13,1969,...,empty,Platinum,Married,Timeshare Marketing,Karma Experience,Facebook Ads,Hotel Partner,KEID | FB Ads | w3mar23 | Sense Seminyak,SEAP,Hot Prospect
781656,zcrm_3584690000460374320,2023-09-05 17:54:24,2023-06-30,Natasha,Price,tashontour@hotmail.com,447821056065,empty,1977-08-08,empty,...,empty,empty,empty,Timeshare Marketing,Karma Experience,Facebook Ads,Karma Bavaria,FlyBuy Leads (Kevin O'Connor) Resort Preview S...,UK/Europe,New Lead
787901,zcrm_3584690000483695129,2024-02-14 13:18:46,empty,SAURABH,TALREJA,raaheintoursandtravels@gmail.com,919670999100,919670999100,empty,empty,...,2024-03-26,empty,Married,Timeshare Marketing,Karma Experience,Web Enquiry,General,KE | Web | Destination Karma Royal Haathi Mahal,SEAP,Not Qualified
789245,zcrm_3584690000489157182,2024-03-25 12:41:11,empty,ISTORLINO,DA COSTA,gesanotour1@gmail.com,67074417115,67074417115,1982-04-07,1982,...,empty,empty,empty,Timeshare Marketing,Karma Experience,Guest Exit,Sales Deck Jimbaran,Sales Deck Jimbaran | Redeem Karma | EXCLUSIVE...,SEAP,empty

In [18]:
# delete email OTA
count_after_clean_OTA = m.delete_OTA(zoho_df, 'Email')
# zoho_df.to_excel(r'C:\Users\fajar\Documents\Python\Data\after_clean_OTA.xlsx', index=False)

zoho_df

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Arrival Date,Card Type,Marital Status,Lead Brand,Lead Sub-Brand,Lead Source,Lead Locations,Lead Source Description,Lead Regions,Lead Status
0,zcrm_3584690000000408007,2019-01-07 13:29:59,empty,Ht Chandra,N Usman,ichan051163@gmail.com,628116190115,8126542115,1963-01-01,1963,...,empty,Mastercard World,Single,Timeshare Marketing,BGID,Newsletter,empty,empty,SEAP,empty
1,zcrm_3584690000000408013,2019-01-07 17:22:27,empty,Endah,Haryani,awal.endah83@gmail.com,87888802700,empty,1983-01-01,1983,...,empty,Platinum,Married,Timeshare Marketing,BGID,Newsletter,empty,empty,SEAP,empty
2,zcrm_3584690000000408020,2019-01-07 18:22:28,empty,Alda Beatrix,Wattimena,aldabeatrix.abw@gmail.com,6285344502233,empty,1986-01-01,1986,...,empty,Gold,Married,Timeshare Marketing,BGID,Newsletter,empty,empty,SEAP,empty
3,zcrm_3584690000000408026,2019-01-07 20:07:11,empty,Rini,Siregar,rini.siregar21@gmail.com,87888282359,empty,empty,empty,...,empty,Gold,Married,Timeshare Marketing,BGID,Newsletter,empty,empty,SEAP,empty
4,zcrm_3584690000000409019,2019-01-07 15:00:14,empty,Christine Marylin,Effendi,christinemarylin@gmail.com,empty,empty,empty,empty,...,empty,empty,empty,Timeshare Marketing,BGID,Newsletter,empty,empty,SEAP,empty
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
788889,zcrm_3584690000489240189,2024-03-25 16:06:36,empty,SINO,MATHEW,teleenavthomas@gmail.com,918086206032,918086206032,1990-04-07,1990,...,empty,empty,empty,Timeshare Marketing,Karma Experience,Guest Exit,Sales Deck Jimbaran,Sales Deck Jimbaran | Redeem Karma | EXCLUSIVE...,SEAP,empty
788890,zcrm_3584690000489243001,2024-03-24 13:15:27,empty,ANDREW,RIMMER,andrewrimmer@outlook.com,61408022047,61408022047,1959-03-26,1959,...,empty,empty,empty,Timeshare Marketing,Karma Experience,Guest Exit,empty,Sales Deck petitenget | Redeem Karma | EXCLUSI...,SEAP,empty
788891,zcrm_3584690000489243048,2024-03-24 15:57:55,empty,ROMMEL,GeorGE,rjgeorge86@gmail.com,919562897817,919562897817,1986-07-09,1986,...,empty,empty,empty,Timeshare Marketing,Karma Experience,Guest Exit,Sales Deck Jimbaran,Sales Deck Jimbaran | Redeem Karma | EXCLUSIVE...,SEAP,empty
788892,zcrm_3584690000489256001,2024-03-25 14:17:46,empty,SAULIUS,ROMERIS,sauliusromeris@gmail.com,353873546112,353873546112,1987-06-15,1987,...,empty,empty,empty,Timeshare Marketing,Karma Experience,Guest Exit,Sales Deck Jimbaran,Sales Deck Jimbaran | Redeem Karma | EXCLUSIVE...,SEAP,empty
788893,zcrm_3584690000489256048,2024-03-25 15:03:45,empty,JOLYN,NG,jolyn.ng@live.com.sg,6597128546,6597128546,1990-12-15,1990,...,empty,empty,empty,Timeshare Marketing,Karma Experience,Guest Exit,empty,Sales Deck petitenget | Redeem Karma | EXCLUSI...,SEAP,empty

In [19]:
# Cek Email Karma
email_karma = m.find_karma(zoho_df, 'Email')
count_email_karma = email_karma.shape[0]
# email_OTA.to_excel(r'C:\Users\fajar\Documents\Python\Data\email_OTA.xlsx', index=False)

email_karma

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Arrival Date,Card Type,Marital Status,Lead Brand,Lead Sub-Brand,Lead Source,Lead Locations,Lead Source Description,Lead Regions,Lead Status
14167,zcrm_3584690000002492722,2019-02-22 14:51:05,empty,Reza,Bintang Aurora,reza.bintang@thebaligetaway.com,8113961761,empty,empty,1980,...,empty,Platinum,empty,Timeshare Marketing,BGID,Facebook Ads,empty,empty,SEAP,empty
35287,zcrm_3584690000006087837,2019-04-02 03:11:56,2015-05-12,empty,empty,itdept@royalperspective.com,6235157821,empty,empty,empty,...,empty,empty,empty,Timeshare Marketing,BGAU,Edm,empty,BGAU - Email - Sunny Christmas - Neo Petitenget,SEAP,empty
52316,zcrm_3584690000006128606,2019-04-02 03:15:42,2015-05-12,empty,empty,bhanu@royalperspective.com,61412123123123,empty,empty,empty,...,empty,empty,empty,Timeshare Marketing,BGAU,Edm,empty,BaliGetaway Seminyak Square AUS Group 1,SEAP,empty
68133,zcrm_3584690000006167006,2019-04-02 03:19:20,2015-05-12,empty,empty,lee+baligetawaycomau@ccp.com.au,61400481632,empty,empty,empty,...,empty,empty,empty,Timeshare Marketing,BGAU,Facebook Ads,empty,BGAU - FB - Ion 2,SEAP,empty
75550,zcrm_3584690000006184540,2019-04-02 03:21:02,2017-02-13,Shally,Shally,shally@thebaligetaway.com,empty,empty,empty,empty,...,empty,empty,empty,Timeshare Marketing,BGAU,Facebook Ads,empty,BGAU - Digital - FB - w2feb17 - Neo Hotel Kuta,SEAP,empty
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
786544,zcrm_3584690000474852001,2023-12-29 16:22:49,empty,Eka,TestKIC,eka.suryawan+198kic@karmagroup.com,62819281918911,62819281918911,1987-12-03,1987,...,empty,empty,empty,Timeshare Marketing,Karma Experience,Guest Exit,Sales Deck Jimbaran,TEST | Redeem Karma | EXCLUSIVE FREE STAY VOUCHER,SEAP,empty
786545,zcrm_3584690000474865001,2023-12-29 16:29:26,empty,Eka,Testing,eka.suryawan+88xx2@karmagroup.com,6281928191811,6281928191811,1996-12-05,1996,...,empty,empty,empty,Timeshare Marketing,Karma Experience,Guest Exit,Sales Deck Jimbaran,TEST | Redeem Karma | EXCLUSIVE FREE STAY VOUCHER,SEAP,empty
786547,zcrm_3584690000474996001,2023-12-30 10:02:19,empty,eka,Test19,eka.suryawan+188@karmagroup.com,618192818767111,618192818767111,1994-12-01,1994,...,empty,empty,empty,Timeshare Marketing,Karma Experience,Guest Exit,Sales Deck Jimbaran,TEST | Redeem Karma | EXCLUSIVE FREE STAY VOUCHER,SEAP,empty
786775,zcrm_3584690000481190001,2024-01-23 10:45:01,empty,eka,eka,eka.suryawan+1892@karmagroup.com,6181927181711,6181927181711,1987-01-08,1987,...,empty,empty,empty,Timeshare Marketing,Karma Experience,Guest Exit,Sales Deck Jimbaran,TEST | Sales Deck Petitenget | Redeem Karma | ...,SEAP,empty
786777,zcrm_3584690000481191001,2024-01-23 10:48:03,empty,eka,test vietnam,eka.suryawan+1982x@karmagroup.com,61819281716,61819281716,1988-01-07,1988,...,empty,empty,empty,Timeshare Marketing,Karma Experience,Guest Exit,Sales Deck Vietnam,TEST | Sales Deck Vietnam | Redeem Karma | EXC...,SEAP,empty

In [20]:
# delete email Karma
count_after_clean_karma = m.delete_karma(zoho_df, 'Email')
# zoho_df.to_excel(r'C:\Users\fajar\Documents\Python\Data\after_clean_OTA.xlsx', index=False)

zoho_df

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Arrival Date,Card Type,Marital Status,Lead Brand,Lead Sub-Brand,Lead Source,Lead Locations,Lead Source Description,Lead Regions,Lead Status
0,zcrm_3584690000000408007,2019-01-07 13:29:59,empty,Ht Chandra,N Usman,ichan051163@gmail.com,628116190115,8126542115,1963-01-01,1963,...,empty,Mastercard World,Single,Timeshare Marketing,BGID,Newsletter,empty,empty,SEAP,empty
1,zcrm_3584690000000408013,2019-01-07 17:22:27,empty,Endah,Haryani,awal.endah83@gmail.com,87888802700,empty,1983-01-01,1983,...,empty,Platinum,Married,Timeshare Marketing,BGID,Newsletter,empty,empty,SEAP,empty
2,zcrm_3584690000000408020,2019-01-07 18:22:28,empty,Alda Beatrix,Wattimena,aldabeatrix.abw@gmail.com,6285344502233,empty,1986-01-01,1986,...,empty,Gold,Married,Timeshare Marketing,BGID,Newsletter,empty,empty,SEAP,empty
3,zcrm_3584690000000408026,2019-01-07 20:07:11,empty,Rini,Siregar,rini.siregar21@gmail.com,87888282359,empty,empty,empty,...,empty,Gold,Married,Timeshare Marketing,BGID,Newsletter,empty,empty,SEAP,empty
4,zcrm_3584690000000409019,2019-01-07 15:00:14,empty,Christine Marylin,Effendi,christinemarylin@gmail.com,empty,empty,empty,empty,...,empty,empty,empty,Timeshare Marketing,BGID,Newsletter,empty,empty,SEAP,empty
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
788664,zcrm_3584690000489240189,2024-03-25 16:06:36,empty,SINO,MATHEW,teleenavthomas@gmail.com,918086206032,918086206032,1990-04-07,1990,...,empty,empty,empty,Timeshare Marketing,Karma Experience,Guest Exit,Sales Deck Jimbaran,Sales Deck Jimbaran | Redeem Karma | EXCLUSIVE...,SEAP,empty
788665,zcrm_3584690000489243001,2024-03-24 13:15:27,empty,ANDREW,RIMMER,andrewrimmer@outlook.com,61408022047,61408022047,1959-03-26,1959,...,empty,empty,empty,Timeshare Marketing,Karma Experience,Guest Exit,empty,Sales Deck petitenget | Redeem Karma | EXCLUSI...,SEAP,empty
788666,zcrm_3584690000489243048,2024-03-24 15:57:55,empty,ROMMEL,GeorGE,rjgeorge86@gmail.com,919562897817,919562897817,1986-07-09,1986,...,empty,empty,empty,Timeshare Marketing,Karma Experience,Guest Exit,Sales Deck Jimbaran,Sales Deck Jimbaran | Redeem Karma | EXCLUSIVE...,SEAP,empty
788667,zcrm_3584690000489256001,2024-03-25 14:17:46,empty,SAULIUS,ROMERIS,sauliusromeris@gmail.com,353873546112,353873546112,1987-06-15,1987,...,empty,empty,empty,Timeshare Marketing,Karma Experience,Guest Exit,Sales Deck Jimbaran,Sales Deck Jimbaran | Redeem Karma | EXCLUSIVE...,SEAP,empty
788668,zcrm_3584690000489256048,2024-03-25 15:03:45,empty,JOLYN,NG,jolyn.ng@live.com.sg,6597128546,6597128546,1990-12-15,1990,...,empty,empty,empty,Timeshare Marketing,Karma Experience,Guest Exit,empty,Sales Deck petitenget | Redeem Karma | EXCLUSI...,SEAP,empty

In [21]:
find_member_booking = zoho_df.copy()

find_member_booking.loc[find_member_booking['Phone'].isin(df_booking['Phone1']), 'Same Value Find'] = 'Booking-Phone1'
find_member_booking.loc[find_member_booking['Phone'].isin(df_booking['Mobile']), 'Same Value Find'] = 'Booking-Mobile'
find_member_booking.loc[find_member_booking['Mobile'].isin(df_booking['Phone1']), 'Same Value Find'] = 'Booking-Phone1' 
find_member_booking.loc[find_member_booking['Mobile'].isin(df_booking['Mobile']), 'Same Value Find'] = 'Booking-Mobile'
find_member_booking.loc[find_member_booking['Email'].isin(df_booking['Email']), 'Same Value Find'] = 'Booking-Email'

find_member_booking.loc[find_member_booking['Phone'].isin(df_phone['Mobile']), 'Same Value Find'] = 'Member-Mobile' 
find_member_booking.loc[find_member_booking['Mobile'].isin(df_phone['Mobile']), 'Same Value Find'] = 'Member-Mobile'

find_member_booking.loc[find_member_booking['Email'].isin(df_email['Email']), 'Same Value Find'] = 'Member-Email'

find_member_booking.loc[find_member_booking['Email'].isin(df_unsubs['Email']), 'Same Value Find'] = 'Unsubs-Email'
find_member_booking.loc[find_member_booking['Email'].isin(df_bounce['Email']), 'Same Value Find'] = 'Bounce-Email'
find_member_booking.loc[find_member_booking['Email'].isin(df_kce['Email']), 'Same Value Find'] = 'KCE-Email'

find_member_booking.drop(find_member_booking.loc[find_member_booking['Same Value Find'].isna()].index, inplace=True)

count_booking_dedup = find_member_booking.loc[find_member_booking['Same Value Find'].str.contains('Booking', flags=re.I, regex=True)].shape[0]
count_member_dedup = find_member_booking.loc[find_member_booking['Same Value Find'].str.contains('Member', flags=re.I, regex=True)].shape[0]
count_unsubs_dedup = find_member_booking.loc[find_member_booking['Same Value Find'].str.contains('Unsubs', flags=re.I, regex=True)].shape[0]
count_bounce_dedup = find_member_booking.loc[find_member_booking['Same Value Find'].str.contains('Bounce', flags=re.I, regex=True)].shape[0]
count_kce_dedup = find_member_booking.loc[find_member_booking['Same Value Find'].str.contains('KCE', flags=re.I, regex=True)].shape[0]

find_member_booking.replace('empty', '', inplace=True)
# find_member_booking.to_csv(r'C:\Users\fajar\Documents\Python\Data\booking-member-dedup.csv', index=False)
# find_member_booking.to_excel(r'C:\Users\fajar\Documents\Python\Data\booking-member-dedup.xlsx', index=False)

#find_member_booking.loc[find_member_booking['Same Value Find'] == 'Booking-Phone1']

In [22]:
# data phone, mobile dam email member yang ada di master data 
count_wash_member = zoho_df.loc[
    zoho_df['Phone'].isin(df_booking['Phone1']) | 
    zoho_df['Phone'].isin(df_booking['Mobile']) |
    zoho_df['Mobile'].isin(df_booking['Phone1']) | 
    zoho_df['Mobile'].isin(df_booking['Mobile']) |
    zoho_df['Email'].isin(df_booking['Email'])| 

    zoho_df['Phone'].isin(df_phone['Mobile']) | 
    zoho_df['Mobile'].isin(df_phone['Mobile']) |

    zoho_df['Email'].isin(df_email['Email'])|

    zoho_df['Email'].isin(df_unsubs['Email'])|
    zoho_df['Email'].isin(df_bounce['Email'])|
    zoho_df['Email'].isin(df_kce['Email'])

].shape[0]

zoho_df.drop(zoho_df.loc[
    zoho_df['Phone'].isin(df_booking['Phone1']) | 
    zoho_df['Phone'].isin(df_booking['Mobile']) |
    zoho_df['Mobile'].isin(df_booking['Phone1']) | 
    zoho_df['Mobile'].isin(df_booking['Mobile']) |
    zoho_df['Email'].isin(df_booking['Email']) |
    
    zoho_df['Phone'].isin(df_phone['Mobile']) | 
    zoho_df['Mobile'].isin(df_phone['Mobile']) |

    zoho_df['Email'].isin(df_email['Email']) |
    zoho_df['Email'].isin(df_unsubs['Email'])|
    zoho_df['Email'].isin(df_bounce['Email'])|
    zoho_df['Email'].isin(df_kce['Email'])

    ].index, inplace=True)
    
zoho_df.reset_index(drop=True, inplace=True)

count_after_wash_member = zoho_df.shape[0]

In [23]:
count_email_only = zoho_df.loc[(zoho_df['Email'] != 'empty') & ((zoho_df['Phone'] == 'empty') & (zoho_df['Mobile'] == 'empty'))].shape[0]
count_phone_only = zoho_df.loc[(zoho_df['Email'] == 'empty') & ((zoho_df['Phone'] != 'empty') | (zoho_df['Mobile'] != 'empty'))].shape[0]
count_email_and_phone = zoho_df.loc[(zoho_df['Email'] != 'empty') & ((zoho_df['Phone'] != 'empty') | (zoho_df['Mobile'] != 'empty'))].shape[0]

count_blank = zoho_df.loc[(zoho_df['Email'] =='empty') & (zoho_df['Phone']=='empty') & (zoho_df['Mobile']=='empty')].shape[0]

# zoho_df.loc[(zoho_df['Email'] =='empty') & (zoho_df['Phone']=='empty') & (zoho_df['Mobile']=='empty')].to_excel(r'C:\Users\fajar\Documents\Python\Data\blank_data.xlsx', index=False)

zoho_df.loc[(zoho_df['Email'] != 'empty') & ((zoho_df['Phone'] == 'empty') & (zoho_df['Mobile'] == 'empty')), 'Contact Type'] = 'Email Only'
zoho_df.loc[(zoho_df['Email'] == 'empty') & ((zoho_df['Phone'] != 'empty') | (zoho_df['Mobile'] != 'empty')), 'Contact Type'] = 'Phone Only'
zoho_df.loc[(zoho_df['Email'] != 'empty') & ((zoho_df['Phone'] != 'empty') | (zoho_df['Mobile'] != 'empty')), 'Contact Type'] = 'Email and Phone'

zoho_df.drop(zoho_df.loc[(zoho_df['Email'] =='empty') & (zoho_df['Phone']=='empty') & (zoho_df['Mobile']=='empty')].index, inplace=True)
zoho_df.reset_index(drop=True, inplace=True)

count_after_wash_blank = zoho_df.shape[0]

In [24]:
arr_dedup = [count_deleted_wrong_format, count_duplicate_general, count_leads_test, count_email_OTA, count_email_karma, count_blank]
count_sum_dedup = sum(arr_dedup)
count_sum_dedup

254558

In [7]:
print("==========================================================")
print("Summary")
print("==========================================================")
print("Jumlah Keseluruhan Master Zoho : "+str(count_data_awal))
print("Jumlah Filter Leads Awal : "+str(count_filter_awal))
print("Jumlah Format Email Salah : "+str(count_deleted_wrong_format))
print("Jumlah Setelah Clean Format Email Salah : "+str(count_after_deleted_wrong_format))
print("Jumlah Duplicate (Email) : "+str(count_duplicate_general))
print("Jumlah Setelah Clean Duplicate : "+str(count_after_dedup_duplicate))
print("Jumlah Lead Test : "+str(count_leads_test))
print("Jumlah Setelah Clean Lead Test : "+str(count_after_dedup_test))
print("Jumlah Email OTA : "+str(count_email_OTA))
print("Jumlah Setelah Clean Email OTA : "+str(count_after_clean_OTA))
print("Jumlah Email Karma : "+str(count_email_karma))
print("Jumlah Setelah Clean Email Karma : "+str(count_after_clean_karma))
print("Jumlah Wash Member : "+str(count_member_dedup))
print("Jumlah Wash Booking : "+str(count_booking_dedup))
print("Jumlah Wash Unsubs : "+str(count_unsubs_dedup))
print("Jumlah Wash Bounce : "+str(count_bounce_dedup))
print("Jumlah Wash KCE : "+str(count_kce_dedup))
print("Jumlah Setelah Wash Member+Bounce+Unsubs+KCE : "+str(count_after_wash_member))
print("Jumlah Phone Email Blank (Setelah phone yang tidak valid dihapus) : "+str(count_blank))
print("Jumlah Setelah Wash Phone Email Blank : "+str(count_after_wash_blank))
print("==========================================================")
print("Contact Type")
print("==========================================================")
print("Jumlah Email Only : "+str(count_email_only))
print("Jumlah Phone Only : "+str(count_phone_only))
print("Jumlah Email dan Phone : "+str(count_email_and_phone))

==========================================================
Summary
==========================================================
Jumlah Keseluruhan Master Zoho : 9965985
Jumlah Filter Leads Awal : 0

NameError: name 'count_deleted_wrong_format' is not defined

In [26]:
print("==========================================================")
print("Summary Report")
print("==========================================================")
print("Jumlah Data Awal : "+str(count_filter_awal))
print("Jumlah Wash Dedup : "+str(count_sum_dedup))
print("Jumlah Wash Member : "+str(count_member_dedup))
print("Jumlah Wash Booking : "+str(count_booking_dedup))
print("Jumlah Wash Unsubs : "+str(count_unsubs_dedup))
print("Jumlah Wash Bounce : "+str(count_bounce_dedup))
print("Jumlah Wash KCE : "+str(count_kce_dedup))
print("Jumlah Data Akhir : "+str(count_after_wash_blank))

==========================================================
Summary Report
==========================================================
Jumlah Data Awal : 1043227
Jumlah Wash Dedup : 254558
Jumlah Wash Member : 1225
Jumlah Wash Booking : 2819
Jumlah Wash Unsubs : 67753
Jumlah Wash Bounce : 142484
Jumlah Wash KCE : 4812
Jumlah Data Akhir : 569576

# ====================== Akhir Filter Umum ======================

In [27]:
zoho_df.replace('empty', '', inplace=True, regex=True)
zoho_df.loc[zoho_df['Lead Sub-Brand'] == 'BGAU'].to_excel(r'C:\Users\fajar\Documents\Python\Data\database_tm_old_db(BGAU).xlsx', index=False)
zoho_df.loc[zoho_df['Lead Sub-Brand'] == 'BGID'].to_excel(r'C:\Users\fajar\Documents\Python\Data\database_tm_old_db(BGID).xlsx', index=False)
zoho_df.loc[zoho_df['Lead Sub-Brand'] == 'Hotel Discount'].to_excel(r'C:\Users\fajar\Documents\Python\Data\database_tm_old_db(Hotel Discount).xlsx', index=False)
zoho_df.loc[zoho_df['Lead Sub-Brand'] == 'Karma Experience'].to_excel(r'C:\Users\fajar\Documents\Python\Data\database_tm_old_db(Karma Experience).xlsx', index=False)

In [28]:
zoho_df.groupby('Lead Sub-Brand').count()

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Arrival Date,Card Type,Marital Status,Lead Brand,Lead Source,Lead Locations,Lead Source Description,Lead Regions,Lead Status,Contact Type
Lead Sub-Brand,,,,,,,,,,,,,,,,,,,,,
BGAU,45020,45020,45020,45020,45020,45020,45020,45020,45020,45020,...,45020,45020,45020,45020,45020,45020,45020,45020,45020,45020
BGID,279396,279396,279396,279396,279396,279396,279396,279396,279396,279396,...,279396,279396,279396,279396,279396,279396,279396,279396,279396,279396
Hotel Discount,36515,36515,36515,36515,36515,36515,36515,36515,36515,36515,...,36515,36515,36515,36515,36515,36515,36515,36515,36515,36515
Karma Experience,208645,208645,208645,208645,208645,208645,208645,208645,208645,208645,...,208645,208645,208645,208645,208645,208645,208645,208645,208645,208645

In [29]:
# zoho_df['Country'].loc[
#     (zoho_df['Phone'].str.contains('^44|^\+44')) & 
#     (~zoho_df['Country'].str.contains('united kingdom|wales|england|scotland|northern ireland', regex=True, flags=re.I))
# ]