In [5]:
import main_module as m
import zoho_filter_module as fil
import pandas as pd
import re
import numpy as np

%load_ext autoreload
%autoreload 2

cols = ['Record Id',	
'Created Time',
'Created Date',	
'First Name',	
'Last Name',	
'Email',	
'PHONE',	
'Mobile',	
'Birthdate',	
'Year of Birth',
'Street',	
'Street2',	
'City',	
'State',	
'Country',	
'Nationality',
'Booking Status', 
'BookRef',
'Departure Date',	
'Arrival Date',	
'Card Type',	
'Marital Status',	
'Lead Brand',	
'Lead Sub-Brand',	
'Lead Source',	
'Lead Locations',	
'Lead Source Description',	
'Lead Regions',
'Lead Status',
'Email Opt Out',	
'Opt In']

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [6]:
path = r'C:\Users\fajar\Documents\Python\Data\Request Data\MW REQ\Juli\9\Karma St. Martin\'s - All Past Guests & Wifi (Uniqeu Email).xlsx'
zoho_df = pd.read_excel(path, dtype='string', sheet_name="Sheet0")

zoho_df.reset_index(drop=True, inplace=True)
count_filter_awal = zoho_df.shape[0]

# mengisi kolom <NA> dengan value string 'empty' supaya mudah mengecek data member dan booking dengan isin
zoho_df.fillna('empty', inplace=True)
zoho_df

,Record Id,Created Time,Created Date,Lead Source Description,First Name,Last Name,Email,Phone,Occupation,Mobile,...,Messages,Do Not Mail,Do Not Contact,Lead Location,Lead Location Description,Agency Name,Agent Name,Campaign Name,Card Number,Website
0,zcrm_3584690000501467141,2024-07-08 17:06:00,empty,empty,Sophie,Zaferani,soph.e.camp@gmail.com,+447934496823,empty,empty,...,empty,false,false,empty,empty,empty,empty,empty,empty,empty
1,zcrm_3584690000501467042,2024-07-08 17:04:00,empty,empty,Mark,Cronfield,markcronfield@btinternet.com,+447484802111,empty,empty,...,empty,false,false,empty,empty,empty,empty,empty,empty,empty
2,zcrm_3584690000501465112,2024-07-08 17:06:00,empty,empty,Ngozi,Onyesoh,theandromedadiver@gmail.com,+18325351981,empty,+18325351981,...,empty,false,false,empty,empty,empty,empty,empty,empty,empty
3,zcrm_3584690000501460185,2024-07-08 17:05:00,empty,empty,John,Williams,jtw@taylorwilliams.co.uk,+447974727731,empty,empty,...,empty,true,false,empty,empty,empty,empty,empty,empty,empty
4,zcrm_3584690000501458240,2024-07-08 17:05:00,empty,empty,Maureen,Nash,mnash@duchyofcornwall.org,+441720422508,empty,+447912528184,...,empty,false,false,empty,empty,empty,empty,empty,empty,empty
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5248,zcrm_3584690000000456150,2019-01-09 11:10:00,empty,empty,Aart,Wouterson,a.woutersen@planet.nl,31343412477,empty,empty,...,empty,true,true,empty,empty,empty,empty,empty,empty,empty
5249,zcrm_3584690000000456146,2019-01-09 11:10:00,empty,empty,Andrew,Halstead,a.halstead@btinternet.com,+447811159329,empty,empty,...,empty,true,true,empty,empty,empty,empty,empty,empty,empty
5250,zcrm_3584690000000456144,2019-01-09 11:10:00,empty,empty,andrew,Latham,a.e.d.l@virginmedia.com,+447758640150,empty,empty,...,empty,true,true,empty,empty,empty,empty,empty,empty,empty
5251,zcrm_3584690000000456123,2019-01-09 11:10:00,empty,empty,Trevor,Sherwood,44trevann@gmail.com,+447828164927,empty,empty,...,empty,true,true,empty,empty,empty,empty,empty,empty,empty
5252,zcrm_3584690000000456111,2019-01-09 11:10:00,empty,empty,Gwynfor,Davies,2gwyns@gmail.com,1443813058,empty,773801394241,...,empty,true,true,empty,empty,empty,empty,empty,empty,empty

In [7]:
path = r'G:\.shortcut-targets-by-id\0B_d3smBjzo04eXpvS1NXTWF2RVE\_BOOKING\Booking By Year\FlyBuy Booking Data (BGAU & BGID & KE).xlsx'
df_booking = pd.read_excel(path, dtype='string', sheet_name='BOOKING_BGAU_BGID_KE')

path = r'G:\.shortcut-targets-by-id\0B_d3smBjzo04UUNBME5GOVhoMjA\_ODYSSEY\Phone Members.xlsx'
df_phone = pd.read_excel(path, dtype='string', sheet_name='Sheet1')

path = r'G:\.shortcut-targets-by-id\0B_d3smBjzo04UUNBME5GOVhoMjA\_ODYSSEY\Email Members.xlsx'
df_email = pd.read_excel(path, dtype='string', sheet_name='Sheet1')

# ====================== Awal Filter Umum ======================

In [8]:
# data phone, mobile dam email member yang ada di master data (wash member)

m.clean_number(zoho_df, 'Phone')
m.clean_number(zoho_df, 'Mobile')
m.replace_not_valid_to_empty(zoho_df, 'Phone')
m.replace_not_valid_to_empty(zoho_df, 'Mobile')
zoho_df['Email'] = m.lowercase(zoho_df, 'Email')
m.clean_space(zoho_df, 'Email')
m.clean_not_valid_email_format(zoho_df, 'Email')

m.clean_number(df_booking, 'Phone1')
m.clean_number(df_booking, 'Mobile')
df_booking['Email'] = m.lowercase(df_booking, 'Email')
m.clean_space(df_booking, 'Email')
m.clean_not_valid_email_format(df_booking, 'Email')

m.clean_number(df_phone, 'Mobile')

df_email['Email'] = m.lowercase(df_email, 'Email')
m.clean_space(df_email, 'Email')
m.clean_not_valid_email_format(df_email, 'Email')

'Email'

In [9]:
count_deleted_wrong_format = m.delete_email_wrong_format(zoho_df, 'Email')
count_after_deleted_wrong_format = zoho_df.shape[0]

# ====================== Akhir Filter Umum ======================

In [10]:
# hitung jumlah duplicate
count_duplicate_general = zoho_df.loc[zoho_df.duplicated(subset=['Phone','Mobile','Email'])].shape[0]

zoho_df.loc[zoho_df.duplicated(subset=['Phone','Mobile','Email'])]

,Record Id,Created Time,Created Date,Lead Source Description,First Name,Last Name,Email,Phone,Occupation,Mobile,...,Messages,Do Not Mail,Do Not Contact,Lead Location,Lead Location Description,Agency Name,Agent Name,Campaign Name,Card Number,Website
618,zcrm_3584690000441659587,2023-04-24 12:29:00,empty,empty,Melanie,Molesworth,amandabond@visitislesofscilly.co.uk,447710808313,empty,empty,...,empty,false,false,empty,empty,empty,empty,empty,empty,empty
627,zcrm_3584690000440846737,2023-04-17 16:21:00,empty,Viewpoint,Paula,Lawford,paulalawford@hotmail.com,447793847520,empty,empty,...,empty,false,false,empty,empty,empty,empty,empty,empty,empty
643,zcrm_3584690000411207498,2022-11-16 14:38:00,empty,empty,Tanya,Wilde,tanya@tastyadventures.co.uk,447818091113,Md And Retail,empty,...,empty,false,false,empty,empty,empty,empty,empty,empty,empty
825,zcrm_3584690000389761137,2022-08-10 15:18:00,empty,empty,Lisa,Heathcote,lmg@hotmail.co.uk,447814795688,empty,empty,...,empty,false,false,empty,empty,empty,empty,empty,empty,empty
5012,zcrm_3584690000000461716,2019-01-09 11:11:00,empty,empty,Sarah,Smith,lucette@btinternet.com,441249818726,empty,empty,...,empty,false,false,empty,empty,empty,empty,empty,empty,empty
5124,zcrm_3584690000000459075,2019-01-09 11:11:00,empty,empty,Gail,Bradshaw,ga@cley.com,447808536708,empty,empty,...,empty,true,true,empty,empty,empty,empty,empty,empty,empty

In [11]:
zoho_df.drop_duplicates(subset=['Phone','Mobile','Email'], inplace=True)
zoho_df.reset_index(drop=True, inplace=True)

# hitung jumlah setelah value duplicate dihapus
count_after_dedup_duplicate = zoho_df.shape[0]

zoho_df

,Record Id,Created Time,Created Date,Lead Source Description,First Name,Last Name,Email,Phone,Occupation,Mobile,...,Messages,Do Not Mail,Do Not Contact,Lead Location,Lead Location Description,Agency Name,Agent Name,Campaign Name,Card Number,Website
0,zcrm_3584690000501467141,2024-07-08 17:06:00,empty,empty,Sophie,Zaferani,soph.e.camp@gmail.com,447934496823,empty,empty,...,empty,false,false,empty,empty,empty,empty,empty,empty,empty
1,zcrm_3584690000501467042,2024-07-08 17:04:00,empty,empty,Mark,Cronfield,markcronfield@btinternet.com,447484802111,empty,empty,...,empty,false,false,empty,empty,empty,empty,empty,empty,empty
2,zcrm_3584690000501465112,2024-07-08 17:06:00,empty,empty,Ngozi,Onyesoh,theandromedadiver@gmail.com,18325351981,empty,18325351981,...,empty,false,false,empty,empty,empty,empty,empty,empty,empty
3,zcrm_3584690000501460185,2024-07-08 17:05:00,empty,empty,John,Williams,jtw@taylorwilliams.co.uk,447974727731,empty,empty,...,empty,true,false,empty,empty,empty,empty,empty,empty,empty
4,zcrm_3584690000501458240,2024-07-08 17:05:00,empty,empty,Maureen,Nash,mnash@duchyofcornwall.org,441720422508,empty,447912528184,...,empty,false,false,empty,empty,empty,empty,empty,empty,empty
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5242,zcrm_3584690000000456150,2019-01-09 11:10:00,empty,empty,Aart,Wouterson,a.woutersen@planet.nl,31343412477,empty,empty,...,empty,true,true,empty,empty,empty,empty,empty,empty,empty
5243,zcrm_3584690000000456146,2019-01-09 11:10:00,empty,empty,Andrew,Halstead,a.halstead@btinternet.com,447811159329,empty,empty,...,empty,true,true,empty,empty,empty,empty,empty,empty,empty
5244,zcrm_3584690000000456144,2019-01-09 11:10:00,empty,empty,andrew,Latham,a.e.d.l@virginmedia.com,447758640150,empty,empty,...,empty,true,true,empty,empty,empty,empty,empty,empty,empty
5245,zcrm_3584690000000456123,2019-01-09 11:10:00,empty,empty,Trevor,Sherwood,44trevann@gmail.com,447828164927,empty,empty,...,empty,true,true,empty,empty,empty,empty,empty,empty,empty
5246,zcrm_3584690000000456111,2019-01-09 11:10:00,empty,empty,Gwynfor,Davies,2gwyns@gmail.com,1443813058,empty,773801394241,...,empty,true,true,empty,empty,empty,empty,empty,empty,empty

In [12]:
# Cek leads test
test_leads = zoho_df.loc[
    
        zoho_df['Email'].str.contains('^test@', flags=re.I, regex=True) |
        zoho_df['Email'].str.contains('\+test', flags=re.I, regex=True) |
    
        zoho_df['First Name'].str.contains('^test$', flags=re.I, regex=True) |
        zoho_df['Last Name'].str.contains('^test$', flags=re.I, regex=True) |

        zoho_df['First Name'].str.contains('test 1', flags=re.I, regex=True) |
        zoho_df['Last Name'].str.contains('test 2', flags=re.I, regex=True)|
        zoho_df['First Name'].str.contains('test1', flags=re.I, regex=True) |
        zoho_df['Last Name'].str.contains('test2', flags=re.I, regex=True)|

        zoho_df['First Name'].str.contains(' test ', flags=re.I, regex=True) | 
        zoho_df['Last Name'].str.contains(' test ', flags=re.I, regex=True) | 
        zoho_df['Last Name'].str.contains(' test$', flags=re.I, regex=True)
    ]

count_leads_test = test_leads.shape[0]

# test_leads.to_excel(r'C:\Users\fajar\Documents\Python\Data\test_leads_2.xlsx', index=False)
test_leads

Empty DataFrame
Columns: [Record Id, Created Time, Created Date, Lead Source Description, First Name, Last Name, Email, Phone, Occupation, Mobile, Birthdate, Year of Birth, Street, Street2, City, State, Country, Nationality, Departure Date, Arrival Date, Card Type, Marital Status, Lead Brand, Lead Sub-Brand, Lead Source, Lead Locations, Lead Regions, Lead Status, Email Opt Out, Opt In, Booking Status, BookRef, Guest Type, External ID, GDPR Compliant, Description, Media Source Code, First Page Visited, Do you have passport?, Agree with Terms and Condition, Messages, Do Not Mail, Do Not Contact, Lead Location, Lead Location Description, Agency Name, Agent Name, Campaign Name, Card Number, Website]
Index: []

[0 rows x 50 columns]

In [13]:
zoho_df.drop(test_leads.index, inplace=True)
zoho_df.reset_index(drop=True, inplace=True)

count_after_dedup_test = zoho_df.shape[0]

In [14]:
# dnm_leads = zoho_df.loc[(zoho_df['Do Not Mail'] == 'true') | (zoho_df['Do Not Contact'] == 'true')]
# count_dnm = dnm_leads.shape[0]

In [15]:
# zoho_df.drop(dnm_leads.index, inplace=True)
# zoho_df.reset_index(drop=True, inplace=True)

# count_after_dedup_dnm = zoho_df.shape[0]

In [16]:
# Cek Email OTA
email_OTA = m.find_OTA(zoho_df, 'Email')
count_email_OTA = email_OTA.shape[0]
# email_OTA.to_excel(r'C:\Users\fajar\Documents\Python\Data\email_OTA.xlsx', index=False)

email_OTA

,Record Id,Created Time,Created Date,Lead Source Description,First Name,Last Name,Email,Phone,Occupation,Mobile,...,Messages,Do Not Mail,Do Not Contact,Lead Location,Lead Location Description,Agency Name,Agent Name,Campaign Name,Card Number,Website
4936,zcrm_3584690000000463367,2019-01-09 11:11:00,empty,empty,Peter,Dowling,pete.dowling@riverstouridb.org.uk,447729745806,empty,empty,...,empty,true,true,empty,empty,empty,empty,empty,empty,empty

In [17]:
# delete email OTA
count_after_clean_OTA = m.delete_OTA(zoho_df, 'Email')
# zoho_df.to_excel(r'C:\Users\fajar\Documents\Python\Data\after_clean_OTA.xlsx', index=False)

zoho_df

,Record Id,Created Time,Created Date,Lead Source Description,First Name,Last Name,Email,Phone,Occupation,Mobile,...,Messages,Do Not Mail,Do Not Contact,Lead Location,Lead Location Description,Agency Name,Agent Name,Campaign Name,Card Number,Website
0,zcrm_3584690000501467141,2024-07-08 17:06:00,empty,empty,Sophie,Zaferani,soph.e.camp@gmail.com,447934496823,empty,empty,...,empty,false,false,empty,empty,empty,empty,empty,empty,empty
1,zcrm_3584690000501467042,2024-07-08 17:04:00,empty,empty,Mark,Cronfield,markcronfield@btinternet.com,447484802111,empty,empty,...,empty,false,false,empty,empty,empty,empty,empty,empty,empty
2,zcrm_3584690000501465112,2024-07-08 17:06:00,empty,empty,Ngozi,Onyesoh,theandromedadiver@gmail.com,18325351981,empty,18325351981,...,empty,false,false,empty,empty,empty,empty,empty,empty,empty
3,zcrm_3584690000501460185,2024-07-08 17:05:00,empty,empty,John,Williams,jtw@taylorwilliams.co.uk,447974727731,empty,empty,...,empty,true,false,empty,empty,empty,empty,empty,empty,empty
4,zcrm_3584690000501458240,2024-07-08 17:05:00,empty,empty,Maureen,Nash,mnash@duchyofcornwall.org,441720422508,empty,447912528184,...,empty,false,false,empty,empty,empty,empty,empty,empty,empty
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5241,zcrm_3584690000000456150,2019-01-09 11:10:00,empty,empty,Aart,Wouterson,a.woutersen@planet.nl,31343412477,empty,empty,...,empty,true,true,empty,empty,empty,empty,empty,empty,empty
5242,zcrm_3584690000000456146,2019-01-09 11:10:00,empty,empty,Andrew,Halstead,a.halstead@btinternet.com,447811159329,empty,empty,...,empty,true,true,empty,empty,empty,empty,empty,empty,empty
5243,zcrm_3584690000000456144,2019-01-09 11:10:00,empty,empty,andrew,Latham,a.e.d.l@virginmedia.com,447758640150,empty,empty,...,empty,true,true,empty,empty,empty,empty,empty,empty,empty
5244,zcrm_3584690000000456123,2019-01-09 11:10:00,empty,empty,Trevor,Sherwood,44trevann@gmail.com,447828164927,empty,empty,...,empty,true,true,empty,empty,empty,empty,empty,empty,empty
5245,zcrm_3584690000000456111,2019-01-09 11:10:00,empty,empty,Gwynfor,Davies,2gwyns@gmail.com,1443813058,empty,773801394241,...,empty,true,true,empty,empty,empty,empty,empty,empty,empty

In [18]:
# Cek Email Karma
email_karma = m.find_karma(zoho_df, 'Email')
count_email_karma = email_karma.shape[0]
# email_OTA.to_excel(r'C:\Users\fajar\Documents\Python\Data\email_OTA.xlsx', index=False)

email_karma

,Record Id,Created Time,Created Date,Lead Source Description,First Name,Last Name,Email,Phone,Occupation,Mobile,...,Messages,Do Not Mail,Do Not Contact,Lead Location,Lead Location Description,Agency Name,Agent Name,Campaign Name,Card Number,Website
1613,zcrm_3584690000304965637,2021-08-09 00:26:00,empty,empty,Graham,Fischer,reception@karmastmartins.com,447727299577,empty,empty,...,empty,true,true,empty,empty,empty,empty,empty,empty,empty
4200,zcrm_3584690000006022375,2019-04-02 02:22:00,2017-08-30 00:00:00,karma_st_martins,Michael,Petri,noemail@rci.com,empty,empty,empty,...,empty,false,false,empty,empty,empty,empty,empty,empty,empty

In [19]:
# delete email Karma
count_after_clean_karma = m.delete_karma(zoho_df, 'Email')
# zoho_df.to_excel(r'C:\Users\fajar\Documents\Python\Data\after_clean_OTA.xlsx', index=False)

zoho_df

,Record Id,Created Time,Created Date,Lead Source Description,First Name,Last Name,Email,Phone,Occupation,Mobile,...,Messages,Do Not Mail,Do Not Contact,Lead Location,Lead Location Description,Agency Name,Agent Name,Campaign Name,Card Number,Website
0,zcrm_3584690000501467141,2024-07-08 17:06:00,empty,empty,Sophie,Zaferani,soph.e.camp@gmail.com,447934496823,empty,empty,...,empty,false,false,empty,empty,empty,empty,empty,empty,empty
1,zcrm_3584690000501467042,2024-07-08 17:04:00,empty,empty,Mark,Cronfield,markcronfield@btinternet.com,447484802111,empty,empty,...,empty,false,false,empty,empty,empty,empty,empty,empty,empty
2,zcrm_3584690000501465112,2024-07-08 17:06:00,empty,empty,Ngozi,Onyesoh,theandromedadiver@gmail.com,18325351981,empty,18325351981,...,empty,false,false,empty,empty,empty,empty,empty,empty,empty
3,zcrm_3584690000501460185,2024-07-08 17:05:00,empty,empty,John,Williams,jtw@taylorwilliams.co.uk,447974727731,empty,empty,...,empty,true,false,empty,empty,empty,empty,empty,empty,empty
4,zcrm_3584690000501458240,2024-07-08 17:05:00,empty,empty,Maureen,Nash,mnash@duchyofcornwall.org,441720422508,empty,447912528184,...,empty,false,false,empty,empty,empty,empty,empty,empty,empty
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5239,zcrm_3584690000000456150,2019-01-09 11:10:00,empty,empty,Aart,Wouterson,a.woutersen@planet.nl,31343412477,empty,empty,...,empty,true,true,empty,empty,empty,empty,empty,empty,empty
5240,zcrm_3584690000000456146,2019-01-09 11:10:00,empty,empty,Andrew,Halstead,a.halstead@btinternet.com,447811159329,empty,empty,...,empty,true,true,empty,empty,empty,empty,empty,empty,empty
5241,zcrm_3584690000000456144,2019-01-09 11:10:00,empty,empty,andrew,Latham,a.e.d.l@virginmedia.com,447758640150,empty,empty,...,empty,true,true,empty,empty,empty,empty,empty,empty,empty
5242,zcrm_3584690000000456123,2019-01-09 11:10:00,empty,empty,Trevor,Sherwood,44trevann@gmail.com,447828164927,empty,empty,...,empty,true,true,empty,empty,empty,empty,empty,empty,empty
5243,zcrm_3584690000000456111,2019-01-09 11:10:00,empty,empty,Gwynfor,Davies,2gwyns@gmail.com,1443813058,empty,773801394241,...,empty,true,true,empty,empty,empty,empty,empty,empty,empty

In [20]:
find_member_booking = zoho_df.copy()

find_member_booking.loc[find_member_booking['Phone'].isin(df_booking['Phone1']), 'Same Value Find'] = 'Booking-Phone1'
find_member_booking.loc[find_member_booking['Phone'].isin(df_booking['Mobile']), 'Same Value Find'] = 'Booking-Mobile'
find_member_booking.loc[find_member_booking['Mobile'].isin(df_booking['Phone1']), 'Same Value Find'] = 'Booking-Phone1' 
find_member_booking.loc[find_member_booking['Mobile'].isin(df_booking['Mobile']), 'Same Value Find'] = 'Booking-Mobile'
find_member_booking.loc[find_member_booking['Email'].isin(df_booking['Email']), 'Same Value Find'] = 'Booking-Email'

find_member_booking.loc[find_member_booking['Phone'].isin(df_phone['Mobile']), 'Same Value Find'] = 'Member-Mobile' 
find_member_booking.loc[find_member_booking['Mobile'].isin(df_phone['Mobile']), 'Same Value Find'] = 'Member-Mobile'

find_member_booking.loc[find_member_booking['Email'].isin(df_email['Email']), 'Same Value Find'] = 'Member-Email'

find_member_booking.drop(find_member_booking.loc[find_member_booking['Same Value Find'].isna()].index, inplace=True)

count_booking_dedup = find_member_booking.loc[find_member_booking['Same Value Find'].str.contains('Booking', flags=re.I, regex=True)].shape[0]
count_member_dedup = find_member_booking.loc[find_member_booking['Same Value Find'].str.contains('Member', flags=re.I, regex=True)].shape[0]

find_member_booking.replace('empty', '', inplace=True)
# find_member_booking.to_csv(r'C:\Users\fajar\Documents\Python\Data\booking-member-dedup.csv', index=False)
# find_member_booking.to_excel(r'C:\Users\fajar\Documents\Python\Data\booking-member-dedup.xlsx', index=False)

#find_member_booking.loc[find_member_booking['Same Value Find'] == 'Booking-Phone1']

In [21]:
# data phone, mobile dam email member yang ada di master data 
count_wash_member = zoho_df.loc[
    zoho_df['Phone'].isin(df_booking['Phone1']) | 
    zoho_df['Phone'].isin(df_booking['Mobile']) |
    zoho_df['Mobile'].isin(df_booking['Phone1']) | 
    zoho_df['Mobile'].isin(df_booking['Mobile']) |
    zoho_df['Email'].isin(df_booking['Email'])| 

    zoho_df['Phone'].isin(df_phone['Mobile']) | 
    zoho_df['Mobile'].isin(df_phone['Mobile']) |

    zoho_df['Email'].isin(df_email['Email'])

].shape[0]

zoho_df.drop(zoho_df.loc[
    zoho_df['Phone'].isin(df_booking['Phone1']) | 
    zoho_df['Phone'].isin(df_booking['Mobile']) |
    zoho_df['Mobile'].isin(df_booking['Phone1']) | 
    zoho_df['Mobile'].isin(df_booking['Mobile']) |
    zoho_df['Email'].isin(df_booking['Email']) |
    
    zoho_df['Phone'].isin(df_phone['Mobile']) | 
    zoho_df['Mobile'].isin(df_phone['Mobile']) |

    zoho_df['Email'].isin(df_email['Email'])

    ].index, inplace=True)
    
zoho_df.reset_index(drop=True, inplace=True)

count_after_wash_member = zoho_df.shape[0]

In [22]:
count_email_only = zoho_df.loc[(zoho_df['Email'] != 'empty') & ((zoho_df['Phone'] == 'empty') & (zoho_df['Mobile'] == 'empty'))].shape[0]
count_phone_only = zoho_df.loc[(zoho_df['Email'] == 'empty') & ((zoho_df['Phone'] != 'empty') | (zoho_df['Mobile'] != 'empty'))].shape[0]
count_email_and_phone = zoho_df.loc[(zoho_df['Email'] != 'empty') & ((zoho_df['Phone'] != 'empty') | (zoho_df['Mobile'] != 'empty'))].shape[0]

count_blank = zoho_df.loc[(zoho_df['Email'] =='empty') & (zoho_df['Phone']=='empty') & (zoho_df['Mobile']=='empty')].shape[0]

# zoho_df.loc[(zoho_df['Email'] =='empty') & (zoho_df['Phone']=='empty') & (zoho_df['Mobile']=='empty')].to_excel(r'C:\Users\fajar\Documents\Python\Data\blank_data.xlsx', index=False)

zoho_df.loc[(zoho_df['Email'] != 'empty') & ((zoho_df['Phone'] == 'empty') & (zoho_df['Mobile'] == 'empty')), 'Contact Type'] = 'Email Only'
zoho_df.loc[(zoho_df['Email'] == 'empty') & ((zoho_df['Phone'] != 'empty') | (zoho_df['Mobile'] != 'empty')), 'Contact Type'] = 'Phone Only'
zoho_df.loc[(zoho_df['Email'] != 'empty') & ((zoho_df['Phone'] != 'empty') | (zoho_df['Mobile'] != 'empty')), 'Contact Type'] = 'Email and Phone'

zoho_df.drop(zoho_df.loc[(zoho_df['Email'] =='empty') & (zoho_df['Phone']=='empty') & (zoho_df['Mobile']=='empty')].index, inplace=True)
zoho_df.reset_index(drop=True, inplace=True)

count_after_wash_blank = zoho_df.shape[0]

In [23]:
arr_dedup = [count_deleted_wrong_format, count_duplicate_general, count_leads_test, count_email_OTA, count_email_karma, count_blank]
count_sum_dedup = sum(arr_dedup)
count_sum_dedup

9

In [24]:
print("==========================================================")
print("Summary")
print("==========================================================")
print("Jumlah Filter Leads Awal : "+str(count_filter_awal))
print("Jumlah Format Email Salah : "+str(count_deleted_wrong_format))
print("Jumlah Setelah Clean Format Email Salah : "+str(count_after_deleted_wrong_format))
print("Jumlah Duplicate (Phone, Mobile dan Email) : "+str(count_duplicate_general))
print("Jumlah Setelah Clean Duplicate : "+str(count_after_dedup_duplicate))
print("Jumlah Lead Test : "+str(count_leads_test))
print("Jumlah Setelah Clean Lead Test : "+str(count_after_dedup_test))
# print("Jumlah Lead Do Not Mail : "+str(count_dnm))
# print("Jumlah Setelah Clean Lead Do Not Mail : "+str(count_after_dedup_dnm))
print("Jumlah Email OTA : "+str(count_email_OTA))
print("Jumlah Setelah Clean Email OTA : "+str(count_after_clean_OTA))
print("Jumlah Email Karma : "+str(count_email_karma))
print("Jumlah Setelah Clean Email Karma : "+str(count_after_clean_karma))
print("Jumlah Wash Member : "+str(count_member_dedup))
print("Jumlah Wash Booking : "+str(count_booking_dedup))
print("Jumlah Setelah Wash Member : "+str(count_after_wash_member))
print("Jumlah Phone Email Blank (Setelah phone yang tidak valid dihapus) : "+str(count_blank))
print("Jumlah Setelah Wash Phone Email Blank : "+str(count_after_wash_blank))
print("==========================================================")
print("Contact Type")
print("==========================================================")
print("Jumlah Email Only : "+str(count_email_only))
print("Jumlah Phone Only : "+str(count_phone_only))
print("Jumlah Email dan Phone : "+str(count_email_and_phone))

==========================================================
Summary
==========================================================
Jumlah Filter Leads Awal : 5253
Jumlah Format Email Salah : 0
Jumlah Setelah Clean Format Email Salah : 5253
Jumlah Duplicate (Phone, Mobile dan Email) : 6
Jumlah Setelah Clean Duplicate : 5247
Jumlah Lead Test : 0
Jumlah Setelah Clean Lead Test : 5247
Jumlah Email OTA : 1
Jumlah Setelah Clean Email OTA : 5246
Jumlah Email Karma : 2
Jumlah Setelah Clean Email Karma : 5244
Jumlah Wash Member : 410
Jumlah Wash Booking : 1
Jumlah Setelah Wash Member : 4833
Jumlah Phone Email Blank (Setelah phone yang tidak valid dihapus) : 0
Jumlah Setelah Wash Phone Email Blank : 4833
==========================================================
Contact Type
==========================================================
Jumlah Email Only : 1249
Jumlah Phone Only : 0
Jumlah Email dan Phone : 3584

In [25]:
print("==========================================================")
print("Summary Report")
print("==========================================================")
print("Jumlah Data Awal : "+str(count_filter_awal))
print("Jumlah Wash Dedup : "+str(count_sum_dedup))
print("Jumlah Wash Member : "+str(count_member_dedup))
print("Jumlah Wash Booking : "+str(count_booking_dedup))
print("Jumlah Data Akhir : "+str(count_after_wash_blank))

==========================================================
Summary Report
==========================================================
Jumlah Data Awal : 5253
Jumlah Wash Dedup : 9
Jumlah Wash Member : 410
Jumlah Wash Booking : 1
Jumlah Data Akhir : 4833

In [26]:
zoho_df.replace('empty', '', inplace=True, regex=True)

zoho_df['First Name'] = zoho_df['First Name'].str.title()
zoho_df['Last Name'] = zoho_df['Last Name'].str.title()

zoho_df.to_excel(r'C:\Users\fajar\Documents\Python\Data\Request Data\MW REQ\Juli\9\Karma St. Martin\'s - All Past Guests & Wifi (Uniqeu Email) - Clean.xlsx', index=False)