In [1]:
import main_module as m
import pandas as pd
import re
import numpy as np
import os

%load_ext autoreload
%autoreload 2

dir_path = '/Users/dewiindahpurnama_/Documents/Python/Data/Zoho_Backup/2020-2024/'
dir_path_live = '/Users/dewiindahpurnama_/Documents/Python/Data/Zoho_Backup/'
dir_path_old = '/Users/dewiindahpurnama_/Documents/Python/Data/Zoho_Backup/old/'
file_name = 'Leads_'

cols = ['Record Id',	
'Created Time',
'Created Date',	
'First Name',	
'Last Name',	
'Email',	
'Phone',	
'Mobile',	
'Birthdate',	
'Year of Birth',
'Street',	
'Street2',	
'City',	
'State',	
'Country',	
'Nationality',
'Booking Status', 
'BookRef',
'Departure Date',	
'Arrival Date',	
'Card Type',	
'Marital Status',	
'Lead Brand',	
'Lead Sub-Brand',	
'Lead Source',	
'Lead Locations',	
'Lead Source Description',	
'Lead Regions',
'Lead Status',
'Email Opt Out',	
'Opt In',
'GDPR Compliant',
'Website',
'Comments']

In [ ]:
column_name = 'Lead Sub-Brand'
search_value = 'Karma Club'

operator = 'is'
# operator = 'contains'

target_location = '/Users/dewiindahpurnama_/Documents/Python/Data/'
file_type = 'xlsx'

In [3]:
path = dir_path+'backup.csv'
df_all = pd.read_csv(path, dtype='string', on_bad_lines='skip')
df_all.drop(df_all.loc[df_all['Created Time'].str.len() < 5 ].index, inplace=True)
df_all.reset_index(drop=True, inplace=True)

df_all['Created Time'] = pd.to_datetime(df_all['Created Time'], format='%Y-%m-%d %H:%M:%S')

df_all.shape[0]
df_all

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Arrival Date,Card Type,Marital Status,Lead Brand,Lead Sub-Brand,Lead Source,Lead Locations,Lead Source Description,Lead Regions,Lead Status
0,zcrm_3584690000000404058,2019-01-07 15:08:38,2019-01-06,Nicholas,Wood,1230woodnicholas@gmail.com,61438600845,<NA>,<NA>,<NA>,...,2019-01-06 00:00:00,<NA>,<NA>,Timeshare Marketing,Other Bali DB,Wifi,Purple Wifi,<NA>,SEAP,New Lead
1,zcrm_3584690000000404059,2019-01-07 15:08:38,2019-01-06,Liao,Yuan,158066546@qq.com,8618718399923,<NA>,<NA>,<NA>,...,2019-01-06 00:00:00,<NA>,<NA>,Timeshare Marketing,Other Bali DB,Wifi,Purple Wifi,<NA>,Other,New Lead
2,zcrm_3584690000000404060,2019-01-07 15:08:38,2019-01-06,Vedanta,Abhiyoga,abhiyoga.vedanta@gmail.com,6282146524550,<NA>,2000-07-05,2000,...,2018-12-01 00:00:00,<NA>,Pelajar,Timeshare Marketing,Other Bali DB,Wifi,Purple Wifi,<NA>,SEAP,New Lead
3,zcrm_3584690000000404065,2019-01-07 15:08:38,2019-01-06,Aidai,Atakanova,aidai.nurbek@gmail.com,996779641590,<NA>,1997-02-05,1997,...,2019-01-06 00:00:00,<NA>,Single,Timeshare Marketing,Other Bali DB,Wifi,Purple Wifi,<NA>,UK/Europe,New Lead
4,zcrm_3584690000000404068,2019-01-07 15:08:38,2019-01-06,Ardra,Ardra,aliefardraqariru@gmail.com,+6282139300818,+6282139300818,2005-01-20,2005,...,2018-11-30 00:00:00,<NA>,OTHER,Timeshare Marketing,Other Bali DB,Wifi,Purple Wifi,WIFI USER ID 13494142,SEAP,New Lead
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9965978,zcrm_3584690000489266005,2024-03-25 16:19:45,<NA>,Keval,Gala,keval2403@gmail.com,+919022872972,+917700904802,<NA>,<NA>,...,2024-03-21,<NA>,<NA>,Karma Resorts,Other,Past Guests,Karma Royal Palms,Viewpoint,<NA>,<NA>
9965979,zcrm_3584690000489266034,2024-03-25 16:19:51,<NA>,Suresh,Shroff,sureshshroff@breachcandyhospital.org,+919819533303,+919819814280,<NA>,<NA>,...,2024-03-21,<NA>,<NA>,Karma Resorts,Other,Past Guests,"Karma Sitabani, Corbett",Viewpoint,<NA>,<NA>
9965980,zcrm_3584690000489266063,2024-03-25 17:29:27,<NA>,Nathan,Fernandes,nathan.fernandes@karmagroup.com,+9179724486854,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,Karma Group,Karma Community,Quiz,<NA>,Karma Community | Edition 218 - Words to the Wise,India,<NA>
9965981,zcrm_3584690000489269015,2024-03-25 16:20:25,<NA>,Leonora,Hackman,leonora_hf@bigpond.com,+61439855115,<NA>,<NA>,<NA>,...,2024-03-14,<NA>,<NA>,Karma Resorts,Other,Past Guests,Karma Jimbaran,Viewpoint,<NA>,<NA>
9965982,zcrm_3584690000489271002,2024-03-25 18:40:17,<NA>,Annu,Shriwastav,annusrivastava1990@gmail.com,+919561074124,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,Timeshare Marketing,Other,Web Enquiry,Karma Sitabani,Timeshare Booking Request,India,<NA>

In [4]:
df_old = m.load_data_multiple_mac(dir_path_old, file_name, cols)
df_old = df_old.reindex(columns=cols)
df_old.shape[0]

df_old['Created Time'] = pd.to_datetime(df_old['Created Time'], format='%Y-%m-%d %H:%M:%S')
df_old['Arrival Date'] = pd.to_datetime(df_old['Arrival Date'], format='%Y-%m-%d')
df_old['Departure Date'] = pd.to_datetime(df_old['Departure Date'], format='%Y-%m-%d')
# fungsi errors cource untuk menhindari error jika value data date null atau kosong
# df['Birthdate'] = pd.to_datetime(df['Birthdate'], format='%Y-%m-%d', errors='coerce')
df_old.dtypes
df_old

Loading: Leads_001.csv
Loading: Leads_002.csv
Loading: Leads_003.csv
Loading: Leads_004.csv
Loading: Leads_005.csv
Loading: Leads_006.csv
Loading: Leads_007.csv
Loading: Leads_008.csv
Loading: Leads_009.csv
Loading: Leads_010.csv
Loading: Leads_011.csv
Loading: Leads_012.csv
Loading: Leads_013.csv
Loading: Leads_014.csv
Loading: Leads_015.csv
Loading: Leads_016.csv
Loading: Leads_017.csv
Loading: Leads_018.csv
Loading: Leads_019.csv
Loading: Leads_020.csv
Loading: Leads_021.csv
Loading: Leads_022.csv
Loading: Leads_023.csv
Loading: Leads_024.csv
Loading: Leads_025.csv
Loading: Leads_026.csv
Loading: Leads_027.csv
Loading: Leads_028.csv
Loading: Leads_029.csv
Loading: Leads_030.csv
Loading: Leads_031.csv
Loading: Leads_032.csv
Loading: Leads_033.csv
Loading: Leads_034.csv
Loading: Leads_035.csv
Loading: Leads_036.csv
Loading: Leads_037.csv
Loading: Leads_038.csv
Loading: Leads_039.csv
Loading: Leads_040.csv
Loading: Leads_041.csv
Loading: Leads_042.csv
Loading: Leads_043.csv
Loading: Leads_044.csv
Loading: Leads_045.csv
Loading: Leads_046.csv
Loading: Leads_047.csv
Loading: Leads_048.csv

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Lead Source,Lead Locations,Lead Source Description,Lead Regions,Lead Status,Email Opt Out,Opt In,GDPR Compliant,Website,Comments
0,zcrm_3584690000000404058,2019-01-07 15:08:38,2019-01-06,Nicholas,Wood,1230woodnicholas@gmail.com,+61438600845,<NA>,<NA>,<NA>,...,Wifi,<NA>,Purple Wifi,SEAP,New Lead,false,false,false,<NA>,<NA>
1,zcrm_3584690000000404059,2019-01-07 15:08:38,2019-01-06,Liao,Yuan,158066546@qq.com,8618718399923,<NA>,<NA>,<NA>,...,Wifi,<NA>,Purple Wifi,Other,New Lead,false,false,false,<NA>,<NA>
2,zcrm_3584690000000404060,2019-01-07 15:08:38,2019-01-06,Vedanta,Abhiyoga,abhiyoga.vedanta@gmail.com,+6282146524550,<NA>,2000-07-05,2000,...,Wifi,<NA>,Purple Wifi,SEAP,New Lead,false,false,false,<NA>,<NA>
3,zcrm_3584690000000404065,2019-01-07 15:08:38,2019-01-06,Aidai,Atakanova,aidai.nurbek@gmail.com,996779641590,<NA>,1997-02-05,1997,...,Wifi,<NA>,Purple Wifi,UK/Europe,New Lead,false,false,false,<NA>,<NA>
4,zcrm_3584690000000404068,2019-01-07 15:08:38,2019-01-06,Ardra,Ardra,aliefardraqariru@gmail.com,+6282139300818,+6282139300818,2005-01-20,2005,...,Wifi,Mall 21,Purple Wifi,SEAP,New Lead,false,false,false,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4717718,zcrm_3584690000475135007,2024-01-01 18:16:02,<NA>,Upendra,Mishra,upendra.sir@gmail.com,+919036084550,<NA>,<NA>,<NA>,...,Web Enquiry,Karma Sunshine Village,Timeshare Booking Request,India,<NA>,false,true,true,https://karmagroup.com/find-destination/karma-...,<NA>
4717719,zcrm_3584690000475135045,2024-01-01 18:16:37,<NA>,Mehul,Prajapati,mehul.m111985@gmail.com,+919714713689,<NA>,<NA>,<NA>,...,Facebook Ads,General,IND | FB MF | Lead captured,<NA>,<NA>,false,false,false,<NA>,<NA>
4717720,zcrm_3584690000475136005,2024-01-01 18:17:13,<NA>,swati,agarwala,cswatiadv@gmail.com,+919733055636,<NA>,<NA>,<NA>,...,Facebook Ads,Karma Martam,IND | FB MF | Martam,<NA>,<NA>,false,false,false,<NA>,<NA>
4717721,zcrm_3584690000475138034,2024-01-01 18:48:36,<NA>,SUMON,SAHOO,sumonsahoo@gmail.com,+918910484814,<NA>,<NA>,<NA>,...,Facebook Ads,Karma Martam,IND | FB MF | Martam,<NA>,<NA>,false,false,false,<NA>,<NA>
4717722,zcrm_3584690000475138069,2024-01-01 18:52:24,<NA>,Rohit,Kadam,rohit0918.rk@gmail.com,+919819185446,<NA>,<NA>,<NA>,...,Facebook Ads,Royal Palms,IND | FB AF | KRP,<NA>,<NA>,false,false,false,<NA>,<NA>

In [5]:
df_live = m.load_data_multiple_mac(dir_path_live, file_name, cols)
df_live = df_live.reindex(columns=cols)
df_live.shape[0]

df_live['Created Time'] = pd.to_datetime(df_live['Created Time'], format='%Y-%m-%d %H:%M:%S')
df_live['Arrival Date'] = pd.to_datetime(df_live['Arrival Date'], format='%Y-%m-%d')
df_live['Departure Date'] = pd.to_datetime(df_live['Departure Date'], format='%Y-%m-%d')
# fungsi errors cource untuk menhindari error jika value data date null atau kosong
# df['Birthdate'] = pd.to_datetime(df['Birthdate'], format='%Y-%m-%d', errors='coerce')
df_live.dtypes
df_live

Loading: Leads_001.csv
Loading: Leads_002.csv
Loading: Leads_003.csv
Loading: Leads_004.csv
Loading: Leads_005.csv
Loading: Leads_006.csv

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Lead Source,Lead Locations,Lead Source Description,Lead Regions,Lead Status,Email Opt Out,Opt In,GDPR Compliant,Website,Comments
0,zcrm_3584690000000404602,2019-01-08 11:07:28,2021-07-21,Frederic,Bonin,fredericbonin79@gmail.com,+6281236100502,<NA>,1981-10-03,1981,...,Agency,Karma Kandara,KAREN,SEAP,New Lead,false,false,false,<NA>,<NA>
1,zcrm_3584690000000450071,2019-01-08 16:38:18,<NA>,Sebastian,Rach,<NA>,+498914342111,<NA>,1982-04-20,1982,...,Past Guests,Karma Bavaria,<NA>,UK/Europe,New Lead,true,false,false,<NA>,<NA>
2,zcrm_3584690000000450087,2019-01-08 16:38:18,<NA>,Siobhan,Gallagher,gallaghersiobhan@eircom.net,353879597603,<NA>,1973-03-14,1973,...,Past Guests,Karma Bavaria,<NA>,UK/Europe,New Lead,false,true,true,<NA>,<NA>
3,zcrm_3584690000000450106,2019-01-08 16:38:18,<NA>,Lisa,Ferkovich,lisajo2009@yahoo.com,14062394749,<NA>,1963-07-08,1963,...,Past Guests,Karma Bavaria,<NA>,UK/Europe,New Lead,true,false,false,<NA>,<NA>
4,zcrm_3584690000000450109,2019-01-08 16:38:18,<NA>,Ana Maria,Weileder,m.weileder@sonnenlink.de,15253234700,<NA>,<NA>,<NA>,...,Other,Karma Bavaria,MICE Contacts from Ioanna email,UK/Europe,New Lead,false,true,true,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
506068,zcrm_3584690000543419257,2025-05-05 12:13:38,<NA>,Pankaj,Acharekar,pankaj.acharekar@gmail.com,+919930888227,+912228941642,<NA>,<NA>,...,Past Guests,Karma Royal Palms,Viewpoint,<NA>,<NA>,false,true,false,<NA>,<NA>
506069,zcrm_3584690000543419289,2025-05-05 12:13:51,<NA>,Shyam,Vithalrao Ugale,ugalef2009@gmail.com,+918956719344,+919960995220,<NA>,<NA>,...,Past Guests,Karma Royal Palms,Viewpoint,<NA>,<NA>,false,true,false,<NA>,<NA>
506070,zcrm_3584690000543419321,2025-05-05 12:14:54,<NA>,Bijaya,Ketan Parida,bijay.crown@gmail.com,+918122490838,+918015884595,<NA>,<NA>,...,Past Guests,Karma Royal Palms,Viewpoint,<NA>,<NA>,false,true,false,<NA>,<NA>
506071,zcrm_3584690000543498001,2025-05-05 17:06:17,<NA>,DEBBIE,Elvins,deelvins@yahoo.co.uk,+447446978291,<NA>,<NA>,<NA>,...,Web Enquiry,Karma Salford Hall,Friend of Karma - Discount Card 2023,UK/Europe,<NA>,false,true,true,https://karmagroup.com/friend-of-karma-salford...,<NA>
506072,zcrm_3584690000543509001,2025-05-05 17:36:33,<NA>,Jennifer,Poate,jenpoate@yahoo.co.uk,+33634119518,<NA>,<NA>,<NA>,...,Web Enquiry,<NA>,Karma Curated Experience - Desert Passage: Tak...,UK/Europe,<NA>,false,true,true,https://karmaclub.karmagroup.com/karma-curated...,<NA>

In [6]:
df = pd.concat([df_all,df_old,df_live])
count_data_awal = df.shape[0]
df

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Lead Source Description,Lead Regions,Lead Status,Booking Status,BookRef,Email Opt Out,Opt In,GDPR Compliant,Website,Comments
0,zcrm_3584690000000404058,2019-01-07 15:08:38,2019-01-06,Nicholas,Wood,1230woodnicholas@gmail.com,61438600845,<NA>,<NA>,<NA>,...,<NA>,SEAP,New Lead,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,zcrm_3584690000000404059,2019-01-07 15:08:38,2019-01-06,Liao,Yuan,158066546@qq.com,8618718399923,<NA>,<NA>,<NA>,...,<NA>,Other,New Lead,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,zcrm_3584690000000404060,2019-01-07 15:08:38,2019-01-06,Vedanta,Abhiyoga,abhiyoga.vedanta@gmail.com,6282146524550,<NA>,2000-07-05,2000,...,<NA>,SEAP,New Lead,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,zcrm_3584690000000404065,2019-01-07 15:08:38,2019-01-06,Aidai,Atakanova,aidai.nurbek@gmail.com,996779641590,<NA>,1997-02-05,1997,...,<NA>,UK/Europe,New Lead,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,zcrm_3584690000000404068,2019-01-07 15:08:38,2019-01-06,Ardra,Ardra,aliefardraqariru@gmail.com,+6282139300818,+6282139300818,2005-01-20,2005,...,WIFI USER ID 13494142,SEAP,New Lead,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
506068,zcrm_3584690000543419257,2025-05-05 12:13:38,<NA>,Pankaj,Acharekar,pankaj.acharekar@gmail.com,+919930888227,+912228941642,<NA>,<NA>,...,Viewpoint,<NA>,<NA>,Checked-Out,2810164,false,true,false,<NA>,<NA>
506069,zcrm_3584690000543419289,2025-05-05 12:13:51,<NA>,Shyam,Vithalrao Ugale,ugalef2009@gmail.com,+918956719344,+919960995220,<NA>,<NA>,...,Viewpoint,<NA>,<NA>,Checked-Out,2822793,false,true,false,<NA>,<NA>
506070,zcrm_3584690000543419321,2025-05-05 12:14:54,<NA>,Bijaya,Ketan Parida,bijay.crown@gmail.com,+918122490838,+918015884595,<NA>,<NA>,...,Viewpoint,<NA>,<NA>,Checked-Out,2793553,false,true,false,<NA>,<NA>
506071,zcrm_3584690000543498001,2025-05-05 17:06:17,<NA>,DEBBIE,Elvins,deelvins@yahoo.co.uk,+447446978291,<NA>,<NA>,<NA>,...,Friend of Karma - Discount Card 2023,UK/Europe,<NA>,<NA>,<NA>,false,true,true,https://karmagroup.com/friend-of-karma-salford...,<NA>
506072,zcrm_3584690000543509001,2025-05-05 17:36:33,<NA>,Jennifer,Poate,jenpoate@yahoo.co.uk,+33634119518,<NA>,<NA>,<NA>,...,Karma Curated Experience - Desert Passage: Tak...,UK/Europe,<NA>,<NA>,<NA>,false,true,true,https://karmaclub.karmagroup.com/karma-curated...,<NA>

In [7]:
path = r'/Users/dewiindahpurnama_/Library/CloudStorage/GoogleDrive-fajar.fatoni@karmagroup.com/My Drive/_BOOKING/Booking By Year/FlyBuy Booking Data (BGAU & BGID & KE).xlsx'
df_booking = pd.read_excel(path, dtype='string', sheet_name='BOOKING_BGAU_BGID_KE')

path = r'/Users/dewiindahpurnama_/Library/CloudStorage/GoogleDrive-fajar.fatoni@karmagroup.com/My Drive/_ODYSSEY/Phone Members.xlsx'
df_phone = pd.read_excel(path, dtype='string', sheet_name='Sheet1')

path = r'/Users/dewiindahpurnama_/Library/CloudStorage/GoogleDrive-fajar.fatoni@karmagroup.com/My Drive/_ODYSSEY/Email Members.xlsx'
df_email = pd.read_excel(path, dtype='string', sheet_name='Sheet1')

In [8]:
if operator == 'is':
    zoho_df = df.loc[df[column_name] == search_value].copy()
else:
    zoho_df = df.loc[df[column_name].str.contains(search_value, regex=True, flags=re.I)].copy()

zoho_df.reset_index(drop=True, inplace=True)
count_filter_awal = zoho_df.shape[0]

# zoho_df.to_excel(r'C:\Users\fajar\Documents\Python\Data\test_leads.xlsx', index=False)
# mengisi kolom <NA> dengan value string 'empty' supaya mudah mengecek data member dan booking dengan isin

zoho_df.fillna('empty', inplace=True)
zoho_df.sort_values('Created Time', ascending=True)
zoho_df

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Lead Source Description,Lead Regions,Lead Status,Booking Status,BookRef,Email Opt Out,Opt In,GDPR Compliant,Website,Comments
0,zcrm_3584690000007050147,2019-04-02 05:26:55,2017-01-13,James,Parson,jparsons252@gmail.com,61438662484,empty,1974-01-30,1974,...,Sales Deck Bali,SEAP,empty,empty,empty,empty,empty,empty,empty,empty
1,zcrm_3584690000007050148,2019-04-02 05:26:55,2017-11-06,Johnny,Miaco,jpas01@outlook.com,61402469987,empty,1981-05-22,1981,...,Internal Form,SEAP,empty,empty,empty,empty,empty,empty,empty,empty
2,zcrm_3584690000007050149,2019-04-02 05:26:55,2017-11-24,Jessica,Paulin,jpaulin86@gmail.com,61405440021,empty,1986-09-28,1986,...,Karma Web App,SEAP,empty,empty,empty,empty,empty,empty,empty,empty
3,zcrm_3584690000007050150,2019-04-02 05:26:55,2017-05-23,James,Boggan,jpboggan@hotmail.com,empty,empty,1975-09-25,1975,...,RUGBY,SEAP,empty,empty,empty,empty,empty,empty,empty,empty
4,zcrm_3584690000007050151,2019-04-02 05:26:55,2016-02-23,John,Brad,jpbraid@bigpond.com,61408114721,61895771767,1950-08-10,1950,...,Internal Form,SEAP,empty,empty,empty,empty,empty,empty,empty,empty
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223680,zcrm_3584690000465300072,2023-10-15 20:06:22,empty,Ruewayne,Rungsamy,ruewayne.rungsamy@gmail.com,+27615072171,empty,1994-06-13,empty,...,KCE | Web | w1aug22 | Redeem PriorityGifts,SEAP,New Lead,empty,empty,false,false,false,empty,empty
223681,zcrm_3584690000465671001,2023-10-17 20:42:27,empty,Abdul Ghafar,Didari,abdul.didari@yahoo.com,+61424344540,empty,1995-07-31,empty,...,KCE | Web | w1aug22 | Redeem PriorityGifts,SEAP,New Lead,empty,empty,false,false,false,empty,empty
223682,zcrm_3584690000465788001,2023-10-18 05:29:53,empty,Kristy,Bartlett,Kristyxxbartlett@gmail.com,+61421005474,empty,1978-04-14,empty,...,KCE | Web | w1aug22 | Redeem PriorityGifts,SEAP,New Lead,empty,empty,false,false,false,empty,empty
223683,zcrm_3584690000465809001,2023-10-18 13:00:39,empty,Abdul Rahim,Akbari,rahim.gulalai@gmail.com,+61406961087,empty,1992-08-02,empty,...,KCE | Web | w1aug22 | Redeem PriorityGifts,SEAP,New Lead,empty,empty,false,false,false,empty,empty
223684,zcrm_3584690000465855001,2023-10-18 14:21:44,empty,Hermansyah,Budi Prakasa,hermansyahbudiprakasa@gmail.com,+6281369330888,empty,1973-06-23,empty,...,KCE | Web | w1aug22 | Redeem PriorityGifts,SEAP,New Lead,empty,empty,false,false,false,empty,empty

In [9]:
# data phone, mobile dam email member yang ada di master data (wash member)

m.clean_number(zoho_df, 'Phone')
m.clean_number(zoho_df, 'Mobile')
m.replace_not_valid_to_empty(zoho_df, 'Phone')
m.replace_not_valid_to_empty(zoho_df, 'Mobile')
zoho_df['Email'] = m.lowercase(zoho_df, 'Email')
m.clean_space(zoho_df, 'Email')
m.clean_not_valid_email_format(zoho_df, 'Email')

m.clean_number(df_booking, 'Phone1')
m.clean_number(df_booking, 'Mobile')
df_booking['Email'] = m.lowercase(df_booking, 'Email')
m.clean_space(df_booking, 'Email')
m.clean_not_valid_email_format(df_booking, 'Email')

m.clean_number(df_phone, 'Mobile')

df_email['Email'] = m.lowercase(df_email, 'Email')
m.clean_space(df_email, 'Email')
m.clean_not_valid_email_format(df_email, 'Email')

/Users/dewiindahpurnama_/Documents/Python/python.github.io/zoho_data_app/main_module.py:104: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[df_columns].replace(' ','', regex=True, inplace=True)
/Users/dewiindahpurnama_/Documents/Python/python.github.io/zoho_data_app/main_module.py:105: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[df_columns].replace('[^0-9]','', regex=True, inplace=True)
/Users/dewiindahpurnama_/Documents/Python/python.github.io/zoho_data_app/main_module.py:127: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[df_columns].replace(' ','', regex=True, inplace=True)
/Users/dewiindahpurnama_/Documents/Python/python.github.io/zoho_data_app/main_module.py:104: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[df_columns].replace(' ','', regex=True, inplace=True)
/Users/dewiindahpurnama_/Documents/Python/python.github.io/zoho_data_app/main_module.py:105: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[df_columns].replace('[^0-9]','', regex=True, inplace=True)

'Email'

In [ ]:
zoho_df.loc[
    (zoho_df['Phone'] == 'empty') & (zoho_df['Mobile'] != 'empty'), 
    'Phone'] = zoho_df['Mobile']
zoho_df.loc[zoho_df['Phone'] == zoho_df['Mobile'],'Mobile'] = 'empty'

In [ ]:
deleted_wrong_format = m.delete_email_wrong_format(zoho_df, 'Email')
display(deleted_wrong_format)
# deleted_wrong_format.to_excel(r'C:\Users\fajar.fatoni\Documents\Python\Data\deleted_wrong_format.xlsx', index=False)
count_deleted_wrong_format = deleted_wrong_format.shape[0]
count_after_deleted_wrong_format = zoho_df.shape[0]

In [11]:
# hitung jumlah duplicate
count_duplicate_general = zoho_df.loc[zoho_df.duplicated(subset=['Email', 'Phone', 'Lead Brand', 'Lead Sub-Brand', 'Lead Source'])].shape[0]

zoho_df.loc[zoho_df.duplicated(subset=['Email', 'Phone', 'Lead Brand', 'Lead Sub-Brand', 'Lead Source'])]

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Lead Source Description,Lead Regions,Lead Status,Booking Status,BookRef,Email Opt Out,Opt In,GDPR Compliant,Website,Comments
73480,zcrm_3584690000291429172,2021-05-19 03:37:26,empty,DAVE,GREEN,greeners2@sky.com,447732878363,empty,empty,empty,...,Gloucestershire Rugby 1873 Business Club 2021-May,empty,empty,empty,empty,empty,empty,empty,empty,empty
74694,zcrm_3584690000303257303,2021-08-02 14:39:37,empty,Anthony,Taranto,ldeitch78@gmail.com,61408928323,empty,empty,empty,...,Join Full Membership,SEAP,empty,empty,empty,empty,empty,empty,empty,empty
74877,zcrm_3584690000308516466,2021-08-15 00:55:34,empty,Charles,Moloney,chasmoloney@hotmail.com,447533947020,empty,empty,empty,...,Join Full Membership,empty,empty,empty,empty,empty,empty,empty,empty,empty
74879,zcrm_3584690000308604454,2021-08-15 01:03:12,empty,gareth,taylor,suntory_time@hotmail.com,447817713077,empty,empty,empty,...,Join Full Membership,empty,empty,empty,empty,empty,empty,empty,empty,empty
76247,zcrm_3584690000320897235,2021-10-19 16:46:46,empty,Dionne,Baker,dionnelouisebaker@gmail.com,447545322250,empty,empty,empty,...,Operation Recuperation 2021-June - Associate F...,empty,empty,empty,empty,empty,empty,empty,empty,empty
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223680,zcrm_3584690000465300072,2023-10-15 20:06:22,empty,Ruewayne,Rungsamy,ruewayne.rungsamy@gmail.com,27615072171,empty,1994-06-13,empty,...,KCE | Web | w1aug22 | Redeem PriorityGifts,SEAP,New Lead,empty,empty,false,false,false,empty,empty
223681,zcrm_3584690000465671001,2023-10-17 20:42:27,empty,Abdul Ghafar,Didari,abdul.didari@yahoo.com,61424344540,empty,1995-07-31,empty,...,KCE | Web | w1aug22 | Redeem PriorityGifts,SEAP,New Lead,empty,empty,false,false,false,empty,empty
223682,zcrm_3584690000465788001,2023-10-18 05:29:53,empty,Kristy,Bartlett,kristyxxbartlett@gmail.com,61421005474,empty,1978-04-14,empty,...,KCE | Web | w1aug22 | Redeem PriorityGifts,SEAP,New Lead,empty,empty,false,false,false,empty,empty
223683,zcrm_3584690000465809001,2023-10-18 13:00:39,empty,Abdul Rahim,Akbari,rahim.gulalai@gmail.com,61406961087,empty,1992-08-02,empty,...,KCE | Web | w1aug22 | Redeem PriorityGifts,SEAP,New Lead,empty,empty,false,false,false,empty,empty
223684,zcrm_3584690000465855001,2023-10-18 14:21:44,empty,Hermansyah,Budi Prakasa,hermansyahbudiprakasa@gmail.com,6281369330888,empty,1973-06-23,empty,...,KCE | Web | w1aug22 | Redeem PriorityGifts,SEAP,New Lead,empty,empty,false,false,false,empty,empty

In [12]:
zoho_df.drop_duplicates(subset=['Email', 'Phone', 'Lead Brand', 'Lead Sub-Brand', 'Lead Source'], inplace=True)
zoho_df.reset_index(drop=True, inplace=True)

# hitung jumlah setelah value duplicate dihapus
count_after_dedup_duplicate = zoho_df.shape[0]

zoho_df

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Lead Source Description,Lead Regions,Lead Status,Booking Status,BookRef,Email Opt Out,Opt In,GDPR Compliant,Website,Comments
0,zcrm_3584690000007050147,2019-04-02 05:26:55,2017-01-13,James,Parson,jparsons252@gmail.com,61438662484,empty,1974-01-30,1974,...,Sales Deck Bali,SEAP,empty,empty,empty,empty,empty,empty,empty,empty
1,zcrm_3584690000007050148,2019-04-02 05:26:55,2017-11-06,Johnny,Miaco,jpas01@outlook.com,61402469987,empty,1981-05-22,1981,...,Internal Form,SEAP,empty,empty,empty,empty,empty,empty,empty,empty
2,zcrm_3584690000007050149,2019-04-02 05:26:55,2017-11-24,Jessica,Paulin,jpaulin86@gmail.com,61405440021,empty,1986-09-28,1986,...,Karma Web App,SEAP,empty,empty,empty,empty,empty,empty,empty,empty
3,zcrm_3584690000007050150,2019-04-02 05:26:55,2017-05-23,James,Boggan,jpboggan@hotmail.com,empty,empty,1975-09-25,1975,...,RUGBY,SEAP,empty,empty,empty,empty,empty,empty,empty,empty
4,zcrm_3584690000007050151,2019-04-02 05:26:55,2016-02-23,John,Brad,jpbraid@bigpond.com,61408114721,61895771767,1950-08-10,1950,...,Internal Form,SEAP,empty,empty,empty,empty,empty,empty,empty,empty
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94394,zcrm_3584690000007311543,2019-04-02 05:42:20,2017-03-15,Pravin,K Gupta,empty,919214342370,empty,1974-04-12,1974,...,Sales Deck Cold Line Reception Haathi Mahal,India,empty,empty,empty,false,false,false,empty,empty
94395,zcrm_3584690000097137562,2019-08-16 16:37:55,empty,Peter,Barry,peter_barry@gmail.com,empty,empty,empty,empty,...,empty,empty,New Lead,empty,empty,false,false,false,empty,KE3 - database
94396,zcrm_3584690000097184076,2019-08-16 16:42:35,empty,John,Paterson,johnboy669@gmail.com,empty,empty,empty,empty,...,Healthy Magazine batch 1,empty,New Lead,empty,empty,false,false,false,https://www.healthy-magazine.co.uk/competition...,"Yes, I agree to my details being shared with K..."
94397,zcrm_3584690000295093657,2021-06-10 21:20:19,empty,Jj,Jj,empty,447777777777,empty,empty,empty,...,Operation Recuperation 2021-June,UK/Europe,empty,empty,empty,false,true,true,https://karmaclub.com/associate-membership-nhs...,empty
94398,zcrm_3584690000459277001,2023-08-29 14:40:49,empty,Chantel,Ingledew,telly_cjsd@hotmail.com,empty,empty,1992-03-10,empty,...,KCE | Web | w1aug22 | Redeem PriorityGifts,SEAP,New Lead,empty,empty,false,false,false,empty,empty

In [13]:
# Cek leads test
test_leads = zoho_df.loc[
    
        zoho_df['Email'].str.contains('^test@', flags=re.I, regex=True) |
        zoho_df['Email'].str.contains('\+test', flags=re.I, regex=True) |
    
        zoho_df['First Name'].str.contains('^test$', flags=re.I, regex=True) |
        zoho_df['Last Name'].str.contains('^test$', flags=re.I, regex=True) |

        zoho_df['First Name'].str.contains('test 1', flags=re.I, regex=True) |
        zoho_df['Last Name'].str.contains('test 2', flags=re.I, regex=True)|
        zoho_df['First Name'].str.contains('test1', flags=re.I, regex=True) |
        zoho_df['Last Name'].str.contains('test2', flags=re.I, regex=True)|

        zoho_df['First Name'].str.contains(' test ', flags=re.I, regex=True) | 
        zoho_df['Last Name'].str.contains(' test ', flags=re.I, regex=True) | 
        zoho_df['Last Name'].str.contains(' test$', flags=re.I, regex=True)
    ]

count_leads_test = test_leads.shape[0]

# test_leads.to_excel(r'C:\Users\fajar\Documents\Python\Data\test_leads_2.xlsx', index=False)
test_leads

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Lead Source Description,Lead Regions,Lead Status,Booking Status,BookRef,Email Opt Out,Opt In,GDPR Compliant,Website,Comments
13863,zcrm_3584690000007188441,2019-04-02 05:29:43,2015-05-12,Dale,M,test@email.com,447814119185,447814119185,empty,1997,...,WIFI USER ID 19544,UK/Europe,empty,empty,empty,empty,empty,empty,empty,empty
73435,zcrm_3584690000207146844,2020-07-25 13:04:28,empty,Test,ExclusiveOfferBavaria,wayan.wirka+testexclusiveofferbavaria@karmagro...,empty,empty,empty,empty,...,Karma Club | Request Exclusive Offer,SEAP,empty,empty,empty,empty,empty,empty,empty,empty
73436,zcrm_3584690000207154430,2020-07-25 12:23:35,empty,Test,KClubOffer,wayan.wirka+testkcluboffer@karmagroup.com,empty,empty,empty,empty,...,Karma Club | Book Member Offer,SEAP,empty,empty,empty,empty,empty,empty,empty,empty
75706,zcrm_3584690000314632217,2021-09-15 10:12:47,empty,Test,Rottnest3,mike.kelly@education.wa.edu.au,6281916143350,empty,empty,empty,...,Suzy Humphreys,SEAP,empty,empty,empty,empty,empty,empty,empty,empty
76506,zcrm_3584690000331722001,2021-12-15 22:03:45,empty,Andrea Test,Pavlidi Test,andrea.pavlidis@karmagroup.com,empty,306979898735,empty,empty,...,Karma Club,UK/Europe,empty,empty,empty,empty,empty,empty,empty,empty
76727,zcrm_3584690000346049110,2022-02-16 22:33:44,empty,Test,Test,fantools@gmail.com,491622543381,empty,empty,empty,...,Good Karma 2021-October - Associate FOC Night,UK/Europe,empty,empty,empty,empty,empty,empty,empty,empty
76729,zcrm_3584690000346060454,2022-02-17 18:35:23,empty,test,test,sunilkumartripathi2007@gmail.com,918971199665,empty,empty,empty,...,Veloid Dias,India,empty,empty,empty,empty,empty,empty,empty,empty
76885,zcrm_3584690000406230858,2022-10-24 12:30:13,empty,cendy,test,cendy.narendra@karmagroup.com,619442829102,empty,empty,empty,...,KCE | Web | w1aug22 | Redeem PriorityGifts,SEAP,New Lead,empty,empty,empty,empty,empty,empty,empty
76903,zcrm_3584690000412082163,2022-11-21 12:26:01,empty,Ivan test,Oktasiva Test,ivan.oktasiva@karmagroup.com,62812345678900,empty,empty,empty,...,KCE | Web | w1aug22 | Redeem PriorityGifts,SEAP,New Lead,empty,empty,empty,empty,empty,empty,empty
77386,zcrm_3584690000463662003,2023-10-04 10:59:21,empty,Bob,Bill,test@test.com,614111111111,empty,1998-10-07,empty,...,KCE | Web | w1aug22 | Redeem PriorityGifts,SEAP,New Lead,empty,empty,empty,empty,empty,empty,empty

In [14]:
zoho_df.drop(test_leads.index, inplace=True)
zoho_df.reset_index(drop=True, inplace=True)

count_after_dedup_test = zoho_df.shape[0]

In [15]:
# Cek Email OTA
email_OTA = m.find_OTA(zoho_df, 'Email')
count_email_OTA = email_OTA.shape[0]
# email_OTA.to_excel(r'C:\Users\fajar\Documents\Python\Data\email_OTA.xlsx', index=False)

email_OTA

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Lead Source Description,Lead Regions,Lead Status,Booking Status,BookRef,Email Opt Out,Opt In,GDPR Compliant,Website,Comments
4302,zcrm_3584690000007168127,2019-04-02 05:27:45,2016-09-22,Prasanth,C Ramachandran,sails.tourism@gmail.com,919884144855,empty,1987-06-08,1987,...,BHARAT JAIN,India,empty,empty,empty,empty,empty,empty,empty,empty
4660,zcrm_3584690000007168911,2019-04-02 05:27:50,2014-12-22,Ashok,Umale,bakul.tourism@gmail.com,919673929153,empty,1971-07-01,1971,...,BHARAT JAIN,India,empty,empty,empty,empty,empty,empty,empty,empty
7674,zcrm_3584690000007175345,2019-04-02 05:28:26,2016-05-18,Kence,Georgey,mail@ecotourskerala.com,919446439252,empty,1966-05-28,1966,...,Sales Deck India,India,empty,empty,empty,empty,empty,empty,empty,empty
7831,zcrm_3584690000007175717,2019-04-02 05:28:29,2016-09-24,Noel,Christ,makemytourhsn@yahoo.com,919844888844,empty,1980-10-27,1980,...,BHARAT JAIN,India,empty,empty,empty,empty,empty,empty,empty,empty
8674,zcrm_3584690000007177403,2019-04-02 05:28:38,2014-03-11,Harish,Chandra Ray,sibsai.tours@gmail.com,919433521412,empty,1954-06-05,1954,...,BHARAT JAIN,India,empty,empty,empty,empty,empty,empty,empty,empty
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69901,zcrm_3584690000007307854,2019-04-02 05:41:57,2016-10-03,P,Veerakumar,info@tourismsouth.org,919567447950,empty,1974-05-30,1974,...,BHARAT JAIN,India,empty,empty,empty,empty,empty,empty,empty,empty
70210,zcrm_3584690000007308485,2019-04-02 05:42:01,2013-08-20,Kirpal,Singh,ostrichtour@gmail.com,911752371886,919781600086,1976-08-12,1976,...,BHARAT JAIN,India,empty,empty,empty,empty,empty,empty,empty,empty
70468,zcrm_3584690000007309059,2019-04-02 05:42:05,2016-09-21,Sharmila,K V Kafle,holiday@apoorvatours.com,empty,empty,1981-01-04,1981,...,BHARAT JAIN,SEAP,empty,empty,empty,empty,empty,empty,empty,empty
70921,zcrm_3584690000007310035,2019-04-02 05:42:11,2016-09-24,R,Narayanan,heritagetourss@yahoo.com,919445321234,empty,1964-12-12,1964,...,BHARAT JAIN,India,empty,empty,empty,empty,empty,empty,empty,empty
76359,zcrm_3584690000323768609,2021-11-06 15:16:00,empty,William,bourget,william.aptour@gmail.com,6281353009603,empty,empty,empty,...,Karma Beach VIP 2021-August - Associate PMR,SEAP,empty,empty,empty,empty,empty,empty,empty,empty

In [16]:
# delete email OTA
count_after_clean_OTA = m.delete_OTA(zoho_df, 'Email')
# zoho_df.to_excel(r'C:\Users\fajar\Documents\Python\Data\after_clean_OTA.xlsx', index=False)

zoho_df

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Lead Source Description,Lead Regions,Lead Status,Booking Status,BookRef,Email Opt Out,Opt In,GDPR Compliant,Website,Comments
0,zcrm_3584690000007050147,2019-04-02 05:26:55,2017-01-13,James,Parson,jparsons252@gmail.com,61438662484,empty,1974-01-30,1974,...,Sales Deck Bali,SEAP,empty,empty,empty,empty,empty,empty,empty,empty
1,zcrm_3584690000007050148,2019-04-02 05:26:55,2017-11-06,Johnny,Miaco,jpas01@outlook.com,61402469987,empty,1981-05-22,1981,...,Internal Form,SEAP,empty,empty,empty,empty,empty,empty,empty,empty
2,zcrm_3584690000007050149,2019-04-02 05:26:55,2017-11-24,Jessica,Paulin,jpaulin86@gmail.com,61405440021,empty,1986-09-28,1986,...,Karma Web App,SEAP,empty,empty,empty,empty,empty,empty,empty,empty
3,zcrm_3584690000007050150,2019-04-02 05:26:55,2017-05-23,James,Boggan,jpboggan@hotmail.com,empty,empty,1975-09-25,1975,...,RUGBY,SEAP,empty,empty,empty,empty,empty,empty,empty,empty
4,zcrm_3584690000007050151,2019-04-02 05:26:55,2016-02-23,John,Brad,jpbraid@bigpond.com,61408114721,61895771767,1950-08-10,1950,...,Internal Form,SEAP,empty,empty,empty,empty,empty,empty,empty,empty
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94291,zcrm_3584690000007311543,2019-04-02 05:42:20,2017-03-15,Pravin,K Gupta,empty,919214342370,empty,1974-04-12,1974,...,Sales Deck Cold Line Reception Haathi Mahal,India,empty,empty,empty,false,false,false,empty,empty
94292,zcrm_3584690000097137562,2019-08-16 16:37:55,empty,Peter,Barry,peter_barry@gmail.com,empty,empty,empty,empty,...,empty,empty,New Lead,empty,empty,false,false,false,empty,KE3 - database
94293,zcrm_3584690000097184076,2019-08-16 16:42:35,empty,John,Paterson,johnboy669@gmail.com,empty,empty,empty,empty,...,Healthy Magazine batch 1,empty,New Lead,empty,empty,false,false,false,https://www.healthy-magazine.co.uk/competition...,"Yes, I agree to my details being shared with K..."
94294,zcrm_3584690000295093657,2021-06-10 21:20:19,empty,Jj,Jj,empty,447777777777,empty,empty,empty,...,Operation Recuperation 2021-June,UK/Europe,empty,empty,empty,false,true,true,https://karmaclub.com/associate-membership-nhs...,empty
94295,zcrm_3584690000459277001,2023-08-29 14:40:49,empty,Chantel,Ingledew,telly_cjsd@hotmail.com,empty,empty,1992-03-10,empty,...,KCE | Web | w1aug22 | Redeem PriorityGifts,SEAP,New Lead,empty,empty,false,false,false,empty,empty

In [17]:
# Cek Email Karma
email_karma = m.find_karma(zoho_df, 'Email')
count_email_karma = email_karma.shape[0]
# email_OTA.to_excel(r'C:\Users\fajar\Documents\Python\Data\email_OTA.xlsx', index=False)

email_karma

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Lead Source Description,Lead Regions,Lead Status,Booking Status,BookRef,Email Opt Out,Opt In,GDPR Compliant,Website,Comments
11280,zcrm_3584690000007183001,2019-04-02 05:29:12,2015-07-10,empty,Mirah,mirah@royalperspective.com,8978907897897,empty,empty,empty,...,Website form,SEAP,empty,empty,empty,empty,empty,empty,empty,empty
14558,zcrm_3584690000007189905,2019-04-02 05:29:52,2017-03-01,Andy,Keegan,andyk@thebaligetaway.com,628113863845,61401223323,1986-07-06,1986,...,Karma Club Join Form,SEAP,empty,empty,empty,empty,empty,empty,empty,empty
28909,zcrm_3584690000007220354,2019-04-02 05:32:54,2016-12-30,Tridip,Banerjee,tridip.banerjee@rci.com,919845058405,empty,1975-10-01,1975,...,PALMS,India,empty,empty,empty,empty,empty,empty,empty,empty
59986,zcrm_3584690000007287056,2019-04-02 05:39:44,2016-05-16,E,K,eka@33royalperspective.com,81928282,819293838,2016-05-01,2016,...,Karma Bavaria,SEAP,empty,empty,empty,empty,empty,empty,empty,empty
76720,zcrm_3584690000353117429,2022-03-22 17:21:38,empty,Ekaterina,Khalikova,concierge.europe@karmaclub.com,79851463599,empty,empty,empty,...,Andrea Pavlidis,UK/Europe,empty,empty,empty,empty,empty,empty,empty,empty

In [18]:
# delete email Karma
count_after_clean_karma = m.delete_karma(zoho_df, 'Email')
# zoho_df.to_excel(r'C:\Users\fajar\Documents\Python\Data\after_clean_OTA.xlsx', index=False)

zoho_df

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Lead Source Description,Lead Regions,Lead Status,Booking Status,BookRef,Email Opt Out,Opt In,GDPR Compliant,Website,Comments
0,zcrm_3584690000007050147,2019-04-02 05:26:55,2017-01-13,James,Parson,jparsons252@gmail.com,61438662484,empty,1974-01-30,1974,...,Sales Deck Bali,SEAP,empty,empty,empty,empty,empty,empty,empty,empty
1,zcrm_3584690000007050148,2019-04-02 05:26:55,2017-11-06,Johnny,Miaco,jpas01@outlook.com,61402469987,empty,1981-05-22,1981,...,Internal Form,SEAP,empty,empty,empty,empty,empty,empty,empty,empty
2,zcrm_3584690000007050149,2019-04-02 05:26:55,2017-11-24,Jessica,Paulin,jpaulin86@gmail.com,61405440021,empty,1986-09-28,1986,...,Karma Web App,SEAP,empty,empty,empty,empty,empty,empty,empty,empty
3,zcrm_3584690000007050150,2019-04-02 05:26:55,2017-05-23,James,Boggan,jpboggan@hotmail.com,empty,empty,1975-09-25,1975,...,RUGBY,SEAP,empty,empty,empty,empty,empty,empty,empty,empty
4,zcrm_3584690000007050151,2019-04-02 05:26:55,2016-02-23,John,Brad,jpbraid@bigpond.com,61408114721,61895771767,1950-08-10,1950,...,Internal Form,SEAP,empty,empty,empty,empty,empty,empty,empty,empty
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94286,zcrm_3584690000007311543,2019-04-02 05:42:20,2017-03-15,Pravin,K Gupta,empty,919214342370,empty,1974-04-12,1974,...,Sales Deck Cold Line Reception Haathi Mahal,India,empty,empty,empty,false,false,false,empty,empty
94287,zcrm_3584690000097137562,2019-08-16 16:37:55,empty,Peter,Barry,peter_barry@gmail.com,empty,empty,empty,empty,...,empty,empty,New Lead,empty,empty,false,false,false,empty,KE3 - database
94288,zcrm_3584690000097184076,2019-08-16 16:42:35,empty,John,Paterson,johnboy669@gmail.com,empty,empty,empty,empty,...,Healthy Magazine batch 1,empty,New Lead,empty,empty,false,false,false,https://www.healthy-magazine.co.uk/competition...,"Yes, I agree to my details being shared with K..."
94289,zcrm_3584690000295093657,2021-06-10 21:20:19,empty,Jj,Jj,empty,447777777777,empty,empty,empty,...,Operation Recuperation 2021-June,UK/Europe,empty,empty,empty,false,true,true,https://karmaclub.com/associate-membership-nhs...,empty
94290,zcrm_3584690000459277001,2023-08-29 14:40:49,empty,Chantel,Ingledew,telly_cjsd@hotmail.com,empty,empty,1992-03-10,empty,...,KCE | Web | w1aug22 | Redeem PriorityGifts,SEAP,New Lead,empty,empty,false,false,false,empty,empty

In [19]:
find_member_booking = zoho_df.copy()

find_member_booking.loc[find_member_booking['Phone'].isin(df_booking['Phone1']), 'Same Value Find'] = 'Booking-Phone1'
find_member_booking.loc[find_member_booking['Phone'].isin(df_booking['Mobile']), 'Same Value Find'] = 'Booking-Mobile'
find_member_booking.loc[find_member_booking['Mobile'].isin(df_booking['Phone1']), 'Same Value Find'] = 'Booking-Phone1' 
find_member_booking.loc[find_member_booking['Mobile'].isin(df_booking['Mobile']), 'Same Value Find'] = 'Booking-Mobile'
find_member_booking.loc[find_member_booking['Email'].isin(df_booking['Email']), 'Same Value Find'] = 'Booking-Email'

find_member_booking.loc[find_member_booking['Phone'].isin(df_phone['Mobile']), 'Same Value Find'] = 'Member-Mobile' 
find_member_booking.loc[find_member_booking['Mobile'].isin(df_phone['Mobile']), 'Same Value Find'] = 'Member-Mobile'

find_member_booking.loc[find_member_booking['Email'].isin(df_email['Email']), 'Same Value Find'] = 'Member-Email'

find_member_booking.drop(find_member_booking.loc[find_member_booking['Same Value Find'].isna()].index, inplace=True)

count_booking_dedup = find_member_booking.loc[find_member_booking['Same Value Find'].str.contains('Booking', flags=re.I, regex=True)].shape[0]
count_member_dedup = find_member_booking.loc[find_member_booking['Same Value Find'].str.contains('Member', flags=re.I, regex=True)].shape[0]

find_member_booking.replace('empty', '', inplace=True)
# find_member_booking.to_csv(r'C:\Users\fajar\Documents\Python\Data\booking-member-dedup.csv', index=False)
# find_member_booking.to_excel(r'C:\Users\fajar\Documents\Python\Data\booking-member-dedup.xlsx', index=False)

#find_member_booking.loc[find_member_booking['Same Value Find'] == 'Booking-Phone1']

In [20]:
# data phone, mobile dam email member yang ada di master data 
count_wash_member = zoho_df.loc[
    zoho_df['Phone'].isin(df_booking['Phone1']) | 
    zoho_df['Phone'].isin(df_booking['Mobile']) |
    zoho_df['Mobile'].isin(df_booking['Phone1']) | 
    zoho_df['Mobile'].isin(df_booking['Mobile']) |
    zoho_df['Email'].isin(df_booking['Email'])| 

    zoho_df['Phone'].isin(df_phone['Mobile']) | 
    zoho_df['Mobile'].isin(df_phone['Mobile']) |

    zoho_df['Email'].isin(df_email['Email'])

].shape[0]

zoho_df.drop(zoho_df.loc[
    zoho_df['Phone'].isin(df_booking['Phone1']) | 
    zoho_df['Phone'].isin(df_booking['Mobile']) |
    zoho_df['Mobile'].isin(df_booking['Phone1']) | 
    zoho_df['Mobile'].isin(df_booking['Mobile']) |
    zoho_df['Email'].isin(df_booking['Email']) |
    
    zoho_df['Phone'].isin(df_phone['Mobile']) | 
    zoho_df['Mobile'].isin(df_phone['Mobile']) |

    zoho_df['Email'].isin(df_email['Email'])

    ].index, inplace=True)
    
zoho_df.reset_index(drop=True, inplace=True)

count_after_wash_member = zoho_df.shape[0]

In [21]:
# Categorize contacts
m.categorize_contacts(zoho_df)

# Count contact types
count_email_only = (zoho_df['Contact Type'] == 'Email Only').sum()
count_phone_only = (zoho_df['Contact Type'] == 'Phone Only').sum()
count_email_and_phone = (zoho_df['Contact Type'] == 'Email and Phone').sum()
count_blank = (zoho_df['Contact Type'] == 'Blank').sum()

# Remove blank contacts if needed
zoho_df = zoho_df[zoho_df['Contact Type'] != 'Blank']
zoho_df.reset_index(drop=True, inplace=True)

count_after_wash_blank = zoho_df.shape[0]

In [22]:
arr_dedup = [count_deleted_wrong_format, count_duplicate_general, count_leads_test, count_email_OTA, count_email_karma, count_blank]
count_sum_dedup = sum(arr_dedup)
count_sum_dedup

np.int64(129394)

In [23]:
print("==========================================================")
print("Summary")
print("==========================================================")
print("Jumlah Keseluruhan Master Zoho : "+str(count_data_awal))
print("Jumlah Filter Leads Awal : "+str(count_filter_awal))
print("Jumlah Format Email Salah : "+str(count_deleted_wrong_format))
print("Jumlah Setelah Clean Format Email Salah : "+str(count_after_deleted_wrong_format))
print("Jumlah Duplicate (Phone, Mobile dan Email) : "+str(count_duplicate_general))
print("Jumlah Setelah Clean Duplicate : "+str(count_after_dedup_duplicate))
print("Jumlah Lead Test : "+str(count_leads_test))
print("Jumlah Setelah Clean Lead Test : "+str(count_after_dedup_test))
# print("Jumlah Lead Do Not Mail : "+str(count_dnm))
# print("Jumlah Setelah Clean Lead Do Not Mail : "+str(count_after_dedup_dnm))
print("Jumlah Email OTA : "+str(count_email_OTA))
print("Jumlah Setelah Clean Email OTA : "+str(count_after_clean_OTA))
print("Jumlah Email Karma : "+str(count_email_karma))
print("Jumlah Setelah Clean Email Karma : "+str(count_after_clean_karma))
print("Jumlah Wash Member : "+str(count_member_dedup))
print("Jumlah Wash Booking : "+str(count_booking_dedup))
print("Jumlah Setelah Wash Member : "+str(count_after_wash_member))
print("Jumlah Phone Email Blank (Setelah phone yang tidak valid dihapus) : "+str(count_blank))
print("Jumlah Setelah Wash Phone Email Blank : "+str(count_after_wash_blank))
print("==========================================================")
print("Contact Type")
print("==========================================================")
print("Jumlah Email Only : "+str(count_email_only))
print("Jumlah Phone Only : "+str(count_phone_only))
print("Jumlah Email dan Phone : "+str(count_email_and_phone))

==========================================================
Summary
==========================================================
Jumlah Keseluruhan Master Zoho : 15189779
Jumlah Filter Leads Awal : 223685
Jumlah Format Email Salah : 0
Jumlah Setelah Clean Format Email Salah : 223685
Jumlah Duplicate (Phone, Mobile dan Email) : 129286
Jumlah Setelah Clean Duplicate : 94399
Jumlah Lead Test : 10
Jumlah Setelah Clean Lead Test : 94389
Jumlah Email OTA : 93
Jumlah Setelah Clean Email OTA : 94296
Jumlah Email Karma : 5
Jumlah Setelah Clean Email Karma : 94291
Jumlah Wash Member : 7986
Jumlah Wash Booking : 795
Jumlah Setelah Wash Member : 85510
Jumlah Phone Email Blank (Setelah phone yang tidak valid dihapus) : 0
Jumlah Setelah Wash Phone Email Blank : 85510
==========================================================
Contact Type
==========================================================
Jumlah Email Only : 3785
Jumlah Phone Only : 16452
Jumlah Email dan Phone : 65273

In [24]:
print("==========================================================")
print("Summary Report")
print("==========================================================")
print("Jumlah Data Awal : "+str(count_filter_awal))
print("Jumlah Wash Dedup : "+str(count_sum_dedup))
print("Jumlah Wash Member : "+str(count_member_dedup))
print("Jumlah Wash Booking : "+str(count_booking_dedup))
print("Jumlah Data Akhir : "+str(count_after_wash_blank))

==========================================================
Summary Report
==========================================================
Jumlah Data Awal : 223685
Jumlah Wash Dedup : 129394
Jumlah Wash Member : 7986
Jumlah Wash Booking : 795
Jumlah Data Akhir : 85510

In [25]:
zoho_df['First Name'] = zoho_df['First Name'].str.title()
zoho_df['Last Name'] = zoho_df['Last Name'].str.title()
zoho_df.replace('empty', '', inplace=True, regex=True)

zoho_df

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Lead Regions,Lead Status,Booking Status,BookRef,Email Opt Out,Opt In,GDPR Compliant,Website,Comments,Contact Type
0,zcrm_3584690000007050147,2019-04-02 05:26:55,2017-01-13,James,Parson,jparsons252@gmail.com,61438662484,,1974-01-30,1974,...,SEAP,,,,,,,,,Email and Phone
1,zcrm_3584690000007050148,2019-04-02 05:26:55,2017-11-06,Johnny,Miaco,jpas01@outlook.com,61402469987,,1981-05-22,1981,...,SEAP,,,,,,,,,Email and Phone
2,zcrm_3584690000007050149,2019-04-02 05:26:55,2017-11-24,Jessica,Paulin,jpaulin86@gmail.com,61405440021,,1986-09-28,1986,...,SEAP,,,,,,,,,Email and Phone
3,zcrm_3584690000007050150,2019-04-02 05:26:55,2017-05-23,James,Boggan,jpboggan@hotmail.com,,,1975-09-25,1975,...,SEAP,,,,,,,,,Email Only
4,zcrm_3584690000007050151,2019-04-02 05:26:55,2016-02-23,John,Brad,jpbraid@bigpond.com,61408114721,61895771767,1950-08-10,1950,...,SEAP,,,,,,,,,Email and Phone
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85505,zcrm_3584690000007311543,2019-04-02 05:42:20,2017-03-15,Pravin,K Gupta,,919214342370,,1974-04-12,1974,...,India,,,,false,false,false,,,Phone Only
85506,zcrm_3584690000097137562,2019-08-16 16:37:55,,Peter,Barry,peter_barry@gmail.com,,,,,...,,New Lead,,,false,false,false,,KE3 - database,Email Only
85507,zcrm_3584690000097184076,2019-08-16 16:42:35,,John,Paterson,johnboy669@gmail.com,,,,,...,,New Lead,,,false,false,false,https://www.healthy-magazine.co.uk/competition...,"Yes, I agree to my details being shared with K...",Email Only
85508,zcrm_3584690000295093657,2021-06-10 21:20:19,,Jj,Jj,,447777777777,,,,...,UK/Europe,,,,false,true,true,https://karmaclub.com/associate-membership-nhs...,,Phone Only
85509,zcrm_3584690000459277001,2023-08-29 14:40:49,,Chantel,Ingledew,telly_cjsd@hotmail.com,,,1992-03-10,,...,SEAP,New Lead,,,false,false,false,,,Email Only

In [32]:
# if (zoho_df.shape[0]>20000):

#     row_split = 200000
#     file_name = search_value

#     m.split_file(zoho_df, row_split, file_name, file_type, target_location)
# else:
#     zoho_df.to_excel(target_location+"/"+search_value+"."+file_type, index=False)

zoho_df.to_excel(target_location+search_value+"."+file_type, index=False)