In [1]:
import pandas as pd
import re
import numpy as np

import sys
sys.path.append('../../zoho_data_app/')

import main_module as m
import zoho_filter_module as fil

%load_ext autoreload
%autoreload 2

In [7]:
path = r'C:\Users\fajar\Documents\Python\Data\Request Data\KE2\KE2-Dedup Master.xlsx'
df_email = pd.read_excel(path, dtype='string', sheet_name='Email')

path = r'C:\Users\fajar\Documents\Python\Data\Request Data\KE2\KE2-Dedup Master.xlsx'
df_phone = pd.read_excel(path, dtype='string', sheet_name='Phone')

path = r'C:\Users\fajar\Documents\Python\Data\Data TM for India Team - Qualified, No Members No Booking - 15 Sep 2022.xlsx'
df_tm_india_q_indonesia = pd.read_excel(path, dtype='string', sheet_name='Q-Indonesia')

path = r'C:\Users\fajar\Documents\Python\Data\Data TM for India Team - Qualified, No Members No Booking - 15 Sep 2022.xlsx'
df_tm_india_q_western = pd.read_excel(path, dtype='string', sheet_name='Q-Western')

df_tm_india_q_indonesia.fillna('empty', inplace=True)
df_tm_india_q_western.fillna('empty', inplace=True)

In [8]:
# membersihkan format phone number dan email

m.clean_number(df_tm_india_q_indonesia, 'Phone')
df_tm_india_q_indonesia['Email'] = m.lowercase(df_tm_india_q_indonesia, 'Email')
m.clean_space(df_tm_india_q_indonesia, 'Email')

m.clean_number(df_tm_india_q_western, 'Phone')
df_tm_india_q_western['Email'] = m.lowercase(df_tm_india_q_western, 'Email')
m.clean_space(df_tm_india_q_western, 'Email')

m.clean_number(df_phone, 'Phone')

df_email['Email'] = m.lowercase(df_email, 'Email')
m.clean_space(df_email, 'Email')

0                   wudian84@gmail.com
1            secxnicole101@hotmail.com
2                 shawnte199@gmail.com
3              edward@pockettourer.com
4                   karuna22@gmail.com
                     ...
57559       harwindergill612@gmail.com
57560    andreas.socratous14@gmail.com
57561     rajesh.dobariya007@gmail.com
57562       lidyakoyongian77@gmail.com
57563          kamlesh2903@hotmail.com
Name: Email, Length: 57564, dtype: string

In [11]:
find_kce2_q_indonesia = df_tm_india_q_indonesia.copy()

find_kce2_q_indonesia['Same Value Find'] = 'Dedup Not Found'

find_kce2_q_indonesia.loc[find_kce2_q_indonesia['Phone'].isin(df_phone['Phone']), 'Same Value Find'] = 'Member-Mobile' 
find_kce2_q_indonesia.loc[find_kce2_q_indonesia['Email'].isin(df_email['Email']), 'Same Value Find'] = 'Member-Email'

find_kce2_q_indonesia.loc[find_kce2_q_indonesia['Same Value Find'].str.contains('Booking', flags=re.I, regex=True)]

find_kce2_q_indonesia.to_excel(r'C:\Users\fajar\Documents\Python\Data\tm_india_q_indonesia.xlsx', index=False)

In [12]:
find_kce2_q_western = df_tm_india_q_western.copy()

find_kce2_q_western['Same Value Find'] = 'Dedup Not Found'

find_kce2_q_western.loc[find_kce2_q_western['Phone'].isin(df_phone['Phone']), 'Same Value Find'] = 'Member-Mobile' 
find_kce2_q_western.loc[find_kce2_q_western['Email'].isin(df_email['Email']), 'Same Value Find'] = 'Member-Email'

find_kce2_q_western.loc[find_kce2_q_western['Same Value Find'].str.contains('Booking', flags=re.I, regex=True)]

find_kce2_q_western.to_excel(r'C:\Users\fajar\Documents\Python\Data\tm_india_q_western.xlsx', index=False)

In [14]:
df_tm_india_q_indonesia.loc[

    df_tm_india_q_indonesia['Phone'].isin(df_phone['Phone']) |

    df_tm_india_q_indonesia['Email'].isin(df_email['Email'])

]

df_tm_india_q_western.loc[

    df_tm_india_q_western['Phone'].isin(df_phone['Phone']) |

    df_tm_india_q_western['Email'].isin(df_email['Email'])

]

,First Name,Last Name,Phone,Email,Year of Birth,Birthdate,Country,Lead Brand,Lead Sub-Brand,Lead Source,Lead Status,Marital Status,Age
172,Johann,Fourie,61435616957,johannf@ymail.com,1979,1979-10-23 00:00:00,Australia,Timeshare Marketing,BGAU,Edm,Hot Prospect,Married,43
201,Hayley,Sutherland,61419799620,julie_bette@hotmail.com,1987,1987-07-05 00:00:00,Australia,Timeshare Marketing,BGAU,Competition,empty,Married,35
304,LeeNbe,Varker,61417599377,leeannevarker@gmail.com,1963,1963-08-20 00:00:00,Australia,Timeshare Marketing,BGAU,Competition,Hot Prospect,Married,59
329,Leon,Du chateau,61414432132,leonduchateau@yahoo.com.au,empty,1951-09-06 00:00:00,Australia,Timeshare Marketing,BGAU,Competition,empty,Married,71
550,Awa,Herewini,64220495297,a.herewini11@gmail.com,1987,1987-09-10 00:00:00,Australia,Timeshare Marketing,Karma Experience,Facebook Ads,empty,Defacto,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21133,Trish,Fenner,61481171997,trish.fenner69@gmail.com,1974,1974-06-24 00:00:00,Australia,Timeshare Marketing,BGAU,Facebook Organic,Hot Prospect,Defacto,48
21299,Carol,Tanatiu,6421378320,carolmay68@gmail.com,1963,1963-12-31 00:00:00,Australia,Timeshare Marketing,BGAU,Competition,Hot Prospect,Married,59
21511,empty,Poppy Trikilis,610405793336,poppytrikilis@gmail.com,empty,1959-06-01 00:00:00,empty,Timeshare Marketing,KCE,Facebook Ads,empty,Married,63
21527,empty,Indra Singh,61426191986,lost_curry@yahoo.com,empty,1964-09-23 00:00:00,empty,Timeshare Marketing,BGAU,Facebook Ads,empty,Married,58
21660,Damian,Ware,6187504709,damobundge@hotmail.com,empty,1980-10-12 00:00:00,Australia,Timeshare Marketing,BGAU,Facebook Ads,Hot Prospect,Married,42