In [1]:
import pandas as pd
import numpy as np
import subscribers_module as sub

import sys
sys.path.append('../../zoho_data_app/')

# importing
import main_module as m

%load_ext autoreload
%autoreload 2

In [2]:
list = sub.load_lists_id() # load list id

maillwizz_cols = ['subscriber_uid',	
'EMAIL',
'FNAME',	
'LNAME',	
'ALAMAT',	
'STATUS']

new_df_cols = ['EMAIL',
'FNAME',	
'LNAME',	
'ALAMAT',	
'STATUS']

In [3]:
load_maillwizz_df = sub.load_subs(list['Tiket Konser'])
load_maillwizz_df = sub.reindex_cols(load_maillwizz_df, maillwizz_cols)
load_maillwizz_df

  subscriber_uid            EMAIL    FNAME     LNAME     ALAMAT  STATUS
0  pz858j69olcf4  toni6@gmail.com     Goku    Saiyan       Solo  Maried
1  lz605ypsjmed0  toni5@gmail.com  Yoimiya  Berthold  Gorontalo  Maried
2  kp102fpfbkfd3  toni4@gmail.com   Boruto  Hercules      Medan  Single
3  ln379qpxfsf6a  toni3@gmail.com   Nahida     Stark      Jogja  Single
4  yo989hrsa6e49  toni1@gmail.com     Toni  Ackerman   Denpasar  Single

In [4]:
df_dict = {'EMAIL':['toni1@gmail.com', 'toni2@gmail.com', 'toni3@gmail.com', 'toni4@gmail.com'], 
            'FNAME':['Toni', 'Raiden', 'Nahida', 'Yelan'],
            'LNAME':['Sunyotok', 'Sitorus', 'Stark', 'Hercules'],
            'ALAMAT':['Denpasar', 'Badung', 'Jogja', 'Surabaya'],
            'STATUS':['Single', 'Single', 'Maried', 'Maried']
        }

new_df = pd.DataFrame.from_dict(df_dict)
new_df = sub.reindex_cols(new_df, new_df_cols)
new_df

             EMAIL   FNAME     LNAME    ALAMAT  STATUS
0  toni1@gmail.com    Toni  Sunyotok  Denpasar  Single
1  toni2@gmail.com  Raiden   Sitorus    Badung  Single
2  toni3@gmail.com  Nahida     Stark     Jogja  Maried
3  toni4@gmail.com   Yelan  Hercules  Surabaya  Maried

In [6]:
# convert to json
new_df_json = sub.convert_array_to_json(new_df)

# bulk insert subs
result_insert_subs = sub.bulk_insert_data_subs(list['Tiket Konser'], new_df_json)

print(result_insert_subs)

success insert

In [7]:
# bulk update subs
sub.update_data_subs(list['Tiket Konser'], load_maillwizz_df)

'success update'

In [5]:
# bulk delete subs
sub.delete_data_subs_id(list['Tiket Konser'], load_maillwizz_df)

'success delete'

In [95]:
load_maillwizz_df.loc[load_maillwizz_df['EMAIL'] == 'toni4@gmail.com']

  subscriber_uid            EMAIL   FNAME     LNAME ALAMAT  STATUS
2  ak9420l85be00  toni4@gmail.com  Boruto  Hercules  Medan  Single