In [14]:
# import OS module
import os
import pandas as pd
 
# Get the list of all files and directories
# dir_path = "C://Users//Vanshi//Desktop//gfg"
dir_path = r"C:\Users\fajar\Documents\Python\Data\TM Backup"

frames = []

# itterate file di dalam directory
for path in os.listdir(dir_path):

    # cek apakah di dalam directory ada file
    if os.path.isfile(os.path.join(dir_path, path)):
        if ".xlsx" in path:
            print(path)
            frames.append(pd.read_excel(dir_path+'\\'+path, dtype='string'))
    else:
        print('file doesn\'t exist')

result = pd.concat(frames, ignore_index=True)
result

df_timeshare_marketing__1.xlsx
df_timeshare_marketing__2.xlsx
df_timeshare_marketing__3.xlsx
df_timeshare_marketing__4.xlsx
df_timeshare_marketing__5.xlsx
df_timeshare_marketing__6.xlsx
df_timeshare_marketing__7.xlsx

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Marital Status,Lead Brand,Lead Sub-Brand,Lead Source,Lead Locations,Lead Source Description,Lead Regions,Lead Status,Email Opt Out,Opt In
0,zcrm_3584690000000404058,2019-01-07 15:08:38,2019-01-06,Nicholas,Wood,1230woodnicholas@gmail.com,61438600845,<NA>,<NA>,<NA>,...,<NA>,Timeshare Marketing,Other Bali DB,Wifi,Purple Wifi,<NA>,SEAP,New Lead,false,false
1,zcrm_3584690000000404059,2019-01-07 15:08:38,2019-01-06,Liao,Yuan,158066546@qq.com,8618718399923,<NA>,<NA>,<NA>,...,<NA>,Timeshare Marketing,Other Bali DB,Wifi,Purple Wifi,<NA>,Other,New Lead,false,false
2,zcrm_3584690000000404060,2019-01-07 15:08:38,2019-01-06,Vedanta,Abhiyoga,abhiyoga.vedanta@gmail.com,6282146524550,<NA>,2000-07-05,2000,...,Pelajar,Timeshare Marketing,Other Bali DB,Wifi,Purple Wifi,<NA>,SEAP,New Lead,false,false
3,zcrm_3584690000000404065,2019-01-07 15:08:38,2019-01-06,Aidai,Atakanova,aidai.nurbek@gmail.com,996779641590,<NA>,1997-02-05,1997,...,Single,Timeshare Marketing,Other Bali DB,Wifi,Purple Wifi,<NA>,UK/Europe,New Lead,false,false
4,zcrm_3584690000000404068,2019-01-07 15:08:38,2019-01-06,Ardra,Ardra,aliefardraqariru@gmail.com,6282139300818,6282139300818,2005-01-20,2005,...,OTHER,Timeshare Marketing,Other Bali DB,Wifi,Purple Wifi,WIFI USER ID 13494142,SEAP,New Lead,false,false
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3406245,zcrm_3584690000424088080,2023-01-23 18:29:11,<NA>,Dewi mirawati,Dewi mirawati,zidannayla9@gmail.com,625846507754,625846507754,1979-08-30,1979,...,Married,Timeshare Marketing,BGID,Facebook Ads,Hotel Partner,ID | FB LP | SB Legian v4,SEAP,Hot Prospect,false,false
3406246,zcrm_3584690000424088106,2023-01-23 18:45:57,<NA>,Marganda Parulian,Siregar,shardtaty@gmail.com,6281360030016,6281360030016,1991-11-26,1991,...,Married,Timeshare Marketing,BGID,Facebook Ads,Hotel Partner,ID | FB LP | Romantic Getaway,SEAP,Hot Prospect,false,false
3406247,zcrm_3584690000424093003,2023-01-23 17:03:18,<NA>,Siti,Nur laela,siti.nurlaela.1981@gmail.com,6285811607900,6285811607900,1981-10-10,1981,...,Married,Timeshare Marketing,Karma Experience,Facebook Ads,General,ID | FB LP | Salak | 1st Anniv,SEAP,Hot Prospect,false,false
3406248,zcrm_3584690000424093029,2023-01-23 18:34:15,<NA>,Syaefulloh,Ramadhan,syaefullohramadhan20@gmail.com,6289533354422,6289533354422,1989-04-20,1989,...,Married,Timeshare Marketing,Karma Experience,Facebook Ads,General,ID | FB LP | Salak | 1st Anniv,SEAP,Hot Prospect,false,false
3406249,zcrm_3584690000424094389,2023-01-23 17:44:38,<NA>,Padmavathi,Vadada,padma.vadada@gmail.com,918522960425,<NA>,<NA>,<NA>,...,Married,Timeshare Marketing,Karma Club Experience IN,Web Enquiry,General,IND | Web enquiry | Redeem Voucher,India,<NA>,false,true

In [15]:
result['First Name'] = result['First Name'].str.title()
result['Last Name'] = result['Last Name'].str.title()

In [16]:
result.groupby('Lead Sub-Brand').count()

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Card Type,Marital Status,Lead Brand,Lead Source,Lead Locations,Lead Source Description,Lead Regions,Lead Status,Email Opt Out,Opt In
Lead Sub-Brand,,,,,,,,,,,,,,,,,,,,,
BGAU,104898,104898,59939,68229,78945,101861,81529,5462,32371,20761,...,108,31683,104898,104898,31379,85313,98282,14761,104898,104898
BGID,374352,374352,114552,345163,348026,371458,352778,106730,61392,238338,...,191790,294523,374352,374352,208875,336493,368795,144143,374352,374352
Bali Getaway,7717,7717,7114,3051,3366,7077,2941,77,654,956,...,204,517,7717,7717,205,6534,7716,146,7717,7717
Hotel Discount,57587,57587,0,57569,57586,57579,55033,88,18,56018,...,39247,55614,57587,57587,57417,57587,57580,2401,57587,57587
Hotel Privileges AUS,53,53,0,53,53,53,4,0,0,0,...,0,0,53,53,53,53,53,0,53,53
Hotel Privileges ID,2,2,0,2,2,2,0,0,0,0,...,0,0,2,2,2,2,2,0,2,2
Just Click Bali,1191,1191,0,1191,1191,1191,1183,0,0,0,...,0,0,1191,1191,1191,1191,1191,1146,1191,1191
KCE,2879,2879,0,2822,2879,2879,2551,5,2235,2418,...,586,679,2879,2879,2820,2879,2820,2820,2879,2879
KEID,207,207,0,207,207,206,207,0,207,0,...,0,0,207,207,0,207,0,0,207,207
Karma Club,67160,67160,66200,66437,67085,66310,63414,6607,53398,53427,...,80,10532,67160,67160,74,64648,66291,960,67160,67160
Karma Club Experience,65,65,65,65,30,18,65,9,57,0,...,0,0,65,65,65,65,65,65,65,65
Karma Club Experience IN,1045,1045,0,1044,1045,1045,1045,0,0,0,...,0,1042,1045,1045,1042,1045,1034,0,1045,1045
Karma Experience,234643,234643,5545,228048,234565,234516,229047,136964,20368,194713,...,183453,213187,234643,234643,216640,233294,233938,192927,234643,234643
Karma Experience IN,246193,246193,177118,238144,156663,221794,241152,26721,111624,91645,...,267,42029,246193,246193,136732,240183,246169,112879,246193,246193
Karma Experience ME,395,395,2,395,395,393,386,3,377,142,...,0,133,395,395,395,391,395,2,395,395
Karma Experience UK,20290,20290,5460,18685,20286,20287,14455,400,4715,14155,...,0,14089,20290,20290,68,20289,18234,14552,20290,20290
Karma Odyssey,2,2,2,2,2,1,2,1,1,0,...,0,0,2,2,2,2,2,2,2,2
Karma Royal,334314,334314,312820,258481,311190,333668,237445,95436,1880,5288,...,147,7083,334314,334314,120,312842,316002,21496,334314,334314
Other,34519,34519,1738,30869,31381,34506,30406,8334,1620,1144,...,0,87,34519,34011,28064,34440,26639,8736,34519,34519
Other Bali DB,208614,208614,96982,162125,181801,205783,110237,32823,46399,55830,...,61,34443,208614,208614,160279,148893,133350,126771,208614,208614
Other India DB,1709436,1709436,1699304,1693466,205516,306925,1693116,104370,19828,278562,...,177235,194878,1709436,1709436,479648,1709435,1709435,14728,1709436,1709436
Yuk Tamasya,688,688,0,688,688,688,649,627,0,610,...,610,610,688,688,666,688,688,610,688,688

In [17]:
df_empty_birth = result.loc[result['Birthdate'].isna()].copy()
df_empty_birth.reset_index(drop=True, inplace=True)
df_empty_birth.sort_values('Birthdate', ascending=True)

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Marital Status,Lead Brand,Lead Sub-Brand,Lead Source,Lead Locations,Lead Source Description,Lead Regions,Lead Status,Email Opt Out,Opt In
0,zcrm_3584690000000404058,2019-01-07 15:08:38,2019-01-06,Nicholas,Wood,1230woodnicholas@gmail.com,61438600845,<NA>,<NA>,<NA>,...,<NA>,Timeshare Marketing,Other Bali DB,Wifi,Purple Wifi,<NA>,SEAP,New Lead,false,false
1,zcrm_3584690000000404059,2019-01-07 15:08:38,2019-01-06,Liao,Yuan,158066546@qq.com,8618718399923,<NA>,<NA>,<NA>,...,<NA>,Timeshare Marketing,Other Bali DB,Wifi,Purple Wifi,<NA>,Other,New Lead,false,false
2,zcrm_3584690000000404071,2019-01-07 15:08:38,2019-01-06,Angel,Tesa,angel.tesalonika@gmail.com,6281237505311,<NA>,<NA>,<NA>,...,Single,Timeshare Marketing,Other Bali DB,Wifi,Purple Wifi,<NA>,SEAP,New Lead,false,false
3,zcrm_3584690000000404073,2019-01-07 15:08:38,2019-01-06,Anggun,Lsr,anggunlsr@gmail.com,6282340629746,<NA>,<NA>,<NA>,...,Single,Timeshare Marketing,Other Bali DB,Wifi,Purple Wifi,<NA>,SEAP,New Lead,false,false
4,zcrm_3584690000000404077,2019-01-07 15:08:38,2019-01-06,Катя,Трах,asd@ya.ru,79265987109,<NA>,<NA>,<NA>,...,<NA>,Timeshare Marketing,Other Bali DB,Wifi,Purple Wifi,<NA>,Other,New Lead,false,false
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3049101,zcrm_3584690000424043019,2023-01-23 15:58:45,<NA>,Rahul,Manroy,rahul.manroy@gmail.com,919871805422,<NA>,<NA>,<NA>,...,<NA>,Timeshare Marketing,Other,Web Enquiry,Karma Sitabani,Timeshare Booking Request,India,<NA>,false,true
3049102,zcrm_3584690000424087001,2023-01-23 16:06:15,<NA>,Joby,Anthony,jobyanthony3489@gmail.com,918871334010,<NA>,<NA>,<NA>,...,<NA>,Timeshare Marketing,Other,Web Enquiry,Karma Royal Palms,Timeshare Booking Request,India,<NA>,false,true
3049103,zcrm_3584690000424087466,2023-01-23 17:37:50,<NA>,Sk,Singh,skssambodhi@gmail.com,919717649331,<NA>,<NA>,<NA>,...,<NA>,Timeshare Marketing,Other,Web Enquiry,Karma Sitabani,Timeshare Booking Request,India,<NA>,false,true
3049104,zcrm_3584690000424087493,2023-01-23 18:36:23,<NA>,Prasann,Kulkarni,abhishek.k19816@gmail.com,918976543210,<NA>,<NA>,<NA>,...,<NA>,Timeshare Marketing,Other,Web Enquiry,Royal Monterio,Timeshare Booking Request,India,<NA>,false,true
3049105,zcrm_3584690000424094389,2023-01-23 17:44:38,<NA>,Padmavathi,Vadada,padma.vadada@gmail.com,918522960425,<NA>,<NA>,<NA>,...,Married,Timeshare Marketing,Karma Club Experience IN,Web Enquiry,General,IND | Web enquiry | Redeem Voucher,India,<NA>,false,true

In [18]:
df_empty_birth.groupby('Lead Sub-Brand').count()

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Card Type,Marital Status,Lead Brand,Lead Source,Lead Locations,Lead Source Description,Lead Regions,Lead Status,Email Opt Out,Opt In
Lead Sub-Brand,,,,,,,,,,,,,,,,,,,,,
BGAU,72527,72527,59342,39962,46664,69493,49291,5348,0,1338,...,86,3105,72527,72527,3540,53059,70131,10914,72527,72527
BGID,312960,312960,96649,283923,286638,310675,291622,73213,0,188897,...,177541,233507,312960,312960,182117,294308,312941,117814,312960,312960
Bali Getaway,7063,7063,6958,2420,2712,6526,2449,52,0,302,...,202,360,7063,7063,203,6065,7063,2,7063,7063
Hotel Discount,57569,57569,0,57551,57568,57561,55016,85,0,56000,...,39245,55596,57569,57569,57399,57569,57563,2400,57569,57569
Hotel Privileges AUS,53,53,0,53,53,53,4,0,0,0,...,0,0,53,53,53,53,53,0,53,53
Hotel Privileges ID,2,2,0,2,2,2,0,0,0,0,...,0,0,2,2,2,2,2,0,2,2
Just Click Bali,1191,1191,0,1191,1191,1191,1183,0,0,0,...,0,0,1191,1191,1191,1191,1191,1146,1191,1191
KCE,644,644,0,644,644,644,616,5,0,600,...,586,622,644,644,642,644,642,642,644,644
Karma Club,13762,13762,12825,13493,13699,13499,11939,1021,0,54,...,6,1105,13762,13762,27,12637,12894,937,13762,13762
Karma Club Experience,8,8,8,8,8,8,8,1,0,0,...,0,0,8,8,8,8,8,8,8,8
Karma Club Experience IN,1045,1045,0,1044,1045,1045,1045,0,0,0,...,0,1042,1045,1045,1042,1045,1034,0,1045,1045
Karma Experience,214275,214275,4218,213661,214197,214149,208693,118087,0,184612,...,175213,193472,214275,214275,207684,213159,213608,183850,214275,214275
Karma Experience IN,134569,134569,105365,129121,53689,111983,132433,7908,0,22849,...,231,23745,134569,134569,54261,133622,134567,49220,134569,134569
Karma Experience ME,18,18,1,18,18,16,10,0,0,0,...,0,0,18,18,18,18,18,1,18,18
Karma Experience UK,15575,15575,2201,14010,15572,15572,9774,158,0,9440,...,0,9555,15575,15575,68,15574,13519,13361,15575,15575
Karma Odyssey,1,1,1,1,1,1,1,0,0,0,...,0,0,1,1,1,1,1,1,1,1
Karma Royal,332434,332434,310943,256778,309310,331788,235603,94100,0,3422,...,144,6921,332434,332434,115,310963,314124,21493,332434,332434
Other,32899,32899,1655,29684,29763,32886,29151,7631,0,43,...,0,9,32899,32898,26958,32821,26491,7249,32899,32899
Other Bali DB,162215,162215,66111,116339,135975,160329,79246,24017,0,10363,...,34,15605,162215,162215,115210,110543,91880,108600,162215,162215
Other India DB,1689608,1689608,1679526,1673761,196549,301365,1673307,101479,0,258904,...,176904,193834,1689608,1689608,478974,1689607,1689607,14679,1689608,1689608
Yuk Tamasya,688,688,0,688,688,688,649,627,0,610,...,610,610,688,688,666,688,688,610,688,688

In [19]:
df_not_empty_birth = result.loc[~result['Birthdate'].isna()].copy()
df_not_empty_birth.reset_index(drop=True, inplace=True)
df_not_empty_birth

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Marital Status,Lead Brand,Lead Sub-Brand,Lead Source,Lead Locations,Lead Source Description,Lead Regions,Lead Status,Email Opt Out,Opt In
0,zcrm_3584690000000404060,2019-01-07 15:08:38,2019-01-06,Vedanta,Abhiyoga,abhiyoga.vedanta@gmail.com,6282146524550,<NA>,2000-07-05,2000,...,Pelajar,Timeshare Marketing,Other Bali DB,Wifi,Purple Wifi,<NA>,SEAP,New Lead,false,false
1,zcrm_3584690000000404065,2019-01-07 15:08:38,2019-01-06,Aidai,Atakanova,aidai.nurbek@gmail.com,996779641590,<NA>,1997-02-05,1997,...,Single,Timeshare Marketing,Other Bali DB,Wifi,Purple Wifi,<NA>,UK/Europe,New Lead,false,false
2,zcrm_3584690000000404068,2019-01-07 15:08:38,2019-01-06,Ardra,Ardra,aliefardraqariru@gmail.com,6282139300818,6282139300818,2005-01-20,2005,...,OTHER,Timeshare Marketing,Other Bali DB,Wifi,Purple Wifi,WIFI USER ID 13494142,SEAP,New Lead,false,false
3,zcrm_3584690000000404072,2019-01-07 15:08:38,2019-01-07,Angel,Marie,angelcullen-x@hotmail.com,61430885519,61430885519,1996-09-18,1996,...,OTHER,Timeshare Marketing,Other Bali DB,Wifi,Purple Wifi,WIFI USER ID 13997052,SEAP,New Lead,false,false
4,zcrm_3584690000000404074,2019-01-07 15:08:38,2019-01-06,Clarista,Alvoinne,annainao20@gmail.com,6282146266772,6282146266772,1996-11-20,1996,...,Single,Timeshare Marketing,Other Bali DB,Wifi,Purple Wifi,WIFI USER ID 14047612,SEAP,New Lead,false,false
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
357139,zcrm_3584690000424088028,2023-01-23 17:39:23,<NA>,Kamelia,Lia,liakamelia032@gmail.com,6281279775757,6281279775757,1983-01-01,1983,...,Married,Timeshare Marketing,BGID,Facebook Ads,Hotel Partner,ID | FB LP | SB Legian v4,SEAP,Hot Prospect,false,false
357140,zcrm_3584690000424088080,2023-01-23 18:29:11,<NA>,Dewi Mirawati,Dewi Mirawati,zidannayla9@gmail.com,625846507754,625846507754,1979-08-30,1979,...,Married,Timeshare Marketing,BGID,Facebook Ads,Hotel Partner,ID | FB LP | SB Legian v4,SEAP,Hot Prospect,false,false
357141,zcrm_3584690000424088106,2023-01-23 18:45:57,<NA>,Marganda Parulian,Siregar,shardtaty@gmail.com,6281360030016,6281360030016,1991-11-26,1991,...,Married,Timeshare Marketing,BGID,Facebook Ads,Hotel Partner,ID | FB LP | Romantic Getaway,SEAP,Hot Prospect,false,false
357142,zcrm_3584690000424093003,2023-01-23 17:03:18,<NA>,Siti,Nur Laela,siti.nurlaela.1981@gmail.com,6285811607900,6285811607900,1981-10-10,1981,...,Married,Timeshare Marketing,Karma Experience,Facebook Ads,General,ID | FB LP | Salak | 1st Anniv,SEAP,Hot Prospect,false,false
357143,zcrm_3584690000424093029,2023-01-23 18:34:15,<NA>,Syaefulloh,Ramadhan,syaefullohramadhan20@gmail.com,6289533354422,6289533354422,1989-04-20,1989,...,Married,Timeshare Marketing,Karma Experience,Facebook Ads,General,ID | FB LP | Salak | 1st Anniv,SEAP,Hot Prospect,false,false

In [20]:
df_not_empty_birth.sort_values('Birthdate')

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Marital Status,Lead Brand,Lead Sub-Brand,Lead Source,Lead Locations,Lead Source Description,Lead Regions,Lead Status,Email Opt Out,Opt In
152391,zcrm_3584690000027684062,2019-04-26 18:08:34,<NA>,Victor,Fenton,victor.fenton35@gmail.com,441883715769,<NA>,1034-07-05,1034,...,Married,Timeshare Marketing,Karma Experience UK,Bamboo,<NA>,Sunrise Radio and Karma Holiday to India Promo...,UK/Europe,New Lead,false,true
198294,zcrm_3584690000145482606,2019-11-21 16:54:03,<NA>,Rhonda,Olsen,rhonda_olsen@ymail.com,61409112702,<NA>,1056-02-11,1056,...,Married,Timeshare Marketing,BGAU,Competition,Hotel Partner,BGAU | FB Competition | w3aug19 | Big Giveaway...,SEAP,<NA>,false,false
218211,zcrm_3584690000152267894,2019-12-15 09:13:18,<NA>,Dominic,Furfaro,dominicfurfaro@hotmail.com,61400443852,<NA>,1062-02-05,1062,...,Married,Timeshare Marketing,BGAU,Competition,Hotel Partner,BGAU | FB Competition | w3aug19 | Big Giveaway...,SEAP,<NA>,false,false
176165,zcrm_3584690000104156304,2019-08-24 18:04:08,<NA>,Ranjana,Puthran,ranjana.puthran@gmail.com,918850643945,<NA>,1065-12-05,1065,...,<NA>,Timeshare Marketing,Karma Experience IN,Facebook Ads,General,IND | FB LP | KEPH WP,India,<NA>,false,false
152723,zcrm_3584690000027797408,2019-04-28 22:15:27,<NA>,Reena,Gupta,reena_gupta13@hotmail.com,447903306389,<NA>,1070-01-13,1070,...,Single,Timeshare Marketing,Karma Experience UK,Bamboo,<NA>,Sunrise Radio and Karma Holiday to India Promo...,UK/Europe,New Lead,false,true
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143167,zcrm_3584690000021510678,2019-04-03 17:00:43,2012-01-01,G Raghu,Gowda,<NA>,918023350385,<NA>,2968-10-05,2968,...,<NA>,Timeshare Marketing,Other India DB,Club IN,<NA>,MAHALAKSHMI LAYOUT RESIDENTS FORUM 2015,India,<NA>,false,false
27417,zcrm_3584690000006386314,2019-04-02 03:44:56,2018-03-12,Praveen,Jain,praveenjainkodia@gmail.com,919414161107,919414161107,2975-09-17,2975,...,Married,Timeshare Marketing,Karma Experience IN,Facebook Ads,<NA>,FACEBOOK AUTOFILL HOLI MARCH DEALS,India,<NA>,false,false
209843,zcrm_3584690000146929863,2019-11-27 19:29:46,2019-07-30,Sushil,Jindal,sushil2jindal@gmail.com,919417752452,<NA>,2982-10-02,2982,...,<NA>,Timeshare Marketing,Karma Experience IN,Facebook Ads,Karma Royal Palms,IND | FB LP | KRP,India,New Lead,false,false
130614,zcrm_3584690000012805967,2019-04-02 18:17:17,2012-09-17,P Bharathi,<NA>,<NA>,914222207801,<NA>,7010-05-01,7010,...,<NA>,Timeshare Marketing,Other India DB,Club IN,<NA>,INTERNATIONAL ASSOCIATION OF LIONS CLUB COIMBA...,India,<NA>,false,false
130612,zcrm_3584690000012805962,2019-04-02 18:17:17,2012-09-17,P Bharathi,<NA>,<NA>,914222206525,<NA>,7010-05-01,7010,...,<NA>,Timeshare Marketing,Other India DB,Club IN,<NA>,INTERNATIONAL ASSOCIATION OF LIONS CLUB COIMBA...,India,<NA>,false,false

In [21]:
df_not_empty_birth.groupby('Lead Sub-Brand').count()

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Card Type,Marital Status,Lead Brand,Lead Source,Lead Locations,Lead Source Description,Lead Regions,Lead Status,Email Opt Out,Opt In
Lead Sub-Brand,,,,,,,,,,,,,,,,,,,,,
BGAU,32371,32371,597,28267,32281,32368,32238,114,32371,19423,...,22,28578,32371,32371,27839,32254,28151,3847,32371,32371
BGID,61392,61392,17903,61240,61388,60783,61156,33517,61392,49441,...,14249,61016,61392,61392,26758,42185,55854,26329,61392,61392
Bali Getaway,654,654,156,631,654,551,492,25,654,654,...,2,157,654,654,2,469,653,144,654,654
Hotel Discount,18,18,0,18,18,18,17,3,18,18,...,2,18,18,18,18,18,17,1,18,18
KCE,2235,2235,0,2178,2235,2235,1935,0,2235,1818,...,0,57,2235,2235,2178,2235,2178,2178,2235,2235
KEID,207,207,0,207,207,206,207,0,207,0,...,0,0,207,207,0,207,0,0,207,207
Karma Club,53398,53398,53375,52944,53386,52811,51475,5586,53398,53373,...,74,9427,53398,53398,47,52011,53397,23,53398,53398
Karma Club Experience,57,57,57,57,22,10,57,8,57,0,...,0,0,57,57,57,57,57,57,57,57
Karma Experience,20368,20368,1327,14387,20368,20367,20354,18877,20368,10101,...,8240,19715,20368,20368,8956,20135,20330,9077,20368,20368
Karma Experience IN,111624,111624,71753,109023,102974,109811,108719,18813,111624,68796,...,36,18284,111624,111624,82471,106561,111602,63659,111624,111624
Karma Experience ME,377,377,1,377,377,377,376,3,377,142,...,0,133,377,377,377,373,377,1,377,377
Karma Experience UK,4715,4715,3259,4675,4714,4715,4681,242,4715,4715,...,0,4534,4715,4715,0,4715,4715,1191,4715,4715
Karma Odyssey,1,1,1,1,1,0,1,1,1,0,...,0,0,1,1,1,1,1,1,1,1
Karma Royal,1880,1880,1877,1703,1880,1880,1842,1336,1880,1866,...,3,162,1880,1880,5,1879,1878,3,1880,1880
Other,1620,1620,83,1185,1618,1620,1255,703,1620,1101,...,0,78,1620,1113,1106,1619,148,1487,1620,1620
Other Bali DB,46399,46399,30871,45786,45826,45454,30991,8806,46399,45467,...,27,18838,46399,46399,45069,38350,41470,18171,46399,46399
Other India DB,19828,19828,19778,19705,8967,5560,19809,2891,19828,19658,...,331,1044,19828,19828,674,19828,19828,49,19828,19828

In [22]:
year_of_birth = df_not_empty_birth['Birthdate'].str.split('-', expand=True)
df_not_empty_birth['Check Year'] = year_of_birth[0].astype(int)

In [23]:
df_not_empty_birth[['Email','Birthdate','Check Year']].sort_values('Birthdate')

                             Email   Birthdate  Check Year
152391   victor.fenton35@gmail.com  1034-07-05        1034
198294      rhonda_olsen@ymail.com  1056-02-11        1056
218211  dominicfurfaro@hotmail.com  1062-02-05        1062
176165   ranjana.puthran@gmail.com  1065-12-05        1065
152723   reena_gupta13@hotmail.com  1070-01-13        1070
...                            ...         ...         ...
143167                        <NA>  2968-10-05        2968
27417   praveenjainkodia@gmail.com  2975-09-17        2975
209843     sushil2jindal@gmail.com  2982-10-02        2982
130614                        <NA>  7010-05-01        7010
130612                        <NA>  7010-05-01        7010

[357144 rows x 3 columns]

In [24]:
df_not_empty_birth.dtypes

Record Id                  string
Created Time               string
Created Date               string
First Name                 string
Last Name                  string
Email                      string
Phone                      string
Mobile                     string
Birthdate                  string
Year of Birth              string
Street                     string
Street2                    string
City                       string
State                      string
Country                    string
Nationality                string
Booking Status             string
BookRef                    string
Departure Date             string
Arrival Date               string
Card Type                  string
Marital Status             string
Lead Brand                 string
Lead Sub-Brand             string
Lead Source                string
Lead Locations             string
Lead Source Description    string
Lead Regions               string
Lead Status                string
Email Opt Out              string
Opt In                     string
Check Year                  int32
dtype: object

In [25]:
df_valid_birthyear = df_not_empty_birth.loc[(df_not_empty_birth['Check Year'] > 1930) & (df_not_empty_birth['Check Year'] < 2023)].copy()
df_valid_birthyear.reset_index(drop=True, inplace=True)
df_valid_birthyear

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Lead Brand,Lead Sub-Brand,Lead Source,Lead Locations,Lead Source Description,Lead Regions,Lead Status,Email Opt Out,Opt In,Check Year
0,zcrm_3584690000000404060,2019-01-07 15:08:38,2019-01-06,Vedanta,Abhiyoga,abhiyoga.vedanta@gmail.com,6282146524550,<NA>,2000-07-05,2000,...,Timeshare Marketing,Other Bali DB,Wifi,Purple Wifi,<NA>,SEAP,New Lead,false,false,2000
1,zcrm_3584690000000404065,2019-01-07 15:08:38,2019-01-06,Aidai,Atakanova,aidai.nurbek@gmail.com,996779641590,<NA>,1997-02-05,1997,...,Timeshare Marketing,Other Bali DB,Wifi,Purple Wifi,<NA>,UK/Europe,New Lead,false,false,1997
2,zcrm_3584690000000404068,2019-01-07 15:08:38,2019-01-06,Ardra,Ardra,aliefardraqariru@gmail.com,6282139300818,6282139300818,2005-01-20,2005,...,Timeshare Marketing,Other Bali DB,Wifi,Purple Wifi,WIFI USER ID 13494142,SEAP,New Lead,false,false,2005
3,zcrm_3584690000000404072,2019-01-07 15:08:38,2019-01-07,Angel,Marie,angelcullen-x@hotmail.com,61430885519,61430885519,1996-09-18,1996,...,Timeshare Marketing,Other Bali DB,Wifi,Purple Wifi,WIFI USER ID 13997052,SEAP,New Lead,false,false,1996
4,zcrm_3584690000000404074,2019-01-07 15:08:38,2019-01-06,Clarista,Alvoinne,annainao20@gmail.com,6282146266772,6282146266772,1996-11-20,1996,...,Timeshare Marketing,Other Bali DB,Wifi,Purple Wifi,WIFI USER ID 14047612,SEAP,New Lead,false,false,1996
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356103,zcrm_3584690000424088028,2023-01-23 17:39:23,<NA>,Kamelia,Lia,liakamelia032@gmail.com,6281279775757,6281279775757,1983-01-01,1983,...,Timeshare Marketing,BGID,Facebook Ads,Hotel Partner,ID | FB LP | SB Legian v4,SEAP,Hot Prospect,false,false,1983
356104,zcrm_3584690000424088080,2023-01-23 18:29:11,<NA>,Dewi Mirawati,Dewi Mirawati,zidannayla9@gmail.com,625846507754,625846507754,1979-08-30,1979,...,Timeshare Marketing,BGID,Facebook Ads,Hotel Partner,ID | FB LP | SB Legian v4,SEAP,Hot Prospect,false,false,1979
356105,zcrm_3584690000424088106,2023-01-23 18:45:57,<NA>,Marganda Parulian,Siregar,shardtaty@gmail.com,6281360030016,6281360030016,1991-11-26,1991,...,Timeshare Marketing,BGID,Facebook Ads,Hotel Partner,ID | FB LP | Romantic Getaway,SEAP,Hot Prospect,false,false,1991
356106,zcrm_3584690000424093003,2023-01-23 17:03:18,<NA>,Siti,Nur Laela,siti.nurlaela.1981@gmail.com,6285811607900,6285811607900,1981-10-10,1981,...,Timeshare Marketing,Karma Experience,Facebook Ads,General,ID | FB LP | Salak | 1st Anniv,SEAP,Hot Prospect,false,false,1981
356107,zcrm_3584690000424093029,2023-01-23 18:34:15,<NA>,Syaefulloh,Ramadhan,syaefullohramadhan20@gmail.com,6289533354422,6289533354422,1989-04-20,1989,...,Timeshare Marketing,Karma Experience,Facebook Ads,General,ID | FB LP | Salak | 1st Anniv,SEAP,Hot Prospect,false,false,1989

In [26]:
df_valid_birthyear.groupby('Lead Sub-Brand').count()

,Record Id,Created Time,Created Date,First Name,Last Name,Email,Phone,Mobile,Birthdate,Year of Birth,...,Marital Status,Lead Brand,Lead Source,Lead Locations,Lead Source Description,Lead Regions,Lead Status,Email Opt Out,Opt In,Check Year
Lead Sub-Brand,,,,,,,,,,,,,,,,,,,,,
BGAU,32292,32292,592,28253,32202,32289,32159,114,32292,19413,...,28559,32292,32292,27827,32175,28139,3843,32292,32292,32292
BGID,61177,61177,17902,61025,61173,60568,60941,33305,61177,49292,...,60801,61177,61177,26613,41972,55705,26184,61177,61177,61177
Bali Getaway,653,653,156,630,653,550,491,25,653,653,...,157,653,653,2,468,652,144,653,653,653
Hotel Discount,18,18,0,18,18,18,17,3,18,18,...,18,18,18,18,18,17,1,18,18,18
KCE,2189,2189,0,2133,2189,2189,1897,0,2189,1773,...,56,2189,2189,2133,2189,2133,2133,2189,2189,2189
KEID,207,207,0,207,207,206,207,0,207,0,...,0,207,207,0,207,0,0,207,207,207
Karma Club,53335,53335,53312,52881,53323,52752,51412,5578,53335,53310,...,9403,53335,53335,47,51948,53334,23,53335,53335,53335
Karma Club Experience,57,57,57,57,22,10,57,8,57,0,...,0,57,57,57,57,57,57,57,57,57
Karma Experience,20229,20229,1313,14336,20229,20228,20215,18751,20229,10093,...,19587,20229,20229,8955,19996,20191,9070,20229,20229,20229
Karma Experience IN,111455,111455,71637,108854,102819,109644,108551,18768,111455,68637,...,18258,111455,111455,82390,106400,111433,63556,111455,111455,111455
Karma Experience ME,377,377,1,377,377,377,376,3,377,142,...,133,377,377,377,373,377,1,377,377,377
Karma Experience UK,4706,4706,3252,4666,4705,4706,4672,241,4706,4706,...,4526,4706,4706,0,4706,4706,1188,4706,4706,4706
Karma Odyssey,1,1,1,1,1,0,1,1,1,0,...,0,1,1,1,1,1,1,1,1,1
Karma Royal,1879,1879,1876,1702,1879,1879,1841,1335,1879,1865,...,162,1879,1879,5,1878,1877,3,1879,1879,1879
Other,1615,1615,83,1180,1613,1615,1252,700,1615,1096,...,78,1615,1108,1101,1614,148,1482,1615,1615,1615
Other Bali DB,46259,46259,30807,45648,45687,45314,30921,8771,46259,45328,...,18776,46259,46259,44929,38223,41348,18085,46259,46259,46259
Other India DB,19659,19659,19609,19537,8902,5544,19640,2877,19659,19489,...,1042,19659,19659,673,19659,19659,49,19659,19659,19659

In [27]:
# df_valid_birthyear.loc[df_valid_birthyear['Lead Sub-Brand'] == 'BGAU'].to_excel(r'C:\Users\fajar\Documents\Python\Data\BGAU-Valid-Birthdate.xlsx', index=False, engine='xlsxwriter')