In [18]:


import pandas as pd
import re
import numpy as np

import sys
sys.path.append('../../zoho_data_app/')
import main_module as m
import zoho_filter_module as fil

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [19]:
path = r'G:\.shortcut-targets-by-id\0B_d3smBjzo04eXpvS1NXTWF2RVE\_BOOKING\Booking By Year\FlyBuy Booking Data (BGAU & BGID & KE).xlsx'
df_booking = pd.read_excel(path, dtype='string', sheet_name='BOOKING_BGAU_BGID_KE')

path = r'G:\.shortcut-targets-by-id\0B_d3smBjzo04UUNBME5GOVhoMjA\_ODYSSEY\Phone Members.xlsx'
df_phone = pd.read_excel(path, dtype='string', sheet_name='Sheet1')

path = r'G:\.shortcut-targets-by-id\0B_d3smBjzo04UUNBME5GOVhoMjA\_ODYSSEY\Email Members.xlsx'
df_email = pd.read_excel(path, dtype='string', sheet_name='Sheet1')

In [20]:
path = r'C:\Users\fajar\Documents\Python\Data\Data TM for India Team - Qualified, No Members No Booking - 15 Sep 2022.xlsx'
df_indonesia = pd.read_excel(path, dtype='string', sheet_name='Q-Indonesia')
df_western = pd.read_excel(path, dtype='string', sheet_name='Q-Western')

df_indonesia.fillna('empty', inplace=True)
df_western.fillna('empty', inplace=True)

In [21]:
count_q_indonesia = df_indonesia.shape[0]
count_q_western = df_western.shape[0]

In [22]:
# data phone, mobile dam email member yang ada di master data (wash member)

m.clean_number(df_indonesia, 'Phone')

df_indonesia['Email'] = m.lowercase(df_indonesia, 'Email')
m.clean_space(df_indonesia, 'Email')

m.clean_number(df_western, 'Phone')

df_western['Email'] = m.lowercase(df_western, 'Email')
m.clean_space(df_western, 'Email')

m.clean_number(df_booking, 'Phone1')
m.clean_number(df_booking, 'Mobile')
df_booking['Email'] = m.lowercase(df_booking, 'Email')
m.clean_space(df_booking, 'Email')

m.clean_number(df_phone, 'Mobile')

df_email['Email'] = m.lowercase(df_email, 'Email')
m.clean_space(df_email, 'Email')

0                harvey@liblink.co.za
1                 _benezi@hotmail.com
2                     0000987@mail.ru
3                   0007psc@gmail.com
4                  001paras@gmail.com
                     ...
287601        nibhibansal22@gmail.com
287602         tanyafmbreen@gmail.com
287603       sutharkartik21@gmail.com
287604            nandkbird@gmail.com
287605    shreya2012acharya@gmail.com
Name: Email, Length: 287606, dtype: string

In [23]:
# find_member_booking = df_indonesia.copy()

# find_member_booking.loc[find_member_booking['Phone'].isin(df_booking['Phone1']), 'Same Value Find'] = 'Booking-Phone1'
# find_member_booking.loc[find_member_booking['Phone'].isin(df_booking['Mobile']), 'Same Value Find'] = 'Booking-Mobile'
# find_member_booking.loc[find_member_booking['Email'].isin(df_booking['Email']), 'Same Value Find'] = 'Booking-Email'

# find_member_booking.loc[find_member_booking['Phone'].isin(df_phone['Mobile']), 'Same Value Find'] = 'Member-Mobile' 

# find_member_booking.loc[find_member_booking['Email'].isin(df_email['Email']), 'Same Value Find'] = 'Member-Email'

# find_member_booking.drop(find_member_booking.loc[find_member_booking['Same Value Find'].isna()].index, inplace=True)

# count_booking_dedup = find_member_booking.loc[find_member_booking['Same Value Find'].str.contains('Booking', flags=re.I, regex=True)].shape[0]
# count_member_dedup = find_member_booking.loc[find_member_booking['Same Value Find'].str.contains('Member', flags=re.I, regex=True)].shape[0]

# find_member_booking.to_csv(r'C:\Users\fajar\Documents\Python\Data\q_indonesia_Member_Booking.csv', index=False)

# #find_member_booking.loc[find_member_booking['Same Value Find'] == 'Booking-Phone1']

In [24]:
# data phone, mobile dam email member yang ada di master data 
count_wash_member_indonesia = df_indonesia.loc[
    df_indonesia['Phone'].isin(df_booking['Phone1']) | 
    df_indonesia['Phone'].isin(df_booking['Mobile']) |
    df_indonesia['Email'].isin(df_booking['Email'])| 

    df_indonesia['Phone'].isin(df_phone['Mobile']) | 

    df_indonesia['Email'].isin(df_email['Email'])

].shape[0]

df_indonesia.drop(df_indonesia.loc[
    df_indonesia['Phone'].isin(df_booking['Phone1']) | 
    df_indonesia['Phone'].isin(df_booking['Mobile']) |
    df_indonesia['Email'].isin(df_booking['Email'])| 

    df_indonesia['Phone'].isin(df_phone['Mobile']) | 

    df_indonesia['Email'].isin(df_email['Email'])

    ].index, inplace=True)

count_after_wash_member_indonesia = df_indonesia.shape[0]

count_wash_member_indonesia

40

In [25]:
# find_member_booking = df_western.copy()

# find_member_booking.loc[find_member_booking['Phone'].isin(df_booking['Phone1']), 'Same Value Find'] = 'Booking-Phone1'
# find_member_booking.loc[find_member_booking['Phone'].isin(df_booking['Mobile']), 'Same Value Find'] = 'Booking-Mobile'
# find_member_booking.loc[find_member_booking['Email'].isin(df_booking['Email']), 'Same Value Find'] = 'Booking-Email'

# find_member_booking.loc[find_member_booking['Phone'].isin(df_phone['Mobile']), 'Same Value Find'] = 'Member-Mobile' 

# find_member_booking.loc[find_member_booking['Email'].isin(df_email['Email']), 'Same Value Find'] = 'Member-Email'

# find_member_booking.drop(find_member_booking.loc[find_member_booking['Same Value Find'].isna()].index, inplace=True)

# count_booking_dedup = find_member_booking.loc[find_member_booking['Same Value Find'].str.contains('Booking', flags=re.I, regex=True)].shape[0]
# count_member_dedup = find_member_booking.loc[find_member_booking['Same Value Find'].str.contains('Member', flags=re.I, regex=True)].shape[0]

# find_member_booking.to_csv(r'C:\Users\fajar\Documents\Python\Data\q_western_Member_Booking.csv', index=False)

# #find_member_booking.loc[find_member_booking['Same Value Find'] == 'Booking-Phone1']

In [26]:
# data phone, mobile dam email member yang ada di master data 
count_wash_member_western = df_western.loc[
    df_western['Phone'].isin(df_booking['Phone1']) | 
    df_western['Phone'].isin(df_booking['Mobile']) |
    df_western['Email'].isin(df_booking['Email'])| 

    df_western['Phone'].isin(df_phone['Mobile']) | 

    df_western['Email'].isin(df_email['Email'])

].shape[0]

df_western.drop(df_western.loc[
    df_western['Phone'].isin(df_booking['Phone1']) | 
    df_western['Phone'].isin(df_booking['Mobile']) |
    df_western['Email'].isin(df_booking['Email'])| 

    df_western['Phone'].isin(df_phone['Mobile']) | 

    df_western['Email'].isin(df_email['Email'])

    ].index, inplace=True)

count_after_wash_member_western = df_western.shape[0]

count_wash_member_western

26

In [27]:
print("Jumlah Data Indonesia : "+str(count_q_indonesia))
print("Jumlah Wash Booking dan Member Indonesia : "+str(count_wash_member_indonesia))
print("Jumlah Setelah Wash Member Indonesia : "+str(count_after_wash_member_indonesia))
print("Jumlah Data Western : "+str(count_q_western))
print("Jumlah Wash Booking dan Member Western : "+str(count_wash_member_western))
print("Jumlah Setelah Wash Member Western : "+str(count_after_wash_member_western))

Jumlah Data Indonesia : 14240
Jumlah Wash Booking dan Member Indonesia : 40
Jumlah Setelah Wash Member Indonesia : 14200
Jumlah Data Western : 21717
Jumlah Wash Booking dan Member Western : 26
Jumlah Setelah Wash Member Western : 21691

In [29]:
df_indonesia.replace('empty', '', inplace=True)
df_western.replace('empty', '', inplace=True)

df_indonesia.to_excel(r'C:\Users\fajar\Documents\Python\Data\tm_india_q_indonesia.xlsx', index=False)
df_western.to_excel(r'C:\Users\fajar\Documents\Python\Data\tm_india_q_western.xlsx', index=False)

# ====================== Awal Filter Umum ======================